import vcCake from 'vc-cake'
import RowElement from './component'
{{ elementComponentClass() }}

vcvAddElement(
  {{ settings() }},
  // Component callback
  function(component) {
    component.add({{ elementComponentClassName() }});
  },
  // css settings // css for element
  {{ cssFile() }},
  ''
)
