window.vcvAddElement(
  {{ settings() }},
  // Component callback
  function(component) {
    // {{ cssFile() }}
    const vcCake = require('vc-cake')
    component.add({{ elementComponent() }});
  },
  // css settings // css for element
  {{ cssSettings() }},
  // javascript callback
  {{ jsCallback() }}
);
