.vcv-drag-helper {
  position: absolute;
  z-index: 10003;
  background-color: #6dab3c;
  color: #fff;
  width: 40px;
  height: 40px;
  white-space: nowrap;
  display: none;
  flex-wrap: nowrap;
  flex-direction: row;
  align-items: center;
  border-radius: 5px;
  overflow: hidden;
  text-decoration: none;
  justify-content: center;
  text-align: center;
  cursor: pointer;
  font-family: 'VC-Icons' !important;
  // transition: all 0.25s ease-in-out;
  &::before {
    content: "\e912";
    font-size: 1.25em;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }
  &.vcv-visible {
    display: flex;
  }
}

@vcv-dnd-frame-border-color: rgba(70, 115, 189, .5);
@vcv-dnd-frame-border-width: 2px;
#vcv-dnd-frame {
  pointer-events: none;
  position: absolute;
  z-index: 10999;
  opacity: 0;
  &.vcv-dnd-frame- {
    &top {
      border-top: @vcv-dnd-frame-border-width solid @vcv-dnd-frame-border-color;
    }
    &bottom {
      border-bottom: @vcv-dnd-frame-border-width solid @vcv-dnd-frame-border-color;
    }
    &left {
      border-left: @vcv-dnd-frame-border-width solid @vcv-dnd-frame-border-color;
    }
    &right {
      border-right: @vcv-dnd-frame-border-width solid @vcv-dnd-frame-border-color;
    }
    &center {
      border: 3px solid @vcv-dnd-frame-border-color;
    }
  }
  &.vcv-js-show {
    transition: opacity .5s;
    opacity: 1;
  }
}

@import "fix";