@font-face {
  font-family: 'dividerShapes';
  src: url('fonts/dividerShapes.ttf?5weo3f') format('truetype'),
  url('fonts/dividerShapes.woff?5weo3f') format('woff'),
  url('fonts/dividerShapes.svg?5weo3f#dividerShapes') format('svg');
  font-weight: normal;
  font-style: normal;
}

.vcv-ui-icon-divider {
  font-family: 'dividerShapes' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  height: 1em;
  font-size: 16px;
  text-align: center;
  font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
}

.vcv-ui-iconpicker-picker-dropdown > .vcv-ui-icon-divider {
  vertical-align: middle;
}

.vcv-ui-icon-divider-zigzag:before {
  content: "\e900";
}

.vcv-ui-icon-divider-rounded-zigzag:before {
  content: "\e901";
}

.vcv-ui-icon-divider-angled:before {
  content: "\e902";
}

.vcv-ui-icon-divider-inner-triangle-with-offset:before {
  content: "\e903";
}

.vcv-ui-icon-divider-inner-triangle:before {
  content: "\e904";
}

.vcv-ui-icon-divider-outer-triangle:before {
  content: "\e905";
}

.vcv-ui-icon-divider-outer-triangle-with-offset:before {
  content: "\e906";
}

.vcv-ui-icon-divider-rounded-outer-triangle-with-offset:before {
  content: "\e907";
}

.vcv-ui-icon-divider-rounded-outer-triangle:before {
  content: "\e908";
}

.vcv-ui-icon-divider-round:before {
  content: "\e909";
}

.vcv-ui-icon-divider-angled-triangles:before {
  content: "\e90a";
}

.vcv-ui-icon-divider-curved:before {
  content: "\e90b";
}

.vcv-ui-icon-divider-curved-wave:before {
  content: "\e90c";
}

.vcv-ui-icon-divider-angle-with-fade:before {
  content: "\e90d";
  opacity: 0.5;
}

.vcv-ui-icon-divider-angle-with-fade:after {
  content: "\e90f";
  position: absolute;
  top: 0;
  left: 0;
}

.vcv-ui-icon-divider-wave:before {
  content: "\e910";
}

.vcv-ui-icon-divider-wave-with-fade:before {
  content: "\e911";
  opacity: 0.5;
}

.vcv-ui-icon-divider-wave-with-fade:after {
  content: "\e913";
  position: absolute;
  top: 0;
  left: 0;
}

.vcv-ui-icon-divider-rounded-outer-triangle-with-offset-and-fade:before {
  content: "\e914";
  opacity: 0.5;
}

.vcv-ui-icon-divider-rounded-outer-triangle-with-offset-and-fade:after {
  content: "\e916";
  position: absolute;
  top: 0;
  left: 0;
}

.vcv-ui-icon-divider-wavy:before {
  content: "\e917";
}

.vcv-ui-icon-divider-spikes:before {
  content: "\e918";
}

.vcv-ui-icon-divider-rounded-spikes:before {
  content: "\e919";
}

.vcv-ui-icon-divider-arrow-split:before {
  content: "\e91a";
}

.vcv-ui-icon-divider-rounded-arrow-split:before {
  content: "\e91b";
}

.vcv-ui-icon-divider-outer-clouds-with-fade:before {
  content: "\e91c";
  opacity: 0.5;
}

.vcv-ui-icon-divider-outer-clouds-with-fade:after {
  content: "\e91d";
  position: absolute;
  top: 0;
  left: 0;
}

.vcv-ui-icon-divider-inner-clouds-with-fade:before {
  content: "\e91e";
}

.vcv-ui-icon-divider-inner-clouds-with-fade:after {
  content: "\e91f";
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0.5;
}

.vcv-ui-icon-divider-outer-clouds:before {
  content: "\e920";
}

.vcv-ui-icon-divider-inner-clouds:before {
  content: "\e921";
}

.vcv-ui-icon-divider-curvy:before {
  content: "\e922";
}

.vcv-ui-icon-divider-curvy-with-fade:before {
  content: "\e923";
  opacity: 0.5;
}

.vcv-ui-icon-divider-curvy-with-fade:after {
  content: "\e924";
  position: absolute;
  top: 0;
  left: 0;
}

.vcv-ui-icon-divider-angled-2:before {
  content: "\e925";
}

.vcv-ui-icon-divider-inner-triangle-with-offset-1:before {
  content: "\e926";
}

.vcv-ui-icon-divider-inner-triangle-1:before {
  content: "\e927";
}

.vcv-ui-icon-divider-outer-triangle-1:before {
  content: "\e928";
}

.vcv-ui-icon-divider-outer-triangle-with-offset-1:before {
  content: "\e929";
}

.vcv-ui-icon-divider-rounded-outer-triangle-1:before {
  content: "\e92a";
}

.vcv-ui-icon-divider-zigzag-1:before {
  content: "\e92b";
}

.vcv-ui-icon-divider-uneven-wave-with-fade:before {
  content: "\e92c";
  opacity: 0.5;
}

.vcv-ui-icon-divider-uneven-wave-with-fade:after {
  content: "\e92d";
  position: absolute;
  top: 0;
  left: 0;
}

.vcv-ui-icon-divider-opened-book-with-offset:before {
  content: "\e92e";
}

.vcv-ui-icon-divider-curve:before {
  content: "\e92f";
}

.vcv-ui-icon-divider-uneven-cloud:before {
  content: "\e930";
}

.vcv-ui-icon-divider-cloud:before {
  content: "\e931";
}

.vcv-ui-icon-divider-opened-book:before {
  content: "\e932";
}

.vcv-ui-icon-divider-rounded-rectangle:before {
  content: "\e933";
}

.vcv-ui-icon-divider-bubble-outer:before {
  content: "\e934";
}

.vcv-ui-icon-divider-bubble-inner:before {
  content: "\e935";
}

.vcv-ui-icon-divider-angled-1:before {
  content: "\e936";
}