
#vc-navbar-container {
  .as_btn {
    cursor: pointer;
    color: white;
    font-size: 22px;
  }
  .navbar-brand {
    height: 57px;
    .vcv-logo {
      background: url(../../../../../sources/images/logo.png) no-repeat center center;
      display: inline-block;
      background-size: contain;
      height: 100%;
      width: 28px;
    }
  }
  .navbar-vc {
    background-image: url(../../../../../sources/images/background_flat.png);
    background-color: #2a4b80;
  }
}

body {
  margin-top: 60px !important;
}

@import "navbar-vertical";
@import "navbar-placeholder";
