var createReactClass = require('create-react-class');

createReactClass({
  render: function() {
    // import variables
    {{ variables() }}
    // import template js
    {{ templateJs() }}
    // import template
    return ({{ template() }});
  }
})