.vcv-layout-header {
  .vcv-ui-suggest-box.vcv-ui-autocomplete {
    max-width: 250px;
  }
}

.vcv-ui-tag-list-container .vcv-ui-wp-spinner {
  position: absolute;
  z-index: 5;
  right: 14px;
  top: 0;
  bottom: 0;
  margin: auto;
}