$selector {
  @media (--$(device)-only) {
    @if $backgroundColor != false {
      background-color: $backgroundColor;
    }

    @if $backgroundPosition != false {
      background-position: $backgroundPosition;
    }

    @if $backgroundSize != false {
      background-size: $backgroundSize;
    }

    @if $backgroundRepeat != false {
      background-repeat: $backgroundRepeat;
    }
  }
}
