@font-face {
  font-family: 'vcvDividerShapes';
  src:
      url('fonts/vcvDividerShapes.ttf?ov82h0') format('truetype'),
      url('fonts/vcvDividerShapes.woff?ov82h0') format('woff'),
      url('fonts/vcvDividerShapes.svg?ov82h0#vcvDividerShapes') format('svg');
  font-weight: normal;
  font-style: normal;
}

.vcv-ui-icon-dividers {
  display: flex;
  position: relative;

  &:before, &:after {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'vcvDividerShapes' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    display: inline-block;
    text-decoration: inherit;
    height: 1em;
    font-size: 1.3em;
    text-align: center;
    margin: 0 auto;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  &:after {
    position: absolute;
    left: 0;
    right: 0;
  }
}

.vcv-ui-icon-dividers-circle:before {
  content: "\e900";
}
.vcv-ui-icon-dividers-rectangle-outline:before {
  content: "\e901";
}
.vcv-ui-icon-dividers-bubbles:before {
  content: "\e902";
}
.vcv-ui-icon-dividers-bubbles-outline:before {
  content: "\e903";
}
.vcv-ui-icon-dividers-zigzag:before {
  content: "\e904";
}
.vcv-ui-icon-dividers-ripple:before {
  content: "\e905";
}
.vcv-ui-icon-dividers-angled:before {
  content: "\e906";
}
.vcv-ui-icon-dividers-inner-triangle-with-offset:before {
  content: "\e907";
}
.vcv-ui-icon-dividers-inner-triangle:before {
  content: "\e908";
}
.vcv-ui-icon-dividers-outer-triangle:before {
  content: "\e909";
}
.vcv-ui-icon-dividers-outer-triangle-with-offset:before {
  content: "\e90a";
}
.vcv-ui-icon-dividers-rounded-outer-triangle-with-offset:before {
  content: "\e90b";
}
.vcv-ui-icon-dividers-rounded-outer-triangle:before {
  content: "\e90c";
}
.vcv-ui-icon-dividers-round:before {
  content: "\e90d";
}
.vcv-ui-icon-dividers-angled-triangles:before {
  content: "\e90e";
}
.vcv-ui-icon-dividers-curved:before {
  content: "\e90f";
}
.vcv-ui-icon-dividers-curved-wave:before {
  content: "\e910";
}
.vcv-ui-icon-dividers-angle-with-fade:before {
  content: "\e911";
  opacity: 0.2032;
}
.vcv-ui-icon-dividers-angle-with-fade:after {
  content: "\e912";
}
.vcv-ui-icon-dividers-rounded-zigzag:before {
  content: "\e913";
}
.vcv-ui-icon-dividers-wave:before {
  content: "\e914";
}
.vcv-ui-icon-dividers-wave-with-fade:before {
  content: "\e915";
  opacity: 0.2021;
}
.vcv-ui-icon-dividers-wave-with-fade:after {
  content: "\e916";
}
.vcv-ui-icon-dividers-splatter:before {
  content: "\e917";
}
.vcv-ui-icon-dividers-dotted-splatter:before {
  content: "\e918";
}
.vcv-ui-icon-dividers-rounded-outer-triangle-with-offset-and-fade:before {
  content: "\e919";
  opacity: 0.2011;
}
.vcv-ui-icon-dividers-rounded-outer-triangle-with-offset-and-fade:after {
  content: "\e91a";
}
.vcv-ui-icon-dividers-scratch:before {
  content: "\e91b";
}
.vcv-ui-icon-dividers-rounded-corner:before {
  content: "\e91c";
}
.vcv-ui-icon-dividers-wavy:before {
  content: "\e91d";
}
.vcv-ui-icon-dividers-circle-outline:before {
  content: "\e91e";
}
.vcv-ui-icon-dividers-spikes:before {
  content: "\e91f";
}
.vcv-ui-icon-dividers-rounded-spikes:before {
  content: "\e920";
}
.vcv-ui-icon-dividers-vertical-rectangle-outline:before {
  content: "\e921";
}
.vcv-ui-icon-dividers-arrow-split:before {
  content: "\e922";
}
.vcv-ui-icon-dividers-rounded-arrow-split:before {
  content: "\e923";
}
.vcv-ui-icon-dividers-inner-clouds-with-fade:before {
  content: "\e924";
  opacity: 0.2985;
}
.vcv-ui-icon-dividers-inner-clouds-with-fade:after {
  content: "\e925";
}
.vcv-ui-icon-dividers-square-outline:before {
  content: "\e929";
}
.vcv-ui-icon-dividers-inner-clouds:before {
  content: "\e926";
}
.vcv-ui-icon-dividers-outer-clouds:before {
  content: "\e927";
}
.vcv-ui-icon-dividers-spikes-with-stripes:before {
  content: "\e928";
}
.vcv-ui-icon-dividers-curvy:before {
  content: "\e92a";
}
.vcv-ui-icon-dividers-curvy-with-fade:before {
  content: "\e92b";
  opacity: 0.2004;
}
.vcv-ui-icon-dividers-curvy-with-fade:after {
  content: "\e92c";
}