@font-face {
  font-family: 'vcvDividerShapes';
  src:
      url('fonts/vcvDividerShapes.ttf?ov82h0') format('truetype'),
      url('fonts/vcvDividerShapes.woff?ov82h0') format('woff'),
      url('fonts/vcvDividerShapes.svg?ov82h0#vcvDividerShapes') format('svg');
  font-weight: normal;
  font-style: normal;
}

.vcv-ui-icon-dividers {
  display: flex;
  position: relative;

  &:before, &:after {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'vcvDividerShapes' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    display: inline-block;
    text-decoration: inherit;
    height: 1em;
    font-size: 1.3em;
    text-align: center;
    margin: 0 auto;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  &:after {
    position: absolute;
    left: 0;
    right: 0;
  }
}

.vcv-ui-icon-dividers-shape1:before {
  content: "\e900";
}
.vcv-ui-icon-dividers-shape2:before {
  content: "\e901";
}
.vcv-ui-icon-dividers-shape3:before {
  content: "\e902";
}
.vcv-ui-icon-dividers-shape4:before {
  content: "\e903";
}
.vcv-ui-icon-dividers-shape5:before {
  content: "\e904";
}
.vcv-ui-icon-dividers-shape6:before {
  content: "\e905";
}
.vcv-ui-icon-dividers-shape7:before {
  content: "\e906";
}
.vcv-ui-icon-dividers-shape8:before {
  content: "\e907";
}
.vcv-ui-icon-dividers-shape9:before {
  content: "\e908";
}
.vcv-ui-icon-dividers-shape10:before {
  content: "\e909";
}
.vcv-ui-icon-dividers-shape11:before {
  content: "\e90a";
}
.vcv-ui-icon-dividers-shape12:before {
  content: "\e90b";
}
.vcv-ui-icon-dividers-shape13:before {
  content: "\e90c";
}
.vcv-ui-icon-dividers-shape14:before {
  content: "\e90d";
}
.vcv-ui-icon-dividers-shape15:before {
  content: "\e90e";
}
.vcv-ui-icon-dividers-shape16:before {
  content: "\e90f";
}
.vcv-ui-icon-dividers-shape17:before {
  content: "\e910";
}
.vcv-ui-icon-dividers-shape18:before {
  content: "\e911";
  opacity: 0.2032;
}
.vcv-ui-icon-dividers-shape18:after {
  content: "\e912";
}
.vcv-ui-icon-dividers-shape19:before {
  content: "\e913";
}
.vcv-ui-icon-dividers-shape20:before {
  content: "\e914";
}
.vcv-ui-icon-dividers-shape21:before {
  content: "\e915";
  opacity: 0.2021;
}
.vcv-ui-icon-dividers-shape21:after {
  content: "\e916";
}
.vcv-ui-icon-dividers-shape22:before {
  content: "\e917";
}
.vcv-ui-icon-dividers-shape23:before {
  content: "\e918";
}
.vcv-ui-icon-dividers-shape24:before {
  content: "\e919";
  opacity: 0.2011;
}
.vcv-ui-icon-dividers-shape24:after {
  content: "\e91a";
}
.vcv-ui-icon-dividers-shape25:before {
  content: "\e91b";
}
.vcv-ui-icon-dividers-shape26:before {
  content: "\e91c";
}
.vcv-ui-icon-dividers-shape27:before {
  content: "\e91d";
}
.vcv-ui-icon-dividers-shape28:before {
  content: "\e91e";
}
.vcv-ui-icon-dividers-shape29:before {
  content: "\e91f";
}
.vcv-ui-icon-dividers-shape30:before {
  content: "\e920";
}
.vcv-ui-icon-dividers-shape31:before {
  content: "\e921";
}
.vcv-ui-icon-dividers-shape32:before {
  content: "\e922";
}
.vcv-ui-icon-dividers-shape33:before {
  content: "\e923";
}
.vcv-ui-icon-dividers-shape34:before {
  content: "\e924";
  opacity: 0.2985;
}
.vcv-ui-icon-dividers-shape34:after {
  content: "\e925";
}
.vcv-ui-icon-dividers-shape35:before {
  content: "\e926";
}
.vcv-ui-icon-dividers-shape36:before {
  content: "\e927";
}
.vcv-ui-icon-dividers-shape37:before {
  content: "\e928";
}
.vcv-ui-icon-dividers-shape38:before {
  content: "\e929";
}
.vcv-ui-icon-dividers-shape39:before {
  content: "\e92a";
}
.vcv-ui-icon-dividers-shape40:before {
  content: "\e92b";
  opacity: 0.2004;
}
.vcv-ui-icon-dividers-shape40:after {
  content: "\e92c";
}