.vce-feature-section {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  -ms-flex-pack: center;
      justify-content: center;
  overflow: hidden;
  box-sizing: border-box;
  min-height: 450px;
}
.vce-feature-section--reverse {
  -ms-flex-direction: column-reverse;
      flex-direction: column-reverse;
}
.vce-feature-section-image {
  -ms-flex: 1 0 300px;
      flex: 1 0 300px;
  background-color: #b3a694;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.vce-feature-section-image--left {
  -ms-flex-order: 1;
      order: 1;
}
.vce-feature-section-image--right {
  -ms-flex-order: 3;
      order: 3;
}
.vce-feature-section-content {
  -ms-flex: 1 0 auto;
      flex: 1 0 auto;
  -ms-flex-order: 2;
      order: 2;
  background-color: #b3a694;
  background-position: center;
  padding: 30px 0;
  color: #fff;
}
.vce-feature-section-content h1 {
  color: inherit;
}
.vce-feature-section-content-container {
  padding: 30px;
}
.vce-feature-section .vce {
  margin-bottom: 0;
}
@media (min-width: 768px) {
  .vce-feature-section {
    -ms-flex-direction: row;
        flex-direction: row;
  }
  .vce-feature-section-image {
    -ms-flex: 1 1 50%;
        flex: 1 1 50%;
  }
  .vce-feature-section-content {
    display: -ms-flexbox;
    display: flex;
    -ms-flex: 1 1 50%;
        flex: 1 1 50%;
    -ms-flex-direction: column;
        flex-direction: column;
    -ms-flex-pack: center;
        justify-content: center;
    -ms-flex-align: start;
        align-items: flex-start;
  }
  .vce-feature-section-content-container {
    padding: 0;
    max-width: 585px;
    width: 66.66666667%;
    margin-left: 16.66666667%;
    padding-left: 15px;
  }
}
