.vcv-ui-form-input-color--value {
  border-radius: 2px;
  height: 100%;
  box-shadow: rgba(0, 0, 0, .1) 1px 1px 1px, rgba(0,0,0,.1) -1px -1px 1px;
}

.vcv-ui-form-input-color--swatch {
  border-radius: 1px;
  cursor: pointer;
  height: 17px;
}

.vcv-ui-form-input-color--popover {
  position: absolute;
  z-index: 2;
}

.vcv-ui-form-input-color--cover {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
