.vcv-ui-add-template-content {
  .vcv-ui-editor-tabs-container {
    margin: 0;
  }

  .vcv-ui-tree-content-footer {
    &.vcv-ui-state--hidden {
      display: none;
    }
  }

  .vcv-ui-form-dependency {
    margin: @template-form-dependency-margin;
  }
}