.vcv-ui-add-template-content {
  .vcv-ui-editor-tabs-container {
    margin: 0;
  }

  .vcv-ui-tree-content-footer {
    &.vcv-ui-state--hidden {
      display: none;
    }
  }

  .vcv-ui-form-dependency {
    margin: @template-form-dependency-margin;
  }

  .vcv-ui-item-element-content {
    &::before {
      content: attr(data-letter);
      position: absolute;
      top: 50%;
      left: 50%;
      margin-right: -50%;
      transform: translate(-50%, -50%);
      font-size: 50px;
      color: @color-inverted;
    }
  }
}