//== import bootstrap variables
@import (reference) "../../../../../sources/less/bootstrap/variables";

@error-message-background-color: #f96262;
@error-message-height: 50px;

@save-input-flex: 0 1 90%;
@save-action-flex: 0 1 10%;
@save-action-padding: 11px 32px;
@save-action-margin: 0 0 0 10px;
@save-action-disabled-color: rgba(255, 255, 255, 0.5);
@save-action-disabled-bg-hover: #304568;

@form-helper-margin-bottom: 30px;

@no-items-image-margin: 0 0 13px;

@item-control-padding: 0.6em;
@item-control-font-size: 16px;

