//== import bootstrap variables
@import (reference) "../../../../../sources/less/bootstrap/variables";

@template-form-dependency-margin: 10px 0 0;
@error-message-background-color: #f96262;
@error-message-height: 50px;