@font-face {
  font-family: 'vcv-lineicons';
  src: url('fonts/lineicons.ttf?g9t2f2') format('truetype'),
  url('fonts/lineicons.woff?g9t2f2') format('woff'),
  url('fonts/lineicons.svg?g9t2f2#vcv-lineicons') format('svg');
  font-weight: normal;
  font-style: normal;
}

.vcv-ui-icon-lineicons:before {
  font-family: 'vcv-lineicons' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  height: 1em;
  font-size: 1em;
  text-align: center;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}

.vcv-ui-icon-lineicons-alarm:before {
  content: "\e900";
}

.vcv-ui-icon-lineicons-apartment:before {
  content: "\e901";
}

.vcv-ui-icon-lineicons-arrow-down-circle:before {
  content: "\e902";
}

.vcv-ui-icon-lineicons-arrow-down:before {
  content: "\e903";
}

.vcv-ui-icon-lineicons-arrow-left-circle:before {
  content: "\e904";
}

.vcv-ui-icon-lineicons-arrow-left:before {
  content: "\e905";
}

.vcv-ui-icon-lineicons-arrow-right-circle:before {
  content: "\e906";
}

.vcv-ui-icon-lineicons-arrow-right:before {
  content: "\e907";
}

.vcv-ui-icon-lineicons-arrow-up-circle:before {
  content: "\e908";
}

.vcv-ui-icon-lineicons-arrow-up:before {
  content: "\e909";
}

.vcv-ui-icon-lineicons-bicycle:before {
  content: "\e90a";
}

.vcv-ui-icon-lineicons-bold:before {
  content: "\e90b";
}

.vcv-ui-icon-lineicons-book:before {
  content: "\e90c";
}

.vcv-ui-icon-lineicons-bookmark:before {
  content: "\e90d";
}

.vcv-ui-icon-lineicons-briefcase:before {
  content: "\e90e";
}

.vcv-ui-icon-lineicons-bubble2:before {
  content: "\e90f";
}

.vcv-ui-icon-lineicons-bug:before {
  content: "\e910";
}

.vcv-ui-icon-lineicons-bullhorn:before {
  content: "\e911";
}

.vcv-ui-icon-lineicons-bus:before {
  content: "\e912";
}

.vcv-ui-icon-lineicons-calendar-full:before {
  content: "\e913";
}

.vcv-ui-icon-lineicons-camera-video:before {
  content: "\e914";
}

.vcv-ui-icon-lineicons-camera2:before {
  content: "\e915";
}

.vcv-ui-icon-lineicons-car:before {
  content: "\e916";
}

.vcv-ui-icon-lineicons-cart:before {
  content: "\e917";
}

.vcv-ui-icon-lineicons-chart-bars:before {
  content: "\e918";
}

.vcv-ui-icon-lineicons-checkmark-circle:before {
  content: "\e919";
}

.vcv-ui-icon-lineicons-chevron-down-circle:before {
  content: "\e91a";
}

.vcv-ui-icon-lineicons-chevron-down:before {
  content: "\e91b";
}

.vcv-ui-icon-lineicons-chevron-left-circle:before {
  content: "\e91c";
}

.vcv-ui-icon-lineicons-chevron-left:before {
  content: "\e91d";
}

.vcv-ui-icon-lineicons-chevron-right-circle:before {
  content: "\e91e";
}

.vcv-ui-icon-lineicons-chevron-right:before {
  content: "\e91f";
}

.vcv-ui-icon-lineicons-chevron-up-circle:before {
  content: "\e920";
}

.vcv-ui-icon-lineicons-chevron-up:before {
  content: "\e921";
}

.vcv-ui-icon-lineicons-circle-minus:before {
  content: "\e922";
}

.vcv-ui-icon-lineicons-clock2:before {
  content: "\e923";
}

.vcv-ui-icon-lineicons-cloud-check:before {
  content: "\e924";
}

.vcv-ui-icon-lineicons-cloud-download:before {
  content: "\e925";
}

.vcv-ui-icon-lineicons-cloud-sync:before {
  content: "\e926";
}

.vcv-ui-icon-lineicons-cloud-upload:before {
  content: "\e927";
}

.vcv-ui-icon-lineicons-cloud2:before {
  content: "\e928";
}

.vcv-ui-icon-lineicons-code:before {
  content: "\e929";
}

.vcv-ui-icon-lineicons-coffee-cup:before {
  content: "\e92a";
}

.vcv-ui-icon-lineicons-cog:before {
  content: "\e92b";
}

.vcv-ui-icon-lineicons-construction:before {
  content: "\e92c";
}

.vcv-ui-icon-lineicons-crop:before {
  content: "\e92d";
}

.vcv-ui-icon-lineicons-cross-circle:before {
  content: "\e92e";
}

.vcv-ui-icon-lineicons-cross:before {
  content: "\e92f";
}

.vcv-ui-icon-lineicons-database:before {
  content: "\e930";
}

.vcv-ui-icon-lineicons-diamond2:before {
  content: "\e931";
}

.vcv-ui-icon-lineicons-dice:before {
  content: "\e932";
}

.vcv-ui-icon-lineicons-dinner:before {
  content: "\e933";
}

.vcv-ui-icon-lineicons-direction-ltr:before {
  content: "\e934";
}

.vcv-ui-icon-lineicons-direction-rtl:before {
  content: "\e935";
}

.vcv-ui-icon-lineicons-download:before {
  content: "\e936";
}

.vcv-ui-icon-lineicons-drop:before {
  content: "\e937";
}

.vcv-ui-icon-lineicons-earth:before {
  content: "\e938";
}

.vcv-ui-icon-lineicons-enter-down:before {
  content: "\e939";
}

.vcv-ui-icon-lineicons-enter:before {
  content: "\e93a";
}

.vcv-ui-icon-lineicons-envelope:before {
  content: "\e93b";
}

.vcv-ui-icon-lineicons-exit-up:before {
  content: "\e93c";
}

.vcv-ui-icon-lineicons-exit:before {
  content: "\e93d";
}

.vcv-ui-icon-lineicons-eye2:before {
  content: "\e93e";
}

.vcv-ui-icon-lineicons-file-add:before {
  content: "\e93f";
}

.vcv-ui-icon-lineicons-file-empty:before {
  content: "\e940";
}

.vcv-ui-icon-lineicons-film-play:before {
  content: "\e941";
}

.vcv-ui-icon-lineicons-flag:before {
  content: "\e942";
}

.vcv-ui-icon-lineicons-frame-contract:before {
  content: "\e943";
}

.vcv-ui-icon-lineicons-frame-expand:before {
  content: "\e944";
}

.vcv-ui-icon-lineicons-funnel:before {
  content: "\e945";
}

.vcv-ui-icon-lineicons-gift:before {
  content: "\e946";
}

.vcv-ui-icon-lineicons-graduation-hat:before {
  content: "\e947";
}

.vcv-ui-icon-lineicons-hand:before {
  content: "\e948";
}

.vcv-ui-icon-lineicons-heart-pulse:before {
  content: "\e949";
}

.vcv-ui-icon-lineicons-heart2:before {
  content: "\e94a";
}

.vcv-ui-icon-lineicons-highlight:before {
  content: "\e94b";
}

.vcv-ui-icon-lineicons-history:before {
  content: "\e94c";
}

.vcv-ui-icon-lineicons-home:before {
  content: "\e94d";
}

.vcv-ui-icon-lineicons-hourglass:before {
  content: "\e94e";
}

.vcv-ui-icon-lineicons-inbox:before {
  content: "\e94f";
}

.vcv-ui-icon-lineicons-indent-decrease:before {
  content: "\e950";
}

.vcv-ui-icon-lineicons-indent-increase:before {
  content: "\e951";
}

.vcv-ui-icon-lineicons-italic:before {
  content: "\e952";
}

.vcv-ui-icon-lineicons-keyboard:before {
  content: "\e953";
}

.vcv-ui-icon-lineicons-laptop-phone:before {
  content: "\e954";
}

.vcv-ui-icon-lineicons-laptop:before {
  content: "\e955";
}

.vcv-ui-icon-lineicons-layers:before {
  content: "\e956";
}

.vcv-ui-icon-lineicons-leaf:before {
  content: "\e957";
}

.vcv-ui-icon-lineicons-license:before {
  content: "\e958";
}

.vcv-ui-icon-lineicons-lighter:before {
  content: "\e959";
}

.vcv-ui-icon-lineicons-line-spacing:before {
  content: "\e95a";
}

.vcv-ui-icon-lineicons-linearicons:before {
  content: "\e95b";
}

.vcv-ui-icon-lineicons-link:before {
  content: "\e95c";
}

.vcv-ui-icon-lineicons-list:before {
  content: "\e95d";
}

.vcv-ui-icon-lineicons-location2:before {
  content: "\e95e";
}

.vcv-ui-icon-lineicons-lock2:before {
  content: "\e95f";
}

.vcv-ui-icon-lineicons-magic-wand:before {
  content: "\e960";
}

.vcv-ui-icon-lineicons-magnifier:before {
  content: "\e961";
}

.vcv-ui-icon-lineicons-map-marker:before {
  content: "\e962";
}

.vcv-ui-icon-lineicons-map:before {
  content: "\e963";
}

.vcv-ui-icon-lineicons-menu-circle:before {
  content: "\e964";
}

.vcv-ui-icon-lineicons-menu:before {
  content: "\e965";
}

.vcv-ui-icon-lineicons-mic:before {
  content: "\e966";
}

.vcv-ui-icon-lineicons-moon:before {
  content: "\e967";
}

.vcv-ui-icon-lineicons-move:before {
  content: "\e968";
}

.vcv-ui-icon-lineicons-music-note:before {
  content: "\e969";
}

.vcv-ui-icon-lineicons-mustache:before {
  content: "\e96a";
}

.vcv-ui-icon-lineicons-neutral:before {
  content: "\e96b";
}

.vcv-ui-icon-lineicons-page-break:before {
  content: "\e96c";
}

.vcv-ui-icon-lineicons-paperclip:before {
  content: "\e96d";
}

.vcv-ui-icon-lineicons-paw:before {
  content: "\e96e";
}

.vcv-ui-icon-lineicons-pencil:before {
  content: "\e96f";
}

.vcv-ui-icon-lineicons-phone-handset:before {
  content: "\e970";
}

.vcv-ui-icon-lineicons-phone2:before {
  content: "\e971";
}

.vcv-ui-icon-lineicons-picture:before {
  content: "\e972";
}

.vcv-ui-icon-lineicons-pie-chart:before {
  content: "\e973";
}

.vcv-ui-icon-lineicons-pilcrow:before {
  content: "\e974";
}

.vcv-ui-icon-lineicons-plus-circle:before {
  content: "\e975";
}

.vcv-ui-icon-lineicons-pointer-down:before {
  content: "\e976";
}

.vcv-ui-icon-lineicons-pointer-left:before {
  content: "\e977";
}

.vcv-ui-icon-lineicons-pointer-right:before {
  content: "\e978";
}

.vcv-ui-icon-lineicons-pointer-up:before {
  content: "\e979";
}

.vcv-ui-icon-lineicons-poop:before {
  content: "\e97a";
}

.vcv-ui-icon-lineicons-power-switch:before {
  content: "\e97b";
}

.vcv-ui-icon-lineicons-printer:before {
  content: "\e97c";
}

.vcv-ui-icon-lineicons-pushpin:before {
  content: "\e97d";
}

.vcv-ui-icon-lineicons-question-circle:before {
  content: "\e97e";
}

.vcv-ui-icon-lineicons-redo:before {
  content: "\e97f";
}

.vcv-ui-icon-lineicons-rocket:before {
  content: "\e980";
}

.vcv-ui-icon-lineicons-sad:before {
  content: "\e981";
}

.vcv-ui-icon-lineicons-screen:before {
  content: "\e982";
}

.vcv-ui-icon-lineicons-select:before {
  content: "\e983";
}

.vcv-ui-icon-lineicons-shirt:before {
  content: "\e984";
}

.vcv-ui-icon-lineicons-smartphone:before {
  content: "\e985";
}

.vcv-ui-icon-lineicons-smile:before {
  content: "\e986";
}

.vcv-ui-icon-lineicons-sort-alpha-asc:before {
  content: "\e987";
}

.vcv-ui-icon-lineicons-sort-amount-asc:before {
  content: "\e988";
}

.vcv-ui-icon-lineicons-spell-check:before {
  content: "\e989";
}

.vcv-ui-icon-lineicons-star-empty:before {
  content: "\e98a";
}

.vcv-ui-icon-lineicons-star-half:before {
  content: "\e98b";
}

.vcv-ui-icon-lineicons-star2:before {
  content: "\e98c";
}

.vcv-ui-icon-lineicons-store:before {
  content: "\e98d";
}

.vcv-ui-icon-lineicons-strikethrough:before {
  content: "\e98e";
}

.vcv-ui-icon-lineicons-sun:before {
  content: "\e98f";
}

.vcv-ui-icon-lineicons-sync:before {
  content: "\e990";
}

.vcv-ui-icon-lineicons-tablet:before {
  content: "\e991";
}

.vcv-ui-icon-lineicons-tag2:before {
  content: "\e992";
}

.vcv-ui-icon-lineicons-text-align-center:before {
  content: "\e993";
}

.vcv-ui-icon-lineicons-text-align-justify:before {
  content: "\e994";
}

.vcv-ui-icon-lineicons-text-align-left:before {
  content: "\e995";
}

.vcv-ui-icon-lineicons-text-align-right:before {
  content: "\e996";
}

.vcv-ui-icon-lineicons-text-format-remove:before {
  content: "\e997";
}

.vcv-ui-icon-lineicons-text-format:before {
  content: "\e998";
}

.vcv-ui-icon-lineicons-text-size:before {
  content: "\e999";
}

.vcv-ui-icon-lineicons-thumbs-down:before {
  content: "\e99a";
}

.vcv-ui-icon-lineicons-thumbs-up:before {
  content: "\e99b";
}

.vcv-ui-icon-lineicons-train:before {
  content: "\e99c";
}

.vcv-ui-icon-lineicons-trash2:before {
  content: "\e99d";
}

.vcv-ui-icon-lineicons-underline:before {
  content: "\e99e";
}

.vcv-ui-icon-lineicons-undo:before {
  content: "\e99f";
}

.vcv-ui-icon-lineicons-unlink:before {
  content: "\e9a0";
}

.vcv-ui-icon-lineicons-upload:before {
  content: "\e9a1";
}

.vcv-ui-icon-lineicons-user2:before {
  content: "\e9a2";
}

.vcv-ui-icon-lineicons-users:before {
  content: "\e9a3";
}

.vcv-ui-icon-lineicons-volume-high:before {
  content: "\e9a4";
}

.vcv-ui-icon-lineicons-volume-low:before {
  content: "\e9a5";
}

.vcv-ui-icon-lineicons-volume-medium:before {
  content: "\e9a6";
}

.vcv-ui-icon-lineicons-volume:before {
  content: "\e9a7";
}

.vcv-ui-icon-lineicons-warning:before {
  content: "\e9a8";
}

.vcv-ui-icon-lineicons-wheelchair:before {
  content: "\e9a9";
}

.vcv-ui-icon-lineicons-heart:before {
  content: "\e000";
}

.vcv-ui-icon-lineicons-cloud:before {
  content: "\e001";
}

.vcv-ui-icon-lineicons-star:before {
  content: "\e002";
}

.vcv-ui-icon-lineicons-tv:before {
  content: "\e003";
}

.vcv-ui-icon-lineicons-sound:before {
  content: "\e004";
}

.vcv-ui-icon-lineicons-video:before {
  content: "\e005";
}

.vcv-ui-icon-lineicons-trash:before {
  content: "\e006";
}

.vcv-ui-icon-lineicons-user:before {
  content: "\e007";
}

.vcv-ui-icon-lineicons-key:before {
  content: "\e008";
}

.vcv-ui-icon-lineicons-search:before {
  content: "\e009";
}

.vcv-ui-icon-lineicons-settings:before {
  content: "\e00a";
}

.vcv-ui-icon-lineicons-camera:before {
  content: "\e00b";
}

.vcv-ui-icon-lineicons-tag:before {
  content: "\e00c";
}

.vcv-ui-icon-lineicons-lock:before {
  content: "\e00d";
}

.vcv-ui-icon-lineicons-bulb:before {
  content: "\e00e";
}

.vcv-ui-icon-lineicons-pen:before {
  content: "\e00f";
}

.vcv-ui-icon-lineicons-diamond:before {
  content: "\e010";
}

.vcv-ui-icon-lineicons-display:before {
  content: "\e011";
}

.vcv-ui-icon-lineicons-location:before {
  content: "\e012";
}

.vcv-ui-icon-lineicons-eye:before {
  content: "\e013";
}

.vcv-ui-icon-lineicons-bubble:before {
  content: "\e014";
}

.vcv-ui-icon-lineicons-stack:before {
  content: "\e015";
}

.vcv-ui-icon-lineicons-cup:before {
  content: "\e016";
}

.vcv-ui-icon-lineicons-phone:before {
  content: "\e017";
}

.vcv-ui-icon-lineicons-news:before {
  content: "\e018";
}

.vcv-ui-icon-lineicons-mail:before {
  content: "\e019";
}

.vcv-ui-icon-lineicons-like:before {
  content: "\e01a";
}

.vcv-ui-icon-lineicons-photo:before {
  content: "\e01b";
}

.vcv-ui-icon-lineicons-note:before {
  content: "\e01c";
}

.vcv-ui-icon-lineicons-clock:before {
  content: "\e01d";
}

.vcv-ui-icon-lineicons-paperplane:before {
  content: "\e01e";
}

.vcv-ui-icon-lineicons-params:before {
  content: "\e01f";
}

.vcv-ui-icon-lineicons-banknote:before {
  content: "\e020";
}

.vcv-ui-icon-lineicons-data:before {
  content: "\e021";
}

.vcv-ui-icon-lineicons-music:before {
  content: "\e022";
}

.vcv-ui-icon-lineicons-megaphone:before {
  content: "\e023";
}

.vcv-ui-icon-lineicons-study:before {
  content: "\e024";
}

.vcv-ui-icon-lineicons-lab:before {
  content: "\e025";
}

.vcv-ui-icon-lineicons-food:before {
  content: "\e026";
}

.vcv-ui-icon-lineicons-t-shirt:before {
  content: "\e027";
}

.vcv-ui-icon-lineicons-fire:before {
  content: "\e028";
}

.vcv-ui-icon-lineicons-clip:before {
  content: "\e029";
}

.vcv-ui-icon-lineicons-shop:before {
  content: "\e02a";
}

.vcv-ui-icon-lineicons-calendar:before {
  content: "\e02b";
}

.vcv-ui-icon-lineicons-vallet:before {
  content: "\e02c";
}

.vcv-ui-icon-lineicons-vynil:before {
  content: "\e02d";
}

.vcv-ui-icon-lineicons-truck:before {
  content: "\e02e";
}

.vcv-ui-icon-lineicons-world:before {
  content: "\e02f";
}
