@zone-overlay-background: rgba(255, 255, 255, .2);

@zone-button-background: #2B4B80;
@zone-button-hover-background: #203251;
@zone-button-font-size: 14px;
@zone-button-border-radius: 3px;
@zone-button-color: #fff;

@zone-sticky-button-offset: 15px;