/* ----------------------------------------------
 * Button
 * ---------------------------------------------- */
.vce-button--style-basic-container--align-left {
  text-align: left;
}
.vce-button--style-basic-container--align-right {
  text-align: right;
}
.vce-button--style-basic-container--align-center {
  text-align: center;
}
.vce-button--style-basic-wrapper {
  display: inline-block;
  vertical-align: top;
  max-width: 100%;
}
.vce-button--style-basic {
  font-size: 16px;
  padding: 15px 43px;
}
a.vce-button--style-basic,
button.vce-button--style-basic {
  background-color: transparent;
  background-image: none;
  border: none;
  box-sizing: border-box;
  cursor: pointer;
  display: inline-block;
  margin-bottom: 0;
  max-width: 100%;
  position: relative;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  white-space: normal;
  touch-action: manipulation;
  user-select: none;
  line-height: normal;
  border-radius: 0;
  transition: all 0.2s ease-in-out;
}
a.vce-button--style-basic:hover,
button.vce-button--style-basic:hover,
a.vce-button--style-basic:focus,
button.vce-button--style-basic:focus {
  text-decoration: none;
  outline: none;
}
button.vce-button--style-basic {
  -webkit-appearance: none;
}
a.vce-button--style-basic--border-rounded,
a.vce-button--style-basic--border-round,
button.vce-button--style-basic--border-rounded,
button.vce-button--style-basic--border-round {
  position: relative;
  overflow: hidden;
}
a.vce-button--style-basic--border-rounded,
button.vce-button--style-basic--border-rounded {
  border-radius: 5px;
}
.vce-button--style-basic--border-round,
a.vce-button--style-basic--border-round,
button.vce-button--style-basic--border-round {
  border-radius: 4em;
}
.rtl.vce-button--style-basic,
[dir="rlt"].vce-button--style-basic,
.rtl .vce-button--style-basic,
[dir="rlt"] .vce-button--style-basic {
  direction: rtl;
  unicode-bidi: embed;
}
.ltr.vce-button--style-basic,
[dir="ltr"].vce-button--style-basic,
.ltr .vce-button--style-basic,
[dir="ltr"] .vce-button--style-basic {
  direction: ltr;
  unicode-bidi: normal;
}
