//== outline

.vcv-ui-outline {
  position: absolute;
  pointer-events: none;
  box-sizing: border-box;
  z-index: @controls-outline-z-index;
  #vcv-ui-outline-controls > .create-outline-type(@color: @controls-outline-color-element);
  &.vcv-ui-outline-element {
    #vcv-ui-outline-controls > .create-outline-type(@color: transparent);
  }
}
//== outline types

#vcv-ui-outline-controls > .create-outline-type(base, @controls-outline-color-base);
#vcv-ui-outline-controls > .create-outline-type(section, @controls-outline-color-section);
#vcv-ui-outline-controls > .create-outline-type(row, @controls-outline-color-row);
#vcv-ui-outline-controls > .create-outline-type(column, @controls-outline-color-column);
#vcv-ui-outline-controls > .create-outline-type(element, @controls-outline-color-element);

//== todo: refactor, color is based on react components
#vcv-ui-outline-controls > .create-outline-type-w-hover(index-0, @controls-outline-color-silent, @controls-background-row);
#vcv-ui-outline-controls > .create-outline-type-w-hover(index-1, @controls-outline-color-silent, @controls-background-column);
#vcv-ui-outline-controls > .create-outline-type-w-hover(index-2, transparent, @controls-background-element);

//== states
.vcv-ui-outline {
  &.vcv-state-highlight {
    border: @outlines-highlight-border-width @outlines-highlight-border-style @outlines-highlight-border-color;
  }
}


// frames
.vcv-ui-element-outline {
  position: absolute;
  pointer-events: none;
  box-sizing: border-box;
  opacity: 0;
  transition: opacity @controls-transition-duration @controls-transition-timing-function;
  z-index: @controls-outline-z-index;
}
//== states
.vcv-ui-element-outline {
  border: none;
  box-shadow: 0 0 0 @outlines-highlight-border-width @outlines-highlight-border-color;
  &.vcv-state--visible {
    opacity: 1;
  }
}
// frame-outline