.vce-button--basic-container {
  --text-align: left;
  --button-width: auto;
  --border-radius: 0;
  --color: #fff;
  --hover-color: #fff;
  --background-color: #557cbf;
  --hover-background-color: #4d70ac;
  text-align: var(--text-align);
}

.vce-button--basic-container .vce-basic-button,
.vce-button--basic-container .vce-basic-button:hover,
.vce-button--basic-container .vce-basic-button:focus,
.vce-button--basic-container .vce-basic-button:link {
  box-shadow: none;
}

a.vce-basic-button,
button.vce-basic-button {
  color: var(--color);
  background-color: var(--background-color);
  background-image: none;
  border: none;
  box-sizing: border-box;
  cursor: pointer;
  display: inline-block;
  max-width: 100%;
  width: var(--button-width);
  position: relative;
  text-align: center;
  text-decoration: none;
  text-transform: none;
  font-weight: normal;
  letter-spacing: normal;
  -webkit-font-smoothing: antialiased;
  vertical-align: middle;
  white-space: normal;
  -ms-touch-action: manipulation;
      touch-action: manipulation;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  line-height: normal;
  border-radius: var(--border-radius);
  overflow: hidden;
  transition: all 0.2s ease-in-out;
}

a.vce-basic-button:hover,
button.vce-basic-button:hover,
a.vce-basic-button:focus,
button.vce-basic-button:focus {
  color: var(--hover-color);
  text-decoration: none;
  outline: none;
}

a.vce-basic-button:hover,
button.vce-basic-button:hover {
  background-color: var(--hover-background-color);
}

button.vce-basic-button {
  -webkit-appearance: none;
}

.vce-basic-button.vce-basic-button--size-small {
  font-size: 11px;
  padding: 10px 30px;
}

.vce-basic-button.vce-basic-button--size-medium {
  font-size: 16px;
  padding: 15px 43px;
}

.vce-basic-button.vce-basic-button--size-large {
  font-size: 21px;
  padding: 20px 56px;
}

.rtl.vce-basic-button,
[dir="rlt"].vce-basic-button,
.rtl .vce-basic-button,
[dir="rlt"] .vce-basic-button {
  direction: rtl;
  unicode-bidi: embed;
}
.ltr.vce-basic-button,
[dir="ltr"].vce-basic-button,
.ltr .vce-basic-button,
[dir="ltr"] .vce-basic-button {
  direction: ltr;
  unicode-bidi: normal;
}
