//== Styles for content styles

.vcv-ui-tree-content {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  min-height: 1em; // dirty ff flexbox bug fix
  > * {
    flex-grow: 0;
    flex-shrink: 0;
  }
}

.vcv-ui-tree-content-footer {

}

.vcv-ui-tree-content-section {
  flex-grow: 1;
  flex-shrink: 1;
  color: @tree-content-text;
  background-color: @tree-content-bg;
  padding: (@tree-content-gutter / 2) @tree-content-gutter;
  min-height: 1em; // dirty ff flexbox bug fix
  overflow: auto;
  position: relative;
}

//== title controls
.vcv-ui-tree-content-title-controls {
  padding-left: 0;
  padding-right: 0;
  font-size: @tree-content-control-size;
  display: flex;
  align-items: center;
}

.vcv-ui-tree-content-title-control {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  color: inherit;
  cursor: pointer;
  text-decoration: none;
  padding: 0 @tree-content-gutter / 2;
}

//== Tree tabs
.vcv-ui-editor-tabs-container {
  margin-top: 8px;
  display: flex;
}

.vcv-ui-editor-tabs {
  font-family: 'Roboto', sans-serif;
  font-size: @tree-text-size-base;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  padding-right: @tree-content-gutter - ceil(@tree-tab-space / 2 );
  flex: 1;
  > * {
    flex-grow: 0;
    flex-shrink: 0;
  }
}

.vcv-ui-editor-tab {
  padding: @tree-gold-value;
  color: @tree-tab-color;
  background-color: @tree-tab-bg;
  border-radius: @tree-tab-border-radius @tree-tab-border-radius 0 0;
  margin: 0 ceil(@tree-tab-space / 2) 0 floor(@tree-tab-space / 2);
  min-width: @tree-tab-min-width;
  text-decoration: none;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  text-align: center;
  cursor: pointer;
  transition: all @transition-duration @transition-timing-function;
  &:hover {
    background-color: @tree-tab-bg-hover;
  }
  &.vcv-ui-active {
    background-color: @tree-tab-bg-active;
    color: @tree-tab-color-active;
  }
  &[disabled] {
    background-color: transparent;
    opacity: .5;
    cursor: not-allowed;
  }
}

.vcv-ui-editor-tab-toggle-tree {
  min-width: @tree-tab-icon-min-width;
  background: none;

  &:hover {
    background-color: @tree-bg-dropdown-hover;
  }
}

.vcv-ui-editor-tab-content {
  white-space: nowrap;
}

.vcv-ui-editor-tab-icon {
  font-size: 1em;
  height: 1em;
  width: 1.25em;
  display: inline-block;
  vertical-align: middle;
  position: relative;
  &::before {
    font-size: 1.25em;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }
  + * {
    margin-left: @tree-gold-value;
  }
}

//== tab dropdown
.vcv-ui-editor-tab-dropdown {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  position: relative;
  > * {
    flex-grow: 0;
    flex-shrink: 0;
  }
  &:hover {
    .vcv-ui-editor-tab-dropdown-trigger {
      background-color: @tree-tab-bg-hover;
    }
    .vcv-ui-editor-tab-dropdown-content {
      visibility: visible;
      opacity: 1;
    }
  }
  &.vcv-ui-active {
    .vcv-ui-editor-tab-dropdown-trigger {
      background-color: @tree-tab-bg-active;
      color: @tree-tab-color-active;
    }
  }
}

.vcv-ui-editor-tab-dropdown-trigger {
  cursor: default;
  min-width: 0;
}

.vcv-ui-editor-tab-dropdown-content {
  min-width: @tree-dropdown-size;
  position: absolute;
  top: 100%;
  right: 0;
  z-index: @tree-dropdown-zindex;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s, opacity @transition-duration @transition-timing-function;
  box-shadow: 2px 2px 5px 0 rgba(0, 0, 0, .5); //todo: rewrite this
  margin-right: ceil(@tree-tab-space/2);
  margin-left: floor(@tree-tab-space/2);
  .vcv-ui-editor-tab {
    text-align: left;
    background-color: @tree-tab-bg-active;
    color: @tree-tab-color-active;
    border-radius: 0;
    margin: 0;
    &:hover,
    &.vcv-ui-active {
      background-color: @tree-tab-bg-hover;
      color: @tree-tab-color;
    }
  }
}

.vcv-ui-editor-tabs-free-space {
  flex-grow: 1;
  flex-shrink: 1;
}

//== Tabs content
.vcv-ui-editor-plates-container {
  overflow: auto;
}

.vcv-ui-editor-plates {

}

.vcv-ui-editor-plate {
  &:not(.vcv-ui-active) {
    display: none;
  }
}