//== Styles for content styles

.vc-ui-tree-content {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  > * {
    flex-grow: 0;
    flex-shrink: 0;
  }
}

.vc-ui-tree-content-header {

}

.vc-ui-tree-content-footer {

}

.vc-ui-tree-content-section {
  flex-grow: 1;
  flex-shrink: 1;
  color: @content-text;
  background-color: @content-bg;
  padding: (@tree-content-gutter / 2) @tree-content-gutter;
  overflow: auto;
}

//== Title bar
.vc-ui-tree-content-title-bar {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  align-items: center;
  padding: @tree-content-gutter / 2;
  > * {
    flex-grow: 0;
    flex-shrink: 0;
    min-width: 1px;
    padding: @tree-content-gutter / 2;
  }
}

.vc-ui-tree-content-title {
  color: inherit;
  flex-grow: 1;
  flex-shrink: 1;
  width: 0;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-size: @heading-font-size;
}

.vc-ui-tree-content-title-icon {
  position: relative;
  font-size: 1.5em;
  padding-right: 0;
}

//== title controls
.vc-ui-tree-content-title-controls {
  padding-left: 0;
  padding-right: 0;
  font-size: @content-control-size;
}

.vc-ui-tree-content-title-control {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  color: inherit;
  cursor: pointer;
  text-decoration: none;
  padding: 0 @tree-content-gutter / 2;
}

//== Tree tabs
.vc-ui-editor-tabs-container {

}

.vc-ui-editor-tabs {
  font-family: 'Roboto', sans-serif;
  font-size: @text-size-base;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  padding-left: @tree-content-gutter - floor(@tab-space / 2 );
  padding-right: @tree-content-gutter - ceil(@tab-space / 2 );
  > * {
    flex-grow: 0;
    flex-shrink: 0;
  }
}

.vc-ui-editor-tab {
  padding: @gold-value;
  color: @tab-color;
  background-color: @tab-bg;
  border-radius: @tab-border-radius @tab-border-radius 0 0;
  margin: 0 ceil(@tab-space / 2) 0 floor(@tab-space / 2);
  min-width: @tab-min-width;
  text-decoration: none;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  text-align: center;
  cursor: pointer;
  transition: all @vc-ui-transition-duration @vc-ui-transition-timing-function;
  &:hover {
    background-color: @tab-bg-hover;
  }
  &.vc-ui-active {
    background-color: @tab-bg-active;
    color: @tab-color-active;
  }
  &[disabled] {
    background-color: transparent;
    opacity: .5;
    cursor: not-allowed;
  }
}

.vc-ui-editor-tab-content {
  white-space: nowrap;
}

.vc-ui-editor-tab-icon {
  font-size: 1em;
  height: 1em;
  width: 1.25em;
  display: inline-block;
  vertical-align: middle;
  position: relative;
  &::before {
    font-size: 1.25em;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }
  + * {
    margin-left: @gold-value;
  }
}

//== tab dropdown
.vc-ui-editor-tab-dropdown {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  position: relative;
  > * {
    flex-grow: 0;
    flex-shrink: 0;
  }
  &:hover {
    .vc-ui-editor-tab-dropdown-trigger {
      background-color: @tab-bg-hover;
    }
    .vc-ui-editor-tab-dropdown-content {
      visibility: visible;
      opacity: 1;
    }
  }
  &.vc-ui-active {
    .vc-ui-editor-tab-dropdown-trigger {
      background-color: @tab-bg-active;
      color: @tab-color-active;
    }
  }
}

.vc-ui-editor-tab-dropdown-trigger {
  cursor: default;
  min-width: 0;
}

.vc-ui-editor-tab-dropdown-content {
  min-width: @dropdown-size;
  position: absolute;
  top: 100%;
  right: 0;
  z-index: @dropdown-zindex;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s, opacity @vc-ui-transition-duration @vc-ui-transition-timing-function;
  box-shadow: 2px 2px 5px 0 rgba(0, 0, 0, .5); //todo: rewrite this
  margin-right: ceil(@tab-space/2);
  margin-left: floor(@tab-space/2);
  .vc-ui-editor-tab {
    text-align: left;
    background-color: @tab-bg-active;
    color: @tab-color-active;
    border-radius: 0;
    margin: 0;
    &:hover,
    &.vc-ui-active {
      background-color: @tab-bg-hover;
      color: @tab-color;
    }
  }
}

.vc-ui-editor-tabs-free-space {
  flex-grow: 1;
  flex-shrink: 1;
}

//== Tabs content
.vc-ui-editor-plates-container {

}

.vc-ui-editor-plates {

}

.vc-ui-editor-plate {
  &:not(.vc-ui-active) {
    display: none;
  }
}