// import bootstrap variables
@import (reference) "../../../../../../sources/less/bootstrap/variables";

//== tree view variables
@tree-gold-value: @gold-value;
@tree-initial-width: 400px;
@tree-initial-height: 60vh;
@tree-content-gutter: 20px;
@tree-view-zindex: 1200;

//== text
@tree-text-size-base: @text-size-base;
@tree-text-color-base: @text-color-base;
@tree-heading-font-size: @text-size-title;

//== colors
@tree-bg-base: @color-alternative;
@tree-bg-base-hover: @color-alternative-active;
@tree-bg-dropdown: @tree-bg-base;
@tree-bg-dropdown-hover: #416196;

//== Controls
@tree-content-control-size: 1.2em;

//== Content section
@tree-content-text: #6f747b;
@tree-content-bg: #fff;

//== dropdowns
@tree-dropdown-size: 140px;
@tree-dropdown-zindex: 1020;

//== tabs
@tree-tab-min-width: 130px;
@tree-tab-border-radius: 5px;
@tree-tab-space: 3px;
@tree-tab-bg: #304568;
@tree-tab-bg-hover: lighten(@tree-tab-bg, 7%);
@tree-tab-bg-active: #fff;
@tree-tab-color: #fff;
@tree-tab-color-active: #6f747b;