
//== tree view variables
@gold-value: 16px;
@initial-width: 400px;
@initial-height: 80vh;
@tree-content-gutter: 20px;

//== text
@text-size-base: @vc-ui-text-size-base;
@text-color-base: @vc-ui-text-color-inverted;
@heading-font-size: 16px;

//== colors
@bg-base:             @vc-ui-color-base-hover;
@bg-base-hover:       @vc-ui-color-base;
@bg-dropdown:         @bg-base-hover;
@bg-dropdown-hover:   #416196;

//== Controls
@content-control-size: 1.2em;

//== dropdowns
@dropdown-size: 140px;
@dropdown-zindex: 1010;

//== tabs
@tab-min-width: 130px;
@tab-border-radius: 5px;
@tab-space: 3px;
@tab-bg: #304568;
@tab-bg-hover: lighten(@tab-bg, 7%);
@tab-bg-active: #fff;
@tab-color: #fff;
@tab-color-active: #6f747b;