# cache files for sublime text
*.tmlanguage.cache
*.tmPreferences.cache
*.stTheme.cache

# workspace files are user-specific
*.sublime-workspace

# project files should be checked into the repository, unless a significant
# proportion of contributors will probably not be using SublimeText
*.sublime-project

# VIM
.*.swo
.*.swp
tags
# NetBeans
nbproject
# CVS
CVS
.cvsignore
# TextMate
.#*
# PHP Storm, other java IDE's
.idea
# OS X
.DS_Store
._*
# Windows
Thumbs.db
#less hack
tpl_variables.css
variables.css
variables_common.css
mixins.css


node_modules
npm-debug.log

*.diff.png
*.map
public/*.bundle.js
public/*-modules.js
public/*-services.js
public/dist/
# public/sources/elements/ElementsSettings.js
/vendor
.env
composer.lock
cache/*
!cache/.gitkeep
test-coverage.xml
