# cache files for sublime text
*.tmlanguage.cache
*.tmPreferences.cache
*.stTheme.cache

# workspace files are user-specific
*.sublime-workspace

# project files should be checked into the repository, unless a significant
# proportion of contributors will probably not be using SublimeText
*.sublime-project

# VIM
.*.swo
.*.swp
tags
# NetBeans
nbproject
# CVS
CVS
.cvsignore
# TextMate
.#*
# PHP Storm, other java IDE's
.idea
# OS X
.DS_Store
._*
# Windows
Thumbs.db
# VS Code
.vscode
#less hack
tpl_variables.css
variables.css
variables_common.css
mixins.css

vc-cli.json

node_modules
npm-debug.log
package-lock.json
yarn-error.log

*.diff.png
*.map
public/*.bundle.js
public/config/*-modules.js
public/config/*-services.js
public/config/*-attributes.js
public/config/elements.js
public/config/element-settings.js
public/dist/
visualcomposer/resources/dist/
/vendor
.env
env-dev.php
composer.lock
test-coverage.xml
hubtools

cache/*
!cache/.gitkeep
devElements
devAddons
devAssets
!visualcomposer/resources/dist/.gitkeep
ci/.phpunit.result.cache

.phpstorm.meta.php
tools/vcwb-builder/temp/**/
ci/CodeSniffer.conf
tests/jest/devElements/**/
elements/*/public/dist/*

# Cypress test
tests/cypressChrome/cypress.env.json
tests/cypressChrome/cypress/screenshots/
tests/cypressChrome/cypress/videos/
tests/cypressElectron/cypress.env.json
tests/cypressElectron/cypress/screenshots/
tests/cypressElectron/cypress/videos/
tests/cypressPipeline/cypress.env.json
tests/cypressPipeline/cypress/screenshots/
tests/cypressPipeline/cypress/videos/

# languages, auto-downloadable
languages/vcwb-*
