.vce-button {
  &--style-outline-animated--background-color-$selector,
  &--style-outline-animated-slidein--background-color-$selector{
    a&,
    button& {
      &:after {
        background-color: $hoverBackground;
      }
    }
  }
}