.vce-button {
  &--style-basic {
    &--color-$selector {
    &,
    a&,
    button& {
      @if $color != false {
        color: $color;
      }
      @if $background != false {
        background-color: $background;
      }
      &:hover {
        @if $color != false {
          color: $color;
        }
        @if $background != false {
          background-color: color($background shade(10%));
        }
      }
    }
  }
  }
}