.vcv-layout-popup {
  position: fixed;
  display: flex;
  justify-content: flex-end;
  bottom: 0;
  z-index: 3010;
  color: @vcv-color-white;
  opacity: 0;
  width: 100%;
  pointer-events: none;
  transform: translate(0, 100%);
  transition: opacity .5s @vcv-transition-timing-function,
  transform .5s @vcv-transition-timing-function;
}

.vcv-layout-popup--full-page {
  z-index: 999999;
}

.vcv-layout-popup--full-page {
  height: 100%;
  justify-content: center;
  align-items: center;
  transition: opacity .5s ease;
  transform: translate(0, 0%);

  &.vcv-layout-popup--visible {
    pointer-events: unset;
    background: rgba(47, 47, 47, .7);
  }
  .vcv-layout-popup-inner,
  .vcv-premium-teaser {
    background: @vcv-color-white;
    padding: 40px;
    max-width: 360px;
  }
  .vcv-layout-popup-badge {
    width: 60px;
    height: 90px;
    background-image: url("data:image/svg+xml,%3Csvg width='249px' height='373px' viewBox='0 0 249 373' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3Ctitle%3E001-high-quality%3C/title%3E%3Cg id='Page-1' stroke='none' stroke-width='1' fill='none' fill-rule='evenodd'%3E%3Cg id='premium-popup' transform='translate(-235.000000, -80.000000)' fill-rule='nonzero'%3E%3Cg id='Popup' transform='translate(163.000000, 80.000000)'%3E%3Cg id='001-high-quality' transform='translate(72.000000, 0.000000)'%3E%3Cpath d='M225.993212,143.443746 L249,103.83656 L213.751548,74.4382334 L205.76129,29.3983261 L159.748452,29.3983261 L124.5,0 L89.2515483,29.3975941 L43.2387096,29.3975941 L35.2484517,74.4375015 L0,103.835828 L23.0067876,143.443014 L15.0165297,188.483653 L36.2941813,196.181106 L36.2941813,373 L59.6684471,373 L124.672324,304.591048 L189.875038,373 L213.037212,373 L213.037212,196.062526 L233.984207,188.484385 L225.993212,143.443746 Z M58.3863237,342.368295 L58.3863237,204.354343 L81.2612904,243.734617 L113.618521,232.028867 L113.618521,284.243597 L58.3863237,342.368295 Z M190.943597,342.193353 L135.7114,284.245061 L135.7114,232.148179 L167.737973,243.734617 L190.744761,204.12743 L190.943597,204.055697 L190.943597,342.193353 Z M202.839139,139.386406 L209.006734,174.151576 L175.632495,186.224777 L157.874239,216.797192 L124.5,204.723258 L91.1257608,216.797192 L73.3675048,186.224777 L39.9932657,174.151576 L46.160861,139.386406 L28.402605,108.813992 L55.6099853,86.122024 L61.7775806,51.3568547 L97.2940926,51.3568547 L124.501473,28.6656187 L151.708853,51.3568547 L187.225365,51.3568547 L193.39296,86.122024 L220.600341,108.813992 L202.839139,139.386406 Z' id='Shape' fill='%23363636'%3E%3C/path%3E%3Cpolygon id='Path' fill='%23F7B332' points='106.78907 127.820421 91.5950732 110.448768 75 124.389504 103.521348 157 170 108.136737 156.885397 91'%3E%3C/polygon%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
    background-size: cover;
    margin: 0 auto 30px auto;
  }
  .vcv-layout-popup-header {
    position: unset;
    padding-right: 0;

    .vcv-layout-popup-heading {
      font-family: Montserrat, sans-serif;
      letter-spacing: 1px;
      font-size: 22px;
      color: #363636;
      text-align: center;
      line-height: 26px;
    }
  }
  .vcv-layout-popup-close,
  .vcv-premium-teaser-close {
    top: 2px;
    right: 2px;
    color: #D2D2D2;
  }
  .vcv-layout-popup-text {
    font-family: Roboto, sans-serif;
    font-size: 14px;
    color: #999999;
    text-align: center;
    line-height: 22px;
    margin-bottom: 25px;
  }
  .vcv-layout-popup-btn {
    font-family: Montserrat, sans-serif;
    display: block;
    border-radius: 0;
    background: #F7B332;
    font-size: 12px;
    padding: 15px;
    font-weight: 600;
    letter-spacing: 1px;
    border: none;
    text-transform: uppercase;
  }

  .vcv-premium-teaser {
    border-radius: 5px;
  }
}

.vcv-layout-popup-container {
  margin: 30px;
  max-width: 410px;
  pointer-events: all;
}

.vcv-layout-feedback-popup {
  font-family: Nunito, "Nunito Sans", sans-serif;
  .vcv-layout-popup-container {
    max-width: 380px;
  }
  .vcv-layout-popup-heading {
    text-transform: unset;
    font-size: 15px;
    font-weight: 500;
    letter-spacing: unset;
    margin-bottom: 10px;
  }
  .vcv-layout-popup-content {
    margin-bottom: 0;
  }

  .vcv-layout-popup-inner {
    padding: 21px 17px;
  }

  .vcv-layout-popup-close {
    right: 0px;
    font-size: 17px;
  }
}

.vcv-layout-dock--right {
  .vcv-layout-popup-container {
    margin-right: calc(@vcv-navbar-width + @vcv-popup-margin);
  }
  .vcv-layout-popup--full-page .vcv-layout-popup-container {
    margin-right: 30px;
  }
}

.vcv-layout-dock--left {
  .vcv-layout-popup-container {
    margin-left: calc(@vcv-navbar-width + @vcv-popup-margin);
  }
  .vcv-layout-popup--full-page .vcv-layout-popup-container {
    margin-left: 30px;
  }
}

.vcv-layout-dock--bottom {
  .vcv-layout-popup-container {
    margin-bottom: calc(@vcv-navbar-width + @vcv-popup-margin);
  }
}

.vcv-layout-popup.vcv-layout-popup--visible {
  transform: translate(0, 0%);
  opacity: 1;
}

.vcv-layout-popup.vcv-layout-popup--visible.vcv-layout-popup--action-clicked {
  transform: translate(0, -100%);
  opacity: 0;
}

.vcv-layout-popup-inner {
  position: relative;
  background: @vcv-color-lucky-point;
  border-radius: 5px;
  padding: 23px 26px;
}

.vcv-layout-popup-header {
  position: relative;
  margin: 0 0 10px;
  padding-right: 20px;
  display: flex;
  flex-direction: column;
}

.vcv-layout-popup-header-badge {
  width: 66px;
  height: 66px;
  background-color: #0D267C;
  border-radius: 50%;
  align-self: center;
  margin: 16px 0 50px 29px;
  position: relative;

  svg {
    position: absolute;
    left: -12px;
    top: 11px;
  }
}

.vcv-layout-popup-heading {
  margin: 0;
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 22px;
  letter-spacing: 1px;
  color: inherit;
  font-family: 'Montserrat', sans-serif;
}

.vcv-layout-popup-close {
  position: absolute;
  padding: 0;
  top: -5px;
  right: -10px;
  background: transparent;
  border: none;
  color: inherit;
  cursor: pointer;
  opacity: 1;
  transition: opacity @vcv-transition-duration @vcv-transition-timing-function;

  &:hover {
    opacity: .5;
  }
}

.vcv-layout-popup-content {
  margin-bottom: 15px;
}

.vcv-layout-popup-btn {
  display: inline-block;
  padding: 9px 37px;
  background: transparent;
  border: 2px solid @vcv-color-white;
  border-radius: 3px;
  line-height: normal;
  font-size: 13px;
  color: inherit;
  text-decoration: none;
  text-align: center;
  cursor: pointer;
  transition: background @vcv-transition-duration @vcv-transition-timing-function,
  border-color @vcv-transition-duration @vcv-transition-timing-function;

  &:hover {
    color: inherit;
    background: @vcv-color-juicy-yellow;
    border-color: @vcv-color-juicy-yellow;
  }

  &:disabled {
    cursor: not-allowed;
    opacity: .7;
    background: transparent;
    border-color: @vcv-color-white;
  }

  &.vcv-pricing-popup-button {
    background: @vcv-color-juicy-yellow;
    border-color: @vcv-color-juicy-yellow;

    &:hover {
      background: @vcv-color-mango-tango;
      border-color: @vcv-color-mango-tango;
    }
  }
}

.vcv-layout-popup--review-form .vcv-layout-popup-btn {
  width: 100%;
}

.vcv-layout-popup-text {
  margin: 0 0 15px;
  font-size: 13px;
  line-height: 24px;
  letter-spacing: 1px;
  color: inherit;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-style: italic;
}

.vcv-layout-popup-content .vcv-layout-popup-textarea {
  font-family: 'Nunito Sans', sans-serif;
  background-color: #fff;
  background-image: none;
  border: none;
  border-radius: 3px;
  margin: 0 0 15px;
  color: #5c5b5b;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.5;
  padding: 10px 14px;
  width: 100%;
  height: 100px;
  box-shadow: none;
  transition: none;
  resize: none;

  &:focus,
  &:hover {
    border: none;
    box-shadow: none;
    outline: none;
  }

  &::placeholder {
    color: #c5c5c5;
    font-style: italic;
  }
}

.vcv-layout-popup-checkbox-option-wrapper {
  margin: 16px 0;
}

.vcv-layout-popup-checkbox-option-wrapper .vcv-layout-popup-checkbox {
  margin: 0 14px 0 0;
  border-color: #fff!important;
  background: #fff!important;
}

.vcv-layout-popup-checkbox-option-wrapper .vcv-layout-popup-checkbox-label {
  font-size: 13px;
  font-style: italic;
  line-height: 24px;
  letter-spacing: 1px;
}

.vcv-layout-popup-checkbox-option-wrapper .vcv-layout-popup-checkbox[type="checkbox"] {
  border-radius: 3px;
  width: @vcv-popup-checkbox-size;
  height: @vcv-popup-checkbox-size;
  display: inline-flex;
  justify-content: center;
  align-items: center;

  &::before {
    content: '';
    width: calc(@vcv-popup-checkbox-size / 2);
    height: calc(@vcv-popup-checkbox-size / 2);
    border-radius: 50%;
    margin: 0;
    padding: 0;
    float: none;
    transition: background-color .2s;
  }
}

.vcv-layout-popup-checkbox-option-wrapper .vcv-layout-popup-checkbox[type="radio"] {
  border: 0;

  &::before {
    content: '';
    border-radius: 50%;
    padding: 0;
    float: none;
    transition: background-color .2s;
    height: 8px;
    width: 8px;
    margin: 4px;
  }
}

.vcv-layout-popup-checkbox-option-wrapper .vcv-layout-popup-checkbox:focus {
  border-color: #fff;
  box-shadow: none;
}

.vcv-layout-popup-checkbox-option-wrapper .vcv-layout-popup-checkbox:checked::before {
  background-color: #FFAE27!important;
}

.vcv-layout-popup-text--anchor {
  text-decoration: none;
  border-bottom: 2px solid;
  color: #fff;
  transition: color .2s, border-bottom-color .2s;

  &:focus,
  &:active,
  &:hover {
    color: #c3c3c3;
    border-bottom-color: #c3c3c3;
    outline: none;
    box-shadow: none;
  }
}

.vcv-layout-popup.vcv-layout-popup--pricing-popup {
  .vcv-layout-popup-content {
    margin-right: 38px;
  }
}

.vcv-ui-feedback-container {
  display: flex;
  justify-content: space-between;
}

.vcv-ui-feedback-description {
  display: flex;
  justify-content: space-between;
  color: #97A3CF;
  font-size: 13px;
  margin-top: 7px;
}


