.vce-icon--style {
  &--icon-color-$selector {

    .vce-icon-container {
      @if $iconColor != false {
        color: $iconColor;
      }
    }

    a {
      &:hover {
        .vce-icon-container {
          color: color($iconColor shade(10%));
        }
      }
    }
  }
}