.vcv-popup-container {
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0,0,0, .5);
  z-index: 999;
  color: #fff;
}

.vcv-popup-container.vcv-popup-container--visible {
  display: block;
}
