// Variables for Button
//-----------------------------------------
@import "../../../../less/boilerplate";

@vce-button-color: inherit;

@vce-button-font-size: 16px;
// Sizing of the button
@vce-button-padding-vertical: 18px;
@vce-button-padding-horizontal: 43px;
@vce-button-border-radius: 0;

@vce-button-rounded: 5px;
@vce-button-round: 4em;

// outline border colors
//@outline-border-color-hover-default: darken(@border-color-default, 10%);
@color-default: #557cbf;
@color-default-hover: darken(@color-default, 10%);
@color-silver: @vcv-color-silver;
@color-silver-hover: darken(@vcv-color-silver, 10%);
@color-white: @vcv-color-white;
@color-white-hover: darken(@vcv-color-white, 10%);
@color-nero: @vcv-color-nero;
@color-nero-hover: darken(@vcv-color-nero, 10%);
@color-mortar: @vcv-color-mortar;
@color-mortar-hover: darken(@vcv-color-mortar, 10%);
@color-fire-brick: @vcv-color-fire-brick;
@color-fire-brick-hover: darken(@vcv-color-fire-brick, 10%);
@color-coral: @vcv-color-coral;
@color-coral-hover: darken(@vcv-color-coral, 10%);
@color-medium-wood: @vcv-color-medium-wood;
@color-medium-wood-hover: darken(@vcv-color-medium-wood, 10%);
@color-amber: @vcv-color-amber;
@color-amber-hover: darken(@vcv-color-amber, 10%);
@color-canary: @vcv-color-canary;
@color-canary-hover: darken(@vcv-color-canary, 10%);
@color-olive: @vcv-color-olive;
@color-olive-hover: darken(@vcv-color-olive, 10%);
@color-pear: @vcv-color-pear;
@color-pear-hover: darken(@vcv-color-pear, 10%);
@color-teal: @vcv-color-teal;
@color-teal-hover: darken(@vcv-color-teal, 10%);
@color-turquoise: @vcv-color-turquoise;
@color-turquoise-hover: darken(@vcv-color-turquoise, 10%);
@color-sapphire: @vcv-color-sapphire;
@color-sapphire-hover: darken(@vcv-color-sapphire, 10%);
@color-picton-blue: @vcv-color-picton-blue;
@color-picton-blue-hover: darken(@vcv-color-picton-blue, 10%);
@color-vivid-violet: @vcv-color-vivid-violet;
@color-vivid-violet-hover: darken(@vcv-color-vivid-violet, 10%);
@color-amethyst: @vcv-color-amethyst;
@color-amethyst-hover: darken(@vcv-color-amethyst, 10%);
@color-old-brick: @vcv-color-old-brick;
@color-old-brick-hover: darken(@vcv-color-old-brick, 10%);
@color-hopbush: @vcv-color-hopbush;
@color-hopbush-hover: darken(@vcv-color-hopbush, 10%);

@vce-button-transition-duration: @vcv-transition-duration;
@vce-button-transition-timing-function: @vcv-transition-timing-function;

@vce-button-flat-border-radius: 0;

