// Loaders
@vc-ui-wp-spinner-svg-src: '../../images/loaders/spinner.svg';
@vc-ui-wp-spinner-light-svg-src: '../../images/loaders/spinner-light.svg';
@vc-ui-wp-spinner-animation-duration: 1.08s;
@vc-ui-wp-spinner-base-size: 16px;

.vc-ui-wp-spinner {
  margin: 0;
  padding: 0;
  height: 1em;
  width: 1em;
  display: inline-block;
  vertical-align: middle;
  opacity: .7;
  position: relative;

  &::before {
    content: '';
    display: block;
    height: @vc-ui-wp-spinner-base-size;
    width: @vc-ui-wp-spinner-base-size;
    background: transparent url(@vc-ui-wp-spinner-light-svg-src) 50% 50% no-repeat;
    background-size: contain;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    animation: vc-ui-wp-spinner-animation @vc-ui-wp-spinner-animation-duration linear infinite;
  }

  &.vc-ui-wp-spinner-lg {
    &::before {
      height: @vc-ui-wp-spinner-base-size * 1.3;
      width: @vc-ui-wp-spinner-base-size * 1.3;
    }
  }
}

@keyframes vc-ui-wp-spinner-animation {
  from {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  to {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}