.blank-page-settings {
  .vcv-ui-form-input {
    height: 28px;
    padding: 6px 14px;
    border-radius: 3px;
    border: 1px solid #d5d5d5;
    font-size: 12px;
    font-weight: 600;
    color: #999999;
  }

  .vcv-ui-form-dropdown {
    height: 28px;
    padding: 0 12px;
    border-color: #D5D5D5;
    font-weight: 600;
    color: #999999;
    background: #fff url("data:image/svg+xml,%0A%3Csvg width='10px' height='5px' viewBox='0 0 10 5' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3Cg id='Blank-Page-Wizard' stroke='none' stroke-width='1' fill='none' fill-rule='evenodd'%3E%3Cg id='blank-page-wizard' transform='translate(-522.000000, -627.000000)' fill='%2374777D' fill-rule='nonzero'%3E%3Cg id='thumbnails' transform='translate(85.000000, 95.000000)'%3E%3Cg id='my-templates' transform='translate(254.350943, 336.000000)'%3E%3Cg id='dropdown' transform='translate(15.000000, 179.000000)'%3E%3Cg id='arrow' transform='translate(168.000000, 17.000000)'%3E%3Cpath d='M8.5658577,0 L0.434119842,0 C0.0493143897,0 -0.146718577,0.47110784 0.129179672,0.750828119 L4.1950486,4.87302172 C4.36203965,5.04232609 4.6379379,5.04232609 4.80500155,4.87302172 L8.87087048,0.750828119 C9.14669612,0.47110784 8.95066315,0 8.5658577,0 Z' id='Path'%3E%3C/path%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/svg%3E") right 1em center no-repeat;
  }

  .vcv-ui-form-group-heading,
  .vcv-permalink-text,
  .vcv-ui-form-checkbox {
    color: @blank-page-intor-settings-attribute-label-color;
    font-size: @blank-page-intor-settings-attribute-label-size;
    line-height: 20px;
    font-weight: 700;
  }

  .vcv-permalink-container {
    display: flex;
    flex-wrap: wrap;

    .vcv-tooltip-container {
      order: 2;
    }

    .vcv-tooltip-button {
      font-size: @blank-page-intor-settings-attribute-label-size;
    }
  }

  .vcv-permalink-text {
    order: 1;
  }

  .vcv-permalink-link {
    order: 3;
    flex: 1 0 100%;
  }

  .featured-image-section .vcv-ui-form-group-heading {
    display: none;
  }

  .featured-image-section .vcv-ui-form-attach-image-control {
    height: 38px;
    font-size: 15px;
  }

  .featured-image-section .vcv-ui-form-attach-image-item,
  .featured-image-section .vcv-ui-form-attach-image-items {
    margin: 0;
  }

  .vcv-ui-form-group--category .vcv-ui-form-helper {
    color: @blank-page-intor-settings-attribute-label-color;
    font-size: @blank-page-intor-settings-attribute-label-size;
    font-weight: 700;
    font-style: normal;
    line-height: 18px;
  }

  .vcv-ui-form-checkbox {
    padding-left: 2.3em;
  }

  .vcv-ui-form-checkbox .vcv-ui-form-checkbox-indicator {
    overflow: hidden;
  }

  .vcv-ui-form-checkbox > input + .vcv-ui-form-checkbox-indicator::before {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: backgorund-color .2s ease-in-out,
                border-color .2s ease-in-out;
    transform: unset;
    background-color: transparent;
  }

  .vcv-ui-form-checkbox > input:checked + .vcv-ui-form-checkbox-indicator {
    border-color: #283AA4;
    background-color: #283AA4;
  }

  .vcv-ui-form-checkbox > input:checked + .vcv-ui-form-checkbox-indicator::before {
    transform: unset;
    background: url("data:image/svg+xml,%0A%3Csvg width='10px' height='8px' viewBox='0 0 10 8' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3Cg id='Blank-Page-Wizard' stroke='none' stroke-width='1' fill='none' fill-rule='evenodd'%3E%3Cg id='blank-page-wizard' transform='translate(-858.000000, -400.000000)' fill='%23FFFFFF' fill-rule='nonzero'%3E%3Cg id='page-settings' transform='translate(840.000000, 0.000000)'%3E%3Cg id='categories' transform='translate(0.000000, 339.000000)'%3E%3Cg id='check-ico' transform='translate(18.000000, 61.000000)'%3E%3Cpath d='M9.79403032,0.784779064 L9.1874121,0.19497455 C8.9200461,-0.0649915167 8.48503672,-0.0649915167 8.2176512,0.19497455 L3.13013752,5.14174677 C3.10345366,5.1677061 3.05661041,5.16768647 3.02990702,5.14174677 L1.77447648,3.92108944 C1.50711049,3.66112337 1.07210111,3.66112337 0.804735115,3.92108944 L0.205969683,4.50326116 C0.0731559619,4.63239066 0,4.80486418 0,4.98891443 C0,5.17296467 0.0731559619,5.3454382 0.205969683,5.47456769 L2.01707298,7.23552434 C2.01730739,7.23574018 2.01752227,7.23595602 2.01775668,7.23617185 L2.60282857,7.80504016 C2.73652133,7.93503301 2.91207611,8 3.08768948,8 C3.26326379,8 3.4388967,7.93499376 3.57256993,7.80504016 L9.79403032,1.7560856 C9.92684404,1.6269561 10,1.45448258 10,1.27045195 C10,1.08642133 9.92686357,0.913928181 9.79403032,0.784779064 Z' id='Path'%3E%3C/path%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/svg%3E") no-repeat center;
  }

  .general-section .vcv-ui-form-group {
    display: flex;
    align-items: center;
    margin: 15px 0 0;
  }

  .general-section .vcv-ui-form-group-heading {
    margin: 0;
  }

  .general-section .vcv-ui-form-dropdown {
    width: 130px;
    margin-left: auto;
  }
}