.vcv-overlay--enabled {
  .vcv-layout-bar-content {
    display: none;
  }
}

.vcv-overlay {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  overflow: hidden;
  z-index: 1200;
}
