/* ===================================
 * Visual composer layout placement
 * =================================== */

.vcv-layout-dock {
  &.vcv-layout-dock--top {
    // default placement
    &.vcv-layout-dock--unlock {
      .vcv-layout-bar-content {
        position: absolute;
        top: 100%;
        bottom: auto;
        left: 0;
        right: 0;
      }
    }
  }
  //== bottom
  &.vcv-layout-dock--bottom {
    .vcv-layout {
      flex-direction: column-reverse;
    }
    .vcv-layout-bar {
      flex-direction: column-reverse;
    }
    &.vcv-layout-dock--unlock {
      .vcv-layout-bar-content {
        position: absolute;
        top: auto;
        bottom: 100%;
        left: 0;
        right: 0;
      }
    }
  }
  //== left
  &.vcv-layout-dock--left {
    .vcv-layout {
      flex-direction: row;
    }
    .vcv-layout-bar {
      flex-direction: row;
    }
    .vcv-layout-bar-content {
      flex-direction: column;
    }
    &.vcv-layout-dock--unlock {
      .vcv-layout-bar-content {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 100%;
        right: auto;
      }
    }
    .vcv-layout-bar-content-start {
      flex-grow: 0;
    }
    .vcv-layout-bar {
      &:not(.vcv-ui-content-end--visible) {
        .vcv-layout-bar-content-start {
          flex-grow: 1;
        }
      }
    }
  }
  //== Right
  &.vcv-layout-dock--right {
    .vcv-layout {
      flex-direction: row-reverse;
    }
    .vcv-layout-bar {
      flex-direction: row-reverse;
    }
    .vcv-layout-bar-content {
      flex-direction: column;
    }
    &.vcv-layout-dock--unlock {
      .vcv-layout-bar-content {
        position: absolute;
        top: 0;
        bottom: 0;
        left: auto;
        right: 100%;
      }
    }
    .vcv-layout-bar-content-start {
      flex-grow: 0;
    }
    .vcv-layout-bar {
      &:not(.vcv-ui-content-end--visible) {
        .vcv-layout-bar-content-start {
          flex-grow: 1;
        }
      }
    }
  }

  //== Detached
  &.vcv-layout-dock--detached {
    .vcv-layout {
      //flex-direction: row;

    }
    .vcv-layout-bar {
      flex-direction: column;
      position: fixed;
      min-width: @editor-layout-bar-min-width;
      box-shadow: @editor-layout-bar-shadow;
    }
    .vcv-layout-bar-content {
      flex-direction: column;
    }
    .vcv-layout-bar-content-start {
      flex-grow: 0;
    }
    .vcv-layout-bar {
      &:not(.vcv-ui-content-end--visible) {
        .vcv-layout-bar-content-start {
          flex-grow: 1;
        }
      }
    }
  }

  // Not detached
  &:not(.vcv-layout-dock--detached) {
    .vcv-layout-bar-header {
      z-index: @editor-layout-bar-header-zindex;
    }
    .vcv-layout-bar-content {
      box-shadow: @editor-layout-bar-shadow;
    }
  }

  //== Behaviour
  &.vcv-layout-dock--top,
  &.vcv-layout-dock--bottom {
    .vcv-layout-bar-content {
      width: auto !important;
    }
    .vcv-layout-bar-content-start {
      height: auto !important;
    }
  }
  &.vcv-layout-dock--left,
  &.vcv-layout-dock--right {
    .vcv-layout-bar-content {
      height: auto !important;
    }
    .vcv-layout-bar-content-start {
      width: 100% !important;
    }
  }
  &.vcv-layout-dock--detached {
    .vcv-layout-bar-content-start {
      width: 100% !important;
    }
  }

  &:not(.vcv-layout-dock--detached) {
    .vcv-layout-bar {
      width: auto !important;
      height: auto !important;
      left: 0 !important;
      top: 0 !important;
    }
  }
  //vcv-layout-bar

  //== Default sizes
  .vcv-layout-bar-content {
    height: @editor-layout-content-height;
    width: @editor-layout-content-width;
    min-height: @editor-layout-content-min-height;
    min-width: @editor-layout-content-min-width;
  }
  .vcv-layout-bar-content-start {
    height: @editor-layout-content-start-height;
    width: @editor-layout-content-start-width;
    min-height: @editor-layout-content-start-min-height;
    min-width: @editor-layout-content-start-min-width;
  }
  .vcv-layout-bar-content-end {
    min-height: @editor-layout-content-end-min-height;
    min-width: @editor-layout-content-end-min-width;
  }
  &.vcv-layout-dock--detached {
    .vcv-layout-bar-content {
      width: auto !important;
      min-height: @editor-layout-content-min-height + @editor-layout-content-end-min-height;
    }
  }
}

