.vcv-layout-iframe-content {
  height: 0;
  width: 0;
}

.vcv-start-blank-container {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  overflow: hidden;
  background: @editor-layout-start-blank-background;
  display: flex;
  flex-direction: column;
  text-align: center;
  word-wrap: break-word;

  &.vcv-ui-state--visible .vcv-start-blank-inner {
    opacity: 1;
  }
}

.vcv-start-blank-scroll-container {
  overflow: auto;
  width: 100%;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

.vcv-start-blank-inner {
  flex-shrink: 0;
  flex-grow: 1;
  padding: @editor-layout-start-blank-spacing-xs;
  position: relative;
  opacity: 0;
  transition: opacity @editor-layout-start-blank-fade-in-time @transition-timing-function;
}

.vcv-start-blank-page-heading {
  font-family: @editor-layout-start-blank-heading-font-family;
  line-height: normal;
  font-size: @editor-layout-start-blank-heading-font-size-xs;
  color: @editor-layout-start-blank-heading-color;
  letter-spacing: @editor-layout-start-blank-heading-letter-spacing;
  -webkit-font-smoothing: antialiased;
}

.vcv-start-blank-inner .vcv-start-blank-template-type-wrapper {
  position: relative;
  margin-bottom: 14px;
}

.vcv-start-blank-inner .vcv-start-blank-template-type-wrapper::after {
  position: absolute;
  content: "";
  width: 0;
  height: 0;
  border-top: 5px solid #C6CBD4;
  border-right: 5px solid transparent;
  border-bottom: 0 solid transparent;
  border-left: 5px solid transparent;
  right: 15px;
  top: 50%;
  transform: translateY(-50%);
  pointer-events: none;
}

.vcv-start-blank-inner .vcv-start-blank-template-type {
  -moz-appearance:none; /* Firefox */
  -webkit-appearance:none; /* Safari and Chrome */
  appearance:none;
}

.vcv-start-blank-inner .vcv-start-blank-title-input,
.vcv-start-blank-inner .vcv-start-blank-template-type {
  width: 90%;
  border: 1px solid #e1e1e1;
  box-shadow: none;
  color: #000;
  font: normal normal bold 14px 'Montserrat', sans-serif;
  -webkit-font-smoothing: antialiased;
  padding: 14px;
  letter-spacing: 0.077em;
  margin: 0 0 14px;

  &::placeholder {
    opacity: 1;
    color: #bdbdbd;
  }
}

.vcv-start-blank-inner .vcv-start-blank-template-type {
  margin: 0;
}

.vcv-start-blank-controls .vcv-start-blank-title-input,
.vcv-start-blank-controls .vcv-start-blank-template-type {
  width: 100%;
}

.vcv-hfs-start-blank-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 50px 0 0;

  .vcv-hfs-start-blank-start-button {
    width: 90%;
    padding: 16px;
    background: @vcv-blue-button;
    color: #fff;
    border: none;
    text-transform: uppercase;
    font: normal normal bold 14px 'Montserrat', sans-serif;
    -webkit-font-smoothing: antialiased;
    letter-spacing: 0.077em;
    cursor: pointer;
    transition: background @transition-duration @transition-timing-function;

    &:hover {
      background: @vcv-blue-button--hover;
    }
  }
}

.vcv-start-blank-controls {
  margin: @editor-layout-start-blank-controls-spacing-xs auto 0;
  max-width: @editor-layout-start-blank-controls-max-width;

  &-layout {
    max-width: @editor-layout-start-blank-controls-layout-max-width;
  }
}

.vcv-start-blank-item-list-container {
  margin: 0 -15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .vcv-ui-item-overlay {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .vcv-ui-item-control {
    padding: @editor-layout-start-blank-control-icon-spacing;
    font-size: @editor-layout-start-blank-control-icon-size;
    cursor: pointer;
    transition: color @transition-duration @transition-timing-function;
  }

  .vcv-start-blank-item-list {
    margin-left: 0;
    margin-right: 0;
    justify-content: center;
  }
}

.vcv-start-blank-description {
  margin-top: 42px;
  color: #9a9a9a;
  -webkit-font-smoothing: antialiased;
  font: italic 700 12px/20px 'Nunito Sans', 'Arial', sans-serif;
}

.vcv-start-blank-title-input-container {
  width: 100%;
  max-width: 650px;
  padding: 0 15px;
}

.vcv-start-blank-button-container {
  margin: 44px -9px 0;
  .vcv-ui-form-button {
    margin-left: 9px;
    margin-right: 9px;
    width: 100%;
    max-width: 220px;
  }
}

@media screen and (min-width: @vcv-grid-breakpoint-sm-min) {
  .vcv-start-blank-page-heading {
    font-size: @editor-layout-start-blank-heading-font-size-sm;
  }

  .vcv-start-blank-inner {
    padding: @editor-layout-start-blank-spacing-sm;
  }

  .vcv-hfs-start-blank-container {
    .vcv-start-blank-title-input,
    .vcv-start-blank-template-type,
    .vcv-hfs-start-blank-start-button {
      width: 390px;
    }
  }
}

@media screen and (min-width: @vcv-grid-breakpoint-sm-min) {
  .vcv-start-blank-page-heading {
    font-size: @editor-layout-start-blank-heading-font-size-sm;
  }

  .vcv-start-blank-controls {
    margin: 50px auto 0;
  }

  .vcv-start-blank-inner {
    padding: @editor-layout-start-blank-spacing-sm;
  }

  .vcv-hfs-start-blank-container {
    .vcv-start-blank-title-input,
    .vcv-start-blank-template-type,
    .vcv-hfs-start-blank-start-button {
      width: 390px;
    }
  }
}

@media screen and (min-width: @vcv-grid-breakpoint-md-min) {
  .vcv-hfs-start-blank-container {
    .vcv-start-blank-title-input,
    .vcv-start-blank-template-type,
    .vcv-hfs-start-blank-start-button {
      width: 430px;
    }
  }
}
