.vcv-layout-iframe-start-blank {
  height: 0;
  width: 0;
}

.vcv-start-blank-container {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  overflow: hidden;
  background: #fff;
  z-index: 1030;
}