/* ===================================
 * Visual composer layout
 * =================================== */
//== Create wrapper for IE 11
.vcv-layout-container {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-flow: column nowrap;
  //overflow: auto;
}

//== base layout
.vcv-layout {
  flex: 1 1 auto;
  display: flex;
  flex-flow: column nowrap;
  //&.reverse {
  //  flex-direction: column-reverse;
  //}
  //&.side {
  //  flex-direction: row;
  //  &.reverse {
  //    flex-direction: row-reverse;
  //  }
  //}
}
.vcv-layout-content {
  flex: 1 1 auto;
  display: flex;
  flex-flow: column nowrap;
  position: relative;
  z-index: @editor-content-zindex;
  //align-items: center;
}

//== iframe
.vcv-layout-iframe-container {
  flex: 1 1 auto;
  position: relative;
  width: 100%;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}
.vcv-layout-iframe-overlay {
  pointer-events: none;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  //background-color: rgba(255, 255, 0, .3);
  overflow: hidden;
}
.vcv-layout-iframe {
  width: 100%;
  flex: 1 1 auto;
  overflow: auto;
  border: 0;
}

//== Editor bar
.vcv-layout-bar {
  flex: 0 0 auto;
  display: flex;
  flex-flow: column nowrap;
  position: relative;
  z-index: @editor-zindex;
  //.reverse & {
  //  flex-direction: column-reverse;
  //}
  //.side & {
  //  flex-direction: row;
  //}
  //.side.reverse & {
  //  flex-direction: row-reverse;
  //}
}
.vcv-layout-bar-header {
  flex: 1 1 auto;
}
.vcv-layout-bar-content {
  display: flex;
  flex-flow: row nowrap;

  position: absolute;
  top: 100%;
  left: 0;
  right: 0;

  //.side & {
  //  flex-direction: column;
  //}
}
.vcv-layout-bar-content-start {
  flex: 1 1 auto;
}
.vcv-layout-bar-content-end {
  flex: 1 1 auto;
}














.layout {
  &:not(.side):not(.detatche) {
    border: 10px dotted yellow;
    .editor-layout {
      width: auto!important;
    }
  }
  &.side:not(.detatche) {
    .editor-layout {
      height: auto!important;
    }
  }
}





//== detatched
.layout.detatche {
  .editor-container {
    //border: 10px solid red;
    position: fixed;
    top: 5vh;
    left: 5vw;
    flex-direction: row;
  }
  .editor-layout {
    flex-direction: column;
  }
}