//=========================================
// Basic values
//=========================================
@editor-layout-zindex: 1000;
@editor-zindex: @editor-layout-zindex + 130; // 1130 to prevent element controls from overlapping
@editor-content-zindex: @editor-layout-zindex;

//== Default sizes
@editor-layout-content-height: 40vh;
@editor-layout-content-width: 400px;
@editor-layout-content-start-height: 20vh;
@editor-layout-content-start-width: 400px;
@editor-layout-detached-height: 80vh;
@editor-layout-detached-width: 400px;

//Minimal constraints
@editor-layout-bar-min-width: 400px;
@editor-layout-content-min-height: 200px;
@editor-layout-content-min-width: 460px;
@editor-layout-content-end-min-height: 200px;
@editor-layout-content-end-min-width: 400px;
@editor-layout-content-start-min-width: 400px;
@editor-layout-content-start-min-height: 100px;

//== Content toggle
@editor-layout-content-toggle-size-w: 60px;
@editor-layout-content-toggle-size-h: 50px;
@editor-layout-content-toggle-size-h-aligned: 63px;
@editor-layout-content-toggle-color: #fff;

//== Editor shadow
@editor-layout-bar-shadow: rgba(0, 0, 0, 0.3) 1px 0px 10px 0px;

//== Layout bar zindex
@editor-layout-bar-header-zindex: @editor-zindex + 10;
@editor-layout-bar-content-zindex: @editor-zindex;

//== Iframe background color
@editor-layout-content-background: #282828;
@editor-layout-iframe-background: #fff;

//== Start Blank page
@editor-layout-start-blank-fade-in-time: .5s;
@editor-layout-start-blank-zindex: 1030;
@editor-layout-start-blank-background: #fff;
@editor-layout-start-blank-spacing-xs: 70px 20px 240px;
@editor-layout-start-blank-spacing-sm: 100px 50px 250px;

@editor-layout-start-blank-bottom-image-height: 200px;

@editor-layout-start-blank-close-size: 60px;
@editor-layout-start-blank-close-color: #E0E0E0;
@editor-layout-start-blank-close-icon-size: 1.2em;

@editor-layout-start-blank-heading-font-family: 'Playfair Display', serif;
@editor-layout-start-blank-heading-font-size-xs: 30px;
@editor-layout-start-blank-heading-font-size-sm: 40px;
@editor-layout-start-blank-heading-color: #363636;
@editor-layout-start-blank-heading-letter-spacing: 0.045em;

@editor-layout-start-blank-controls-spacing-xs: 65px;
@editor-layout-start-blank-controls-spacing-sm: 100px;
@editor-layout-start-blank-controls-max-width: 750px;

@editor-layout-start-blank-control-blank-border-width: 2px;
@editor-layout-start-blank-control-blank-color: #000;
@editor-layout-start-blank-control-icon-size: 16px;
@editor-layout-start-blank-control-icon-spacing: 0.6em;

@editor-layout-start-blank-button-color: #D6D6D6;
@editor-layout-start-blank-button-spacing: 16px 34px;
@editor-layout-start-blank-button-border: 2px solid #D6D6D6;
@editor-layout-start-blank-button-font-family: 'Montserrat', sans-serif;
@editor-layout-start-blank-button-font-weight: bold;
@editor-layout-start-blank-button-font-size: 12px;
@editor-layout-start-blank-button-letter-spacing: .077em;
@editor-layout-start-blank-button-margin-bottom: 12px;

@editor-layout-start-blank-helper-color: #A6A6A6;
@editor-layout-start-blank-helper-font-size: 12px;
@editor-layout-start-blank-helper-letter-spacing: .077em;
@editor-layout-start-blank-helper-font-style: italic;
@editor-layout-start-blank-helper-font-weight: 500;

//== Loading overlay

@editor-layout-loading-overlay-background: @editor-layout-start-blank-background;
@editor-layout-loading-icon-color: #eee;
@editor-layout-loading-icon-size: 60px;
