//=========================================
// Basic values
//=========================================
@editor-layout-zindex: 1000;
@editor-zindex: @editor-layout-zindex + 100;
@editor-content-zindex: @editor-layout-zindex;