//=========================================
// Basic values
//=========================================
@editor-layout-zindex: 1000;
@editor-zindex: @editor-layout-zindex + 100;
@editor-content-zindex: @editor-layout-zindex;

//== Default sizes
@editor-layout-content-height: 60vh;
@editor-layout-content-width: 40vw;
@editor-layout-content-start-height: 200px;
@editor-layout-content-start-width: 400px;
@editor-layout-detached-height: 80vh;
@editor-layout-detached-width: 40vw;

//== Content toggle
@editor-layout-content-toggle-size: 60px;
@editor-layout-content-toggle-color: #fff;
