// Mixins for Row
//-----------------------------------------
.make-color-media(@class, @min, @max: false) {
  & when (@max = false) {
    @media (min-width: @min) {
      .make-color-space(@class)
    }
  }
  & when not (@max = false ) {
    @media (min-width: @min) and (max-width: @max) {
      .make-color-space(@class)
    }
  }
}

.make-color-space(@class) {
  .vce-row {
    &.vce-element--@{class}--has-background {
      > .vce-row-content > .vce-col > .vce-col-content {
        padding-top: @vcv-gold-margin;
      }

      &[data-vce-full-width="true"].vce-row-layout-custom {
        > .vce-row-content {
          padding-left: 0;
          padding-right: 0;
        }

        &.vce-row-no-paddings {
          overflow-x: hidden;

          > .vce-row-content {
            padding-left: 0;
            padding-right: 0;
            margin-left: -15px;
            margin-right: -15px;
          }
        }
      }
    }
  }
}