.vce-col {
  flex: 0 0 100%;
  max-width: 100%;
  box-sizing: border-box;
  display: flex;
  min-width: 1em;
  position: relative;
}

.vce-col--auto {
  flex: 1;
  flex-basis: auto;
}

.vce-col-content {
  position: relative;
  overflow-wrap: break-word;
}

.vce-col-inner {
  &:extend(.vce-col-content);
  width: 100%;
}

.vce-col-direction--rtl {
  direction: rtl;
}

.vce-row-content--top > .vce-row-content > .vce-element--has-background > .vce-col-inner,
.vce-row-content--middle > .vce-row-content > .vce-element--has-background > .vce-col-inner > .vce-col-content,
.vce-row-content--bottom > .vce-row-content > .vce-element--has-background > .vce-col-inner > .vce-col-content {
  padding-top: 30px;
  padding-left: 30px;
  padding-right: 30px;
}

.vce-col.vce-col--all-hide {
  display: none;
}

/* styles for mobile-portrait */
@media (min-width: @vcv-grid-breakpoint-xs) {
  .vce-col--xs-auto {
    flex: 1 1 0;
    width: 1px;
  }
  .vce-col--xs-1 {
    flex: 0 0 100%;
    max-width: 100%;
  }
  .vce-col.vce-col--xs-visible {
    display: flex;
  }
  .vce-col.vce-col--xs-hide {
    display: none;
  }
}

/* styles for mobile-landscape */
@media (min-width: @vcv-grid-breakpoint-sm) {
  .vce-col--sm-auto {
    flex: 1 1 0;
    width: 1px;
  }
  .vce-col--sm-1 {
    flex: 0 0 100%;
    max-width: 100%;
  }
  .vce-col.vce-col--sm-visible {
    display: flex;
  }
  .vce-col.vce-col--sm-hide {
    display: none;
  }
}

/* styles for mobile-landscape */
@media (min-width: @vcv-grid-breakpoint-md) {
  .vce-col--md-auto {
    flex: 1 1 0;
    width: 1px;
  }
  .vce-col--md-1 {
    flex: 0 0 100%;
    max-width: 100%;
  }
  .vce-col.vce-col--md-visible {
    display: flex;
  }
  .vce-col.vce-col--md-hide {
    display: none;
  }
}

/* styles for mobile-landscape */
@media (min-width: @vcv-grid-breakpoint-lg) {
  .vce-col--lg-auto {
    flex: 1 1 0;
    width: 1px;
  }
  .vce-col--lg-1 {
    flex: 0 0 100%;
    max-width: 100%;
  }
  .vce-col.vce-col--lg-visible {
    display: flex;
  }
  .vce-col.vce-col--lg-hide {
    display: none;
  }
}

/* styles for mobile-landscape */
@media (min-width: @vcv-grid-breakpoint-xl) {
  .vce-col--xl-auto {
    flex: 1 1 0;
    width: 1px;
  }
  .vce-col--xl-1 {
    flex: 0 0 100%;
    max-width: 100%;
  }
  .vce-col.vce-col--xl-visible {
    display: flex;
  }
  .vce-col.vce-col--xl-hide {
    display: none;
  }
}


@media (min-width: @vcv-grid-breakpoint-xs-min) and (max-width: @vcv-grid-breakpoint-xs-max) {
  .vce-row-content--top > .vce-row-content > .vce-element--xs--has-background > .vce-col-inner,
  .vce-row-content--middle > .vce-row-content > .vce-element--xs--has-background > .vce-col-inner > .vce-col-content,
  .vce-row-content--bottom > .vce-row-content > .vce-element--xs--has-background > .vce-col-inner > .vce-col-content {
    padding-top: 30px;
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (min-width: @vcv-grid-breakpoint-sm-min) and (max-width: @vcv-grid-breakpoint-sm-max) {
  .vce-row-content--top > .vce-row-content > .vce-element--sm--has-background > .vce-col-inner,
  .vce-row-content--middle > .vce-row-content > .vce-element--sm--has-background > .vce-col-inner > .vce-col-content,
  .vce-row-content--bottom > .vce-row-content > .vce-element--sm--has-background > .vce-col-inner > .vce-col-content {
    padding-top: 30px;
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (min-width: @vcv-grid-breakpoint-md-min) and (max-width: @vcv-grid-breakpoint-md-max) {
  .vce-row-content--top > .vce-row-content > .vce-element--md--has-background > .vce-col-inner,
  .vce-row-content--middle > .vce-row-content > .vce-element--md--has-background > .vce-col-inner > .vce-col-content,
  .vce-row-content--bottom > .vce-row-content > .vce-element--md--has-background > .vce-col-inner > .vce-col-content {
    padding-top: 30px;
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (min-width: @vcv-grid-breakpoint-lg-min) and (max-width: @vcv-grid-breakpoint-lg-max) {
  .vce-row-content--top > .vce-row-content > .vce-element--lg--has-background > .vce-col-inner,
  .vce-row-content--middle > .vce-row-content > .vce-element--lg--has-background > .vce-col-inner > .vce-col-content,
  .vce-row-content--bottom > .vce-row-content > .vce-element--lg--has-background > .vce-col-inner > .vce-col-content {
    padding-top: 30px;
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (min-width: @vcv-grid-breakpoint-xl-min) {
  .vce-row-content--top > .vce-row-content > .vce-element--xl--has-background > .vce-col-inner,
  .vce-row-content--middle > .vce-row-content > .vce-element--xl--has-background > .vce-col-inner > .vce-col-content,
  .vce-row-content--bottom > .vce-row-content > .vce-element--xl--has-background > .vce-col-inner > .vce-col-content {
    padding-top: 30px;
    padding-left: 30px;
    padding-right: 30px;
  }
}