//=========================================
// Grid Breakpoints
//=========================================
// Extra small screen
@vcv-grid-breakpoint-xs: 0;
@vcv-grid-breakpoint-xs-min: @vcv-grid-breakpoint-xs;
@vcv-grid-breakpoint-xs-max: 543px;

// Small screen / mobile
@vcv-grid-breakpoint-sm: 544px;
@vcv-grid-breakpoint-sm-min: @vcv-grid-breakpoint-sm;
@vcv-grid-breakpoint-sm-max: 767px;

// Medium screen / tablet
@vcv-grid-breakpoint-md: 768px;
@vcv-grid-breakpoint-md-min: @vcv-grid-breakpoint-md;
@vcv-grid-breakpoint-md-max: 991px;

// Large screen / desktop
@vcv-grid-breakpoint-lg: 992px;
@vcv-grid-breakpoint-lg-min: @vcv-grid-breakpoint-lg;
@vcv-grid-breakpoint-lg-max: 1199px;

// Extra Large screen / wide desktop
@vcv-grid-breakpoint-xl: 1200px;
@vcv-grid-breakpoint-xl-min: @vcv-grid-breakpoint-xl;
