.vcv-container {
  margin-right: auto;
  margin-left: auto;
}

@media (min-width: 576px) {
  .vcv-container {
    max-width: 540px;
  }
}

@media (min-width: 768px) {
  .vcv-container {
    max-width: 720px;
  }
}

@media (min-width: 992px) {
  .vcv-container {
    max-width: 960px;
  }
}

@media (min-width: 1200px) {
  .vcv-container {
    max-width: 1140px;
  }
}
