@vcv-wpbackend-switcher-logo-path: '../../../../editor/modules/ui/brand-logo/resourses/img/vc-logo.svg';
@vcv-wpbackend-switcher-size: 50px;
@vcv-wpbackend-swithcer-options-padding: 25px;
@vcv-wpbackend-switcher-logo-background-size: 23px;
@vcv-wpbackend-switcher-background-color: #2b4b80;
@vcv-wpbackend-switcher-background-hover-color: #203251;
@vcv-wpbackend-switcher-font-size: 14px;
@vcv-wpbackend-switcher-margin-top: 15px;
@vcv-wpbackend-switcher-border-radius: 4px;
@vcv-wpbackend-switcher-spacer-width: 1px;
@vcv-wpbackend-switcher-spacer-color: rgba(255, 255, 255, .1);
@vcv-wpbackend-switcher-font-color: #ffffff;
@vcv-wpbackend-switcher-transition-duration: @vcv-transition-duration;
@vcv-wpbackend-switcher-transition-timing-function: @vcv-transition-timing-function;
@vcv-wpbackend-switcher-spacing: 10px;
@vcv-wpbackend-switcher-classic-background-color: #A2A6AA;
@vcv-wpbackend-switcher-classic-background-hover-color: #75797E;