.vcv-navbar-vertical {
  width: 68px;
  height: 100%;
  .navbar-header {
    float: none;
  }
  .navbar-nav {
    float: none;
    > li {
      float: none;
    }
  }
  .navbar-btn {
    font-size: 9px;
  }
  .vcv-navbar-right-block {
    position: absolute;
    bottom: 0;
  }
  .pull-right {
    float: none !important;
  }
}