.select2-selection--multiple {
  background-color: @vcui-form-input-background;
  border: 1px solid @vcui-form-input-border-color;
  border-radius: @vcui-form-border-radius;
  box-sizing: border-box;
  color: @vcui-form-controls-color;
  display: inline-block;
  font-size: @vcui-form-font-size-base;
  font-weight: 400;
  height: auto;
  line-height: 1.5;
  outline: none;
  padding: @vcui-dropdown-multiple-padding;
  transition-duration: @vcui-form-transition-duration;
  transition-property: all;
  transition-timing-function: ease-in-out;
  vertical-align: middle;
  width: 100%;

  .select2-selection__rendered {
    padding: 0;
    margin: 0;
    display: block;
    overflow: visible;
    text-overflow: initial;
    white-space: initial;
  }

  .select2-selection__placeholder {
    color: @vcui-form-input-placeholder-color;
    font-style: italic;
  }

  .select2-selection__choice {
    box-sizing: border-box;
    max-width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    margin: @vcui-dropdown-multiple-padding;
    padding: @vcui-dropdown-multiple-choice-padding;
    border-radius: 4em;
    display: block;
    float: left;
    line-height: 1.5;
    position: relative;
    color: @vcui-dropdown-choice-color;
    background-color: @vcui-dropdown-choice-background;

    &:hover {
      background-color: @vcui-dropdown-choice-background-hover;
    }

    &__remove {
      box-sizing: border-box;
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      padding: @vcui-dropdown-multiple-search-padding;
      width: @vcui-dropdown-multiple-choice-close-width;
      line-height: 1.5;
      text-indent: -10em;
      text-align: center;
      border-radius: inherit;
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
      overflow: hidden;
      transition-duration: @vcui-form-transition-duration;
      transition-property: all;
      transition-timing-function: ease-in-out;
      background-color: rgba(0,0,0,0);

      &::after {
        &:extend(.vc_ui-icon);
        content: "\e908"; //.vc_ui-icon-clear
        position: absolute;
        top: 50%;
        left: 25%;
        text-indent: 0;
        transform: translateY(-50%);
      }

      &:hover {
        background-color: rgba(0,0,0,.1);
      }
    }
  }

  .select2-search--inline {
    margin: @vcui-dropdown-multiple-padding;
    padding: @vcui-dropdown-multiple-search-padding;
    display: block;
    float: left;
    max-width: 100%;
    box-sizing: border-box;
    .select2-search__field {
      margin: 0;
      padding: 0;
      box-shadow: none;
      outline: none;
      border: none;
      line-height: 1.5;
      font-size: inherit;
      background-color: @vcui-form-input-background;
      background-image: none;
      max-width: 100%;
    }
  }


}
&:hover,
&.select2-container--focus,
&.select2-container--open {
  .select2-selection--multiple {
    #make-vc_ui-form > .property-darken-color(border-color, @vcui-form-input-border-color);
  }
  .select2-selection__arrow {
    opacity: 1;
  }
}
&.select2-container--focus,
&.select2-container--open {
  .select2-selection--multiple {
    animation: vc_ui-form-shadow-blink @vcui-form-transition-duration * 2 ease-out;
    #make-vc_ui-form > .focus-blink-shadow();
  }
}

&.select2-container--disabled {
  .select2-selection--multiple {
    background-color: @vcui-form-input-disabled-background;
    border-color: @vcui-form-input-border-color;
    color: @vcui-form-input-disabled-color;
    cursor: not-allowed;
    animation: none;
    box-shadow: none;

    .select2-selection__clear {
      display: none;
    }
  }
}
