.vce-instagram-image iframe {
  display: block;
  vertical-align: top;
}

.vce-instagram-image-inner {
  width: 100%;
  max-width: 100%;
  display: inline-block;
  vertical-align: top;
}

.vce-instagram-image--align-center {
  text-align: center;
}

.vce-instagram-image--align-right {
  text-align: right;
}

.vce-instagram-image--align-left {
  text-align: left;
}

.vce-instagram-image-inner.vce-instagram-image-disabled {
  position: relative;
}

.vce-instagram-image-inner.vce-instagram-image-disabled::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 999;
}