.modal-dialog {
  font-family: 'Roboto', sans-serif;
}

.vc_v-modal-content {
  list-style: none;
  padding: 0;
  margin: -8px;

  li {
    display: inline-block;
    vertical-align: top;
    margin: 8px;
  }

  a {
    text-align: center;
    text-decoration: none;
    display: block;
    color: inherit;
    position: relative;
    width: 100px;
    height: 100px;
    border: 1px solid #ccc;
    background: #eee;
    cursor: pointer;
    overflow: hidden;
    user-select: none;
    transition: all 0.2s ease-in-out;
    .glyphicon {
      font-size: 20px;
      color: black;
      display: block;
    }
    &:hover {
      background-color: darken(#eee, 5%);
      color: inherit;
    }
  }

  span {
    transform: translateY(-50%);
    position: absolute;
    right: 4px;
    left: 4px;
    top: 50%;
    color: inherit;
  }
}