.vc_v-modal-content {
  list-style: none;
  padding: 0;
  margin: 0;

  li {
    padding: 4px;
    display: inline-block;
    width: 92px;
    height: 54px;
    text-align: center;
    border: 1px solid #ccc;
    border-radius: 2px;
    position: relative;
    margin: 1px;

    .glyphicon {
      font-size: 20px;
      color: black;
      display: block;
    }
  }

  a {
    transform: translateY(-50%);
    position: absolute;
    cursor: pointer;
    right: 4px;
    left: 4px;
    top: 50%;
  }
}