// Different navbar positions

//== left
.vcv-ui-navbar-position--left {
  .vcv-ui-add-element-container {
    top: 0;
    bottom: 0;
    right: auto;
    left: 60px;
    height: auto;
  }
  .vcv-ui-add-element-o-content-expand {
    width: @add-element-initial-height; // change this with JS
  }
}

//== right
.vcv-ui-navbar-position--right {
  .vcv-ui-add-element-container {
    top: 0;
    bottom: 0;
    right: 60px;
    left: auto;
    height: auto;
    justify-content: flex-end;
  }
  .vcv-ui-add-element-content {
    order: -1;
  }
  .vcv-ui-add-element-o-content-expand {
    width: @add-element-initial-height; // change this with JS
  }
}

//== bottom
.vcv-ui-navbar-position--bottom {
  .vcv-ui-add-element-container {
    top: auto;
    bottom: 60px;
    left: 0;
  }
  .vcv-ui-add-element-o-content-expand {
    right: 0;
  }
}

//== top
.vcv-ui-navbar-position--top {
  .vcv-ui-add-element-container {
    top: 60px;
    left: 0;
    bottom: auto;
  }
  .vcv-ui-add-element-o-content-expand {
    right: 0;
  }
}