.vcv-ui-add-element-container {
  position: fixed;
  top: 0;
  height: @add-element-initial-height;
  min-height: @add-element-min-height;
  max-height: @add-element-max-height;
  left: 0;
  right: 0;

  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;

  font-size: @add-element-text-size-base;
  color: @add-element-text-color-base;
  background-color: @add-element-bg-base;
  z-index: @add-element-zindex;
}

.vcv-ui-add-element-content {
  flex-grow: 1;
  width: 0;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
}

.vcv-ui-add-element-layout-hidden {
  display: none;
}

.vcv-ui-add-element-list-container {
  flex: 1;
}

.vcv-ui-add-element-list {
  list-style: none;
  flex-wrap: wrap;
  display: flex;
  padding: 0;
  margin: -(@add-element-element-gap/2);
}

.vcv-ui-add-element-list-item {
  width: @add-element-element-width;
  margin: (@add-element-element-gap/2);
}

.vcv-ui-add-element-element {
  color: @add-element-text-color-element;
  width: @add-element-element-width;
  text-align: center;
  cursor: pointer;
  display: block;

  &:hover {
    .vcv-ui-add-element-add {
      opacity: 1;
    }
  }
}

.vcv-ui-add-element-element-content {
  position: relative;
  display: block;
  height: @add-element-element-height;
}

.vcv-ui-add-element-overlay {
  color: @color-inverted;
  position: absolute;
  overflow: hidden;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
}

.vcv-ui-add-element-add {
  transition: opacity @transition-duration @transition-timing-function;
  background-color: @add-element-bg-overlay;
  line-height: @add-element-element-height;
  opacity: 0;
}

.vcv-ui-add-element-edit {
  transition: opacity @transition-duration @transition-timing-function;
  flex-direction: column;
  pointer-events: none;
  display: flex;
  opacity: 0;
}

.vcv-ui-add-element-move {
  background-color: @add-element-bg-overlay;
  position: relative;
  cursor: move;
  flex: 1;

  &::before {
    transform: translate(-50%, -50%);
    position: absolute;
    left: 50%;
    top: 50%;
  }
}

.vcv-ui-add-element-remove {
  @height: 30px;

  background-color: @add-element-bg-remove;
  line-height: @height;
  height: @height;
}

.vcv-ui-add-element-element-name {
  @lineHeight: 16px;

  &[class*=vcv-ui-text-badge-] {
    &:before {
      margin-right: 5px;
    }
  }

  line-height: @lineHeight;
  height: @lineHeight * 2;
  overflow: hidden;
  margin: 10px 0;
  display: block;
}

//== behaviors

.vcv-ui-add-element-editable {
  .vcv-ui-add-element-element {
    .vcv-ui-add-element-add {
      pointer-events: none;
    }
    .vcv-ui-add-element-edit {
      pointer-events: auto;
    }

    &:hover {
      .vcv-ui-add-element-add {
        opacity: 0;
      }
      .vcv-ui-add-element-edit {
        opacity: 1;
      }
    }
  }
}