#wysiwyg-controls {
  display: none;
}

#wysiwyg-controls.active {
  display: block;
}

.vc-toolbar-container {
  height: 10vh;
  background-color: #f9f9f9;
}

.vc-iframe-container {
  height: 90vh;
  overflow: hidden;
  background-color: #e5e5e5;
  position: relative;
  margin: 0 auto;
}

.vc-iframe {
  height: 90vh;
  width: 100%;
  overflow: auto;
  border: 0;
  display: block;
}

.vc-iframe-size-lg {
  width: 90vw;
}

.vc-iframe-size-md {
  width: 60vw;
}

.vc-iframe-size-xs {
  width: 30vw;
}

.iframe-content-toggle {
  visibility: visible;
  position: absolute;
  bottom: 0;
  left: 10px;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  background: #c0c0c0;
  border: 1px solid #d0d0d0;
  padding: 3px 6px;
}

.iframe-content-toggle:focus {
  box-shadow: none;
  outline: 0;
}

.iframe-content-toggle.vc-active {
  bottom: 100%;
}

.vc-more-actions {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  visibility: hidden;
  background: #fff;
  padding: 10px;
  border-top: 2px solid #d0d0d0;
}

.vc-more-actions.vc-visible {
  visibility: visible;
}

.vc-more-actions textarea {
  display: block;
  margin: 10px auto;
  height: 45vh;
  width: 100%;
}

.vc-more-actions .action-button {
  margin: 10px 0;
}

.vc-responsive-layout {
  position: fixed;
  top: 0;
  right: 0;
}

.vc-outline {
  position: absolute;
  box-shadow: 0 0 1px 1px #2b669a;
  pointer-events: none;
  margin-top: -1px;
  margin-left: -1px;
  padding: 1px;
  box-sizing: content-box;
}

.vc-outline-index-1 {
  opacity: .5;
}

.vc-outline-index-2 {
  opacity: .3;
}

.vc-outline-index-3 {
  opacity: .1;
}

.vc-controls-container {
  position: absolute;
  list-style: none;
  padding: 0 0 3px 0;
  margin: 0;
  transform: translateY(-99%);
  text-align: center;
}

.vc-control {
  display: inline-block;
  padding: 3px 7px;
  margin-left: 1px;
  margin-right: 1px;
  white-space: nowrap;
  min-width: 2em;
  line-height: 2;
  border: 1px solid #060753;
  cursor: pointer;
  color: #fff;
  background-color: #060753;
  border-radius: 3px;
}