.vce-posts-grid-wrapper {
  overflow: hidden;
}

.vce-posts-grid-list {
  display: -ms-flexbox;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: stretch;
  align-content: flex-start;
  flex-wrap: wrap;
}

.vce-posts-grid-item {
  flex: 0 0 100%;
  max-width: 100%;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  position: relative;
  border: none;
}

.vce-posts-grid-pagination {
  text-align: center;
  margin: 12px 0;
  font-style: italic;
}

.vce-posts-grid-pagination-item {
  display: inline-block;
  background: #EEEEEE;
  border-radius: 50%;
  color: #777777;
  margin: 3px 7px;
  height: 30px;
  width: 30px;
  text-decoration: none;
  line-height: 30px;
}

.vce-posts-grid-pagination-item:hover {
  background: #DCDCDC;
  text-decoration: none;
  color: #777777;
}

.vce-posts-grid-pagination-item:focus {
  text-decoration: none;
  color: #777777;
}

.vce-posts-grid-pagination-item.vce-state--active {
  background: #557CBF;
  color: #fff;
}

.vce-posts-grid-pagination-rest-items {
  padding: 0 18px;
}