/* ----------------------------------------------
 * Feature Icon
 * ---------------------------------------------- */
@import "public/linearicons.css";
.vce-features {
  display: inline-block;
}
.vce-features__icon {
  position: relative;
  width: 2.9em;
  height: 2.9em;
  display: inline-block;
}
.vce-features__icon span {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
}
.vce-features__icon span::before {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.vce-features__icon svg {
  display: none;
  width: 2.9em;
  height: 2.9em;
  position: absolute;
  z-index: 1;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.vce-features__content > * {
  margin: 0 0 13px;
}
.vce-features__content > *:last-child {
  margin-bottom: 0;
}
.vce-features--style-filled-circle,
.vce-features--style-filled-rounded,
.vce-features--style-filled-square,
.vce-features--style-filled-hexagon,
.vce-features--style-filled-diamond {
  border: none;
}
.vce-features--style-filled-circle .vce-features__icon,
.vce-features--style-filled-rounded .vce-features__icon,
.vce-features--style-filled-square .vce-features__icon,
.vce-features--style-filled-hexagon .vce-features__icon,
.vce-features--style-filled-diamond .vce-features__icon {
  background-color: #056a39;
}
.vce-features--style-filled-circle .vce-features__icon span,
.vce-features--style-filled-rounded .vce-features__icon span,
.vce-features--style-filled-square .vce-features__icon span,
.vce-features--style-filled-hexagon .vce-features__icon span,
.vce-features--style-filled-diamond .vce-features__icon span {
  color: #ffffff;
}
.vce-features--style-filled-circle .vce-features__icon {
  border-radius: 50%;
}
.vce-features--style-filled-rounded .vce-features__icon {
  border-radius: 10px;
}
.vce-features--style-filled-hexagon .vce-features__icon {
  background-color: transparent;
}
.vce-features--style-filled-hexagon .vce-features__icon span {
  color: #ffffff;
}
.vce-features--style-filled-hexagon .vce-features__icon svg {
  fill: #056a39;
}
.vce-features--style-filled-hexagon .vce-features__icon svg {
  display: block;
}
.vce-features--style-filled-diamond .vce-features__icon {
  transform-origin: center center;
  transform: translate(0, 0) rotate(45deg);
}
.vce-features--style-filled-diamond .vce-features__icon span {
  transform: rotate(-45deg);
}
.vce-features--style-outlined-circle,
.vce-features--style-outlined-rounded,
.vce-features--style-outlined-square,
.vce-features--style-outlined-diamond {
  background-color: transparent;
}
.vce-features--style-outlined-circle .vce-features__icon,
.vce-features--style-outlined-rounded .vce-features__icon,
.vce-features--style-outlined-square .vce-features__icon,
.vce-features--style-outlined-diamond .vce-features__icon {
  border-width: 3px;
  border-style: solid;
}
.vce-features--style-outlined-circle .vce-features__icon,
.vce-features--style-outlined-rounded .vce-features__icon,
.vce-features--style-outlined-square .vce-features__icon,
.vce-features--style-outlined-diamond .vce-features__icon {
  border-color: #056a39;
}
.vce-features--style-outlined-circle .vce-features__icon span,
.vce-features--style-outlined-rounded .vce-features__icon span,
.vce-features--style-outlined-square .vce-features__icon span,
.vce-features--style-outlined-diamond .vce-features__icon span {
  color: #056a39;
}
.vce-features--style-outlined-circle .vce-features__icon {
  border-radius: 50%;
}
.vce-features--style-outlined-rounded .vce-features__icon {
  border-radius: 10px;
}
.vce-features--style-outlined-hexagon .vce-features__icon {
  background-color: transparent;
}
.vce-features--style-outlined-hexagon .vce-features__icon span {
  color: #056a39;
}
.vce-features--style-outlined-hexagon .vce-features__icon svg {
  fill: transparent;
  stroke: #056a39;
}
.vce-features--style-outlined-hexagon .vce-features__icon svg {
  display: block;
}
.vce-features--style-outlined-hexagon .vce-features__icon span::after {
  border: none;
}
.vce-features--style-outlined-underlined .vce-features__icon span {
  color: #2f2f2f;
}
.vce-features--style-outlined-underlined .vce-features__icon::after {
  content: '';
  position: absolute;
  height: 5px;
  width: 2.9em;
  left: 0;
  bottom: 0;
  background-color: #056a39;
}
.vce-features--style-outlined-diamond .vce-features__icon {
  transform-origin: center center;
  transform: translate(0, 0) rotate(45deg);
}
.vce-features--style-outlined-diamond .vce-features__icon span {
  transform: rotate(-45deg);
}
.vce-features--align-left {
  text-align: left;
}
.vce-features--align-center {
  text-align: center;
}
.vce-features--align-right {
  text-align: right;
}
.vce-features--size-small {
  font-size: 18px;
}
.vce-features--size-medium {
  font-size: 24px;
}
.vce-features--size-large {
  font-size: 32px;
}
/*RTL support. */
/*LTR support. */
.rtl.vce-features,
[dir="rtl"].vce-features,
.rtl .vce-features,
[dir="rtl"] .vce-features {
  direction: rtl;
  unicode-bidi: embed;
  /*check if IE+10 and than hack hexagon to the center*/
}
@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
  .rtl.vce-features .vce-features__icon svg,
  [dir="rtl"].vce-features .vce-features__icon svg,
  .rtl .vce-features .vce-features__icon svg,
  [dir="rtl"] .vce-features .vce-features__icon svg {
    right: 50%;
  }
}
@supports (-ms-accelerator:true) {
  .rtl.vce-features .vce-features__icon svg,
  [dir="rtl"].vce-features .vce-features__icon svg,
  .rtl .vce-features .vce-features__icon svg,
  [dir="rtl"] .vce-features .vce-features__icon svg {
    right: 50%;
  }
}
.ltr.vce-features,
[dir="ltr"].vce-features,
.ltr .vce-features,
[dir="ltr"] .vce-features {
  direction: ltr;
  unicode-bidi: normal;
}
.vce-features__icon span.fa::before {
  line-height: 0.9em;
  height: 1em;
}
.vce-features__icon span.typcn::before {
  font-size: 1.3em;
}
.vce-features__icon span.vcv-ui-icon-material::before {
  font-size: 1.2em;
  line-height: 0.95em;
}
.vce-features__icon span.vcv-ui-icon-openiconic::before {
  height: 0.9em;
}
.vce-features__icon span.vcv-ui-icon-monosocial::before {
  word-break: normal;
}
