#$selector{
  @media (--$(device)-only) {
    background-color: yellow!important;
  }
  @if $color != false {
    color: (color);
  }
  @if $background != false {
    background-color: $background;
  }
}
