.vce-asset-background-slider-container {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: hidden;
  pointer-events: none;
  display: none;
  border-radius: inherit;
}

.vce-asset-background-slider {
  position: absolute;
  top: 0;
  right: -1px;
  bottom: 0;
  left: -1px;
}

.vce-asset-background-slider-item {
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  background-position: 50% 0;
  visibility: hidden;
}

.vce-asset-background-slider .vce-asset-background-slider-slides-carousel {
  width: 100%;
  height: 100%;
  position: relative;
  display: flex;
}

.vce-asset-background-slider .vce-asset-background-slider-slides-carousel-vertical {
  flex-direction: column;
}

@keyframes vce-asset-background-slide--carousel-left {
  0%   {transform: translateX(0)}
  100% {transform: translateX(-100%)}
}

@keyframes vce-asset-background-slide--carousel-top {
  0%   {transform: translateY(0)}
  100% {transform: translateY(-100%)}
}

@keyframes vce-asset-background-slide--carousel-right {
  0%   {transform: translateX(-100%)}
  100% {transform: translateX(0)}
}

@keyframes vce-asset-background-slide--carousel-bottom {
  0%   {transform: translateY(-100%)}
  100% {transform: translateY(0)}
}

.vce-asset-background-slider .vce-asset-background-slider-slides-carousel.animate-left {
  animation-timing-function: linear;
  animation-name: vce-asset-background-slide--carousel-left;
  animation-iteration-count: infinite;
}

.vce-asset-background-slider .vce-asset-background-slider-slides-carousel.animate-top {
  animation-timing-function: linear;
  animation-name: vce-asset-background-slide--carousel-top;
  animation-iteration-count: infinite;
}

.vce-asset-background-slider .vce-asset-background-slider-slides-carousel.animate-right {
  animation-timing-function: linear;
  animation-name: vce-asset-background-slide--carousel-right;
  animation-iteration-count: infinite;
}

.vce-asset-background-slider .vce-asset-background-slider-slides-carousel.animate-bottom {
  animation-timing-function: linear;
  animation-name: vce-asset-background-slide--carousel-bottom;
  animation-iteration-count: infinite;
}

.vce-asset-background-slider .vce-asset-background-slider-slides-carousel .vce-asset-background-slider-item {
  visibility: visible;
  position: static;
}

.vce-asset-background-slider-item[data-vce-assets-slider-stay-visible='true']{
  visibility: visible;
}

.vce-asset-background-slider-item[data-vce-assets-slider-effect='slide'] {
  animation: vce-asset-background-slide--left .5s ease-in-out;
}

@keyframes vce-asset-background-slide--left {
  from {
    transform: translateX(0%);
  }
  to {
    transform: translateX(-100%);
  }
}

.vce-asset-background-slider-item[data-vce-assets-slider-effect='fadeIn'] {
  animation: vce-asset-background-slide--fadeIn .5s ease-in-out;
}

@keyframes vce-asset-background-slide--fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.vce-asset-background-slider-item[data-vce-assets-slider-effect='fadeOut'] {
  animation: vce-asset-background-slide--fadeOut .5s ease-in-out;
}

@keyframes vce-asset-background-slide--fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

.vce-asset-background-slider--style-cover .vce-asset-background-slider-item {
  background-size: cover;
  background-repeat: no-repeat;
}

.vce-asset-background-slider--style-contain .vce-asset-background-slider-item {
  background-size: contain;
  background-repeat: no-repeat;
}

.vce-asset-background-slider--style-full-width .vce-asset-background-slider-item {
  background-size: 100% auto;
}

.vce-asset-background-slider--style-full-height .vce-asset-background-slider-item {
  background-size: auto 100%;
}

.vce-asset-background-slider--style-repeat .vce-asset-background-slider-item {
  background-repeat: repeat;
}

.vce-asset-background-slider--style-repeat-x .vce-asset-background-slider-item {
  background-repeat: repeat-x;
}

.vce-asset-background-slider--style-repeat-y .vce-asset-background-slider-item {
  background-repeat: repeat-y;
}

.vce-asset-background-slider--style-no-repeat .vce-asset-background-slider-item {
  background-repeat: no-repeat;
}

.vce-asset-background-slider--position-left-top .vce-asset-background-slider-item{
  background-position: left top;
}

.vce-asset-background-slider--position-center-top .vce-asset-background-slider-item{
  background-position: center top;
}

.vce-asset-background-slider--position-right-top .vce-asset-background-slider-item{
  background-position: right top;
}

.vce-asset-background-slider--position-left-center .vce-asset-background-slider-item{
  background-position: left center;
}

.vce-asset-background-slider--position-center-center .vce-asset-background-slider-item{
  background-position: center center;
}

.vce-asset-background-slider--position-right-center .vce-asset-background-slider-item{
  background-position: right center;
}

.vce-asset-background-slider--position-left-bottom .vce-asset-background-slider-item{
  background-position: left bottom;
}

.vce-asset-background-slider--position-center-bottom .vce-asset-background-slider-item{
  background-position: center bottom;
}

.vce-asset-background-slider--position-right-bottom .vce-asset-background-slider-item{
  background-position: right bottom;
}

.vce-asset-background-slider-container.vce-visible-all-only {
  display: block;
}

@media (max-width: 543px) {
  .vce-asset-background-slider-container.vce-visible-xs-only {
    display: block;
  }
}

@media (min-width: 544px) and (max-width: 767px) {
  .vce-asset-background-slider-container.vce-visible-sm-only {
    display: block;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .vce-asset-background-slider-container.vce-visible-md-only {
    display: block;
  }
}

@media (min-width: 992px) and (max-width: 1199px) {
  .vce-asset-background-slider-container.vce-visible-lg-only {
    display: block;
  }
}

@media (min-width: 1200px) {
  .vce-asset-background-slider-container.vce-visible-xl-only {
    display: block;
  }
}

