.vc-flex-row {
  @color: #ffd;
  background-color: @color;
  border: 1px solid darken(@color, 7%);
  padding: 10px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  box-sizing: border-box;
}