/* ----------------------------------------------
 * Column
 * ---------------------------------------------- */
.vce-col {
  flex: 0 0 100%;
  max-width: 100%;
  box-sizing: border-box;
  display: flex;
  min-width: 1em;
  position: relative;
}
.vce-col--auto {
  flex: 1;
  flex-basis: auto;
}
.vce-col-inner {
  position: relative;
  width: 100%;
  word-break: break-word;
}
.vce-col-content {
  position: relative;
  word-break: break-word;
}
.vce-col-direction--rtl {
  direction: rtl;
}
.vcv-wpbackend-layout .vce-row > .vce-row-content > .vce-col {
  margin-right: 0;
  margin-left: 0;
}
/* styles for mobile-portrait */
@media (min-width: 0) {
  .vce-col--xs-auto {
    flex: 1 1 0;
    width: 1px;
  }
  .vce-col--xs-1 {
    flex: 0 0 100%;
    max-width: 100%;
  }
}
/* styles for mobile-landscape */
@media (min-width: 544px) {
  .vce-col--sm-auto {
    flex: 1 1 0;
    width: 1px;
  }
  .vce-col--sm-1 {
    flex: 0 0 100%;
    max-width: 100%;
  }
}
/* styles for mobile-landscape */
@media (min-width: 768px) {
  .vce-col--md-auto {
    flex: 1 1 0;
    width: 1px;
  }
  .vce-col--md-1 {
    flex: 0 0 100%;
    max-width: 100%;
  }
}
/* styles for mobile-landscape */
@media (min-width: 992px) {
  .vce-col--lg-auto {
    flex: 1 1 0;
    width: 1px;
  }
  .vce-col--lg-1 {
    flex: 0 0 100%;
    max-width: 100%;
  }
}
/* styles for mobile-landscape */
@media (min-width: 1200px) {
  .vce-col--xl-auto {
    flex: 1 1 0;
    width: 1px;
  }
  .vce-col--xl-1 {
    flex: 0 0 100%;
    max-width: 100%;
  }
}
.vce-row-content--top > .vce-row-content > .vce-element--has-background > .vce-col-inner {
  padding-top: 35px;
  padding-left: 15px;
  padding-right: 15px;
}
.vce-row-content--middle > .vce-row-content > .vce-element--has-background > .vce-col-inner > .vce-col-content,
.vce-row-content--bottom > .vce-row-content > .vce-element--has-background > .vce-col-inner > .vce-col-content {
  padding-top: 35px;
  padding-left: 15px;
  padding-right: 15px;
}