@media (min-width: 544px) {
  .vce-image-gallery {
	&--columns-$selector {
	  .vce-image-gallery-item {
	    @if $columns != false {
	      flex: 0 0 calc(100% / $columns);
	      max-width: calc(100% / $columns);
	    }
	  }
	}
  }
}

