.vce-twitter-timeline--align-center {
  text-align: center;
}

.vce-twitter-timeline--align-right {
  text-align: right;
}

.vce-twitter-timeline--align-left {
  text-align: left;
}

.vce-twitter-timeline-inner {
  vertical-align: top;
  display: inline-block;
  width: 100%;
  max-width: 100%;
}

.vce-twitter-timeline-inner.vce-twitter-timeline-disabled {
  position: relative;
}

.vce-twitter-timeline-inner.vce-twitter-timeline-disabled::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 999;
}