.vce-twitter-timeline iframe {
  display: block;
  vertical-align: top;
}

.vce-twitter-timeline-wrapper {
  display: inline-block;
  max-width: 100%;
}

.vce-twitter-timeline--align-center {
  text-align: center;
}

.vce-twitter-timeline--align-right {
  text-align: right;
}

.vce-twitter-timeline--align-left {
  text-align: left;
}

.vce-twitter-timeline-inner {
  vertical-align: top;
  display: inline-block;
  width: 100%;
  min-width: 220px;
  max-width: 100%;
}

[data-vcv-element-disable-interaction="true"] .vce-twitter-timeline-inner {
  position: relative;
}

[data-vcv-element-disable-interaction="true"] .vce-twitter-timeline-inner::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 999;
}