/* ----------------------------------------------
 * Row
 * ---------------------------------------------- */
.vce {
  margin-bottom: 35px;
}
.vce-row {
  display: flex;
  flex-direction: column;
  margin-left: 0;
  margin-right: 0;
}
.vce-row-content > .vce-col:last-child {
  margin-right: 0;
}
.vce-row > .vce-row-content > .vce-col.vce-col--last {
  margin-right: 0;
}
.rtl .vce-row > .vce-row-content > .vce-col.vce-col--last,
.rtl.vce-row > .vce-row-content > .vce-col.vce-col--last,
.vce-row.vce-row-direction--reverse > .vce-row-content > .vce-col.vce-col--last {
  margin-left: 0;
}
.rtl .vce-row.vce-row-direction--reverse > .vce-row-content > .vce-col.vce-col--last,
.rtl.vce-row.vce-row-direction--reverse > .vce-row-content > .vce-col.vce-col--last {
  margin-right: 0;
}
.vce-row-full-height {
  min-height: 100vh;
}
.vce-row-content {
  flex: 1 1 auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-content: flex-start;
  min-height: 1em;
}
.vce-row-columns--top > .vce-row-content {
  align-content: flex-start;
}
.vce-row-columns--middle > .vce-row-content {
  align-content: center;
}
.vce-row-columns--bottom > .vce-row-content {
  align-content: flex-end;
}
.vce-row-columns--top > .vce-row-content:after,
.vce-row-columns--middle > .vce-row-content:after,
.vce-row-columns--bottom > .vce-row-content:after {
  content: "";
  width: 100%;
  height: 0;
  overflow: hidden;
  visibility: hidden;
  display: block;
}
.vce-row-content--top > .vce-row-content > .vce-col > .vce-col-inner {
  align-items: flex-start;
}
.vce-row-content--top > .vce-row-content > .vce-col > .vce-col-inner > .vce-col-content {
  justify-content: flex-start;
}
.vce-row-content--middle > .vce-row-content > .vce-col > .vce-col-inner {
  align-items: center;
}
.vce-row-content--middle > .vce-row-content > .vce-col > .vce-col-inner > .vce-col-content {
  justify-content: center;
}
.vce-row-content--bottom > .vce-row-content > .vce-col > .vce-col-inner {
  align-items: flex-end;
}
.vce-row-content--bottom > .vce-row-content > .vce-col > .vce-col-inner > .vce-col-content {
  justify-content: flex-end;
}
.vce-row-equal-height > .vce-row-content > .vce-col > .vce-col-inner {
  align-items: stretch;
}
.vce-row-columns--stretch > .vce-row-content {
  align-content: stretch;
}
.vce-row-columns--stretch > .vce-row-content > .vce-col > .vce-col-inner {
  align-items: stretch;
}
.vce-row[data-vce-full-width="true"] {
  position: relative;
  box-sizing: border-box;
}
.vce-row[data-vce-stretch-content="true"] {
  padding-left: 15px;
  padding-right: 15px;
}
.vce-row[data-vce-stretch-content="true"].vce-row-no-paddings {
  padding-left: 0;
  padding-right: 0;
}
.vce-row-direction--reverse > .vce-row-content {
  flex-direction: row-reverse;
  flex-wrap: wrap-reverse;
}
.vce-row-wrap--reverse > .vce-row-content {
  flex-wrap: wrap-reverse;
}
.vce-row.vce-element--has-background > .vce-row-content {
  padding-left: 15px;
  padding-right: 15px;
}
.vce-row.vce-element--has-background > .vce-row-content > .vce-col > .vce-col-inner .vce-col-content {
  padding-top: 35px;
}
