// Styles for Buttons
//-----------------------------------------

// By default .vce-button does not look like much. It will be a basic text with hover cursor
.vce-button {

  &,
  a&,
  button& {
    background-color: transparent;
    background-image: none;
    border: none; // For input.btn
    box-sizing: border-box;
    cursor: pointer;
    display: inline-block;
    margin-bottom: 0;
    max-width: 100%;
    // If the contnet of the button is more than the containers, the text will break normally
    position: relative;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    white-space: normal;
    touch-action: manipulation;
    user-select: none;
    transition: all @vce-button-transition-duration @vce-button-transition-timing-function;

    &:hover,
    &:focus {
      text-decoration: none;
      outline: none;
    }
  }

  button& {
    -webkit-appearance: none;
  }

  #vce-button > .size( @vce-button-padding-vertical;
          @vce-button-padding-horizontal;
          @vce-button-font-size;);
  // styles
  &--style {
    /*Outline with hover effect which fills the background by sliding in*/
    &-outline {
      &,
      a&,
      button& {

        // fix for transition if the background has a background-color property
        z-index: 1;
        border-radius: 0;
        &::before, &::after {
          // Inherit the border radius from the parent element.
          border-radius: inherit;
          box-sizing: border-box;
          content: "";
          position: absolute;
          transition: all @vce-button-transition-duration @vce-button-transition-timing-function;
          height: 100%;
          top: 0;
          left: 0;
        }

        /*The before element simulates border*/
        &::before {
          box-sizing: border-box;
          z-index: @vce-button-outline-z-background;
          width: 100%;
          border-width: @vce-button-outline-border-width;
          border-style: @vce-button-outline-border-style;
        }

        &::after {
          z-index: @vce-button-outline-z-overlay;
          width: 0;
        }

        &:hover, &:active, &:focus {
          &::after {
            width: 100%;
          }
        }
      }
      // default
      &.vce-button--text-color-default {
        #vce-button > .double-line (@text-color: @color-default; @text-color-hover: @color-default-hover);
      }
      &.vce-button--background-color-default {
        #vce-button > .double-line (@background-color: transparent; @background-color-hover: @color-default-hover);
      }
      &.vce-button--border-color-default {
        #vce-button > .double-line (@border-color: @color-default; @border-color-hover: @color-default-hover);
      }
      // silver
      &.vce-button--text-color-silver {
        #vce-button > .double-line (@text-color: @color-silver; @text-color-hover: @color-silver-hover);
      }
      &.vce-button--background-color-silver {
        #vce-button > .double-line (@background-color: transparent; @background-color-hover: @color-silver-hover);
      }
      &.vce-button--border-color-silver {
        #vce-button > .double-line (@border-color: @color-silver; @border-color-hover: @color-silver-hover);
      }
      // white
      &.vce-button--text-color-white {
        #vce-button > .double-line (@text-color: @color-white; @text-color-hover: @color-white-hover);
      }
      &.vce-button--background-color-white {
        #vce-button > .double-line (@background-color: transparent; @background-color-hover: @color-white-hover);
      }
      &.vce-button--border-color-white {
        #vce-button > .double-line (@border-color: @color-white; @border-color-hover: @color-white-hover);
      }
      // nero
      &.vce-button--text-color-nero {
        #vce-button > .double-line (@text-color: @color-nero; @text-color-hover: @color-nero-hover);
      }
      &.vce-button--background-color-nero {
        #vce-button > .double-line (@background-color: transparent; @background-color-hover: @color-nero-hover);
      }
      &.vce-button--border-color-nero {
        #vce-button > .double-line (@border-color: @color-nero; @border-color-hover: @color-nero-hover);
      }
      // mortar
      &.vce-button--text-color-mortar {
        #vce-button > .double-line (@text-color: @color-mortar; @text-color-hover: @color-mortar-hover);
      }
      &.vce-button--background-color-mortar {
        #vce-button > .double-line (@background-color: transparent; @background-color-hover: @color-mortar-hover);
      }
      &.vce-button--border-color-mortar {
        #vce-button > .double-line (@border-color: @color-mortar; @border-color-hover: @color-mortar-hover);
      }
      // fire-brick
      &.vce-button--text-color-fire-brick {
        #vce-button > .double-line (@text-color: @color-fire-brick; @text-color-hover: @color-fire-brick-hover);
      }
      &.vce-button--background-color-fire-brick {
        #vce-button > .double-line (@background-color: transparent; @background-color-hover: @color-fire-brick-hover);
      }
      &.vce-button--border-color-fire-brick {
        #vce-button > .double-line (@border-color: @color-fire-brick; @border-color-hover: @color-fire-brick-hover);
      }
      // coral
      &.vce-button--text-color-coral {
        #vce-button > .double-line (@text-color: @color-coral; @text-color-hover: @color-coral-hover);
      }
      &.vce-button--background-color-coral {
        #vce-button > .double-line (@background-color: transparent; @background-color-hover: @color-coral-hover);
      }
      &.vce-button--border-color-coral {
        #vce-button > .double-line (@border-color: @color-coral; @border-color-hover: @color-coral-hover);
      }
      // medium-wood
      &.vce-button--text-color-medium-wood {
        #vce-button > .double-line (@text-color: @color-medium-wood; @text-color-hover: @color-medium-wood-hover);
      }
      &.vce-button--background-color-medium-wood {
        #vce-button > .double-line (@background-color: transparent; @background-color-hover: @color-medium-wood-hover);
      }
      &.vce-button--border-color-medium-wood {
        #vce-button > .double-line (@border-color: @color-medium-wood; @border-color-hover: @color-medium-wood-hover);
      }
      // amber
      &.vce-button--text-color-amber {
        #vce-button > .double-line (@text-color: @color-amber; @text-color-hover: @color-amber-hover);
      }
      &.vce-button--background-color-amber {
        #vce-button > .double-line (@background-color: transparent; @background-color-hover: @color-amber-hover);
      }
      &.vce-button--border-color-amber {
        #vce-button > .double-line (@border-color: @color-amber; @border-color-hover: @color-amber-hover);
      }
      // canary
      &.vce-button--text-color-canary {
        #vce-button > .double-line (@text-color: @color-canary; @text-color-hover: @color-canary-hover);
      }
      &.vce-button--background-color-canary {
        #vce-button > .double-line (@background-color: transparent; @background-color-hover: @color-canary-hover);
      }
      &.vce-button--border-color-canary {
        #vce-button > .double-line (@border-color: @color-canary; @border-color-hover: @color-canary-hover);
      }
      // olive
      &.vce-button--text-color-olive {
        #vce-button > .double-line (@text-color: @color-olive; @text-color-hover: @color-olive-hover);
      }
      &.vce-button--background-color-olive {
        #vce-button > .double-line (@background-color: transparent; @background-color-hover: @color-olive-hover);
      }
      &.vce-button--border-color-olive {
        #vce-button > .double-line (@border-color: @color-olive; @border-color-hover: @color-olive-hover);
      }
      // pear
      &.vce-button--text-color-pear {
        #vce-button > .double-line (@text-color: @color-pear; @text-color-hover: @color-pear-hover);
      }
      &.vce-button--background-color-pear {
        #vce-button > .double-line (@background-color: transparent; @background-color-hover: @color-pear-hover);
      }
      &.vce-button--border-color-pear {
        #vce-button > .double-line (@border-color: @color-pear; @border-color-hover: @color-pear-hover);
      }
      // teal
      &.vce-button--text-color-teal {
        #vce-button > .double-line (@text-color: @color-teal; @text-color-hover: @color-teal-hover);
      }
      &.vce-button--background-color-teal {
        #vce-button > .double-line (@background-color: transparent; @background-color-hover: @color-teal-hover);
      }
      &.vce-button--border-color-teal {
        #vce-button > .double-line (@border-color: @color-teal; @border-color-hover: @color-teal-hover);
      }
      // turquoise
      &.vce-button--text-color-turquoise {
        #vce-button > .double-line (@text-color: @color-turquoise; @text-color-hover: @color-turquoise-hover);
      }
      &.vce-button--background-color-turquoise {
        #vce-button > .double-line (@background-color: transparent; @background-color-hover: @color-turquoise-hover);
      }
      &.vce-button--border-color-turquoise {
        #vce-button > .double-line (@border-color: @color-turquoise; @border-color-hover: @color-turquoise-hover);
      }
      // sapphire
      &.vce-button--text-color-sapphire {
        #vce-button > .double-line (@text-color: @color-sapphire; @text-color-hover: @color-sapphire-hover);
      }
      &.vce-button--background-color-sapphire {
        #vce-button > .double-line (@background-color: transparent; @background-color-hover: @color-sapphire-hover);
      }
      &.vce-button--border-color-sapphire {
        #vce-button > .double-line (@border-color: @color-sapphire; @border-color-hover: @color-sapphire-hover);
      }
      // picton-blue
      &.vce-button--text-color-picton-blue {
        #vce-button > .double-line (@text-color: @color-picton-blue; @text-color-hover: @color-picton-blue-hover);
      }
      &.vce-button--background-color-picton-blue {
        #vce-button > .double-line (@background-color: transparent; @background-color-hover: @color-picton-blue-hover);
      }
      &.vce-button--border-color-picton-blue {
        #vce-button > .double-line (@border-color: @color-picton-blue; @border-color-hover: @color-picton-blue-hover);
      }
      // vivid-violet
      &.vce-button--text-color-vivid-violet {
        #vce-button > .double-line (@text-color: @color-vivid-violet; @text-color-hover: @color-vivid-violet-hover);
      }
      &.vce-button--background-color-vivid-violet {
        #vce-button > .double-line (@background-color: transparent; @background-color-hover: @color-vivid-violet-hover);
      }
      &.vce-button--border-color-vivid-violet {
        #vce-button > .double-line (@border-color: @color-vivid-violet; @border-color-hover: @color-vivid-violet-hover);
      }
      // amethyst
      &.vce-button--text-color-amethyst {
        #vce-button > .double-line (@text-color: @color-amethyst; @text-color-hover: @color-amethyst-hover);
      }
      &.vce-button--background-color-amethyst {
        #vce-button > .double-line (@background-color: transparent; @background-color-hover: @color-amethyst-hover);
      }
      &.vce-button--border-color-amethyst {
        #vce-button > .double-line (@border-color: @color-amethyst; @border-color-hover: @color-amethyst-hover);
      }
      // old-brick
      &.vce-button--text-color-old-brick {
        #vce-button > .double-line (@text-color: @color-old-brick; @text-color-hover: @color-old-brick-hover);
      }
      &.vce-button--background-color-old-brick {
        #vce-button > .double-line (@background-color: transparent; @background-color-hover: @color-old-brick-hover);
      }
      &.vce-button--border-color-old-brick {
        #vce-button > .double-line (@border-color: @color-old-brick; @border-color-hover: @color-old-brick-hover);
      }
      // hopbush
      &.vce-button--text-color-hopbush {
        #vce-button > .double-line (@text-color: @color-hopbush; @text-color-hover: @color-hopbush-hover);
      }
      &.vce-button--background-color-hopbush {
        #vce-button > .double-line (@background-color: transparent; @background-color-hover: @color-hopbush-hover);
      }
      &.vce-button--border-color-hopbush {
        #vce-button > .double-line (@border-color: @color-hopbush; @border-color-hover: @color-hopbush-hover);
      }
    }

    //Simple double-outline button
    &-double-outline {
      &,
      a&,
      button& {
        transition: all @vce-button-transition-duration @vce-button-transition-timing-function;
        // fix for transition if the background has a background-color property
        z-index: 1;
        border-radius: 0;
        border-style: @vce-button-double-line-border-style;
        border-width: 1px;
        &::before, &::after {
          // Inherit the border radius from the parent element.
          border-radius: inherit;
          box-sizing: border-box;
          content: "";
          position: absolute;
          transition: all @vce-button-transition-duration @vce-button-transition-timing-function;
          height: 100%;
          top: 0;
          left: 0;
        }

        /*The before element simulates border*/
        &::before {
          border-width: 1px;
          border-style: @vce-button-outline-border-style;
          bottom: 1px;
          box-sizing: border-box;
          height: auto;
          left: 1px;
          right: 1px;
          top: 1px;
          width: auto;
          z-index: @vce-button-double-line-z-background;
        }

        &::after {
          z-index: @vce-button-double-line-z-overlay;
          width: 0;
        }

        &:hover, &:active, &:focus {
          &::after {
            width: 100%;
          }
        }
        // default
        &.vce-button--text-color-default {
          #vce-button > .double-line (@text-color: @color-default; @text-color-hover: @color-default-hover);
        }
        &.vce-button--background-color-default {
          #vce-button > .double-line (@background-color: transparent; @background-color-hover: @color-default-hover);
        }
        &.vce-button--border-color-default {
          #vce-button > .double-line (@border-color: @color-default; @border-color-hover: @color-default-hover);
        }
        // silver
        &.vce-button--text-color-silver {
          #vce-button > .double-line (@text-color: @color-silver; @text-color-hover: @color-silver-hover);
        }
        &.vce-button--background-color-silver {
          #vce-button > .double-line (@background-color: transparent; @background-color-hover: @color-silver-hover);
        }
        &.vce-button--border-color-silver {
          #vce-button > .double-line (@border-color: @color-silver; @border-color-hover: @color-silver-hover);
        }
        // white
        &.vce-button--text-color-white {
          #vce-button > .double-line (@text-color: @color-white; @text-color-hover: @color-white-hover);
        }
        &.vce-button--background-color-white {
          #vce-button > .double-line (@background-color: transparent; @background-color-hover: @color-white-hover);
        }
        &.vce-button--border-color-white {
          #vce-button > .double-line (@border-color: @color-white; @border-color-hover: @color-white-hover);
        }
        // nero
        &.vce-button--text-color-nero {
          #vce-button > .double-line (@text-color: @color-nero; @text-color-hover: @color-nero-hover);
        }
        &.vce-button--background-color-nero {
          #vce-button > .double-line (@background-color: transparent; @background-color-hover: @color-nero-hover);
        }
        &.vce-button--border-color-nero {
          #vce-button > .double-line (@border-color: @color-nero; @border-color-hover: @color-nero-hover);
        }
        // mortar
        &.vce-button--text-color-mortar {
          #vce-button > .double-line (@text-color: @color-mortar; @text-color-hover: @color-mortar-hover);
        }
        &.vce-button--background-color-mortar {
          #vce-button > .double-line (@background-color: transparent; @background-color-hover: @color-mortar-hover);
        }
        &.vce-button--border-color-mortar {
          #vce-button > .double-line (@border-color: @color-mortar; @border-color-hover: @color-mortar-hover);
        }
        // fire-brick
        &.vce-button--text-color-fire-brick {
          #vce-button > .double-line (@text-color: @color-fire-brick; @text-color-hover: @color-fire-brick-hover);
        }
        &.vce-button--background-color-fire-brick {
          #vce-button > .double-line (@background-color: transparent; @background-color-hover: @color-fire-brick-hover);
        }
        &.vce-button--border-color-fire-brick {
          #vce-button > .double-line (@border-color: @color-fire-brick; @border-color-hover: @color-fire-brick-hover);
        }
        // coral
        &.vce-button--text-color-coral {
          #vce-button > .double-line (@text-color: @color-coral; @text-color-hover: @color-coral-hover);
        }
        &.vce-button--background-color-coral {
          #vce-button > .double-line (@background-color: transparent; @background-color-hover: @color-coral-hover);
        }
        &.vce-button--border-color-coral {
          #vce-button > .double-line (@border-color: @color-coral; @border-color-hover: @color-coral-hover);
        }
        // medium-wood
        &.vce-button--text-color-medium-wood {
          #vce-button > .double-line (@text-color: @color-medium-wood; @text-color-hover: @color-medium-wood-hover);
        }
        &.vce-button--background-color-medium-wood {
          #vce-button > .double-line (@background-color: transparent; @background-color-hover: @color-medium-wood-hover);
        }
        &.vce-button--border-color-medium-wood {
          #vce-button > .double-line (@border-color: @color-medium-wood; @border-color-hover: @color-medium-wood-hover);
        }
        // amber
        &.vce-button--text-color-amber {
          #vce-button > .double-line (@text-color: @color-amber; @text-color-hover: @color-amber-hover);
        }
        &.vce-button--background-color-amber {
          #vce-button > .double-line (@background-color: transparent; @background-color-hover: @color-amber-hover);
        }
        &.vce-button--border-color-amber {
          #vce-button > .double-line (@border-color: @color-amber; @border-color-hover: @color-amber-hover);
        }
        // canary
        &.vce-button--text-color-canary {
          #vce-button > .double-line (@text-color: @color-canary; @text-color-hover: @color-canary-hover);
        }
        &.vce-button--background-color-canary {
          #vce-button > .double-line (@background-color: transparent; @background-color-hover: @color-canary-hover);
        }
        &.vce-button--border-color-canary {
          #vce-button > .double-line (@border-color: @color-canary; @border-color-hover: @color-canary-hover);
        }
        // olive
        &.vce-button--text-color-olive {
          #vce-button > .double-line (@text-color: @color-olive; @text-color-hover: @color-olive-hover);
        }
        &.vce-button--background-color-olive {
          #vce-button > .double-line (@background-color: transparent; @background-color-hover: @color-olive-hover);
        }
        &.vce-button--border-color-olive {
          #vce-button > .double-line (@border-color: @color-olive; @border-color-hover: @color-olive-hover);
        }
        // pear
        &.vce-button--text-color-pear {
          #vce-button > .double-line (@text-color: @color-pear; @text-color-hover: @color-pear-hover);
        }
        &.vce-button--background-color-pear {
          #vce-button > .double-line (@background-color: transparent; @background-color-hover: @color-pear-hover);
        }
        &.vce-button--border-color-pear {
          #vce-button > .double-line (@border-color: @color-pear; @border-color-hover: @color-pear-hover);
        }
        // teal
        &.vce-button--text-color-teal {
          #vce-button > .double-line (@text-color: @color-teal; @text-color-hover: @color-teal-hover);
        }
        &.vce-button--background-color-teal {
          #vce-button > .double-line (@background-color: transparent; @background-color-hover: @color-teal-hover);
        }
        &.vce-button--border-color-teal {
          #vce-button > .double-line (@border-color: @color-teal; @border-color-hover: @color-teal-hover);
        }
        // turquoise
        &.vce-button--text-color-turquoise {
          #vce-button > .double-line (@text-color: @color-turquoise; @text-color-hover: @color-turquoise-hover);
        }
        &.vce-button--background-color-turquoise {
          #vce-button > .double-line (@background-color: transparent; @background-color-hover: @color-turquoise-hover);
        }
        &.vce-button--border-color-turquoise {
          #vce-button > .double-line (@border-color: @color-turquoise; @border-color-hover: @color-turquoise-hover);
        }
        // sapphire
        &.vce-button--text-color-sapphire {
          #vce-button > .double-line (@text-color: @color-sapphire; @text-color-hover: @color-sapphire-hover);
        }
        &.vce-button--background-color-sapphire {
          #vce-button > .double-line (@background-color: transparent; @background-color-hover: @color-sapphire-hover);
        }
        &.vce-button--border-color-sapphire {
          #vce-button > .double-line (@border-color: @color-sapphire; @border-color-hover: @color-sapphire-hover);
        }
        // picton-blue
        &.vce-button--text-color-picton-blue {
          #vce-button > .double-line (@text-color: @color-picton-blue; @text-color-hover: @color-picton-blue-hover);
        }
        &.vce-button--background-color-picton-blue {
          #vce-button > .double-line (@background-color: transparent; @background-color-hover: @color-picton-blue-hover);
        }
        &.vce-button--border-color-picton-blue {
          #vce-button > .double-line (@border-color: @color-picton-blue; @border-color-hover: @color-picton-blue-hover);
        }
        // vivid-violet
        &.vce-button--text-color-vivid-violet {
          #vce-button > .double-line (@text-color: @color-vivid-violet; @text-color-hover: @color-vivid-violet-hover);
        }
        &.vce-button--background-color-vivid-violet {
          #vce-button > .double-line (@background-color: transparent; @background-color-hover: @color-vivid-violet-hover);
        }
        &.vce-button--border-color-vivid-violet {
          #vce-button > .double-line (@border-color: @color-vivid-violet; @border-color-hover: @color-vivid-violet-hover);
        }
        // amethyst
        &.vce-button--text-color-amethyst {
          #vce-button > .double-line (@text-color: @color-amethyst; @text-color-hover: @color-amethyst-hover);
        }
        &.vce-button--background-color-amethyst {
          #vce-button > .double-line (@background-color: transparent; @background-color-hover: @color-amethyst-hover);
        }
        &.vce-button--border-color-amethyst {
          #vce-button > .double-line (@border-color: @color-amethyst; @border-color-hover: @color-amethyst-hover);
        }
        // old-brick
        &.vce-button--text-color-old-brick {
          #vce-button > .double-line (@text-color: @color-old-brick; @text-color-hover: @color-old-brick-hover);
        }
        &.vce-button--background-color-old-brick {
          #vce-button > .double-line (@background-color: transparent; @background-color-hover: @color-old-brick-hover);
        }
        &.vce-button--border-color-old-brick {
          #vce-button > .double-line (@border-color: @color-old-brick; @border-color-hover: @color-old-brick-hover);
        }
        // hopbush
        &.vce-button--text-color-hopbush {
          #vce-button > .double-line (@text-color: @color-hopbush; @text-color-hover: @color-hopbush-hover);
        }
        &.vce-button--background-color-hopbush {
          #vce-button > .double-line (@background-color: transparent; @background-color-hover: @color-hopbush-hover);
        }
        &.vce-button--border-color-hopbush {
          #vce-button > .double-line (@border-color: @color-hopbush; @border-color-hover: @color-hopbush-hover);
        }
      }
    }

    //Simple solid button
    &-flat {
      &,
      a&,
      button& {
        border-radius: @vce-button-flat-border-radius;
        transition: all @vce-button-transition-duration @vce-button-transition-timing-function;
        // default
        &.vce-button--text-color-default {
          #vce-button > .color (@text-color: @color-default; @text-color-hover: @color-default-hover);
        }
        &.vce-button--background-color-default {
          #vce-button > .color (@background-color: @color-default; @background-color-hover: @color-default-hover);
        }
        // silver
        &.vce-button--text-color-silver {
          #vce-button > .color (@text-color: @color-silver; @text-color-hover: @color-silver-hover);
        }
        &.vce-button--background-color-silver {
          #vce-button > .color (@background-color: @color-silver; @background-color-hover: @color-silver-hover);
        }
        // white
        &.vce-button--text-color-white {
          #vce-button > .color (@text-color: @color-white; @text-color-hover: @color-white-hover);
        }
        &.vce-button--background-color-white {
          #vce-button > .color (@background-color: @color-white; @background-color-hover: @color-white-hover);
        }
        // nero
        &.vce-button--text-color-nero {
          #vce-button > .color (@text-color: @color-nero; @text-color-hover: @color-nero-hover);
        }
        &.vce-button--background-color-nero {
          #vce-button > .color (@background-color: @color-nero; @background-color-hover: @color-nero-hover);
        }
        // mortar
        &.vce-button--text-color-mortar {
          #vce-button > .color (@text-color: @color-mortar; @text-color-hover: @color-mortar-hover);
        }
        &.vce-button--background-color-mortar {
          #vce-button > .color (@background-color: @color-mortar; @background-color-hover: @color-mortar-hover);
        }
        // fire-brick
        &.vce-button--text-color-fire-brick {
          #vce-button > .color (@text-color: @color-fire-brick; @text-color-hover: @color-fire-brick-hover);
        }
        &.vce-button--background-color-fire-brick {
          #vce-button > .color (@background-color: @color-fire-brick; @background-color-hover: @color-fire-brick-hover);
        }
        // coral
        &.vce-button--text-color-coral {
          #vce-button > .color (@text-color: @color-coral; @text-color-hover: @color-coral-hover);
        }
        &.vce-button--background-color-coral {
          #vce-button > .color (@background-color: @color-coral; @background-color-hover: @color-coral-hover);
        }
        // medium-wood
        &.vce-button--text-color-medium-wood {
          #vce-button > .color (@text-color: @color-medium-wood; @text-color-hover: @color-medium-wood-hover);
        }
        &.vce-button--background-color-medium-wood {
          #vce-button > .color (@background-color: @color-medium-wood; @background-color-hover: @color-medium-wood-hover);
        }
        // amber
        &.vce-button--text-color-amber {
          #vce-button > .color (@text-color: @color-amber; @text-color-hover: @color-amber-hover);
        }
        &.vce-button--background-color-amber {
          #vce-button > .color (@background-color: @color-amber; @background-color-hover: @color-amber-hover);
        }
        // canary
        &.vce-button--text-color-canary {
          #vce-button > .color (@text-color: @color-canary; @text-color-hover: @color-canary-hover);
        }
        &.vce-button--background-color-canary {
          #vce-button > .color (@background-color: @color-canary; @background-color-hover: @color-canary-hover);
        }
        // olive
        &.vce-button--text-color-olive {
          #vce-button > .color (@text-color: @color-olive; @text-color-hover: @color-olive-hover);
        }
        &.vce-button--background-color-olive {
          #vce-button > .color (@background-color: @color-olive; @background-color-hover: @color-olive-hover);
        }
        // pear
        &.vce-button--text-color-pear {
          #vce-button > .color (@text-color: @color-pear; @text-color-hover: @color-pear-hover);
        }
        &.vce-button--background-color-pear {
          #vce-button > .color (@background-color: @color-pear; @background-color-hover: @color-pear-hover);
        }
        // teal
        &.vce-button--text-color-teal {
          #vce-button > .color (@text-color: @color-teal; @text-color-hover: @color-teal-hover);
        }
        &.vce-button--background-color-teal {
          #vce-button > .color (@background-color: @color-teal; @background-color-hover: @color-teal-hover);
        }
        // turquoise
        &.vce-button--text-color-turquoise {
          #vce-button > .color (@text-color: @color-turquoise; @text-color-hover: @color-turquoise-hover);
        }
        &.vce-button--background-color-turquoise {
          #vce-button > .color (@background-color: @color-turquoise; @background-color-hover: @color-turquoise-hover);
        }
        
        // sapphire
        &.vce-button--text-color-sapphire {
          #vce-button > .color (@text-color: @color-sapphire; @text-color-hover: @color-sapphire-hover);
        }
        &.vce-button--background-color-sapphire {
          #vce-button > .color (@background-color: @color-sapphire; @background-color-hover: @color-sapphire-hover);
        }
        // picton-blue
        &.vce-button--text-color-picton-blue {
          #vce-button > .color (@text-color: @color-picton-blue; @text-color-hover: @color-picton-blue-hover);
        }
        &.vce-button--background-color-picton-blue {
          #vce-button > .color (@background-color: @color-picton-blue; @background-color-hover: @color-picton-blue-hover);
        }
        // vivid-violet
        &.vce-button--text-color-vivid-violet {
          #vce-button > .color (@text-color: @color-vivid-violet; @text-color-hover: @color-vivid-violet-hover);
        }
        &.vce-button--background-color-vivid-violet {
          #vce-button > .color (@background-color: @color-vivid-violet; @background-color-hover: @color-vivid-violet-hover);
        }
        // amethyst
        &.vce-button--text-color-amethyst {
          #vce-button > .color (@text-color: @color-amethyst; @text-color-hover: @color-amethyst-hover);
        }
        &.vce-button--background-color-amethyst {
          #vce-button > .color (@background-color: @color-amethyst; @background-color-hover: @color-amethyst-hover);
        }
        // old-brick
        &.vce-button--text-color-old-brick {
          #vce-button > .color (@text-color: @color-old-brick; @text-color-hover: @color-old-brick-hover);
        }
        &.vce-button--background-color-old-brick {
          #vce-button > .color (@background-color: @color-old-brick; @background-color-hover: @color-old-brick-hover);
        }
        // hopbush
        &.vce-button--text-color-hopbush {
          #vce-button > .color (@text-color: @color-hopbush; @text-color-hover: @color-hopbush-hover);
        }
        &.vce-button--background-color-hopbush {
          #vce-button > .color (@background-color: @color-hopbush; @background-color-hover: @color-hopbush-hover);
        }
      }
    }
  }


  // shapes
  &--border {
    &-rounded, &-round {
      &,
      a&,
      button& {
        position: relative;
        overflow: hidden;
      }
    }
    &-rounded {
      &,
      a&,
      button& {
        border-radius: @vce-button-rounded;
      }
    }

    &-round {
      &,
      a&,
      button& {
        border-radius: @vce-button-round;
      }
    }
  }

  // arrow icon
  &--icon-state-visible {
    .vce-button__icon {
      position: absolute;
      opacity: 0;
      transition: all @vce-button-transition-duration @vce-button-transition-timing-function;
      top: 50%;
      transform: translateY(-50%);
      right: @vce-button-padding-horizontal;
    }
    &:hover,
    &:focus{
      padding-left: @vce-button-padding-horizontal - (@vce-button-padding-horizontal / 2);
      padding-right: @vce-button-padding-horizontal + (@vce-button-padding-horizontal / 2);
      .vce-button__icon {
        opacity: 1;
        transform: translateY(-50%) translateX(-100%);
        right: 0;
      }
    }
  }
}

// RTL support
.rtl,
[dir="rlt"] {
  &.vce-button,
  .vce-button {
    direction: rtl;
    unicode-bidi: embed;
  }
}

// LTR
.ltr,
[dir="ltr"] {
  &.vce-button,
  .vce-button {
    direction: ltr;
    unicode-bidi: normal;
  }
}



