.vce-flickr-image img {
  height: auto;
}

.vce-flickr-image--align-center {
  text-align: center;
}

.vce-flickr-image--align-right {
  text-align: right;
}

.vce-flickr-image--align-left {
  text-align: left;
}

.vce-flickr-image.vce-flickr-image-disabled {
  position: relative;
}

.vce-flickr-image.vce-flickr-image-disabled::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 999;
}