.vcv-blank-page-container {
  max-width: @page-container-max-width;
  margin: @page-container-margin auto;
  padding: 0 @page-container-side-padding;
  font-family: @text-family-base;
}

.vcv-blank-page-heading-container {
  margin: 0 0 @header-margin-bottom;
  text-align: center;
}

.vcv-blank-page-heading {
  display: inline-block;
  font-family: inherit;
  font-size: @header-font-size;
}

.vcv-blank-page-controls-container {
  margin: 0 auto;
}

.vcv-blank-page-controls-row {
  display: flex;
  flex-flow: row wrap;
  margin: 0 @controls-row-side-margin;
}

.vcv-ui-element-control {
  position: relative;
  width: @button-size;
  height: @button-size;
  padding: @button-padding;
  margin: @control-margin;
  border: none;
  border-radius: @border-radius;
  color: @text-color-base;
  background: @color-base;
  cursor: pointer;
  text-decoration: none;
  transition: background @vcv-transition-duration @vcv-transition-timing-function;
  vertical-align: middle;
  outline: none;
  overflow: visible;

  &:hover {
    background: @control-hover-color;
  }

  &--row {
    &:hover {
      background: @row-hover-color;
    }
  }

  &--add {
    &:hover {
      background: @color-base-active;
    }
  }

  &--template {
    flex-grow: 1;
    transition: background @vcv-transition-duration @vcv-transition-timing-function;

    &:hover {
      background: @template-hover-color;
    }
  }

  &--full-width {
    flex: 0 1 100%;
  }

  .vcv-ui-icon {
    width: @control-icon-width;
    height: @control-icon-height;
    position: absolute;
    top: @control-icon-position-value;
    left: @control-icon-position-value;
    transform: translate(-@control-icon-position-value, -@control-icon-position-value);
    font-size: @control-element-font-size;

    &::before {
      position: absolute;
      top: @control-icon-position-value;
      left: @control-icon-position-value;
      transform: translate(-@control-icon-position-value, -@control-icon-position-value);
      font-size: @control-icon-font-size;
    }

    &-template:before {
      font-size: @control-icon-template-font-size;
    }
  }
}

.vcv-ui-element-control-label {
  display: none;
  font-family: inherit;
}

.vcv-ui-element-controls--lock-width {
  flex-flow: column wrap;
  align-content: stretch;
  align-items: stretch;

  .vcv-ui-element-control {
    padding: 0 @button-padding;
    width: auto;
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-items: center;
    font-size: @control-element-font-size;
    text-align: left;
  }

  .vcv-ui-element-control-content {
    display: flex;
    align-items: center;
  }

  .vcv-ui-element-control-label {
    display: inline-block;
    font-size: @control-element-label-font-size;
    margin-left: @control-label-margin-left;
  }

  .vcv-ui-icon{
    position: relative;
    top: initial;
    left: initial;
    transform: initial;
    font-size: initial;
  }
}

.vcv-blank-page-description-container {
  display: block;
  min-height: @description-min-height;
  margin-top: @description-top-margin;
  font-family: @text-family-base;
  font-size: @description-font-size;
  font-style: italic;
  opacity: 0;
  transition: opacity @vcv-transition-duration @vcv-transition-timing-function;

  &.vcv-blank-page-description-active {
    opacity:1;
  }
}

