.vcv-blank-page-container {
  max-width: 500px;
  margin: @page-container-margin auto;
  padding: 0 @page-container-side-padding;
}

.vcv-blank-page-heading-container {
  margin: 0 0 @header-margin-bottom;
  text-align: center;
}

.vcv-blank-page-heading {
  display: inline-block;
  font-family: @text-family-base;
  font-size: @header-font-size;
}

.vcv-blank-page-controls-container {
  margin: 0 auto;
}

.vcv-blank-page-controls-row {
  display: flex;
  flex-flow: row wrap;
  margin: 0 @controls-row-side-margin;
}

.vcv-ui-element-control {
  position: relative;
  width: @button-size;
  height: @button-size;
  padding: @button-padding;
  margin: @control-margin;
  border: none;
  border-radius: @border-radius;
  color: @text-color-base;
  background: @color-base;
  cursor: pointer;
  text-decoration: none;
  transition: background @vcv-transition-duration @vcv-transition-timing-function;
  vertical-align: middle;
  outline: none;

  &:hover {
    background: @control-hover-color;
  }

  &--row {
    &:hover {
      background: @row-hover-color;
    }
  }

  &--add {
    &:hover {
      background: @color-base-active;
    }
  }

  &--template {
    flex-grow: 1;
    transition: background @vcv-transition-duration @vcv-transition-timing-function;

    &:hover {
      background: @template-hover-color;
    }
  }

  > img {
    width: 3em;
    height: 2.3em;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 1.2em;
  }
}

.vcv-blank-page-description-container {
  margin-top: @description-top-margin;
  font-family: @text-family-base;
  font-size: 14px;
  font-style: italic;

  &:not(.vcv-blank-page-description-active) {
    display: none;
  }
}

/* Temporary solution for preview */

.blog-main {
  width: 100% !important;
}

.blog-sidebar,
.blog-header {
  display: none;
}
