@page-container-margin: 30px;
@page-container-side-padding: 20px;
@page-container-max-width: 500px;

@header-font-size: 26px;
@header-margin-bottom: 25px;

@controls-row-side-margin: -10px;
@control-margin: 10px;
@control-element-font-size: 1.2em;
@control-element-label-font-size: .8em;
@control-label-margin-left: 16px;

@control-icon-width: 50px;
@control-icon-height: 50px;
@control-icon-position-value: 50%;
@control-icon-font-size: 23px;
@control-icon-template-font-size: 30px;

@description-top-margin: 20px;
@description-font-size: 14px;

@border-radius: 3px;

@button-padding: 10px;
@button-size: 60px;

@control-hover-color: #6dab3c;
@template-hover-color: #fec53f;
@row-hover-color: #4673bd;