@page-container-margin: 30px;
@page-container-side-padding: 20px;

@header-font-size: 26px;
@header-margin-bottom: 25px;

@controls-row-side-margin: -10px;
@control-margin: 10px;

@description-top-margin: 20px;

@border-radius: 3px;

@button-padding: 10px;
@button-size: 60px;

@control-hover-color: #6dab3c;
@template-hover-color: #fec53f;
@row-hover-color: #4673bd;