/* ===================================
 * Visual composer editor Drag handler styles
 * =================================== */
//== drag handler
.vcv-ui-drag-handler {
  cursor: move;
  min-height: @handler-gold-value;
  min-width: @handler-gold-value;
  user-select: none;
  position: relative;
  opacity: @handler-opacity;
}
.vcv-ui-drag-handler-icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}