.vce-column-resizer {
  position: relative;
  width: 0;
  align-self: stretch;
  display: block;
}

.vce-column-resizer-handler {
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: @resizer-background;

  &:before {
    content: "";
    position: absolute;
    border-right: @resizer-handler-width dashed @resizer-handler-color;
    top: 0;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    cursor: col-resize;
  }
}

.vce-col--last + .vce-column-resizer {
  display: none;
}

.vce-column-resizer-label-container {
  position: absolute;
  left: 0;
  right: 0;
}

.vce-column-resizer-label {
  color: #fff;
  font-size: 12px;
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  position: relative;
  margin-top: -12px;

  &.vce-column-resizer-label-left {
    float: left;
    margin-left: -50px;
  }

  &.vce-column-resizer-label-right {
    float: right;
    margin-right: -50px;
  }

}

.vce-column-resizer-label-left {
  .vce-column-resizer-label-percentage {
    right: 4px;
    left: 0;
  }
}

.vce-column-resizer-label-right {
  .vce-column-resizer-label-percentage {
    left: 4px;
    right: 0;
  }
}

.vce-column-resizer-label-percentage {
  position: absolute;
  line-height: 23px;
  text-align: center;
}