.vcv-state--show-resizer .vce-column-resizer,
.vce-column-resizer.vce-column-resizer--active {
  opacity: 1;
  visibility: visible;
}

.vce-column-resizer.vce-column-resizer--hidden {
  opacity: 0;
  visibility: hidden;
}

.vce-column-resizer {
  align-self: stretch;
  visibility: hidden;
  position: relative;
  width: 0;
  opacity: 0;
}

.vce-row-resizer-wrap {
  transition: opacity .4s ease-in-out;
  position: absolute;
  display: block;
  height: 100%;
  z-index: 10;
  opacity: 0;
  width: 0;
  top: 0;

  &.vce-row-resizer-left {
    left: 0;
  }

  &.vce-row-resizer-right {
    right: 0;
  }

  .vce-row-resizer-inner {
    transform: translateX(-50%);
    border-radius: 15px;
    position: absolute;
    display: block;
    margin: auto;
    height: 29px;
    bottom: 0;
    top: 0;

    .vce-row-resizer-inner-wrap {
      position: relative;
      height: 29px;

      .vce-row-resizer-handler {
        transition: width @vcv-transition-duration @vcv-transition-timing-function,
        background @vcv-transition-duration @vcv-transition-timing-function,
        color @vcv-transition-duration @vcv-transition-timing-function;
        background: @vcv-resizer-background-color;
        font-family: 'Nunito Sans', sans-serif;
        transform: translateX(-50%);
        justify-content: center;
        align-items: center;
        border-radius: 15px;
        position: absolute;
        color: transparent;
        font-weight: bold;
        user-select: none;
        font-size: 12px;
        direction: ltr;
        display: flex;
        height: 100%;
        z-index: 10;
        width: 14px;
        top: 0;

        &:hover {
          background-color: @vcv-color-lucky-point;
          color: #ffffff;
          width: 90px;
        }

        .vce-row-resizer-resize,
        .vce-row-resizer-add {
          justify-content: center;
          align-items: center;
          display: flex;
          flex: 1;
        }

        .vce-row-resizer-add {
          border-radius: 15px 0 0 15px;
          cursor: pointer;
          right: 0;
        }

        .vce-row-resizer-resize {
          border-radius: 0 15px 15px 0;
          cursor: col-resize;
          position: relative;
          z-index: 10;
          left: 0;

          &.dragging{
            &:before{
              content: '';
              display: block;
              width: 100%;
              height: 80px;
              background-color: transparent;
              top: -33px;
              left: 0;
              position: absolute;
            }
          }
        }
      }
    }
  }
}

.vce-row-container:hover {
  .vce-row-resizer-wrap {
    opacity: 1;
  }
}

.vce-column-resizer-handler {
  justify-content: center;
  align-items: center;
  cursor: col-resize;
  position: absolute;
  display: flex;
  z-index: 999;
  bottom: 0;
  right: 0;
  top: 0;

  &:before {
    border-right: @resizer-handler-width dashed @resizer-handler-color;
    transform: translateX(-50%);
    position: absolute;
    display: block;
    content: "";
    bottom: 0;
    left: 50%;
    top: 0;
  }
}

.rtl .vce-column-resizer-handler,
.rtl.vce-column-resizer-handler {
  left: 0;
  right: auto;
}

.vce-row--col-gap-0 .vce-column-resizer {
  .vce-column-resizer-handler {
    width: 2px;
    transform: translate(50%);
  }
}

.vce-column-resizer-label-container {
  position: relative;
  height: 29px;

  &::before {
    z-index: 99999;
    content: '';
    position: absolute;
    width: @vcv-resizer-dot-size;
    height: @vcv-resizer-dot-size;
    background: @vcv-color-white;
    border-radius: 50%;
    transform: translate(-50%, 13px);
    box-shadow: 0 5px @vcv-color-white, 0 -5px @vcv-color-white;
  }

  &.vce-column-resizer-label-container--active {
    .vce-column-resizer-label {
      width: 45px;
      opacity: 1;
      background: @vcv-color-lucky-point;
    }

    .vce-column-resizer-label-percentage {
      opacity: 1;
    }
  }
}

.vce-column-resizer-label {
  position: absolute;
  top: 0;
  width: 7px;
  height: 100%;
  color: @vcv-color-white;
  font-size: 12px;
  font-family: 'Nunito Sans', sans-serif;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  user-select: none;
  direction: ltr;
  z-index: 9999;
  background: @vcv-color-deep-space;
  background: @vcv-resizer-background-color;
  transition: width @vcv-transition-duration @vcv-transition-timing-function,
  background @vcv-transition-duration @vcv-transition-timing-function;

  &.vce-column-resizer-label-left {
    right: 0;
    border-radius: 15px 0 0 15px;
  }

  &.vce-column-resizer-label-right {
    left: 0;
    border-radius: 0 15px 15px 0;
  }
}

.vce-column-resizer-label-percentage {
  line-height: 0;
  opacity: 0;
  transition: opacity @vcv-transition-duration @vcv-transition-timing-function;
}

.vce-column-wrap-blocker {
  width: 100%;
  height: 0;
  opacity: 0;
  flex-basis: 0;
}

.vce-column-resizer-pointer {
  cursor: pointer;
}

.vce-col--all-last + .vce-column-resizer,
.vce-col--all-hide + .vce-column-resizer {
  display: none;
}

@media (min-width: 0) and (max-width: 543px) {
  .vce-col--xs-last + .vce-column-resizer,
  .vce-col--xs-hide + .vce-column-resizer {
    display: none;
  }
}

/* styles for mobile-landscape */
@media (min-width: 544px) and (max-width: 767px) {
  .vce-col--sm-last + .vce-column-resizer,
  .vce-col--sm-hide + .vce-column-resizer {
    display: none;
  }
}

/* styles for mobile-landscape */
@media (min-width: 768px) and (max-width: 991px) {
  .vce-col--md-last + .vce-column-resizer,
  .vce-col--md-hide + .vce-column-resizer {
    display: none;
  }
}

/* styles for mobile-landscape */
@media (min-width: 992px) and (max-width: 1199px) {
  .vce-col--lg-last + .vce-column-resizer,
  .vce-col--lg-hide + .vce-column-resizer {
    display: none;
  }
}

/* styles for mobile-landscape */
@media (min-width: 1200px) {
  .vce-col--xl-hide + .vce-column-resizer {
    display: none;
  }
}
