#vc_v-editor {
  .as_btn {
    cursor: pointer;
    color: white;
    font-size: 22px;
  }
  .navbar-brand {
    height: 57px;
  }
  .navbar-vc {
    background-image: url(../../../sources/images/background_flat.png);
  }
}
body {
  margin-top: 60px !important;
}
