#vc_v-editor {
  .as_btn {
    cursor: pointer;
    color: white;
    font-size: 22px;
  }
  .navbar-brand {
    height: 57px;
  }
  .navbar-vc {
    background-image: url(../../../sources/images/background_flat.png);
  }
}
.vc_v-modal-content {
  list-style: none;
  padding: 0;
  margin: 0;
  li {
    padding: 4px;
    margin: 0;
    display: inline-block;
    width: 84px;
    height: 54px;
    text-align: center;
    border: 1px solid #CCC;
    border-radius: 2px;
    margin: 1px;
    cursor: pointer;
    .glyphicon {
      font-size: 20px;
      color: black;
    }
  }
}
body {
  margin-top: 60px !important;
}
