[data-vcv-element] {
  [contenteditable] {
    &:focus {
      outline: none;
    }
  }
}
.vcv-ui-content-editable-helper-loader {
  display: flex;
  padding: 16px;
  min-width: 60px;
  min-height: 60px;
}
@import "../../ui/loader/init";
@wp-spinner-light-svg-src: '../../../images/loaders/spinner.svg';
