
.vcv-ui-form-attach-image {
  margin: 0 -@vcui-attach-image-gap/2;
}

.vcv-ui-form-attach-image-items {
  padding: 0;
  margin: 0;
  list-style: none;
  &::after {
    content: '  ';
    display: table;
    clear: both;
  }
}

//.vcv-ui-form-attach-image-items-dragging {
//  .vcv-ui-form-attach-image-item {
//    .vcv-ui-form-attach-image-item-controls {
//      opacity: 0;
//    }
//
//    &.vcv-ui-form-sortable-attach-image-item-inner-dragging {
//      .vcv-ui-form-attach-image-item-controls {
//        outline: none;
//        opacity: 1;
//      }
//    }
//  }
//}

.vcv-ui-form-attach-image-item {
  margin: @vcui-attach-image-gap/2;
  overflow: hidden;
  float: left;
}

.vcv-ui-form-attach-image-item-inner {
  position: relative;
}

.vcv-ui-form-attach-image-thumbnail {
  position: relative;
  height: @vcui-attach-image-size;
  width: @vcui-attach-image-size;
  margin: 0;
  padding: 0;
  #make-vcv-ui-form > .make-chess-background(@vcui-attach-image-grid-main-color, @vcui-attach-image-grid-secondary-color, @vcui-attach-image-grid-size);

  img {
    max-height: @vcui-attach-image-size;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: none;
    background-color: transparent;
  }
}

.vcv-ui-form-attach-image-item-controls {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: @vcui-attach-image-hover-bg;
  transition-duration: @vcui-form-transition-duration;
  transition-property: opacity;
  transition-timing-function: ease-in-out;
  opacity: 0;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: center;

  &:hover,
  &:focus {
    outline: none;
    opacity: 1;
  }
}

.vcv-ui-form-attach-image-item-control {
  flex: 0;
  outline: none;
  line-height: 1;
  text-decoration: none;
  color: @vcui-attach-image-icon-color;
  font-size: @vcui-attach-image-icon-size;
  height: 1em;
  width: 1em;
  box-sizing: content-box;
  padding: .5em;
  transition-duration: @vcui-form-transition-duration;
  transition-property: color;
  transition-timing-function: ease-in-out;
  cursor: pointer;

  &:hover {
    color: @vcui-attach-image-icon-color-hover;
  }
}

.vcv-ui-form-attach-image-item-control-state--danger {
  color: @vcui-attach-image-remove-color;
  &:hover {
    color: @vcui-attach-image-remove-color-hover;
  }
}

.vcv-ui-form-attach-image-control {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: center;
  position: relative;
  height: @vcui-attach-image-size;
  width: @vcui-attach-image-size;
  border: 1px dashed;
  line-height: 1;
  font-size: @vcui-attach-image-control-size;
  color: @vcui-attach-image-control-color;
  transition-duration: @vcui-form-transition-duration;
  transition-property: color;
  transition-timing-function: ease-in-out;
  cursor: pointer;
  &:hover,
  &:focus {
    color: @vcui-attach-image-control-color-hover;
  }
}

// url button styling

.vcv-ui-form-attach-image .vcv-ui-form-link .vcv-ui-form-link-button {
  padding: @vcui-attach-image-url-button-padding 0;
  width: 100%;
  font-size: @vcui-attach-image-url-button-font-size;
}

.vcv-ui-form-attach-image .vcv-ui-form-attach-image-item.vcv-ui-form-attach-image-item-has-link-value .vcv-ui-form-link .vcv-ui-form-link-button {
  &.vcv-ui-form-button--default {
    background-color: @vcui-button-default-background-hover;
    &.vcv-ui-state--active,
    &:hover {
      background-color: @vcui-button-default-background;
    }
  }
}

.vcv-ui-form-attach-image .vcv-ui-form-button .vcv-ui-icon + * {
  margin-left: .6em;
}

.vcv-ui-form-attach-image .vcv-ui-form-button .vcv-ui-icon {
  font-size: @vcui-attach-image-url-button-icon-size;
  vertical-align: initial;
}

.vcv-ui-form-attach-image .vcv-ui-form-link {
  margin-top: @vcui-attach-image-url-button-padding;
  margin-bottom: @vcui-attach-image-url-button-padding;
}

.vcv-ui-form-attach-image .vcv-ui-form-link-title {
  display: none;
}
