/* ===================================
 * Visual composer editor forms styles
 * =================================== */
// form group
.vcv-ui-form-group {
  border: 0;
  margin: 0 0 @vcui-form-margin-default 0;
}

.vcv-ui-form-group {
  a {
    color: @vcui-form-base-link-color;
    text-decoration: none;
    &:hover, &:active {
      color: @vcui-form-base-link-active-color;
    }
  }
}

.vcv-ui-form-group-heading {
  display: block;
  font-size: @vcui-form-group-heading-font-size;
  font-weight: 400;
  margin: 0 0 @vcui-form-margin-gold;
}

// form helpers
.vcv-ui-form-helper {
  clear: both;
  color: @vcui-form-helper-color;
  display: block;
  font-size: 1em;
  font-style: italic;
  line-height: normal;
  margin: @vcui-form-helper-margin;
}

.vcv-ui-form-message {
  &:extend(.vcv-ui-form-helper);
  padding-top: @vcui-form-message-padding-top;
  text-align: center;
}

//== Form group style
.vcv-ui-form-group-style--inline {
  .vcv-ui-form-group-heading {
    display: inline-block;
    vertical-align: baseline;
    margin: @vcui-form-inline-margin;
    &:first-child {
      margin-left: 0;
    }
  }
}