/* ===================================
 * Visual Composer Website Builder editor forms styles
 * =================================== */
// form group
.vcv-ui-form-group {
  border: 0;
  margin: 0 0 @vcui-form-group-margin-bottom 0;

  &.vcv-ui-form-group--has-inner-fields {
    margin-bottom: 0;
  }
}

.vcv-ui-form-group-heading {
  display: block;
  font-size: 12px;
  font-weight: 700;
  margin: 0 0 3px;
}

// form helpers
.vcv-ui-form-helper {
  clear: both;
  color: @vcui-form-helper-color;
  display: block;
  font-size: 0.9em;
  font-style: italic;
  line-height: normal;
  margin: @vcui-form-helper-margin;
}

.vcv-ui-form-message {
  &:extend(.vcv-ui-form-helper);
  padding-top: @vcui-form-message-padding-top;
  text-align: center;
}

//== Form group style
.vcv-ui-form-group-style--inline {
  .vcv-ui-form-group-heading {
    display: inline-block;
    vertical-align: baseline;
    margin: @vcui-form-inline-margin;
    &:first-child {
      margin-left: 0;
    }
  }
}

.vcv-ui-form-group-heading--inline {
  display: inline-block;
  margin-left: 10px;
}

.vcv-layout-header .vcv-ui-form-group {
  .vcv-ui-form-dropdown.vcv-ui-form-field-dynamic,
  .vcv-ui-form-input.vcv-ui-form-field-dynamic,
  .vcv-ui-form-field-dynamic-url.vcv-ui-form-field-dynamic {
    width: 92%;
    margin-right: 5px;
    display: inline-block;
  }

  .vcv-ui-form-attach-image.vcv-ui-form-field-dynamic {
    display: flex;
    align-items: center;

    .vcv-ui-form-attach-image-items {
      margin-right: 5px;
    }
  }
  .vcv-ui-form-input.vcv-ui-form-field-dynamic-extra {
    margin-top: 10px;
  }
}
