.vcv-ui-form-devices {
  margin: @vcui-form-radio-buttons-margin;
  .vcv-ui-form-button {
    position: relative;
    > input {
      opacity: 0;
      position: absolute;
      z-index: -1;
    }
  }
}
