// dropdown

.vcv-ui-form-dropdown {
  @arrow-padding: 2em;
  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAUCAMAAACzvE1FAAAADFBMVEUzMzMzMzMzMzMzMzMKAG/3AAAAA3RSTlMAf4C/aSLHAAAAPElEQVR42q3NMQ4AIAgEQTn//2cLdRKppSGzBYwzVXvznNWs8C58CiussPJj8h6NwgorrKRdTvuV9v16Afn0AYFOB7aYAAAAAElFTkSuQmCC) right 1em center no-repeat @vcui-form-input-background;
  background-size: 8px 10px;
  border: 1px solid @vcui-form-input-border-color;
  border-radius: @vcui-form-border-radius;
  box-sizing: border-box;
  color: @vcui-form-controls-color;
  display: inline-block;
  font-size: @vcui-form-font-size-base;
  font-weight: 400;
  height: auto;
  line-height: 1.5;
  outline: none;
  padding: @vcui-form-input-padding;
  padding-right: @arrow-padding;
  transition-duration: @vcui-form-transition-duration;
  transition-property: all;
  transition-timing-function: ease-in-out;
  vertical-align: middle;
  width: 100%;
  appearance: none;
  &:hover,
  &:focus,
  &.vcv-ui-form-state--focus {
    #make-vcv-ui-form > .property-darken-color(border-color, @vcui-form-input-border-color);
  }
  &:focus,
  &.vcv-ui-form-state--focus {
    animation: vcv-ui-form-shadow-blink @vcui-form-transition-duration * 2 ease-out;
    outline: none;
    #make-vcv-ui-form > .focus-blink-shadow();
  }
  &::-ms-expand {
    display: none;
  }

  &:disabled,
  &[disabled] {
    background-color: @vcui-form-input-disabled-background;
    border-color: @vcui-form-input-border-color;
    color: @vcui-form-input-disabled-color;
    cursor: not-allowed;
  }

  &:not(select) {
    width: auto;
    padding-right: @arrow-padding + .5;
  }
}

//== inline style
.vcv-ui-form-dropdown-style--inline {
  width: auto;
}