// Textual inputs (text, password, datetime, number, email, textarea)
// Additional .vcv-layout-header selector is used to override wordpress styles
.vcv-layout-header {
  .vcv-ui-form-input {
    background-color: @vcui-form-input-background;
    background-image: none;
    border: 1px solid @vcui-form-input-border-color;
    border-radius: @vcui-form-border-radius;
    color: @vcui-form-controls-color;
    font-size: 12px;
    font-weight: 400;
    line-height: @vcui-form-input-line-height;
    padding: 5px 14px;
    transition-duration: @vcui-form-transition-duration;
    transition-property: all;
    transition-timing-function: ease-in-out;
    width: 100%;
    height: initial;
    box-shadow: none;
    min-height: auto;
    &.vcv-ui-editor-save-preset-field, &.vcv-ui-editor-save-template-field {
      font-size: 14px;
    }
    &::-ms-clear {
      display: none;
    }
    &:hover,
    &:focus {
      #make-vcv-ui-form > .property-darken-color(border-color, @vcui-form-input-border-color);
    }
    &:focus {
      animation: vcv-ui-form-shadow-blink @vcui-form-transition-duration * 2 ease-out;
      #make-vcv-ui-form > .focus-blink-shadow();
    }
    &::placeholder {
      color: @vcui-form-input-placeholder-color;
      font-style: italic;
    }
    &:disabled,
    &[disabled],
    &[readonly] {
      background-color: @vcui-form-input-disabled-background;
      border-color: @vcui-form-input-border-color;
      color: @vcui-form-input-disabled-color;
      cursor: not-allowed;
    }
    &.vcv-ui-form-input--error {
      border-color: @state-color-error;
    }
  }

  textarea.vcv-ui-form-input {
    overflow: auto;
    resize: vertical;
    height: 10em;
  }

  .vcv-ui-form-input-group {
    display: flex;
    padding-left: 1px;

    // input
    .vcv-ui-form-input {
      flex-grow: 1;
      min-width: 50%;
      width: auto;
      position: relative;
      margin-left: -1px;
      &:focus,
      &:hover {
        z-index: 10;
      }
      &:not(:first-child) {
        border-bottom-left-radius: 0;
        border-top-left-radius: 0;
      }
      &:not(:last-child) {
        border-bottom-right-radius: 0;
        border-top-right-radius: 0;
      }
    }
  }
}
