.vcv-layout-header {
  .vcv-ui-form-input-icon {
    .vcv-ui-form-input {
      flex-grow: 0;
      min-width: 0;
      width: @vcui-form-input-icon-input-width;
    }

    .vcv-ui-form-icon {
      background: @vcui-form-input-icon-dropdown-background-color;
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
      padding-right: 14px;
    }
  }
}
