// ANIMATIONS
// standard blink
@keyframes vcv-ui-form-blink {
  0% {
    box-shadow: 0 0 0 1px fade(@vcui-form-input-border-blink-color, 0%);
    #make-vcv-ui-form > .property-darken-color(border-color, @vcui-form-input-border-color);
  }
  50% {
    box-shadow: 0 0 0 1px fade(@vcui-form-input-border-blink-color, 100%);
    border-color: @vcui-form-input-border-blink-color
  }
  100% {
    box-shadow: 0 0 0 1px fade(@vcui-form-input-border-blink-color, 0%);
    #make-vcv-ui-form > .property-darken-color(border-color, @vcui-form-input-border-color);
  }
}

// blink with top shadow
@keyframes vcv-ui-form-shadow-blink {
  0% {
    box-shadow: 0 0 0 1px fade(@vcui-form-input-border-blink-color, 0%);
    #make-vcv-ui-form > .property-darken-color(border-color, @vcui-form-input-border-color);
  }
  50% {
    box-shadow+: 0 0 0 1px fade(@vcui-form-input-border-blink-color, 100%);
    #make-vcv-ui-form > .focus-blink-shadow(@fade: 0%);
    border-color: @vcui-form-input-border-blink-color
  }
  100% {
    box-shadow+: 0 0 0 1px fade(@vcui-form-input-border-blink-color, 0%);
    #make-vcv-ui-form > .focus-blink-shadow();
    #make-vcv-ui-form > .property-darken-color(border-color, @vcui-form-input-border-color);
  }
}