.vcv-ui-form-link {
  display: flex;
  align-items: center;

  .vcv-ui-form-link-data {
    display: flex;
    flex-wrap: wrap;
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 0;
    font-size: @vcui-link-button-helper-font-size;
  }
  .vcv-ui-form-link-title {
    color: @vcui-form-helper-color;
    display: inline-block;
    vertical-align: middle;
    max-width: 100%;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    margin-left: @vcui-link-button-padding-horizontal;
    &::before {
      content: attr(data-vc-link-title);
    }
    &:empty {
      display: none;
    }
  }

  // Button behaviour
  .vcv-ui-form-button-form-control {
    flex-shrink: 0;
    outline: none;
    box-shadow: none;
    &:focus {
      animation: vcv-ui-form-blink @vcui-form-transition-duration * 2 ease-out;
    }
    &:disabled,
    &[disabled] {
      &:focus {
        animation: none;
      }
    }
  }
}


//&.vcv-ui-form-link-button {
//  color: @vcui-button-link-color;
//  background-color: @vcui-button-link-background;
//  border-color: @vcui-button-link-border-color;
//  &:hover {
//    background-color: @vcui-button-link-background-hover;
//  }
//}


//&.vcv-ui-form-link-button {
//  padding: 11px 14px;
//  font-size: 10px;
//  font-weight: 600;
//  text-transform: uppercase;
//  line-height: 1.5;
//  border-radius: 3px;
//  flex-shrink: 0;
//}