.vcv-ui-form-link {
  display: flex;
  align-items: center;

  //TODO: reduce specificy after less compiler update
  .vcv-ui-form-link-data {
    display: flex;
    flex-wrap: wrap;
    flex: 1 1 0;
    width: 0;
    font-size: @vcui-link-button-helper-font-size;
  }
  .vcv-ui-form-link-button {
    flex: 0 0 auto;
    text-transform: uppercase;
    font-weight: 700;
    font-size: @vcui-link-button-font-size;
    letter-spacing: @vcui-link-button-letter-spacing;
    padding-top: @vcui-link-button-padding-vertical;
    padding-bottom: @vcui-link-button-padding-vertical;
  }
  .vcv-ui-form-link-title {
    color: @vcui-form-helper-color;
    display: inline-block;
    vertical-align: middle;
    max-width: 100%;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    margin: @vcui-link-button-helper-margin;
    &::before {
      content: attr(data-vc-link-title);
    }
    &:empty {
      display: none;
    }
  }
}




//&.vcv-ui-form-link-button {
//  color: @vcui-button-link-color;
//  background-color: @vcui-button-link-background;
//  border-color: @vcui-button-link-border-color;
//  &:hover {
//    background-color: @vcui-button-link-background-hover;
//  }
//}


//&.vcv-ui-form-link-button {
//  padding: 11px 14px;
//  font-size: 10px;
//  font-weight: 600;
//  text-transform: uppercase;
//  line-height: 1.5;
//  border-radius: 3px;
//  flex-shrink: 0;
//}