// MIXINS
#make-vcv-ui-form {
  // add inset box shadow
  .focus-blink-shadow (@color: #000, @fade: 10%) {
    box-shadow+: inset 0 6px 6px -6px  fade(@color, @fade);
  }
  .property-darken-color (@property, @color) {
    & when (lightness(@color) > 70%) {
        @{property}: darken(@color, 5%);
    }
    & when not (lightness(@color) > 70%) {
        @{property}: darken(@color, 8%);
    }
  }
  .make-chess-background (@main-color, @secondary-color, @grid-size: 10px) {
    background-color: @main-color;
    background-image: linear-gradient(45deg, @secondary-color 25%, transparent 25%, transparent 75%, @secondary-color 75%, @secondary-color),
    linear-gradient(45deg, @secondary-color 25%, transparent 25%, transparent 75%, @secondary-color 75%, @secondary-color);
    background-size: @grid-size * 2 @grid-size * 2;
    background-position: 0 0, @grid-size @grid-size;
    background-repeat: repeat;
  }
}
