// range input

.track() {
  width: @vcui-form-range-track-width;
  height: @vcui-form-range-track-height;
  cursor: pointer;
  animate: 0.2s;
}

.thumb() {
  border: @vcui-form-range-thumb-border-width solid @vcui-form-range-thumb-border-color;
  height: @vcui-form-range-thumb-height;
  width: @vcui-form-range-thumb-width;
  border-radius: @vcui-form-range-thumb-radius;
  background: @vcui-form-range-thumb-color;
  cursor: pointer;
  position: relative;
  z-index: 2;
}

.vcv-ui-form-range {
  display: flex;

  .vcv-ui-form-range-helper {
    position: relative;
    flex-grow: 1;
    margin-right: 20px;
    line-height: 40px;
  }

  .vcv-ui-form-range-bg {
    background: #2b4b80;
    position: absolute;
    left: 1px;
    top: 17px;
    width: 0;
    min-width: 12px;
    max-width: 99%;
    height: 8px;
    border-radius: @vcui-form-range-track-radius;
    z-index: 0;
    pointer-events: none;
  }

  .vcv-ui-form-range-slider {
    -webkit-appearance: none;
    margin: @vcui-form-range-thumb-height/2 0;
    padding: 0;
    width: @vcui-form-range-track-width;
    background: transparent;

    &:focus {
      outline: none;
    }

    &::-webkit-slider-runnable-track {
      .track();
      background: @vcui-form-range-track-color;
      border-radius: @vcui-form-range-track-radius;
      border: @vcui-form-range-track-border-width solid @vcui-form-range-track-border-color;
    }

    &::-webkit-slider-thumb {
      .thumb();
      -webkit-appearance: none;
      margin-top: ((-@vcui-form-range-track-border-width * 2 + @vcui-form-range-track-height) / 2) - (@vcui-form-range-thumb-height / 2);
    }

    &:focus::-webkit-slider-runnable-track {
      background: @vcui-form-range-track-color;
    }

    &::-moz-range-track {
      .track();
      background: @vcui-form-range-track-color;
      border-radius: @vcui-form-range-track-radius;
      border: @vcui-form-range-track-border-width solid @vcui-form-range-track-border-color;
    }

    &::-moz-range-thumb {
      .thumb();
    }

    &::-ms-track {
      .track();
      background: transparent;
      border-color: transparent;
      border-width: @vcui-form-range-thumb-width 0;
      color: transparent;
    }

    &::-ms-fill-lower, &::-ms-fill-upper {
      background: @vcui-form-range-track-color;
      border: @vcui-form-range-track-border-width solid @vcui-form-range-track-border-color;
      border-radius: @vcui-form-range-track-radius*2;
    }

    &::-ms-thumb {
      .thumb();
    }

    &:focus::-ms-fill-lower, &:focus::-ms-fill-upper {
      background: @vcui-form-range-track-color;
    }
  }

  .vcv-ui-form-range-input {
    width: 70px;
  }
}