// Table used in forms
.vcv-ui-form-table {
  width: 100%;
  max-width: 100%;
  color: @vcui-form-table-color;
  border: 1px solid @vcui-form-table-border-color;
  margin: @vcui-form-table-margin;
  font-size: @vcui-form-table-font-size;
  > tbody {
    > tr {
      &:nth-of-type(even) {
        background-color: @vcui-form-table-background-even;
      }
      &:nth-of-type(odd) {
        background-color: @vcui-form-table-background-odd;
      }
      > td {
        border-top: 1px solid @vcui-form-table-border-color;
        vertical-align: top;
        text-align: left;
        padding: @vcui-form-input-padding;
        line-height: @vcui-form-input-line-height;
        &:last-child {
          text-align: right;
          font-size: @vcui-form-table-font-caps;
          text-transform: uppercase;
          line-height: @vcui-form-table-font-size * @vcui-form-input-line-height;
        }
      }
      &:last-child > td {
        border-bottom: 1px solid @vcui-form-table-border-color;
      }
    }
  }
  .vcv-ui-form-table-link-row {
    cursor: pointer;
    a {
      color: inherit;
      text-decoration: none;
      &:hover {
        color: inherit;
      }
    }
    &.vcv-ui-state--active,
    &:hover {
      color: @vcui-form-table-active-color;
      background-color: @vcui-form-table-active-background;
    }
  }
}
