// Base
@vcui-form-font-size-base: 14px;
@vcui-form-margin-default: 24px;
@vcui-form-margin-gold: @vcui-form-margin-default / 2;
@vcui-form-controls-color: #55595c;
@vcui-form-border-radius: 3px;
@vcui-form-transition-duration: .25s;

@vcui-form-group-heading-font-size: 12px;
@vcui-form-group-heading-letter-spacing: .05em;

@vcui-form-helper-margin: 8px 0 0;
@vcui-form-helper-color: #9a9a9a;

// Inputs
@vcui-form-input-padding: 8px 14px;
@vcui-form-input-placeholder-color: #c5c5c5;
@vcui-form-input-background: #fff;
@vcui-form-input-border-color: #d1d1d1;
@vcui-form-input-border-blink-color: #8cabdd;
@vcui-form-input-disabled-color: #7e7e7e;
@vcui-form-input-disabled-background: #f5f5f5;

// Checkboxes
@vcui-form-checkbox-size: 1.45em;
@vcui-form-checkbox-color: #5d82be;

// Range
@vcui-form-range-track-size: 7px;
@vcui-form-range-thumb-size: 18px;
@vcui-form-range-padding: 8px 0;

// Link
@vcui-link-button-helper-font-size: 13px;
@vcui-link-button-padding-horizontal: 14px;
@vcui-link-button-font-size: 10px;

// Color picker
@vcui-color-picker-width: 255px;
@vcui-color-picker-color: #707070;
@vcui-color-picker-background: #eaeaea;

// Attach Image
@vcui-attach-image-size: 100px;
@vcui-attach-image-icon-size: 16px;
@vcui-attach-image-remove-color: #fb7978;

// Dropdown / Select2
@vcui-dropdown-search-background: #f5f5f5;
@vcui-dropdown-search-icon-position: 14px;
@vcui-dropdown-search-padding: 4px 28px 4px 7px;
@vcui-dropdown-delimiter-color: #ebebeb;
@vcui-dropdown-highlight-color: #fff;
@vcui-dropdown-highlight-background: @vcui-form-checkbox-color;
@vcui-dropdown-multiple-padding: 2px 3px;
@vcui-dropdown-multiple-choice-close-width: 28px;
@vcui-dropdown-multiple-choice-padding: 4px @vcui-dropdown-multiple-choice-close-width + 6 4px 12px;
@vcui-dropdown-multiple-search-padding: 4px 7px;
@vcui-dropdown-choice-color: #fff;
@vcui-dropdown-choice-background: #707070;
@vcui-dropdown-choice-background-hover: #5d82be;

// Switch
@vcui-form-switch-font-size: 10px;
@vcui-form-switch-color: #fff;
@vcui-form-switch-on-background: #5d82be;
@vcui-form-switch-off-background: #707070;
@vcui-form-switch-disabled-color: #7e7e7e;
@vcui-form-switch-disabled-background: #f5f5f5;

// Button
@vcui-button-font-size: 14px;
@vcui-button-default-color: #fff;
@vcui-button-default-background: #bcbcbc;
@vcui-button-default-background-hover: #afafaf;

@vcui-button-action-color: #fff;
@vcui-button-action-background: #305288;
@vcui-button-action-background-hover: #2c4b7d;

@vcui-button-link-color: #707070;
@vcui-button-link-background: #eaeaea;
@vcui-button-link-background-hover: #ddd;
@vcui-button-link-border-color: #d1d1d1;

@vcui-button-disabled-color: #f3f3f3;
@vcui-button-disabled-background: #d8d8d8;
@vcui-button-disabled-background-hover: #d8d8d8;

