@import (reference) "../../bootstrap/variables";
//== common styles
@modal-gold-value: @gold-value;
//== Loader variables
@modal-overlay-color: rgba(0, 0, 0, .5);
@modal-width: 400px;
@modal-background: #fff;
@modal-text-color: @text-color-inverted;
@modal-zindex: 2000;
@modal-padding: 15px 20px;
@modal-margin: 20px auto;
//== header
@modal-header-border-color: #d1d1d1;
@modal-header-font-size: 1.25rem; // 18px;
@modal-header-padding: @modal-padding;

//== close size
@modal-close-size: @modal-header-font-size;
@modal-close-font-size: 1rem;
@modal-close-opacity: .3;
@modal-close-opacity-hover: .6;

//== Content
@modal-content-padding: @modal-header-padding;
@modal-content-max-height: 50vh;

//== Actions
@modal-action-icon-size: 1rem;
@modal-action-text-color: @text-color-base;
@modal-action-separator-color: rgba(255, 255, 255, .1);
@modal-action-bg-base: @color-alternative;
@modal-action-bg-base-hover: rgba(124, 173, 222, .16);
