@import "variables";

@font-face {
  font-family: 'vcattributes';
  src:  url('@{vcattributes-font-path}/vcattributes.eot?kj2971');
  src:  url('@{vcattributes-font-path}/vcattributes.eot?kj2971#iefix') format('embedded-opentype'),
  url('@{vcattributes-font-path}/vcattributes.ttf?kj2971') format('truetype'),
  url('@{vcattributes-font-path}/vcattributes.woff?kj2971') format('woff'),
  url('@{vcattributes-font-path}/vcattributes.svg?kj2971#vcattributes') format('svg');
  font-weight: normal;
  font-style: normal;
}

.vcv-ui-icon-attribute {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'vcattributes' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.vcv-ui-icon-attribute-alignment-center:before {
  content: @vcv-ui-icon-attribute-alignment-center;
}
.vcv-ui-icon-attribute-alignment-left:before {
  content: @vcv-ui-icon-attribute-alignment-left;
}
.vcv-ui-icon-attribute-alignment-right:before {
  content: @vcv-ui-icon-attribute-alignment-right;
}
.vcv-ui-icon-attribute-row-width-boxed:before {
  content: @vcv-ui-icon-attribute-row-width-boxed;
}
.vcv-ui-icon-attribute-row-width-stretched:before {
  content: @vcv-ui-icon-attribute-row-width-stretched;
}
.vcv-ui-icon-attribute-row-width-stretched-content:before {
  content: @vcv-ui-icon-attribute-row-width-stretched-content;
}
.vcv-ui-icon-attribute-shape-round:before {
  content: @vcv-ui-icon-attribute-shape-round;
}
.vcv-ui-icon-attribute-shape-rounded:before {
  content: @vcv-ui-icon-attribute-shape-rounded;
}
.vcv-ui-icon-attribute-shape-square:before {
  content: @vcv-ui-icon-attribute-shape-square;
}
.vcv-ui-icon-attribute-size-l:before {
  content: @vcv-ui-icon-attribute-size-l;
}
.vcv-ui-icon-attribute-size-m:before {
  content: @vcv-ui-icon-attribute-size-m;
}
.vcv-ui-icon-attribute-size-s:before {
  content: @vcv-ui-icon-attribute-size-s;
}
.vcv-ui-icon-attribute-size-xs:before {
  content: @vcv-ui-icon-attribute-size-xs;
}
.vcv-ui-icon-attribute-vertical-alignment-bottom:before {
  content: @vcv-ui-icon-attribute-vertical-alignment-bottom;
}
.vcv-ui-icon-attribute-vertical-alignment-middle:before {
  content: @vcv-ui-icon-attribute-vertical-alignment-middle;
}
.vcv-ui-icon-attribute-vertical-alignment-top:before {
  content: @vcv-ui-icon-attribute-vertical-alignment-top;
}
