@import "variables";

@font-face {
  font-family: 'vcattributes';
  src:
      url('@{vcattributes-font-path}/vcattributes.ttf?15dqu7') format('truetype'),
      url('@{vcattributes-font-path}/vcattributes.woff?15dqu7') format('woff'),
      url('@{vcattributes-font-path}/vcattributes.svg?15dqu7#vcattributes') format('svg');
  font-weight: normal;
  font-style: normal;
}

.vcv-ui-icon-attribute {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'vcattributes' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.vcv-ui-icon-attribute-background-position-center-bottom {
  &:before {
    content: @vcv-ui-icon-attribute-background-position-center-bottom-path1;
    color: rgb(208, 208, 208);
  }
  &:after {
    content: @vcv-ui-icon-attribute-background-position-center-bottom-path2;
    margin-left: -1em;
    color: rgb(123, 123, 123);
  }
}
.vcv-ui-icon-attribute-background-position-center-center {
  &:before {
    content: @vcv-ui-icon-attribute-background-position-center-center-path1;
    color: rgb(208, 208, 208);
  }
  &:after {
    content: @vcv-ui-icon-attribute-background-position-center-center-path2;
    margin-left: -1em;
    color: rgb(123, 123, 123);
  }
}
.vcv-ui-icon-attribute-background-position-center-top {
  &:before {
    content: @vcv-ui-icon-attribute-background-position-center-top-path1;
    color: rgb(208, 208, 208);
  }
  &:after {
    content: @vcv-ui-icon-attribute-background-position-center-top-path2;
    margin-left: -1em;
    color: rgb(123, 123, 123);
  }
}
.vcv-ui-icon-attribute-background-position-left-bottom {
  &:before {
    content: @vcv-ui-icon-attribute-background-position-left-bottom-path1;
    color: rgb(208, 208, 208);
  }
  &:after {
    content: @vcv-ui-icon-attribute-background-position-left-bottom-path2;
    margin-left: -1em;
    color: rgb(123, 123, 123);
  }
}
.vcv-ui-icon-attribute-background-position-left-center {
  &:before {
    content: @vcv-ui-icon-attribute-background-position-left-center-path1;
    color: rgb(208, 208, 208);
  }
  &:after {
    content: @vcv-ui-icon-attribute-background-position-left-center-path2;
    margin-left: -1em;
    color: rgb(123, 123, 123);
  }
}
.vcv-ui-icon-attribute-background-position-left-top {
  &:before {
    content: @vcv-ui-icon-attribute-background-position-left-top-path1;
    color: rgb(208, 208, 208);
  }
  &:after {
    content: @vcv-ui-icon-attribute-background-position-left-top-path2;
    margin-left: -1em;
    color: rgb(123, 123, 123);
  }
}
.vcv-ui-icon-attribute-background-position-right-bottom {
  &:before {
    content: @vcv-ui-icon-attribute-background-position-right-bottom-path1;
    color: rgb(208, 208, 208);
  }
  &:after {
    content: @vcv-ui-icon-attribute-background-position-right-bottom-path2;
    margin-left: -1em;
    color: rgb(123, 123, 123);
  }
}
.vcv-ui-icon-attribute-background-position-right-center {
  &:before {
    content: @vcv-ui-icon-attribute-background-position-right-center-path1;
    color: rgb(208, 208, 208);
  }
  &:after {
    content: @vcv-ui-icon-attribute-background-position-right-center-path2;
    margin-left: -1em;
    color: rgb(123, 123, 123);
  }
}
.vcv-ui-icon-attribute-background-position-right-top {
  &:before {
    content: @vcv-ui-icon-attribute-background-position-right-top-path1;
    color: rgb(208, 208, 208);
  }
  &:after {
    content: @vcv-ui-icon-attribute-background-position-right-top-path2;
    margin-left: -1em;
    color: rgb(123, 123, 123);
  }
}
.vcv-ui-icon-attribute-vertical-alignment-full-height {
  &:before {
    content: @vcv-ui-icon-attribute-vertical-alignment-full-height;
  }
}
.vcv-ui-icon-attribute-alignment-center {
  &:before {
    content: @vcv-ui-icon-attribute-alignment-center;
  }
}
.vcv-ui-icon-attribute-alignment-left {
  &:before {
    content: @vcv-ui-icon-attribute-alignment-left;
  }
}
.vcv-ui-icon-attribute-alignment-right {
  &:before {
    content: @vcv-ui-icon-attribute-alignment-right;
  }
}
.vcv-ui-icon-attribute-row-width-boxed {
  &:before {
    content: @vcv-ui-icon-attribute-row-width-boxed;
  }
}
.vcv-ui-icon-attribute-row-width-stretched {
  &:before {
    content: @vcv-ui-icon-attribute-row-width-stretched;
  }
}
.vcv-ui-icon-attribute-row-width-stretched-content {
  &:before {
    content: @vcv-ui-icon-attribute-row-width-stretched-content;
  }
}
.vcv-ui-icon-attribute-shape-round {
  &:before {
    content: @vcv-ui-icon-attribute-shape-round;
  }
}
.vcv-ui-icon-attribute-shape-rounded {
  &:before {
    content: @vcv-ui-icon-attribute-shape-rounded;
  }
}
.vcv-ui-icon-attribute-shape-square {
  &:before {
    content: @vcv-ui-icon-attribute-shape-square;
  }
}
.vcv-ui-icon-attribute-size-l {
  &:before {
    content: @vcv-ui-icon-attribute-size-l;
  }
}
.vcv-ui-icon-attribute-size-m {
  &:before {
    content: @vcv-ui-icon-attribute-size-m;
  }
}
.vcv-ui-icon-attribute-size-s {
  &:before {
    content: @vcv-ui-icon-attribute-size-s;
  }
}
.vcv-ui-icon-attribute-size-xs {
  &:before {
    content: @vcv-ui-icon-attribute-size-xs;
  }
}
.vcv-ui-icon-attribute-vertical-alignment-bottom {
  &:before {
    content: @vcv-ui-icon-attribute-vertical-alignment-bottom;
  }
}
.vcv-ui-icon-attribute-vertical-alignment-middle {
  &:before {
    content: @vcv-ui-icon-attribute-vertical-alignment-middle;
  }
}
.vcv-ui-icon-attribute-vertical-alignment-top {
  &:before {
    content: @vcv-ui-icon-attribute-vertical-alignment-top;
  }
}

.vcv-ui-icon-attribute-mirror-horizontally-left {
  &:before {
    content: @vcv-ui-icon-mirror-horizontally-left-path1;
    color: rgb(208, 208, 208);
  }
  &:after {
    content: @vcv-ui-icon-mirror-horizontally-left-path2;
    margin-left: -1em;
    color: rgb(123, 123, 123);
  }
}

.vcv-ui-icon-attribute-mirror-horizontally-right {
  &:before {
    content: @vcv-ui-icon-mirror-horizontally-right-path1;
    color: rgb(208, 208, 208);
  }
  &:after {
    content: @vcv-ui-icon-mirror-horizontally-right-path2;
    margin-left: -1em;
    color: rgb(123, 123, 123);
  }
}

.vcv-ui-icon-attribute-mirror-vertically-down {
  &:before {
    content: @vcv-ui-icon-mirror-vertically-down-path1;
    color: rgb(208, 208, 208);
  }
  &:after {
    content: @vcv-ui-icon-mirror-vertically-down-path2;
    margin-left: -1em;
    color: rgb(123, 123, 123);
  }
}

.vcv-ui-icon-attribute-mirror-vertically-up {
  &:before {
    content: @vcv-ui-icon-mirror-vertically-up-path1;
    color: rgb(208, 208, 208);
  }
  &:after {
    content: @vcv-ui-icon-mirror-vertically-up-path2;
    margin-left: -1em;
    color: rgb(123, 123, 123);
  }
}
