@vcattributes-font-path: "fonts";

@vcv-ui-icon-attribute-background-position-center-bottom-path1: "\e911";
@vcv-ui-icon-attribute-background-position-center-bottom-path2: "\e912";
@vcv-ui-icon-attribute-background-position-center-center-path1: "\e913";
@vcv-ui-icon-attribute-background-position-center-center-path2: "\e914";
@vcv-ui-icon-attribute-background-position-center-top-path1: "\e915";
@vcv-ui-icon-attribute-background-position-center-top-path2: "\e916";
@vcv-ui-icon-attribute-background-position-left-bottom-path1: "\e917";
@vcv-ui-icon-attribute-background-position-left-bottom-path2: "\e918";
@vcv-ui-icon-attribute-background-position-left-center-path1: "\e919";
@vcv-ui-icon-attribute-background-position-left-center-path2: "\e91a";
@vcv-ui-icon-attribute-background-position-left-top-path1: "\e91b";
@vcv-ui-icon-attribute-background-position-left-top-path2: "\e91c";
@vcv-ui-icon-attribute-background-position-right-bottom-path1: "\e91d";
@vcv-ui-icon-attribute-background-position-right-bottom-path2: "\e91e";
@vcv-ui-icon-attribute-background-position-right-center-path1: "\e91f";
@vcv-ui-icon-attribute-background-position-right-center-path2: "\e920";
@vcv-ui-icon-attribute-background-position-right-top-path1: "\e921";
@vcv-ui-icon-attribute-background-position-right-top-path2: "\e922";
@vcv-ui-icon-attribute-vertical-alignment-full-height: "\e910";
@vcv-ui-icon-attribute-alignment-center: "\e908";
@vcv-ui-icon-attribute-alignment-left: "\e909";
@vcv-ui-icon-attribute-alignment-right: "\e90a";
@vcv-ui-icon-attribute-row-width-boxed: "\e90b";
@vcv-ui-icon-attribute-row-width-stretched: "\e90c";
@vcv-ui-icon-attribute-row-width-stretched-content: "\e90d";
@vcv-ui-icon-attribute-shape-round: "\e90e";
@vcv-ui-icon-attribute-shape-rounded: "\e90f";
@vcv-ui-icon-attribute-shape-square: "\e923";
@vcv-ui-icon-attribute-size-l: "\e924";
@vcv-ui-icon-attribute-size-m: "\e925";
@vcv-ui-icon-attribute-size-s: "\e926";
@vcv-ui-icon-attribute-size-xs: "\e927";
@vcv-ui-icon-attribute-vertical-alignment-bottom: "\e928";
@vcv-ui-icon-attribute-vertical-alignment-middle: "\e929";
@vcv-ui-icon-attribute-vertical-alignment-top: "\e92a";
@vcv-ui-icon-mirror-horizontally-left-path1: "\e900";
@vcv-ui-icon-mirror-horizontally-left-path2: "\e901";
@vcv-ui-icon-mirror-horizontally-right-path1: "\e902";
@vcv-ui-icon-mirror-horizontally-right-path2: "\e903";
@vcv-ui-icon-mirror-vertically-down-path1: "\e904";
@vcv-ui-icon-mirror-vertically-down-path2: "\e905";
@vcv-ui-icon-mirror-vertically-up-path1: "\e906";
@vcv-ui-icon-mirror-vertically-up-path2: "\e907";

