@vcattributes-font-path: "fonts";

@vcv-ui-icon-attribute-alignment-center: "\e900";
@vcv-ui-icon-attribute-alignment-left: "\e901";
@vcv-ui-icon-attribute-alignment-right: "\e902";
@vcv-ui-icon-attribute-row-width-boxed: "\e903";
@vcv-ui-icon-attribute-row-width-stretched: "\e904";
@vcv-ui-icon-attribute-row-width-stretched-content: "\e905";
@vcv-ui-icon-attribute-shape-round: "\e906";
@vcv-ui-icon-attribute-shape-rounded: "\e907";
@vcv-ui-icon-attribute-shape-square: "\e908";
@vcv-ui-icon-attribute-size-l: "\e909";
@vcv-ui-icon-attribute-size-m: "\e90a";
@vcv-ui-icon-attribute-size-s: "\e90b";
@vcv-ui-icon-attribute-size-xs: "\e90c";
@vcv-ui-icon-attribute-vertical-alignment-bottom: "\e90d";
@vcv-ui-icon-attribute-vertical-alignment-middle: "\e90e";
@vcv-ui-icon-attribute-vertical-alignment-top: "\e90f";
@vcv-ui-icon-attribute-vertical-alignment-full-height: "\e910";
