//== Onion
@design-options-onion-size: 340px;
@design-options-onion-bg: #fff;
@design-options-onion-line-color: #d1d1d1;
@design-options-onion-control-size: 40px;
@design-options-onion-control-indent: 10px;
@design-options-onion-control-label-padding: 4px;
@design-options-onion-control-label-size: 95px;
@design-options-onion-helper-color: #9a9a9a;

//== Action
@edit-form-gold-value: @gold-value;

//== delimiter
@edit-form-separator-color: rgba(73, 109, 163, .15);

//== text
@edit-form-text-size-base: .75rem; // 12px;
@edit-form-text-color-base: @text-color-base;

//== colors
@edit-form-bg-base: @color-alternative;
@edit-form-bg-base-hover: rgba(124, 173, 222, .16);

//== icon
@edit-form-action-icon-size: 1rem;

//== States
@edit-form-action-success-bg: @state-color-success;

//== edit forms dropdown (tabs replacement)
@edit-form-tabs-dropdown-margin-top: -1px;
@edit-form-tabs-dropdown-margin-bottom: 6px;