//=========================================
// Fonts and sizes
//=========================================

@vcv-wpbackend-element-attribute-color-sample-size: 16px;
@vcv-wpbackend-element-border-radius: 3px;
@vcv-wpbackend-element-preview-image-size: 36px;


//=========================================
// Indents and Spaces
//=========================================

@vce-wpbackend-element-attribute-color-sample-margin-right: 10px;
@vce-wpbackend-element-attribute-image-margin: 5px;


