.vcv-ui-form-params-group {
  margin: 0 -20px;

  .vcv-ui-icon-arrow-right {
    color: rgba(255, 255, 255, 0.4);
  }

  .vcv-ui-form-params-group-item {
    padding: 15px 7px 15px 5px;
    color: #fff;
    background: #203251;
    &:last-of-type {
      border-bottom: none;
    }

    &:hover {
      background-color: rgba(38, 59, 93, 0.9);
    }
  }
}

.vcv-ui-form-params-group-add-item {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 15px 20px;
  height: 46px;
  border: 1px dashed #D2D0D0;
  color: #D2D0D0;
  cursor: pointer;
}
