@import 'font-awesome-4.6.3/less/font-awesome.less';
@fa-font-path: 'font-awesome-4.6.3/fonts';
@import 'vcv-entypo/font.less';
@entypo-font-path: 'vcv-entypo/fonts';
@import 'vcv-linecons/font.less';
@linecons-font-path: 'vcv-linecons/fonts';
@import 'vcv-material-845/font.less';
@material-font-path: 'vcv-material-845/fonts';
@import 'vcv-monosocial-1.10/font.less';
@monosocial-font-path: 'vcv-monosocial-1.10/fonts';
@import 'vcv-openiconic-1.1.1/font.less';
@openiconic-font-path: 'vcv-openiconic-1.1.1/fonts';
@import 'vcv-typicons-2.0.7/font.less';
@typicons-font-path: 'vcv-typicons-2.0.7/fonts';
