.make-numerator(@i, @numbers, @screen-size, @class-name) when (@i > 0) {
  .make-numerator(@i - 1, @numbers, @screen-size, @class-name);
  @numerator: extract(@numbers, @i);
  .make-denominator(length(@numbers), @numbers, @numerator, @screen-size, @class-name);
}

.make-denominator(@i, @numbers, @numerator, @screen-size, @class-name) when (@i > 0) {
  .make-denominator(@i - 1, @numbers, @numerator, @screen-size, @class-name);
  @denominator: extract(@numbers, @i);

  & when not (@numerator > @denominator) {
    @media (min-width: @screen-size) {
      .vce-col--@{class-name}-@{numerator}-@{denominator} {
        flex-grow: 0;
        flex-shrink: 0;
        flex-basis: calc(~"100% * ( @{numerator} / @{denominator} )");
        max-width: calc(~"100% * ( @{numerator} / @{denominator} )");
      }
    }
  }
}


