.vc-v-root-element {
  .controls {
    padding: 10px;
    text-align: center;
    a {
      font-size: 12px;
      width: 12px;
      height: 12px;
      cursor: pointer;
      display: inline-block;
      margin-right: 4px;
    }
  }
}
@import '../../../../sources/elements/Section/editor/Section.less';
