.vc-v-root-element {
  .controls {
    padding: 10px;
    text-align: center;
    a {
      font-size: 24px;
      width: 40px;
      height: 40px;
      cursor: pointer;
    }
  }
}
@import '../../../../sources/elements/Section/editor/Section.less';
