// Variables for Row primitives
//-----------------------------------------

@vcv-row-control-size: 60px;
@vcv-row-control-margin: 10px 0;
@vcv-row-control-gold-value: 16px;
@vcv-row-control-control-container-side-margins: -15px;
@vcv-row-control-control-border-radius: 3px;
@vcv-row-control-control-side-margins: 5px;
@vcv-row-control-control-base-font-size: 14px;

@vcv-row-control-color-base: #fff;
@vcv-row-control-color-base-hover: #999;
@vcv-row-control-control-background: rgba(0,0,0,0.15);
@vcv-row-control-control-background-hover: rgba(0,0,0,0.2);
