.vcv-atolls-hover {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  width: 100%;
  height: 0;
  display: none;
  background-color: rgba(255, 255, 255, 0.6);
  display: block;
  opacity: 0;
  transition: opacity .3s ease;
  &.vcv-visible {
    height: 100%;
    opacity: 0.4;
  }
}
.vcv-drag-helper {
  position: absolute;
  z-index: 10003;
  background-color: #6dab3c;
  color: #fff;
  width: 40px;
  height: 40px;
  white-space: nowrap;
  display: none;
  flex-wrap: nowrap;
  flex-direction: row;
  align-items: center;
  border-radius: 5px;
  overflow: hidden;
  text-decoration: none;
  justify-content: center;
  text-align: center;
  cursor: pointer;
  font-family: 'VC-Icons' !important;
  // transition: all 0.25s ease-in-out;
  &::before {
    content: "\e912";
    font-size: 1.25em;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }
  &.vcv-visible {
    display: flex;
  }
}
// controls
.vcv-atoll-control {
  width: 1px;
  height: 1px;
  border-radius: 2px;
  border: 0 transparent;
  background: #fceeca;
  position: absolute;
  border: 1px solid #fcd77e;
  display: block;
  visibility: hidden;
  z-index: 10002;
  transition: all .5s ease;
  opacity: 0.6;
  &.vcv-visible-1 {
    visibility: visible;
    width: 10px;
    height: 10px;
  }
  &.vcv-visible-2 {
    visibility: visible;
    width: 20px;
    height: 20px;
    opacity: 0.8;
  }
  &.vcv-visible-3 {
    visibility: visible;
    width: 30px;
    height: 30px;
    opacity: 0.9;
  }
  &.vcv-visible-4 {
    visibility: visible;
    width: 30px;
    height: 30px;
    opacity: 1;
  }
  &.vcv-over {
    visibility: visible;
    width: 44px;
    height: 44px;
    opacity: 1;
  }
  transform: translate(-50%, -50%);
}
