[role="main"] {
    margin-top: 60px;
}

.vc-image-gallery, .vc-image-gallery-2 {
    text-align: center;
}
.vc-image-gallery img {
    border: 1px solid yellow;
    height: 130px;
    width: auto;
}
.vc-image-gallery-2 img {
    border: 1px solid green;
    height: 80px;
    width: auto;
}

[data-vc-element="content"] {
    margin-bottom: 35px;
}
.row {
    margin-top: 10px;
}

img {
    width: 100%;
}
.vc-testimonials h6 {
    text-transform: uppercase;
}