.vce-feature-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow: hidden;
  box-sizing: border-box;
  min-height: @vce-feature-section-min-height;

  &--reverse {
    flex-direction: column-reverse;
  }

  &-image {
    flex: @vce-feature-section-image-flex;
    background-color: @vce-feature-section-image-background-color;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    &--left {
      order: 1;
    }

    &--right {
      order: 3;
    }
  }

  &-content {
    flex: @vce-feature-section-content-flex;
    order: 2;
    background-color: @vce-feature-section-content-background-color;
    background-position: center;
    padding: @vce-feature-section-content-padding;
    color: @vce-feature-section-content-color;

    h1 {
      color: inherit;
    }

    &-container {
      padding: @vce-feature-section-content-container-padding;
    }
  }

  .vce {
    margin-bottom: 0;
  }
}

@media (min-width: 768px) {
  .vce-feature-section {
    flex-direction: row;

    &-image {
      flex: @vce-feature-section-image-flex-stack;
    }

    &-content {
      display: flex;
      flex: @vce-feature-section-content-flex-stack;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;

      &-container {
        padding: @vce-feature-section-content-container-padding-stack;
        max-width: @vce-feature-section-content-container-max-width-stack;
        width: @vce-feature-section-content-container-width-stack;
        margin-left: @vce-feature-section-content-container-margin-left-stack;
        padding-left: @vce-feature-section-content-container-padding-left-stack;
      }
    }
  }
}
