.vce-feature-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow: hidden;
  box-sizing: border-box;
  min-height: 100%;

  &--reverse {
    flex-direction: column-reverse;
  }

  &--min-height {
    min-height: 450px;
  }

  &--image {
    flex: 1 0 300px;
    background-color: #b3a694;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    &-left {
      order: 1;
    }

    &-right {
      order: 3;
    }
  }

  &--content {
    flex: 1 0 auto;
    order: 2;
    background-color: #b3a694;
    background-position: center;
    padding-top: 30px;
    padding-bottom: 30px;
    color: #fff;

    h1 {
      color: inherit;
    }

    &-container {
      padding: 30px;
    }
  }

  .vce {
    margin-bottom: 0;
  }
}

@media (min-width: 768px) {
  .vce-feature-section {
    flex-direction: row;

    &--image {
      flex: 1 1 50%;
    }

    &--content {
      display: flex;
      flex: 1 1 50%;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;

      &-container {
        padding: 0;
        max-width: 585px;
        width: 66.66666667%;
        margin-left: 16.66666667%;
        padding-left: 15px;
      }
    }
  }
}
