//=========================================
// Basic values
//=========================================


//=========================================
// Fonts and sizes
//=========================================

@vce-feature-section-min-height: 450px;
@vce-feature-section-image-flex: 1 0 300px;
@vce-feature-section-image-flex-stack: 1 1 50%;
@vce-feature-section-content-flex: 1 0 auto;
@vce-feature-section-content-flex-stack: 1 1 50%;
@vce-feature-section-content-container-max-width-stack: 585px;
@vce-feature-section-content-container-width-stack: 66.66666667%;

//=========================================
// Color names and values
//=========================================

@vce-feature-section-image-background-color: #b3a694;
@vce-feature-section-content-background-color: #b3a694;
@vce-feature-section-content-color: #fff;

//=========================================
// Indents and Spaces
//=========================================

@vce-feature-section-content-padding: 30px 0;
@vce-feature-section-content-container-padding: 30px;
@vce-feature-section-content-container-padding-stack: 0;
@vce-feature-section-content-container-margin-left-stack: 16.66666667%;
@vce-feature-section-content-container-padding-left-stack: 15px;

//=========================================
// Backgrounds and urls
//=========================================
