// VC-Icons
@import "../../fonts/VC-Icons/style.less";
// Add helpers
@import "../helpers/layoutHelper/init";
@import "../helpers/blankPageHelper/init";
@import "../helpers/blankRowPlaceholder/init";
@import "../helpers/pageEditable/init";
@import "../helpers/rowPlaceholder/init";
@import "../helpers/columnResizer/init";
@import "../primitives/text/init";

.vcv-is-no-selection {
  user-select: none;
}
.vcv-is-invisible {
  visibility: hidden;
}
vcvhelper {
  display: block;
  border: none;
}

.vcv-empty-col-helper {
  min-height: 100px;
}