// Variables for Text Separator
//-----------------------------------------
// Note: All variables in this file available in VC design options,
// so if you need to use variable from boilerplate.less
// create your own variable and put boilerplate var into it.

@import "../../../../less/boilerplate";

@vce-button-color: #fff;

@vce-button-font-size: 16px;
// Sizing of the button
@vce-button-padding-vertical: 15px;
@vce-button-padding-horizontal: 43px;
@vce-button-border-radius: 0;

@vce-button-rounded: 5px;
@vce-button-round: 4em;

//Styling of the outline
@vce-button-outline-border-width: 2px;
@vce-button-outline-border-style: solid;
@vce-button-outline-border-color: @vcv-color-white;
@vce-button-outline-border-color-hover: @vcv-color-white;

// this is for buttons with simple animation
@vce-button-outline-simple-background-color: transparent;
@vce-button-outline-simple-background-color-hover: transparent;
@vce-button-outline-simple-color: @vcv-color-white;
@vce-button-outline-simple-color-hover: @vcv-color-white;
@vce-button-outline-simple-border-color: @vcv-color-white;
@vce-button-outline-simple-border-color-hover: @vcv-color-salem;

// Base of of
@vce-button-outline-background-color: transparent;
@vce-button-outline-background-color-hover: @vcv-color-salem;

@vce-button-outline-transition-duration: @vcv-transition-duration;
@vce-button-outline-transition-timing-function: @vcv-transition-timing-function;

@vce-button-outline-z-overlay: -1;
@vce-button-outline-z-background: -2;


@vce-button-gradient-transition-duration: .5s;
@vce-button-gradient-transition-timing-function: @vcv-transition-timing-function;

@vce-button-gradient-pink: @vcv-color-orchid;
@vce-button-gradient-purple: @vcv-color-dark-orchid;
@vce-button-gradient-light-blue: @vcv-color-curious-blue;
@vce-button-gradient-dark-blue: @vcv-color-dark-cerulean;
