#$selector{
  @media (--$(device)-only) {
    @if $backgroundEndColor == false {
      @if $backgroundColor != false {
        background-color: $backgroundColor;
      }
    } @else {
      @if $backgroundColor != false {
        background-image: linear-gradient(45deg, $backgroundColor, $backgroundEndColor);
      }
    }
  }
}