#$selector[data-vce-do-apply*="divider"],
#$selector [data-vce-do-apply*="divider"] {
  &[data-vce-do-apply*="$selector"] {
    @media (--$(device)-only) {
      transform: translate($(horizontalPosition)%, $(verticalPosition)%) rotate($(customRotate)deg);
    }
  }
}