.vce-image-masonry-gallery {
  &--gap-$selector {
    @if $gap != false {
      .vce-image-masonry-gallery-list {
        margin-left: calc(-$(gap)px / 2);
        margin-right: calc(-$(gap)px / 2);
        margin-bottom: -$(gap)px;
      }
    }

    @if $gap != false {
      .vce-image-masonry-gallery-item {
        padding-left: calc($(gap)px / 2);
        padding-right: calc($(gap)px / 2);
        margin-bottom: $(gap)px;
      }
    }
  }
}

