@inline-editor-control-border-radius: 5px;
@inline-editor-control-separator-color: rgba(255, 255, 255, 0.1);
@inline-editor-control-background-color-active: #15182A;
@inline-editor-control-background-color: #23273E;
@inline-editor-control-font-color: #fff;
