@import "./variables";

.vcv-ui-design-options-container {
  display: flex;
}

.vcv-ui-design-options-css-box {
  margin-right: 25px;
}

.vcv-ui-design-options-other {
  flex: 1;
}

.vcv-ui-design-options {
  height: 315px;
  width: 315px;

  input[type=number]::-webkit-inner-spin-button,
  input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  input[type=number] {
    -moz-appearance: textfield;
  }
}

.vcv-ui-design-options-box {
  position: relative;
  padding: @onionPadding;
  margin: auto;
  height: 100%;
}

.vcv-ui-design-options-label {
  font-size: @labelFontSize;
  position: absolute;
  margin-left: -65px;
  text-align: right;
  width: 45px;
  left: 50%;
  top: 15px;

  &.vcv-ui-design-options-label-top-right {
    right: @input_w + 9px;
    left: auto;
  }
}

.vcv-ui-design-options-radiuses-box {
  border: 1px dashed @marginsBorderColor;
  background: @marginsBackgroundColor;
}

.vcv-ui-design-options-margins-box {
  border: 1px dashed @marginsBorderColor;
  background: @marginsBackgroundColor;
}

.vcv-ui-design-options-borders-box {
  border: 1px solid @bordersBorderColor;
  background: @bordersBackgroundColor;
}

.vcv-ui-design-options-paddings-box {
  border: 1px solid @paddingsBorderColor;
  background: @paddingsBackgroundColor;
}

.vcv-ui-design-options-logo {
  border: 1px solid @paddingsBorderColor;
  transform: translate(-50%, -50%);
  justify-content: center;
  align-items: center;
  position: absolute;
  text-align: center;
  height: @logo_h;
  width: @logo_w;
  display: flex;
  left: 50%;
  top: 50%;
}

.vcv-ui-design-options-input {
  position: absolute;
  text-align: center;
  height: @input_h;
  width: @input_w;
}

.vcv-ui-design-options-input-top {
  top: (@onionPadding - @input_h)/2;
  margin-left: -(@input_w/2);
  left: 50%;
}

.vcv-ui-design-options-input-right {
  right: (@onionPadding - @input_w)/2;
  margin-top: -(@input_h/2);
  top: 50%;
}

.vcv-ui-design-options-input-bottom {
  bottom: (@onionPadding - @input_h)/2;
  margin-left: -(@input_w/2);
  left: 50%;
}

.vcv-ui-design-options-input-left {
  left: (@onionPadding - @input_w)/2;
  margin-top: -(@input_h/2);
  top: 50%;
}

.vcv-ui-design-options-input-top-right {
  top: (@onionPadding - @input_h)/2;
  right: (@onionPadding - @input_w)/2;
}

.vcv-ui-design-options-input-bottom-right {
  right: (@onionPadding - @input_w)/2;
  bottom: (@onionPadding - @input_h)/2;
}

.vcv-ui-design-options-input-bottom-left {
  bottom: (@onionPadding - @input_h)/2;
  left: (@onionPadding - @input_w)/2;
}

.vcv-ui-design-options-input-top-left {
  top: (@onionPadding - @input_h)/2;
  left: (@onionPadding - @input_w)/2;
}

.vcv-ui-design-options-simplified {
  .vcv-ui-design-options-input-bottom-right,
  .vcv-ui-design-options-input-bottom-left,
  .vcv-ui-design-options-input-top-left,
  .vcv-ui-design-options-input-right,
  .vcv-ui-design-options-input-bottom,
  .vcv-ui-design-options-input-left {
    display: none;
  }
}

.vcv-ui-active {
  background-color: #bada55;
}