@input_w: 34px;
@onionPadding: 44px;

@input_h: 24px;

@marginsBorderColor: #bababa;
@bordersBorderColor: #d7d7d7;
@paddingsBorderColor: #bababa;

@marginsBackgroundColor: #fff;
@bordersBackgroundColor: #f6f6f6;
@paddingsBackgroundColor: #ebebeb;

@labelFontSize: 0.8em;

@logo_w: 46px;
@logo_h: 46px;