// Styles for Feature Icon
//-----------------------------------------

.vce-features {
  display: inline-block;

  &__icon {
    // we will save the aspect ratio of the small icon with the background
    position: relative;
    width: @vce-features-icon-background-size;
    height: @vce-features-icon-background-size;
    display: inline-block;

    span {
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      z-index: 2;

      &::before {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
      }
    }
    // We hide the svg which is inlined so we can style it with css.
    svg {
      display: none;
      // size relative to the icon's font size
      width: @vce-features-icon-background-size;
      height: @vce-features-icon-background-size;
      position: absolute;
      z-index: 1;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }

  &__content {
    & > * {
      margin: 0 0 @vce-features-content-margin;
      &:last-child {
        margin-bottom: 0;
      }
    }
  }
}

.vce-features--style {

  &-filled {
    &-circle, &-rounded, &-square, &-hexagon, &-diamond {
      border: none;
      #vce-features > .make-shape ();
      #vce-features > .make-color (@background-color: @vce-features-color-green; @color: @vce-features-color-white;);
    }

    &-circle {
      #vce-features > .make-shape(@border-radius: @vce-features-border-radius-round);
    }

    &-rounded {
      #vce-features > .make-shape(@border-radius: @vce-features-border-radius-rounded;);
    }

    &-hexagon {
      #vce-features > .make-color (@background-color: transparent; @color: @vce-features-color-white; @fill-color: @vce-features-color-green);

      .vce-features__icon svg {  display: block;  }
    }

    &-diamond {
      .vce-features__icon {
        transform-origin: center center;
        transform: translate(0, 0) rotate(45deg);

        span {
          transform: rotate(-45deg);
        }
      }
    }

  }

  &-outlined {
    &-circle, &-rounded, &-square, &-diamond {
      background-color: transparent;
      #vce-features > .make-shape (@border-width: @vce-features-border-width;);
      #vce-features > .make-color (@border-color: @vce-features-color-green; @color: @vce-features-color-green;);
    }

    &-circle {
      #vce-features > .make-shape(@border-radius: @vce-features-border-radius-round;);
    }

    &-rounded {
      #vce-features > .make-shape(@border-radius: @vce-features-border-radius-rounded;);
    }

    &-hexagon {
      #vce-features > .make-shape ();
      #vce-features > .make-color (@background-color: transparent; @color: @vce-features-color-green; @fill-color: transparent; @stroke-color: @vce-features-color-green;);

      .vce-features__icon {
        svg {
          display: block;
        }

        span::after {  border: none;  }
      }
    }
    &-underlined {
      #vce-features > .make-shape ();
      #vce-features > .make-color (@color: @vce-features-color-grey;);

      .vce-features__icon {
        &::after {
          content: '';
          position: absolute;
          height: @vce-features-underline-height;
          width: @vce-features-icon-background-size; // relative to the font size of the icon
          left: @vce-features-underline-left;
          bottom: @vce-features-underline-bottom;
          background-color: @vce-features-color-green;
        }
      }
    }

    &-diamond {
      .vce-features__icon {
        transform-origin: center center;
        transform: translate(0, 0) rotate(45deg);

        span {
          transform: rotate(-45deg);
        }
      }
    }
  }
}

.vce-features--align {
  &-left {
    text-align: left;
  }
  &-center {
    text-align: center;
  }
  &-right {
    text-align: right;
  }
}

/*RTL support. */
/*LTR support. */
.rtl,
[dir="rtl"] {
  &.vce-features,
  .vce-features {
    direction: rtl;
    unicode-bidi: embed;
    /*check if IE+10 and than hack hexagon to the center*/
    @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
      .vce-features__icon svg {
        right: 50%;
      }
    }
    @supports (-ms-accelerator:true) {
      // hack for MS Edge detections
      .vce-features__icon svg {
        right: 50%;
      }
    }
  }
}
.ltr,
[dir="ltr"] {
  &.vce-features,
  .vce-features {
    direction: ltr;
    unicode-bidi: normal;
  }
}

.vcv-ui-icon-openiconic::before {
  height: @vce-features-openiconic-height;
}

.vcv-ui-icon-monosocial::before {
  word-break: normal;
}