.vce-button--style-basic-container {
  --button-align: left;
  --button-border-radius: 0;
  --button-width: 'auto';
  --button-size-padding: '15px 43px';
  --button-size-font: '16px';
  --button-color: '#fff';
  --button-hover-color: '#fff';
  --button-background-color: '#557cbf';
  --button-hover-background-color: '#4d70ac';

  text-align: var(--button-align);
}

.vce-button--style-basic-wrapper {
  display: inline-block;
  vertical-align: top;
  max-width: 100%;
  width: var(--button-width);
}

.vce-button--style-basic-wrapper .vce-button--style-basic,
.vce-button--style-basic-wrapper .vce-button--style-basic:hover,
.vce-button--style-basic-wrapper .vce-button--style-basic:focus,
.vce-button--style-basic-wrapper .vce-button--style-basic:link {
  box-shadow: none;
}

.vce-button--style-basic-container .vce-button--style-basic {
  background-image: none;
  border: none;
  box-sizing: border-box;
  cursor: pointer;
  display: inline-block;
  margin: 0;
  max-width: 100%;
  width: var(--button-width);
  font-size: var(--button-size-font);
  padding: var(--button-size-padding);
  color: var(--button-color);
  background-color: var(--button-background-color);
  position: relative;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  white-space: normal;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  line-height: normal;
  border-radius: var(--button-border-radius);
  overflow: hidden;
  transition: all 0.2s ease-in-out;
}

.vce-button--style-basic-container .vce-button--style-basic:hover,
.vce-button--style-basic-container .vce-button--style-basic:focus {
  text-decoration: none;
  outline: none;
}

.vce-button--style-basic-container .vce-button--style-basic:hover {
  color: var(--button-hover-color);
  background-color: var(--button-hover-background-color);
}

.vce-button--style-basic-container .vce-button--style-basic {
  -webkit-appearance: none;
}

.rtl.vce-button--style-basic,
[dir="rlt"].vce-button--style-basic,
.rtl .vce-button--style-basic,
[dir="rlt"] .vce-button--style-basic {
  direction: rtl;
  unicode-bidi: embed;
}

.ltr.vce-button--style-basic,
[dir="ltr"].vce-button--style-basic,
.ltr .vce-button--style-basic,
[dir="ltr"] .vce-button--style-basic {
  direction: ltr;
  unicode-bidi: normal;
}
