.vcv-ui-navbar-is-dragging {
  user-select: none;

  .vcv-ui-navbar-container {
    > *:not(.vcv-ui-navbar-drag-handler) {
      pointer-events: none;
    }
  }
}

.vcv-ui-navbar-is-dragging {
  .vcv-layout-bar-content {
    //display: none;
  }
  .vcv-layout-bar {
    opacity: .6;
  }
}

.vcv-ui-navbar-guideline {
  position: fixed;
  transition-property: height, width;
  transition-duration: @transition-duration;
  transition-timing-function: @transition-timing-function;
  background-color: @navbar-bg-base;
  box-shadow: inset 0 0 10px 1px @navbar-bg-base-hover;
  z-index: -1;
  &-top {
    top: 0;
    left: 0;
    right: 0;
    height: 0;
    &.vcv-ui-navbar-guideline-is-visible {
      height: 5px;
    }
  }
  &-bottom {
    bottom: 0;
    left: 0;
    right: 0;
    height: 0;
    &.vcv-ui-navbar-guideline-is-visible {
      height: 5px;
    }
  }
  &-left {
    top: 0;
    bottom: 0;
    left: 0;
    width: 0;
    &.vcv-ui-navbar-guideline-is-visible {
      width: 5px;
    }
  }
  &-right {
    top: 0;
    right: 0;
    bottom: 0;
    width: 0;
    &.vcv-ui-navbar-guideline-is-visible {
      width: 5px;
    }
  }
}

