/* ===================================
 * Visual composer Navbar styles
 * =================================== */

//== overlay TODO: move to separate module or remove overlay at all
.vcv-ui-navbar-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #fff;
  opacity: .2;
  cursor: move;
}

//== navbar
.vcv-ui-navbar-container {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  transition-property: opacity, top, left, bottom, right;
  transition-duration: @transition-duration;
  transition-timing-function: @transition-timing-function;
  z-index: @navbar-z-index;
}

.vcv-ui-navbar {
  font-size: @navbar-text-size-base;
  color: @navbar-text-color-base;
  background-color: @navbar-bg-base;
  min-height: @navbar-size;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  > * {
    flex-grow: 0;
    flex-shrink: 0;
    order: -1;
  }
  > .vcv-ui-pull-end {
    order: 1;
  }
  &::after {
    content: '';
    flex-shrink: 1;
    flex-grow: 1;
  }
}

//== controls
.vcv-ui-navbar-control {
  padding: @navbar-gold-value;
  min-width: @navbar-size;
  min-height: @navbar-size;
  color: @navbar-text-color-base;
  text-decoration: none;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  text-align: center;
  cursor: pointer;
  transition: all @transition-duration @transition-timing-function;
  &:hover {
    background-color: @navbar-bg-base-hover;
  }
  &[disabled] {
    background-color: transparent;
    opacity: .5;
    cursor: not-allowed;
  }
}

.vcv-ui-navbar-control-content {
  white-space: nowrap;
  span {

  }
}

.vcv-ui-navbar-control-icon {
  font-size: 1em;
  height: 1em;
  width: 1.25em;
  display: inline-block;
  vertical-align: middle;
  position: relative;
  &::before {
    font-size: 1.25em;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }
  + span {
    margin-left: @navbar-gold-value;
  }
}

//== Controls group
.vcv-ui-navbar-controls-group {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  > * {
    flex-grow: 0;
    flex-shrink: 0;
  }
}

//== dropdown
.vcv-ui-navbar-dropdown {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  position: relative;
  margin: 0;
  > * {
    flex-grow: 0;
    flex-shrink: 0;
  }
  .vcv-ui-navbar-controls-group {
    flex-direction: column;
  }
  &:hover {
    .vcv-ui-navbar-dropdown-content {
      transition: visibility 0s, opacity @transition-duration @transition-timing-function;
      visibility: visible;
      opacity: 1;
    }
    .vcv-ui-navbar-dropdown-trigger {
      background-color: @navbar-bg-dropdown;
    }
  }
  &[disabled] {
    .vcv-ui-navbar-dropdown-content {
      visibility: hidden;
      opacity: 0;
    }
    .vcv-ui-navbar-dropdown-trigger {
      background-color: transparent;
      opacity: .5;
      cursor: not-allowed;
    }
  }

  &.vcv-ui-pull-end {
    .vcv-ui-navbar-dropdown-content {
      left: auto;
      right: 0;
    }
  }
}

.vcv-ui-navbar-dropdown-content {
  background-color: @navbar-bg-dropdown;
  min-width: @navbar-dropdown-size;
  margin: 0;
  padding: 0;
  position: absolute;
  top: 100%;
  left: 0;
  z-index: @navbar-dropdown-z-index;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s @transition-duration, opacity @transition-duration @transition-timing-function;
  .vcv-ui-navbar-control {
    text-align: left;
    &:hover,
    &.vcv-ui-state--active {
      background-color: @navbar-bg-dropdown-hover;
    }
  }
}

//== delimeter
.vcv-ui-navbar-control-separator {
  min-height: 1px;
  min-width: 1px;
  display: block;
  background-color: @navbar-separator-color;
}

//== drag handler
.vcv-ui-navbar-drag-handler {
  order: -100;
 }

//== show/hide labels
.vcv-ui-navbar-hide-labels {
  .vcv-ui-navbar-control {
    text-align: center;
  }
  .vcv-ui-navbar-control-content {
    > span {
      display: none;
    }
  }
}

.vcv-ui-navbar-show-labels {
  .vcv-ui-navbar-control {
    text-align: left;
  }
  .vcv-ui-navbar-control-content {
    > span {
      display: inline;
    }
  }
}

//== linear dropdown
.vcv-ui-navbar-dropdown-linear {
  .vcv-ui-navbar-dropdown-content {
    min-width: 100%;
    .vcv-ui-navbar-control {
      min-height: 0;
      min-width: 0;
      padding: @gold-value * .75;
    }
  }
}

//== states
.vcv-ui-navbar-control {
  &.vcv-ui-state--active {
    background-color: @color-base-active;
  }
  &.vcv-ui-state--success {
    background-color: @state-color-success;
  }
}
