// import bootstrap variables
@import (reference) "../../../../../sources/less/bootstrap/variables";

//== Base
@navbar-gold-value: @gold-value;

//== Navbar
@navbar-size: 60px;
@navbar-bg-base: @color-base;
@navbar-bg-base-hover: @color-base-active;

//== Dropdown
@navbar-dropdown-size: 200px;
@navbar-bg-dropdown: @color-alternative;
@navbar-bg-dropdown-hover: @color-alternative-active;

//== text
@navbar-text-size-base: @text-size-base;
@navbar-text-color-base: @text-color-base;

//== Separator
@navbar-separator-color: rgba(255, 255, 255, .1);

//== States
@navbar-bg-success: @state-color-success;
@navbar-bg-success-hover: @state-color-success-hover;
@navbar-bg-warning: @state-color-warning;
@navbar-bg-warning-hover: @state-color-warning-hover;

//== Positions
@navbar-z-index: @z-index-base;
@navbar-dropdown-z-index: @z-index-base + 10;

