.vce-simple-image-slider {
  &-dots-color--$selector {
    .slick-dots button, .slick-dots button:not(:hover):not(:active) {
      @if $color != false {
        background: $color;
      }
    }
  }
}
