.vce-simple-image-slider {
  &-dots-color-hover--$selector {
    .slick-dots button:hover,
    .slick-dots .slick-active button,
    .slick-dots .slick-active button:not(:hover):not(:active) {
      @if $color != false {
        background: $color;
      }
    }
  }
}
