/* ===================================
 * Visual composer editor scroll styles
 * =================================== */

.vcv-ui-scroll {
  position: relative;
  height: 100%;
  width: 100%;
  overflow: hidden;
  flex: 1 1 100%;
  display: flex;
  flex-flow: column nowrap;
}

.vcv-ui-scroll-content {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: scroll;
  overflow-scrolling: touch;
  display: flex;
  flex-flow: column nowrap;
}

.vcv-ui-tree-layout-filled {
  .vcv-ui-scroll-content {
    flex-flow: row wrap;
    align-content: flex-start;
  }
}

.vcv-ui-scroll-track--horizontal,
.vcv-ui-scroll-track--vertical {
  position: absolute;
  cursor: pointer;
  right: @scroll-indent;
  bottom: @scroll-indent;
  transition-duration: @transition-duration;
  transition-property: opacity;
  transition-timing-function: @transition-timing-function;
  opacity: 0;
  .vcv-ui-scroll:hover & {
    opacity: 1;
  }
}

.vcv-ui-scroll-track--horizontal {
  left: @scroll-indent;
  border-radius: @scroll-radius;
  height: @scroll-size;
}

.vcv-ui-scroll-track--vertical {
  top: @scroll-indent;
  border-radius: @scroll-radius;
  width: @scroll-size;
}

.vcv-ui-scroll-thumb--horizontal,
.vcv-ui-scroll-thumb--vertical {
  position: relative;
  display: block;
  cursor: pointer;
  border-radius: inherit;
  background-color: @scroll-color;
}

.vcv-ui-scroll-thumb--horizontal {
  height: 100%;
}

.vcv-ui-scroll-thumb--vertical {
  width: 100%;
}
