// import bootstrap variables
@import (reference) "../../bootstrap/variables";

@scroll-size: 5px;
@scroll-indent: @scroll-size;
@scroll-radius: @scroll-size;
@scroll-color: rgba(124, 152, 198, .5 );
