.vcv-ui-style-control-container {
  display: flex;
  justify-content: center;
  margin: @control-container-margin;
}

.vcv-ui-style-control {
  flex: 0 1 auto;
  border: none;
  padding: @control-padding-top-bottom @control-padding-left-right;
  background: @control-background-color;
  color: @control-color;
  cursor: pointer;

  &--active {
    background: @control-background-color-active;
  }

  &:first-child {
    border-top-left-radius: @border-radius;
    border-bottom-left-radius: @border-radius;
  }

  &:last-child {
    border-top-right-radius: @border-radius;
    border-bottom-right-radius: @border-radius;
  }
}

.vcv-ui-style-editor-container {
  margin: @editor-container-margin;
}

.vcv-ui-style-ace-container {
  border: 1px solid @editor-border-color;
  border-radius: @border-radius;
}

.vcv-ui-style-editor {
  &:not(.vcv-ui-style-editor--active) {
    display: none;
  }
}

