@control-color: @text-color-base;
@control-background-color: @color-base;
@control-background-color-active: @color-base-active;
@control-padding-top-bottom: 14px;
@control-padding-left-right: 24px;

@editor-border-color: #d1d1d1;

@border-radius: 3px;
@control-container-margin: 10px 0 0;
@editor-container-margin: 25px 0 0;

