@control-color: #fff;
@control-background-color: #2b4b80;
@control-background-color-active: #203251;
@control-padding-top-bottom: 14px;
@control-padding-left-right: 24px;

@editor-border-color: #ccc;

@border-radius: 3px;
@control-container-margin: 10px 0 0;
@editor-container-margin: 25px 0 0;

@transition-duration: .2s;
@transition-timing-function: ease-in-out;

