// import bootstrap variables
@import (reference) "../../../../../sources/less/bootstrap/variables";

@control-color: @text-color-base;
@control-background-color: @color-base;
@control-background-color-active: @color-base-active;
@control-padding-top-bottom: 14px;
@control-padding-left-right: 24px;

@editor-border-color: #d1d1d1;

@border-radius: 3px;
@control-container-margin: 10px 0 0;
@editor-container-margin: 25px 0 0;

//== Action
@settings-gold-value: @gold-value;

//== delimiter
@settings-separator-color: rgba(73, 109, 163, .15);

//== text
@settings-text-size-base: .75rem; // 12px;
@settings-text-color-base: @text-color-base;

//== colors
@settings-bg-base: @color-alternative;
@settings-bg-base-hover: rgba(124, 173, 222, .16);

//== Icon
@settings-action-icon-size: 1rem;

//== States
@settings-action-success-bg: @state-color-success;
