// import bootstrap variables
@import (reference) "../../../../../../sources/less/bootstrap/variables";

//== tree view variables
@tree-gold-value: @gold-value;

//== delimiter
@tree-separator-color: rgba(255, 255, 255, .1);

//== text
@tree-text-size-base: @text-size-base;
@tree-text-color-base: @text-color-base;

//== colors
@tree-bg-base: @color-alternative;
@tree-bg-base-hover: rgba(124, 173, 222, .16);

//== Controls
@tree-control-height: 40px;
