// Styles for Separator
//-----------------------------------------

.vce-separator-container {
  line-height: 0;
}

.vce-separator {
  display: inline-block;
  vertical-align: middle;
  line-height: @vce-separator-line-height;
  padding-top: @vce-separator-padding;
  padding-bottom: @vce-separator-padding;
  transition: color .3s ease;

  &::before {
    display: block;
    content: '';
    box-sizing: content-box;
    border-width: 1px;
    border-top-style: solid;
    width: 100%;
  }
}

// Styles
//===========================

.vce-separator--align {
  &-left {
    text-align: left;
  }

  &-center {
    text-align: center;
  }

  &-right {
    text-align: right;
  }
}

.vce-separator--style {
  &-solid {
    .vce-separator::before{
      border-top-style: solid;
    }
  }

  &-dotted {
    .vce-separator::before{
      border-top-style: dotted;
    }
  }

  &-dashed {
    .vce-separator::before{
      border-top-style: dashed;
    }
  }

  &-double {
    .vce-separator::before{
      border-top-style: double;
    }
  }

  &-shadow {
    .vce-separator {
      display: flex;
      margin-right: auto;
      margin-left: auto;

      &::before{
        display: none;
      }
    }
  }
}

.vce-separator-shadow {
  position: relative;
  min-height: @vce-separator-shadow-min-height;
  flex: 1 1 auto;
  min-width: @vce-separator-shadow-min-width;
  overflow: hidden;

  &::before {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    top: @vce-separator-shadow-top;
    right: 0;
    height: @vce-separator-shadow-height;
    border-radius: 100%;
  }
}

.vce-separator-shadow-left {
  &::before {
    right: -100%;
  }
}

.vce-separator-shadow-right {
  &::before {
    left: -100%;
  }
}