// Variables for Separator
//-----------------------------------------
// Note: All variables in this file available in VC design options,
// so if you need to use variable from boilerplate.less
// create your own variable and put boilerplate var into it.

//== Styles
@vce-separator-line-height: 1;
@vce-separator-padding: 10px;

@vce-separator-shadow-min-width: 10%;
@vce-separator-shadow-min-height: 10px;
@vce-separator-shadow-top: -20px;
@vce-separator-shadow-height: 10px;
