@import "../../../../../sources/less/bootstrap/variables";

@vcv-dnd-frame-border-color: rgba(70, 115, 189, .5);
@vcv-dnd-frame-border-width: 2px;
@tree-bg-base: #203251;

@controls-background-row: #4673bd;
@controls-background-column: #fec53f;
@controls-background-element: #6dab3c;