.vce-button {
  &--style-outline--border-color-$selector {
    a&,
    button& {
      &:hover, &:active, &:focus {
        &:before {
          border-color: $hoverBorder;
        }
      }
    }
  }

  &--style-outline--border-color-$selector,
  &--style-outline-animated--border-color-$selector,
  &--style-outline-animated-slidein--border-color-$selector {
    a&,
    button& {
      &:before {
        border-color: $borderColor;
      }
    }
  }
}