.vce-feature-section-background-color--$selector .vce-feature-section-image,
.vce-feature-section-background-color--$selector .vce-feature-section-content {
  @if $backgroundColor != false {
    background-color: $backgroundColor;
  }
}
