body.toplevel_page_vcv-activation {
  overflow: hidden;
}

.vcv-settings {
  -webkit-font-smoothing: antialiased;
  button, a, input {
    outline: none;
  }
}

.vcv-popup-button {
  text-decoration: none;
}

.vcv-popup-button:hover {
  color: #fff; /** same **/
}
