
body {
  overflow: hidden;
  background: #eee;
  -webkit-font-smoothing: antialiased;

  button, a, input {
    outline: none;
  }
}

.vcv-popup-button {
  text-decoration: none;
}

.vcv-popup-button:hover {
  color: #fff; /** same **/
}
