// variables
@vcv-transitionDuration: .2s;
@vcv-transitionTimingFunction: ease-in-out;

@vcv-popupSpacing: 50px;
@vcv-popupBackgroundColor: #2B4B80;
@vcv-popupBackgroundUrl: url('https://cdn.pbrd.co/images/OMZa6srR6.jpg');
@vcv-popupDefaultColor: #fff;
@vcv-popupInnerSpacing: 70px 20px 55px;

@vcv-helperFont: ~"italic normal 500 12px 'Roboto', sans-serif";
@vcv-helperLetterSpacing: .077em;
@vcv-helperColor: #fff;

@vcv-linkColor: #fff;

@vcv-errorBackground: #FA6262;
@vcv-errorSpacing: 16px 20px;
@vcv-errorFont: @vcv-helperFont;
@vcv-errorLetterSpacing: @vcv-helperLetterSpacing;

@vcv-headingFont: ~"normal normal normal 50px 'Playfair Display', serif";
@vcv-headingLetterSpacing: 0.045em;
@vcv-headingWidth: 660px;
@vcv-headingLineHeight: 60px;
@vcv-headingSpacing: 30px auto 80px;

@vcv-buttonColor: #fff;
@vcv-buttonFont: ~"normal normal bold 12px 'Montserrat', sans-serif";
@vcv-buttonLetterSpacing: .077em;
@vcv-buttonSideSpacing: 15px;
@vcv-buttonBottomSpacing: 10px;
@vcv-buttonInnerSpacing: 16px 34px;
@vcv-buttonBorder: 2px solid #fff;
@vcv-buttonHoverBackground: #1EBFFC;

@vcv-closeButtonColor: #8AA2C9;
@vcv-closeButtonHoverColor: #fff;

@vcv-backButtonColor: #8AA2C9;
@vcv-backButtonHoverColor: #fff;

@vcv-formWidth: 400px;
@vcv-formFont: ~"normal normal bold 14px 'Montserrat', sans-serif";
@vcv-formLetterSpacing: 0.077em;
@vcv-formInputColor: #505050;
@vcv-formInputPlaceholderColor: #BDBDBD;

@vcv-loadingTransitionDuration: 1.5s;
@vcv-loadingTransitionTimingFunction: linear;
@vcv-loadingHeadingFont: ~"normal normal normal 16px 'Montserrat', sans-serif";
@vcv-loadingLetterSpacing: 0.077em;
@vcv-loadingBackgroundColor: #fff;

@vcv-lastScreenColor: #000;
@vcv-lastScreenBackground: #fff;
@vcv-lastScreenButtonColor: #294A82;
@vcv-lastScreenButtonHoverColor: #1F3152;
@vcv-lastScreenCloseButtonColor: #E0E0E0;
@vcv-lastScreenCloseButtonHoverColor: #b6b6b6;
@vcv-lastScreenHelperColor: #a6a6a6;

@vcv-sliderButtonColor: #e9e9e9;
@vcv-sliderButtonHoverColor: #e1e1e1;
@vcv-sliderButtonActiveColor: #294A82;
@vcv-sliderButtonSize: 10px;
@vcv-sliderButtonGap: 5px;
@vcv-sliderWidthXS: 100%;
@vcv-sliderWidthSM: 80%;
@vcv-sliderWidthMD: 70%;
@vcv-sliderWidthCustomMD: 60%;
@vcv-sliderWidthLG: 50%;
@vcv-sliderWidthXL: 40%;
