.vcv-row-control-container {
  box-sizing: border-box;
  margin-left: @row-control-container-side-margins;
  margin-right: @row-control-container-side-margins;
  min-height: @row-size;
  display: flex;
  flex: 1 1 auto;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-content: center;
  align-items: center;
  opacity: 0;
  transition: opacity @vcv-transition-duration @vcv-transition-timing-function;

  &:hover {
    opacity: 1;
  }
}

.vcv-row-control-container-hide-labels {
  .vcv-row-control-content > span {
    display: none;
  }
}

.vcv-row-control-container-show-labels {
  .vcv-row-control-content > span {
    display: inline;
  }
}

.vcv-row-control {
  box-sizing: border-box;
  padding: @row-gold-value;
  min-width: @row-size;
  min-height: @row-size;
  color: @row-color-base;
  text-decoration: none;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  text-align: center;
  align-content: center;
  cursor: pointer;
  transition: background @vcv-transition-duration @vcv-transition-timing-function;
  border-radius: @row-control-border-radius;
  background: @row-control-background;
  margin: @row-control-top-bottom-margins @row-control-side-margins;

  &:hover,
  &:active,
  &:focus {
    color: @row-color-base;
    background: @row-control-background-hover;
    text-decoration: none;
  }

  &[disabled] {
    color: @row-color-base;
    background: @row-control-background;
    opacity: .5;
    cursor: not-allowed;
  }

}

.vcv-row-control-content {
  white-space: nowrap;
  line-height: @row-gold-value;
}

.vcv-row-control-icon {
  font-size: 1em;
  height: 1em;
  width: 1.25em;
  display: inline-block;
  vertical-align: middle;
  position: relative;

  &::before {
    font-size: 1em;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }

  + span {
    margin-left: @row-gold-value;
    vertical-align: middle;
    font-family: 'Roboto', sans-serif;
  }
}