// Variables for Row primitives
//-----------------------------------------

@row-size: 60px;
@row-gold-value: 16px;
@row-control-side-margins: -15px;

@row-color-base: #bfbfbf;
@row-color-base-hover: #999;