// Variables for Row primitives
//-----------------------------------------

@row-size: 60px;
@row-gold-value: 16px;
@row-control-container-side-margins: -15px;
@row-control-container-top-bottom-padding: 15px;
@row-control-border-radius: 3px;
@row-control-side-margins: 5px;

@row-color-base: #fff;
@row-color-base-hover: #999;
@row-control-background: rgba(0,0,0,0.15);
@row-control-background-hover: rgba(0,0,0,0.2);