@wpbakery-edit-form-modal-overlay: rgba(0, 0, 0, .7);
@wpbakery-edit-form-modal-background: #fff;
@wpbakery-edit-form-modal-spacing: 20px;
@wpbakery-edit-form-close-button-color: rgba(0, 0, 0, .5);
@wpbakery-edit-form-close-button-hover-color: rgba(0, 0, 0, .7);
@wpbakery-edit-form-close-button-size: 16px;
@wpbakery-edit-form-close-button-padding: 5px;
@wpbakery-edit-form-close-button-offset: 25px;