@import "../../../less/boilerplate";

.vcv-ui-replace-element-block {
  border-bottom: 1px solid @vcv-color-white-smoke;
  padding: 0 20px 20px;
  margin: 0 -20px 20px;
  box-shadow: inset 0px -180px 150px -160px #fbfbfb;
  position: relative;
}

.vcv-ui-replace-element-container {
  width: ~"calc(100% + 20px)";
  overflow: hidden;
  position: relative;
}

.vcv-ui-replace-element-hide {
  position: absolute;
  top: 0;
  right: 15px;
  height: 25px;
  width: 25px;
  color: @vcv-color-silver;
  display: inline-block;
  cursor: pointer;

  &::before {
    font-size: .8em;
  }
}

.vcv-ui-replace-element-list {
  list-style-type: none;
  padding: 30px 0 0;
  margin: 0;
  white-space: nowrap;
  overflow-x: auto;

  .vcv-ui-item-list-item {
    display: inline-block;
    margin: 0 7px;
    vertical-align: top;

    &:first-child {
      margin-left: 0;
    }
  }

  .vcv-ui-item-element-name {
    white-space: normal;
  }
}

