.vcv-ui-replace-element-list {
  list-style-type: none;
  padding: 0;

  .vcv-ui-add-element-list-item {
    display: inline-block;
    margin: 0 7px;

    &:first-child {
      margin-left: 0;
    }
  }
}

