/* ----------------------------------------------
 * Row
 * ---------------------------------------------- */
.vce {
  margin-bottom: 35px;
}
.vce-row {
  position: relative;
  display: flex;
  flex-direction: column;
  margin-left: 0;
  margin-right: 0;
}
.vce-row-content > .vce-col:last-child {
  margin-right: 0;
}
.vce-row-full-height {
  min-height: 100vh;
}
.vce-row-content {
  flex: 1 1 auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-content: flex-start;
  align-items: flex-start;
  min-height: 1em;
  position: relative;
}
.vce-row-columns--top > .vce-row-content {
  align-content: flex-start;
}
.vce-row-columns--middle > .vce-row-content {
  align-content: center;
}
.vce-row-columns--bottom > .vce-row-content {
  align-content: flex-end;
}
.vce-row-columns--top > .vce-row-content:after,
.vce-row-columns--middle > .vce-row-content:after,
.vce-row-columns--bottom > .vce-row-content:after {
  content: "";
  width: 100%;
  height: 0;
  overflow: hidden;
  visibility: hidden;
  display: block;
}
.vce-row-content--middle > .vce-row-content > .vce-col > .vce-col-inner {
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.vce-row-content--bottom > .vce-row-content > .vce-col > .vce-col-inner {
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
}
.vce-row-equal-height > .vce-row-content {
  align-items: stretch;
}
.vce-row-columns--stretch > .vce-row-content {
  align-content: stretch;
  align-items: stretch;
}
.vce-row[data-vce-full-width="true"] {
  position: relative;
  box-sizing: border-box;
}
.vce-row[data-vce-stretch-content="true"] {
  padding-left: 15px;
  padding-right: 15px;
}
.vce-row[data-vce-stretch-content="true"].vce-row-no-paddings {
  padding-left: 0;
  padding-right: 0;
}
.vce-row-wrap--reverse > .vce-row-content {
  flex-wrap: wrap-reverse;
}
.vce-row.vce-element--has-background {
  padding-left: 15px;
  padding-right: 15px;
}

@media (min-width: 0) and (max-width: 543px) {
  .vce-row > .vce-row-content > .vce-col.vce-col--xs-last {
    margin-right: 0;
  }
  .rtl .vce-row > .vce-row-content > .vce-col.vce-col--xs-last,
  .rtl.vce-row > .vce-row-content > .vce-col.vce-col--xs-last {
    margin-left: 0;
  }
}
/* styles for mobile-landscape */
@media (min-width: 544px) and (max-width: 767px) {
  .vce-row > .vce-row-content > .vce-col.vce-col--sm-last {
    margin-right: 0;
  }
  .rtl .vce-row > .vce-row-content > .vce-col.vce-col--sm-last,
  .rtl.vce-row > .vce-row-content > .vce-col.vce-col--sm-last {
    margin-left: 0;
  }
}
/* styles for mobile-landscape */
@media (min-width: 768px) and (max-width: 991px) {
  .vce-row > .vce-row-content > .vce-col.vce-col--md-last {
    margin-right: 0;
  }
  .rtl .vce-row > .vce-row-content > .vce-col.vce-col--md-last,
  .rtl.vce-row > .vce-row-content > .vce-col.vce-col--md-last {
    margin-left: 0;
  }
}
/* styles for mobile-landscape */
@media (min-width: 992px) and (max-width: 1199px) {
  .vce-row > .vce-row-content > .vce-col.vce-col--lg-last {
    margin-right: 0;
  }
  .rtl .vce-row > .vce-row-content > .vce-col.vce-col--lg-last,
  .rtl.vce-row > .vce-row-content > .vce-col.vce-col--lg-last {
    margin-left: 0;
  }
}
/* styles for mobile-landscape */
@media (min-width: 1200px) {
  .vce-row > .vce-row-content > .vce-col.vce-col--xl-last {
    margin-right: 0;
  }
  .rtl .vce-row > .vce-row-content > .vce-col.vce-col--xl-last,
  .rtl.vce-row > .vce-row-content > .vce-col.vce-col--xl-last {
    margin-left: 0;
  }
}