.vce-col {
  min-height: 1em;
}
.vce-col .vce-col-inner > .vcvhelper.vcv-row-control-container {
  position: static;
}
.vce-col .vce-col-content > .vcvhelper.vcv-row-control-container {
  position: static;
}