/* ----------------------------------------------
 * Row
 * ---------------------------------------------- */
.vce {
  margin-bottom: 30px;
}
.vce-row-container {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: row;
}
.vce-row {
  position: relative;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  margin-left: 0;
  margin-right: 0;
  transition: box-shadow .2s;
  flex-grow: 1;
}
.vce-row-content > .vce-col:last-child {
  margin-right: 0;
}
.vce-row-full-height {
  min-height: 100vh;
}
.vce-row-content {
  -ms-flex: 1 1 auto;
      flex: 1 1 auto;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: row;
      flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: start;
      justify-content: flex-start;
  -ms-flex-line-pack: start;
      align-content: flex-start;
  -ms-flex-align: start;
      align-items: flex-start;
  min-height: 1em;
  position: relative;
}
.vce-row-wrap--reverse > .vce-row-content {
  -ms-flex-wrap: wrap-reverse;
      flex-wrap: wrap-reverse;
  -ms-flex-line-pack: end;
      align-content: flex-end;
  -ms-flex-align: end;
      align-items: flex-end;
}
.vce-row-columns--top > .vce-row-content {
  -ms-flex-line-pack: start;
      align-content: flex-start;
}
.vce-row-columns--top.vce-row-wrap--reverse > .vce-row-content {
  -ms-flex-line-pack: end;
      align-content: flex-end;
}
.vce-row-columns--middle > .vce-row-content {
  -ms-flex-line-pack: center;
      align-content: center;
}
.vce-row-columns--bottom > .vce-row-content {
  -ms-flex-line-pack: end;
      align-content: flex-end;
}
.vce-row-columns--bottom.vce-row-wrap--reverse > .vce-row-content {
  -ms-flex-line-pack: start;
      align-content: flex-start;
}
.vce-row-columns--top > .vce-row-content:after,
.vce-row-columns--middle > .vce-row-content:after,
.vce-row-columns--bottom > .vce-row-content:after {
  content: "";
  width: 100%;
  height: 0;
  overflow: hidden;
  visibility: hidden;
  display: block;
}
.vce-row-content--middle > .vce-row-content > .vce-col > .vce-col-inner {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
      justify-content: center;
  -ms-flex-direction: column;
      flex-direction: column;
}
.vce-row-content--bottom > .vce-row-content > .vce-col > .vce-col-inner {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: end;
      justify-content: flex-end;
  -ms-flex-direction: column;
      flex-direction: column;
}
.vce-row-equal-height > .vce-row-content {
  -ms-flex-align: stretch;
      align-items: stretch;
}
.vce-row-columns--stretch > .vce-row-content {
  -ms-flex-line-pack: stretch;
      align-content: stretch;
  -ms-flex-align: stretch;
      align-items: stretch;
}
.vce-row[data-vce-full-width="true"] {
  position: relative;
  box-sizing: border-box;
}
.vce-row[data-vce-stretch-content="true"] {
  padding-left: 30px;
  padding-right: 30px;
}
.vce-row[data-vce-stretch-content="true"].vce-row-no-paddings {
  padding-left: 0;
  padding-right: 0;
}
.vce-row.vce-element--has-background {
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 30px;
}
.vce-row.vce-element--has-background[data-vce-full-width="true"]:not([data-vce-stretch-content="true"]) {
  padding-left: 0;
  padding-right: 0;
}
.vce-row.vce-element--has-background.vce-row--has-col-background {
  padding-bottom: 30px;
}
.vce-row > .vce-row-content > .vce-col.vce-col--all-last {
  margin-right: 0;
}
.rtl .vce-row > .vce-row-content > .vce-col.vce-col--all-last,
.rtl.vce-row > .vce-row-content > .vce-col.vce-col--all-last {
  margin-left: 0;
}
@media (min-width: 0) and (max-width: 543px) {
  .vce-row.vce-element--xs--has-background {
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 30px;
  }
  .vce-row.vce-element--xs--has-background[data-vce-full-width="true"]:not([data-vce-stretch-content="true"]) {
    padding-left: 0;
    padding-right: 0;
  }
  .vce-row.vce-element--xs--has-background.vce-row--xs--has-col-background {
    padding-bottom: 30px;
  }
  .vce-row.vce-element--xs--has-background.vce-row--has-col-background {
    padding-bottom: 30px;
  }
  .vce-row.vce-element--has-background.vce-row--xs--has-col-background {
    padding-bottom: 30px;
  }
  .vce-row > .vce-row-content > .vce-col.vce-col--xs-last {
    margin-right: 0;
  }
  .rtl .vce-row > .vce-row-content > .vce-col.vce-col--xs-last,
  .rtl.vce-row > .vce-row-content > .vce-col.vce-col--xs-last {
    margin-left: 0;
  }
}
/* styles for mobile-landscape */
@media (min-width: 544px) and (max-width: 767px) {
  .vce-row.vce-element--sm--has-background {
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 30px;
  }
  .vce-row.vce-element--sm--has-background[data-vce-full-width="true"]:not([data-vce-stretch-content="true"]) {
    padding-left: 0;
    padding-right: 0;
  }
  .vce-row.vce-element--sm--has-background.vce-row--sm--has-col-background {
    padding-bottom: 30px;
  }
  .vce-row.vce-element--sm--has-background.vce-row--has-col-background {
    padding-bottom: 30px;
  }
  .vce-row.vce-element--has-background.vce-row--sm--has-col-background {
    padding-bottom: 30px;
  }
  .vce-row > .vce-row-content > .vce-col.vce-col--sm-last {
    margin-right: 0;
  }
  .rtl .vce-row > .vce-row-content > .vce-col.vce-col--sm-last,
  .rtl.vce-row > .vce-row-content > .vce-col.vce-col--sm-last {
    margin-left: 0;
  }
}
/* styles for mobile-landscape */
@media (min-width: 768px) and (max-width: 991px) {
  .vce-row.vce-element--md--has-background {
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 30px;
  }
  .vce-row.vce-element--md--has-background[data-vce-full-width="true"]:not([data-vce-stretch-content="true"]) {
    padding-left: 0;
    padding-right: 0;
  }
  .vce-row.vce-element--md--has-background.vce-row--md--has-col-background {
    padding-bottom: 30px;
  }
  .vce-row.vce-element--md--has-background.vce-row--has-col-background {
    padding-bottom: 30px;
  }
  .vce-row.vce-element--has-background.vce-row--md--has-col-background {
    padding-bottom: 30px;
  }
  .vce-row > .vce-row-content > .vce-col.vce-col--md-last {
    margin-right: 0;
  }
  .rtl .vce-row > .vce-row-content > .vce-col.vce-col--md-last,
  .rtl.vce-row > .vce-row-content > .vce-col.vce-col--md-last {
    margin-left: 0;
  }
}
/* styles for mobile-landscape */
@media (min-width: 992px) and (max-width: 1199px) {
  .vce-row.vce-element--lg--has-background {
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 30px;
  }
  .vce-row.vce-element--lg--has-background[data-vce-full-width="true"]:not([data-vce-stretch-content="true"]) {
    padding-left: 0;
    padding-right: 0;
  }
  .vce-row.vce-element--lg--has-background.vce-row--lg--has-col-background {
    padding-bottom: 30px;
  }
  .vce-row.vce-element--lg--has-background.vce-row--has-col-background {
    padding-bottom: 30px;
  }
  .vce-row.vce-element--has-background.vce-row--lg--has-col-background {
    padding-bottom: 30px;
  }
  .vce-row > .vce-row-content > .vce-col.vce-col--lg-last {
    margin-right: 0;
  }
  .rtl .vce-row > .vce-row-content > .vce-col.vce-col--lg-last,
  .rtl.vce-row > .vce-row-content > .vce-col.vce-col--lg-last {
    margin-left: 0;
  }
}
/* styles for mobile-landscape */
@media (min-width: 1200px) {
  .vce-row.vce-element--xl--has-background {
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 30px;
  }
  .vce-row.vce-element--xl--has-background[data-vce-full-width="true"]:not([data-vce-stretch-content="true"]) {
    padding-left: 0;
    padding-right: 0;
  }
  .vce-row.vce-element--xl--has-background.vce-row--xl--has-col-background {
    padding-bottom: 30px;
  }
  .vce-row.vce-element--xl--has-background.vce-row--has-col-background {
    padding-bottom: 30px;
  }
  .vce-row.vce-element--has-background.vce-row--xl--has-col-background {
    padding-bottom: 30px;
  }
  .vce-row > .vce-row-content > .vce-col.vce-col--xl-last {
    margin-right: 0;
  }
  .rtl .vce-row > .vce-row-content > .vce-col.vce-col--xl-last,
  .rtl.vce-row > .vce-row-content > .vce-col.vce-col--xl-last {
    margin-left: 0;
  }
}
