@import "variables";

@font-face {
  font-family: 'VC-Icons';
  src: url('@{icomoon-font-path}/VC-Icons.ttf?4bawgc') format('truetype'),
  url('@{icomoon-font-path}/VC-Icons.woff?4bawgc') format('woff'),
  url('@{icomoon-font-path}/VC-Icons.svg?4bawgc#VC-Icons') format('svg');
  font-weight: normal;
  font-style: normal;
}

.vcv-ui-icon:before {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'VC-Icons' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.vcv-ui-icon-expand {
  &:before {
    content: @vcv-ui-icon-expand;
  }
}

.vcv-ui-icon-add-thin {
  &:before {
    content: @vcv-ui-icon-add-thin;
  }
}

.vcv-ui-icon-close-thin {
  &:before {
    content: @vcv-ui-icon-close-thin;
  }
}

.vcv-ui-icon-copy {
  &:before {
    content: @vcv-ui-icon-copy;
  }
}

.vcv-ui-icon-edit {
  &:before {
    content: @vcv-ui-icon-edit;
  }
}

.vcv-ui-icon-paste {
  &:before {
    content: @vcv-ui-icon-paste;
  }
}

.vcv-ui-icon-mobile-menu {
  &:before {
    content: @vcv-ui-icon-mobile-menu;
  }
}

.vcv-ui-icon-desktop {
  &:before {
    content: @vcv-ui-icon-desktop;
  }
}

.vcv-ui-icon-mobile-portrait {
  &:before {
    content: @vcv-ui-icon-mobile-portrait;
  }
}

.vcv-ui-icon-mobile-landscape {
  &:before {
    content: @vcv-ui-icon-mobile-landscape;
  }
}

.vcv-ui-icon-tablet-portrait {
  &:before {
    content: @vcv-ui-icon-tablet-portrait;
  }
}

.vcv-ui-icon-tablet-landscape {
  &:before {
    content: @vcv-ui-icon-tablet-landscape;
  }
}

.vcv-ui-icon-template {
  &:before {
    content: @vcv-ui-icon-template;
  }
}

.vcv-ui-icon-save {
  &:before {
    content: @vcv-ui-icon-save;
  }
}

.vcv-ui-icon-add {
  &:before {
    content: @vcv-ui-icon-add;
  }
}

.vcv-ui-icon-remove {
  &:before {
    content: @vcv-ui-icon-remove;
  }
}

.vcv-ui-icon-close {
  &:before {
    content: @vcv-ui-icon-close;
  }
}

.vcv-ui-icon-more-dots {
  &:before {
    content: @vcv-ui-icon-more-dots;
  }
}

.vcv-ui-icon-drag-dots {
  &:before {
    content: @vcv-ui-icon-drag-dots;
  }
}

.vcv-ui-icon-cog {
  &:before {
    content: @vcv-ui-icon-cog;
  }
}

.vcv-ui-icon-heart-stroke {
  &:before {
    content: @vcv-ui-icon-heart-stroke;
  }
}

.vcv-ui-icon-document-alt-stroke {
  &:before {
    content: @vcv-ui-icon-document-alt-stroke;
  }
}

.vcv-ui-icon-link {
  &:before {
    content: @vcv-ui-icon-link;
  }
}

.vcv-ui-icon-move {
  &:before {
    content: @vcv-ui-icon-move;
  }
}

.vcv-ui-icon-undo {
  &:before {
    content: @vcv-ui-icon-undo;
  }
}

.vcv-ui-icon-redo {
  &:before {
    content: @vcv-ui-icon-redo;
  }
}

.vcv-ui-icon-pen-alt-fill {
  &:before {
    content: @vcv-ui-icon-pen-alt-fill;
  }
}

.vcv-ui-icon-eyedropper {
  &:before {
    content: @vcv-ui-icon-eyedropper;
  }
}

.vcv-ui-icon-layers {
  &:before {
    content: @vcv-ui-icon-layers;
  }
}

.vcv-ui-icon-lock-stroke {
  &:before {
    content: @vcv-ui-icon-lock-stroke;
  }
}

.vcv-ui-icon-unlock-stroke {
  &:before {
    content: @vcv-ui-icon-unlock-stroke;
  }
}

.vcv-ui-icon-search {
  &:before {
    content: @vcv-ui-icon-search;
  }
}

.vcv-ui-icon-bug {
  &:before {
    content: @vcv-ui-icon-bug;
  }
}

