@icomoon-font-path: "fonts";

@vcv-ui-icon-trash: "\1f5d1";
@vcv-ui-icon-expand: "\25be";
@vcv-ui-icon-add-thin: "\2715";
@vcv-ui-icon-close-thin: "\2717";
@vcv-ui-icon-copy: "\1f5c7";
@vcv-ui-icon-edit: "\270e";
@vcv-ui-icon-paste: "\1f5ca";
@vcv-ui-icon-mobile-menu: "\2261";
@vcv-ui-icon-multiple-devices: "\1f5a7";
@vcv-ui-icon-desktop: "\1f4fa";
@vcv-ui-icon-mobile-portrait: "\1f4f1";
@vcv-ui-icon-mobile-landscape: "\1f4f2";
@vcv-ui-icon-tablet-portrait: "\1f5b3";
@vcv-ui-icon-tablet-landscape: "\1f4bb";
@vcv-ui-icon-template: "\1f4f0";
@vcv-ui-icon-save: "\2714";
@vcv-ui-icon-add: "\2795";
@vcv-ui-icon-remove: "\2796";
@vcv-ui-icon-close: "\2716";
@vcv-ui-icon-more-dots: "\22ef";
@vcv-ui-icon-drag-dots: "\22ee";
@vcv-ui-icon-cog: "\1f6e0";
@vcv-ui-icon-heart-stroke: "\2661";
@vcv-ui-icon-document-alt-stroke: "\1f5cb";
@vcv-ui-icon-link: "\1f517";
@vcv-ui-icon-move: "\2723";
@vcv-ui-icon-undo: "\293e";
@vcv-ui-icon-redo: "\293f";
@vcv-ui-icon-pen-alt-fill: "\2710";
@vcv-ui-icon-eyedropper: "\1f58d";
@vcv-ui-icon-layers: "\1f5d7";
@vcv-ui-icon-lock-stroke: "\1f512";
@vcv-ui-icon-unlock-stroke: "\1f513";
@vcv-ui-icon-search: "\2315";
@vcv-ui-icon-bug: "\1f41c";

