@icomoon-font-path: "fonts";

@vcv-ui-icon-expand: "\e91c";
@vcv-ui-icon-add-thin: "\e90c";
@vcv-ui-icon-close-thin: "\e90d";
@vcv-ui-icon-copy: "\e90f";
@vcv-ui-icon-edit: "\e910";
@vcv-ui-icon-paste: "\e91b";
@vcv-ui-icon-mobile-menu: "\e900";
@vcv-ui-icon-desktop: "\e901";
@vcv-ui-icon-mobile-portrait: "\e902";
@vcv-ui-icon-mobile-landscape: "\e903";
@vcv-ui-icon-tablet-portrait: "\e904";
@vcv-ui-icon-tablet-landscape: "\e905";
@vcv-ui-icon-template: "\e906";
@vcv-ui-icon-save: "\e907";
@vcv-ui-icon-add: "\e908";
@vcv-ui-icon-remove: "\e909";
@vcv-ui-icon-close: "\e90a";
@vcv-ui-icon-more-dots: "\e91d";
@vcv-ui-icon-drag-dots: "\e90b";
@vcv-ui-icon-cog: "\e90e";
@vcv-ui-icon-heart-stroke: "\e91e";
@vcv-ui-icon-document-alt-stroke: "\e91f";
@vcv-ui-icon-link: "\e911";
@vcv-ui-icon-move: "\e912";
@vcv-ui-icon-undo: "\e913";
@vcv-ui-icon-redo: "\e914";
@vcv-ui-icon-pen-alt-fill: "\e915";
@vcv-ui-icon-eyedropper: "\e916";
@vcv-ui-icon-layers: "\e917";
@vcv-ui-icon-lock-stroke: "\e918";
@vcv-ui-icon-unlock-stroke: "\e919";
@vcv-ui-icon-bug: "\e91a";

