@icomoon-font-path: "fonts";

@vc-ui-icon-mobile-menu: "\e900";
@vc-ui-icon-desktop: "\e901";
@vc-ui-icon-mobile-portrait: "\e902";
@vc-ui-icon-mobile-landscape: "\e903";
@vc-ui-icon-tablet-portrait: "\e904";
@vc-ui-icon-tablet-landscape: "\e905";
@vc-ui-icon-template: "\e906";
@vc-ui-icon-save: "\e907";
@vc-ui-icon-add: "\e908";
@vc-ui-icon-remove: "\e909";
@vc-ui-icon-close: "\e90a";
@vc-ui-icon-drag-dots: "\e90b";
@vc-ui-icon-cog: "\e90e";
@vc-ui-icon-link: "\e911";
@vc-ui-icon-move: "\e912";
@vc-ui-icon-undo: "\e913";
@vc-ui-icon-redo: "\e914";
@vc-ui-icon-pen-alt-fill: "\e915";
@vc-ui-icon-eyedropper: "\e916";
@vc-ui-icon-layers: "\e917";
@vc-ui-icon-lock-stroke: "\e918";
@vc-ui-icon-unlock-stroke: "\e919";
@vc-ui-icon-bug: "\e91a";

