[data-vcv-element-disable-interaction="true"] .vce-twitter-tweet-inner {
  position: relative;
}

[data-vcv-element-disable-interaction="true"] .vce-twitter-tweet-inner::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 999;
}

.vce-twitter-tweet {
  min-height: 1em;
}
