@import "variables";

@font-face {
  font-family: 'vcv-monosocial';
  src:
    url('@{icomoon-font-path}/vcv-monosocial.ttf?qvlnsx') format('truetype'),
    url('@{icomoon-font-path}/vcv-monosocial.woff?qvlnsx') format('woff'),
    url('@{icomoon-font-path}/vcv-monosocial.svg?qvlnsx#vcv-monosocial') format('svg');
  font-weight: normal;
  font-style: normal;
}

.vcv-ui-icon-monosocial {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'vcv-monosocial' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.vcv-ui-icon-monosocial-stackoverflow {
  &:before {
    content: @vcv-ui-icon-monosocial-stackoverflow;
  }
}
.vcv-ui-icon-monosocial-fivehundredpx {
  &:before {
    content: @vcv-ui-icon-monosocial-fivehundredpx;
  }
}
.vcv-ui-icon-monosocial-foodspotting {
  &:before {
    content: @vcv-ui-icon-monosocial-foodspotting;
  }
}
.vcv-ui-icon-monosocial-photobucket {
  &:before {
    content: @vcv-ui-icon-monosocial-photobucket;
  }
}
.vcv-ui-icon-monosocial-twitterbird {
  &:before {
    content: @vcv-ui-icon-monosocial-twitterbird;
  }
}
.vcv-ui-icon-monosocial-stumbleupon {
  &:before {
    content: @vcv-ui-icon-monosocial-stumbleupon;
  }
}
.vcv-ui-icon-monosocial-grooveshark {
  &:before {
    content: @vcv-ui-icon-monosocial-grooveshark;
  }
}
.vcv-ui-icon-monosocial-appstorealt {
  &:before {
    content: @vcv-ui-icon-monosocial-appstorealt;
  }
}
.vcv-ui-icon-monosocial-friendsfeed {
  &:before {
    content: @vcv-ui-icon-monosocial-friendsfeed;
  }
}
.vcv-ui-icon-monosocial-designfloat {
  &:before {
    content: @vcv-ui-icon-monosocial-designfloat;
  }
}
.vcv-ui-icon-monosocial-friendstar {
  &:before {
    content: @vcv-ui-icon-monosocial-friendstar;
  }
}
.vcv-ui-icon-monosocial-googlebuzz {
  &:before {
    content: @vcv-ui-icon-monosocial-googlebuzz;
  }
}
.vcv-ui-icon-monosocial-deviantart {
  &:before {
    content: @vcv-ui-icon-monosocial-deviantart;
  }
}
.vcv-ui-icon-monosocial-foursquare {
  &:before {
    content: @vcv-ui-icon-monosocial-foursquare;
  }
}
.vcv-ui-icon-monosocial-technorati {
  &:before {
    content: @vcv-ui-icon-monosocial-technorati;
  }
}
.vcv-ui-icon-monosocial-googletalk {
  &:before {
    content: @vcv-ui-icon-monosocial-googletalk;
  }
}
.vcv-ui-icon-monosocial-designbump {
  &:before {
    content: @vcv-ui-icon-monosocial-designbump;
  }
}
.vcv-ui-icon-monosocial-googleplus {
  &:before {
    content: @vcv-ui-icon-monosocial-googleplus;
  }
}
.vcv-ui-icon-monosocial-gowallapin {
  &:before {
    content: @vcv-ui-icon-monosocial-gowallapin;
  }
}
.vcv-ui-icon-monosocial-soundcloud {
  &:before {
    content: @vcv-ui-icon-monosocial-soundcloud;
  }
}
.vcv-ui-icon-monosocial-feedburner {
  &:before {
    content: @vcv-ui-icon-monosocial-feedburner;
  }
}
.vcv-ui-icon-monosocial-slideshare {
  &:before {
    content: @vcv-ui-icon-monosocial-slideshare;
  }
}
.vcv-ui-icon-monosocial-wordpress {
  &:before {
    content: @vcv-ui-icon-monosocial-wordpress;
  }
}
.vcv-ui-icon-monosocial-yahoobuzz {
  &:before {
    content: @vcv-ui-icon-monosocial-yahoobuzz;
  }
}
.vcv-ui-icon-monosocial-githubalt {
  &:before {
    content: @vcv-ui-icon-monosocial-githubalt;
  }
}
.vcv-ui-icon-monosocial-delicious {
  &:before {
    content: @vcv-ui-icon-monosocial-delicious;
  }
}
.vcv-ui-icon-monosocial-sharethis {
  &:before {
    content: @vcv-ui-icon-monosocial-sharethis;
  }
}
.vcv-ui-icon-monosocial-instagram {
  &:before {
    content: @vcv-ui-icon-monosocial-instagram;
  }
}
.vcv-ui-icon-monosocial-pinterest {
  &:before {
    content: @vcv-ui-icon-monosocial-pinterest;
  }
}
.vcv-ui-icon-monosocial-posterous {
  &:before {
    content: @vcv-ui-icon-monosocial-posterous;
  }
}
.vcv-ui-icon-monosocial-wikipedia {
  &:before {
    content: @vcv-ui-icon-monosocial-wikipedia;
  }
}
.vcv-ui-icon-monosocial-linkedin {
  &:before {
    content: @vcv-ui-icon-monosocial-linkedin;
  }
}
.vcv-ui-icon-monosocial-emberapp {
  &:before {
    content: @vcv-ui-icon-monosocial-emberapp;
  }
}
.vcv-ui-icon-monosocial-slashdot {
  &:before {
    content: @vcv-ui-icon-monosocial-slashdot;
  }
}
.vcv-ui-icon-monosocial-icondock {
  &:before {
    content: @vcv-ui-icon-monosocial-icondock;
  }
}
.vcv-ui-icon-monosocial-identica {
  &:before {
    content: @vcv-ui-icon-monosocial-identica;
  }
}
.vcv-ui-icon-monosocial-imessage {
  &:before {
    content: @vcv-ui-icon-monosocial-imessage;
  }
}
.vcv-ui-icon-monosocial-mobileme {
  &:before {
    content: @vcv-ui-icon-monosocial-mobileme;
  }
}
.vcv-ui-icon-monosocial-newsvine {
  &:before {
    content: @vcv-ui-icon-monosocial-newsvine;
  }
}
.vcv-ui-icon-monosocial-metacafe {
  &:before {
    content: @vcv-ui-icon-monosocial-metacafe;
  }
}
.vcv-ui-icon-monosocial-appstore {
  &:before {
    content: @vcv-ui-icon-monosocial-appstore;
  }
}
.vcv-ui-icon-monosocial-facebook {
  &:before {
    content: @vcv-ui-icon-monosocial-facebook;
  }
}
.vcv-ui-icon-monosocial-coroflot {
  &:before {
    content: @vcv-ui-icon-monosocial-coroflot;
  }
}
.vcv-ui-icon-monosocial-blogger {
  &:before {
    content: @vcv-ui-icon-monosocial-blogger;
  }
}
.vcv-ui-icon-monosocial-twitter {
  &:before {
    content: @vcv-ui-icon-monosocial-twitter;
  }
}
.vcv-ui-icon-monosocial-diggalt {
  &:before {
    content: @vcv-ui-icon-monosocial-diggalt;
  }
}
.vcv-ui-icon-monosocial-squidoo {
  &:before {
    content: @vcv-ui-icon-monosocial-squidoo;
  }
}
.vcv-ui-icon-monosocial-spotify {
  &:before {
    content: @vcv-ui-icon-monosocial-spotify;
  }
}
.vcv-ui-icon-monosocial-smugmug {
  &:before {
    content: @vcv-ui-icon-monosocial-smugmug;
  }
}
.vcv-ui-icon-monosocial-aboutme {
  &:before {
    content: @vcv-ui-icon-monosocial-aboutme;
  }
}
.vcv-ui-icon-monosocial-viddler {
  &:before {
    content: @vcv-ui-icon-monosocial-viddler;
  }
}
.vcv-ui-icon-monosocial-retweet {
  &:before {
    content: @vcv-ui-icon-monosocial-retweet;
  }
}
.vcv-ui-icon-monosocial-myspace {
  &:before {
    content: @vcv-ui-icon-monosocial-myspace;
  }
}
.vcv-ui-icon-monosocial-windows {
  &:before {
    content: @vcv-ui-icon-monosocial-windows;
  }
}
.vcv-ui-icon-monosocial-dribble {
  &:before {
    content: @vcv-ui-icon-monosocial-dribble;
  }
}
.vcv-ui-icon-monosocial-behance {
  &:before {
    content: @vcv-ui-icon-monosocial-behance;
  }
}
.vcv-ui-icon-monosocial-podcast {
  &:before {
    content: @vcv-ui-icon-monosocial-podcast;
  }
}
.vcv-ui-icon-monosocial-youtube {
  &:before {
    content: @vcv-ui-icon-monosocial-youtube;
  }
}
.vcv-ui-icon-monosocial-gowalla {
  &:before {
    content: @vcv-ui-icon-monosocial-gowalla;
  }
}
.vcv-ui-icon-monosocial-picasa {
  &:before {
    content: @vcv-ui-icon-monosocial-picasa;
  }
}
.vcv-ui-icon-monosocial-tumblr {
  &:before {
    content: @vcv-ui-icon-monosocial-tumblr;
  }
}
.vcv-ui-icon-monosocial-forrst {
  &:before {
    content: @vcv-ui-icon-monosocial-forrst;
  }
}
.vcv-ui-icon-monosocial-meetup {
  &:before {
    content: @vcv-ui-icon-monosocial-meetup;
  }
}
.vcv-ui-icon-monosocial-paypal {
  &:before {
    content: @vcv-ui-icon-monosocial-paypal;
  }
}
.vcv-ui-icon-monosocial-lastfm {
  &:before {
    content: @vcv-ui-icon-monosocial-lastfm;
  }
}
.vcv-ui-icon-monosocial-itunes {
  &:before {
    content: @vcv-ui-icon-monosocial-itunes;
  }
}
.vcv-ui-icon-monosocial-flickr {
  &:before {
    content: @vcv-ui-icon-monosocial-flickr;
  }
}
.vcv-ui-icon-monosocial-daytum {
  &:before {
    content: @vcv-ui-icon-monosocial-daytum;
  }
}
.vcv-ui-icon-monosocial-drupal {
  &:before {
    content: @vcv-ui-icon-monosocial-drupal;
  }
}
.vcv-ui-icon-monosocial-amazon {
  &:before {
    content: @vcv-ui-icon-monosocial-amazon;
  }
}
.vcv-ui-icon-monosocial-reddit {
  &:before {
    content: @vcv-ui-icon-monosocial-reddit;
  }
}
.vcv-ui-icon-monosocial-scribd {
  &:before {
    content: @vcv-ui-icon-monosocial-scribd;
  }
}
.vcv-ui-icon-monosocial-mrwong {
  &:before {
    content: @vcv-ui-icon-monosocial-mrwong;
  }
}
.vcv-ui-icon-monosocial-github {
  &:before {
    content: @vcv-ui-icon-monosocial-github;
  }
}
.vcv-ui-icon-monosocial-email {
  &:before {
    content: @vcv-ui-icon-monosocial-email;
  }
}
.vcv-ui-icon-monosocial-apple {
  &:before {
    content: @vcv-ui-icon-monosocial-apple;
  }
}
.vcv-ui-icon-monosocial-addme {
  &:before {
    content: @vcv-ui-icon-monosocial-addme;
  }
}
.vcv-ui-icon-monosocial-yahoo {
  &:before {
    content: @vcv-ui-icon-monosocial-yahoo;
  }
}
.vcv-ui-icon-monosocial-vimeo {
  &:before {
    content: @vcv-ui-icon-monosocial-vimeo;
  }
}
.vcv-ui-icon-monosocial-skype {
  &:before {
    content: @vcv-ui-icon-monosocial-skype;
  }
}
.vcv-ui-icon-monosocial-heart {
  &:before {
    content: @vcv-ui-icon-monosocial-heart;
  }
}
.vcv-ui-icon-monosocial-quora {
  &:before {
    content: @vcv-ui-icon-monosocial-quora;
  }
}
.vcv-ui-icon-monosocial-hyves {
  &:before {
    content: @vcv-ui-icon-monosocial-hyves;
  }
}
.vcv-ui-icon-monosocial-bebo {
  &:before {
    content: @vcv-ui-icon-monosocial-bebo;
  }
}
.vcv-ui-icon-monosocial-virb {
  &:before {
    content: @vcv-ui-icon-monosocial-virb;
  }
}
.vcv-ui-icon-monosocial-blip {
  &:before {
    content: @vcv-ui-icon-monosocial-blip;
  }
}
.vcv-ui-icon-monosocial-digg {
  &:before {
    content: @vcv-ui-icon-monosocial-digg;
  }
}
.vcv-ui-icon-monosocial-ebay {
  &:before {
    content: @vcv-ui-icon-monosocial-ebay;
  }
}
.vcv-ui-icon-monosocial-mixx {
  &:before {
    content: @vcv-ui-icon-monosocial-mixx;
  }
}
.vcv-ui-icon-monosocial-gdgt {
  &:before {
    content: @vcv-ui-icon-monosocial-gdgt;
  }
}
.vcv-ui-icon-monosocial-star {
  &:before {
    content: @vcv-ui-icon-monosocial-star;
  }
}
.vcv-ui-icon-monosocial-bing {
  &:before {
    content: @vcv-ui-icon-monosocial-bing;
  }
}
.vcv-ui-icon-monosocial-yelp {
  &:before {
    content: @vcv-ui-icon-monosocial-yelp;
  }
}
.vcv-ui-icon-monosocial-etsy {
  &:before {
    content: @vcv-ui-icon-monosocial-etsy;
  }
}
.vcv-ui-icon-monosocial-xing {
  &:before {
    content: @vcv-ui-icon-monosocial-xing;
  }
}
.vcv-ui-icon-monosocial-rss {
  &:before {
    content: @vcv-ui-icon-monosocial-rss;
  }
}
.vcv-ui-icon-monosocial-icq {
  &:before {
    content: @vcv-ui-icon-monosocial-icq;
  }
}
.vcv-ui-icon-monosocial-www {
  &:before {
    content: @vcv-ui-icon-monosocial-www;
  }
}
.vcv-ui-icon-monosocial-msn {
  &:before {
    content: @vcv-ui-icon-monosocial-msn;
  }
}
.vcv-ui-icon-monosocial-qik {
  &:before {
    content: @vcv-ui-icon-monosocial-qik;
  }
}
.vcv-ui-icon-monosocial-aol {
  &:before {
    content: @vcv-ui-icon-monosocial-aol;
  }
}

