$colorName: bada55;
$color:   #fff;
$background: #bada55;
.vce-button-xo {
   &--style-outline {
     &--color-$(colorName) {
       &,
       a&,
       button& {
         color: $background;
         border-color: $background;
         background-color: transparent;
         &::before {
           border-color: $background;
         }
         &:hover {
           color: $color;
         }
       }
     }
   }
 }