.vce-row {
  &--gap-$selector {
    @if $gap != false {
      > .vce-row-content {
        > .vce-col {
          padding-left: calc($(columnGap)px / 2);
          padding-right: calc($(columnGap)px / 2);
        }
      }

      margin-left: calc(-$(columnGap)px / 2 - 15px);
      margin-right: calc(-$(columnGap)px / 2 - 15px);

      &.vce-element--has-background {
        margin-left: calc(-$(columnGap)px / 2);
        margin-right: calc(-$(columnGap)px / 2);
      }
    }
  }
}


