.vce-asset-video-vimeo-container {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  overflow: hidden;
  display: none;
  pointer-events: none;
  border-radius: inherit;
}

.vce-asset-video-vimeo-wrapper {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
}

.vce-asset-video-vimeo-container .vce-asset-video-vimeo-sizer {
  border: none;
  max-width: none;
  height: 100%;
  width: auto;
  display: inline-block;
  vertical-align: top;
}
.vce-asset-video-vimeo-sizer:not([data-vce-assets-video-state='visible']) {
  display: none;
}
.vce-asset-video-vimeo-background {
  position: absolute;
  height: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: none;
  object-fit: cover;
  margin: 0;
}
.vce-asset-video-vimeo--state-landscape.vce-asset-video-vimeo-background,
.vce-asset-video-vimeo--state-landscape .vce-asset-video-vimeo-sizer {
  height: auto;
  width: 100%;
}

.vce-asset-video-vimeo-player {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.vce-asset-video-vimeo-player iframe {
  width: 100%;
  height: calc(100% + 200px);
  margin-top: -100px;
}


.vce-asset-video-vimeo-container.vce-visible-all-only {
  display: block;
}

@media (max-width: 543px) {
  .vce-asset-video-vimeo-container.vce-visible-xs-only {
    display: block;
  }
}

@media (min-width: 544px) and (max-width: 767px) {
  .vce-asset-video-vimeo-container.vce-visible-sm-only {
    display: block;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .vce-asset-video-vimeo-container.vce-visible-md-only {
    display: block;
  }
}

@media (min-width: 992px) and (max-width: 1199px) {
  .vce-asset-video-vimeo-container.vce-visible-lg-only {
    display: block;
  }
}

@media (min-width: 1200px) {
  .vce-asset-video-vimeo-container.vce-visible-xl-only {
    display: block;
  }
}
