/* ===================================
 * Visual composer Global styles
 * related to Navbar
 * =================================== */

// navbar positions
.vc-ui-navbar-position-left {
  #vc-ui-navbar > .init-variables();
  padding-left: @navbar-size;
}
.vc-ui-navbar-position-right {
  #vc-ui-navbar > .init-variables();
  padding-right: @navbar-size;
}
.vc-ui-navbar-position-bottom {
  #vc-ui-navbar > .init-variables();
  padding-bottom: @navbar-size;
}
.vc-ui-navbar-position-top {
  #vc-ui-navbar > .init-variables();
  padding-top: @navbar-size;
}

.vc-ui-navbar-is-dragging {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  .vc-ui-navbar {
    pointer-events: none;
  }
}