/* ===================================
 * Visual composer Navbar styles
 * =================================== */

div& {
  border: 10px solid green;
}

.vc-navbar-contaienr {
  border: 1px solid yellow;
}

.vc-navbar {
  border: 1px solid red;
}