// Mixins for Text Separator
//-----------------------------------------

#vce-text-separator {

  // Make alignments
  //=======================
  .make-alignment( @name; @text-align: false; @before-grow: false; @after-grow: false; @prefix: vce-text-separator-align ) {
    .@{prefix}-@{name} {
      // align text
      & when not (@text-align = false ) {
        text-align: @text-align;
      }

      // grow before element
      & when not (@before-grow = false ) {
        &::before {
          flex-grow: @before-grow;
        }
      }

      // grow after element
      & when not (@after-grow = false ) {
        &::after {
          flex-grow: @after-grow;
        }
      }
    }
  }

  // Make styles
  //=======================
  .make-style( @name; @top-border-style: false; @bottom-border-style: false; @border-space: false; @prefix: vce-text-separator-style) {
    .@{prefix}-@{name} {
      &::before,
      &::after {

        // apply styles to top border
        & when not (@top-border-style = false) {
          border-top-style: @top-border-style;
        }

        // apply styles to bottom border
        & when not (@bottom-border-style = false) {
          border-bottom-style: @bottom-border-style;
        }

        // set space between borders
        & when not (@border-space = false) {
          height: @border-space;
        }
      }
    }
  }


  // Make Colors
  //=======================
  .make-color( @name; @color; @prefix: vce-text-separator-color) {
    .@{prefix}-@{name} {
      &::before,
      &::after {
        color: @color;
      }
    }
  }
}