// Variables for Text Separator
//-----------------------------------------
// Note: All variables in this file available in VC design options,
// so if you need to use variable from boilerplate.less than
// create your own variable and put boilerplate var in it.

//== Transition effects
@vce-transition-duration: @vcv-transition-duration;
@vce-transition-function: @vcv-transition-timing-function;

//== Styles
@vce-min-separator-width: 1em;

//== Content
@vce-content-padding: .3em;

//== Colors
@vce-color-info: @vcv-color-curious-blue;
@vce-color-danger: @vcv-color-fire-engine;
@vce-color-warning: @vcv-color-harvest;
@vce-color-success: @vcv-color-lime-green;

//== Indents
@vce-top-indent: @vcv-gold-indent-lg;
@vce-bottom-indent: @vcv-gold-indent-md;