// import bootstrap variables
@import (reference) "../../bootstrap/variables";

//== Base
@logo-gold-value: @gold-value;

//== Logo
@logo-size: 60px;
@logo-bg-hover: @color-base-active;
@logo-position: -100;
