.vce-tweet-button--align-center {
  text-align: center;
}

.vce-tweet-button--align-right {
  text-align: right;
}

.vce-tweet-button--align-left {
  text-align: left;
}

.vce-tweet-button-inner {
  vertical-align: top;
  display: inline-block;
}

.vce-tweet-button-inner.vce-tweet-button-disabled {
  position: relative;
}

.vce-tweet-button-inner.vce-tweet-button-disabled::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 999;
}