.resizer {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 10px;
  height: 10px;
  margin: -10px;
  cursor: nw-resize;
}

.resizer.resizer-x {
  cursor: e-resize;
}

.resizer.resizer-y {
  cursor: n-resize;
}

.resizer-overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 99999;
}
