@import "variables";

@font-face {
  font-family: 'VC-UI-Icons';
  src: url('fonts/VC-UI-Icons.eot');
  src: url('fonts/VC-UI-Icons.eot') format('embedded-opentype'),
  url('fonts/VC-UI-Icons.ttf') format('truetype'),
  url('fonts/VC-UI-Icons.woff') format('woff'),
  url('fonts/VC-UI-Icons.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}

.vc_ui-icon {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'VC-UI-Icons' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.vc_ui-icon-add {
  &:before {
    content: @vc_ui-icon-add;
  }
}

.vc_ui-icon-clear {
  &:before {
    content: @vc_ui-icon-clear;
  }
}

.vc_ui-icon-remove {
  &:before {
    content: @vc_ui-icon-remove;
  }
}

.vc_ui-icon-desktop {
  &:before {
    content: @vc_ui-icon-desktop;
  }
}

.vc_ui-icon-laptop {
  &:before {
    content: @vc_ui-icon-laptop;
  }
}

.vc_ui-icon-phone {
  &:before {
    content: @vc_ui-icon-phone;
  }
}

.vc_ui-icon-tablet {
  &:before {
    content: @vc_ui-icon-tablet;
  }
}

.vc_ui-icon-arrow_drop_down {
  &:before {
    content: @vc_ui-icon-arrow_drop_down;
  }
}

.vc_ui-icon-arrow_drop_up {
  &:before {
    content: @vc_ui-icon-arrow_drop_up;
  }
}

.vc_ui-icon-more_horiz {
  &:before {
    content: @vc_ui-icon-more_horiz;
  }
}

.vc_ui-icon-more_vert {
  &:before {
    content: @vc_ui-icon-more_vert;
  }
}

.vc_ui-icon-done {
  &:before {
    content: @vc_ui-icon-done;
  }
}

.vc_ui-icon-cog {
  &:before {
    content: @vc_ui-icon-cog;
  }
}

.vc_ui-icon-move {
  &:before {
    content: @vc_ui-icon-move;
  }
}

.vc_ui-icon-new-window {
  &:before {
    content: @vc_ui-icon-new-window;
  }
}

.vc_ui-icon-fullscreen-exit {
  &:before {
    content: @vc_ui-icon-fullscreen-exit;
  }
}

.vc_ui-icon-fullscreen {
  &:before {
    content: @vc_ui-icon-fullscreen;
  }
}

.vc_ui-icon-pen-alt-fill {
  &:before {
    content: @vc_ui-icon-pen-alt-fill;
  }
}

.vc_ui-icon-layers {
  &:before {
    content: @vc_ui-icon-layers;
  }
}

.vc_ui-icon-plus {
  &:before {
    content: @vc_ui-icon-plus;
  }
}

.vc_ui-icon-minus {
  &:before {
    content: @vc_ui-icon-minus;
  }
}

.vc_ui-icon-cross {
  &:before {
    content: @vc_ui-icon-cross;
  }
}

.vc_ui-icon-checkmark {
  &:before {
    content: @vc_ui-icon-checkmark;
  }
}

.vc_ui-icon-frame-landscape {
  &:before {
    content: @vc_ui-icon-frame-landscape;
  }
}

.vc_ui-icon-dots-three-horizontal {
  &:before {
    content: @vc_ui-icon-dots-three-horizontal;
  }
}

.vc_ui-icon-dots-three-vertical {
  &:before {
    content: @vc_ui-icon-dots-three-vertical;
  }
}

.vc_ui-icon-dots-two-horizontal {
  &:before {
    content: @vc_ui-icon-dots-two-horizontal;
  }
}

.vc_ui-icon-dots-two-vertical {
  &:before {
    content: @vc_ui-icon-dots-two-vertical;
  }
}

.vc_ui-icon-flow-cascade {
  &:before {
    content: @vc_ui-icon-flow-cascade;
  }
}

.vc_ui-icon-frame-alt {
  &:before {
    content: @vc_ui-icon-frame-alt;
  }
}

.vc_ui-icon-frame-portrait {
  &:before {
    content: @vc_ui-icon-frame-portrait;
  }
}

.vc_ui-icon-heart {
  &:before {
    content: @vc_ui-icon-heart;
  }
}

.vc_ui-icon-menu {
  &:before {
    content: @vc_ui-icon-menu;
  }
}

.vc_ui-icon-500px-with-circle {
  &:before {
    content: @vc_ui-icon-500px-with-circle;
  }
}

.vc_ui-icon-rdio-with-circle {
  &:before {
    content: @vc_ui-icon-rdio-with-circle;
  }
}

.vc_ui-icon-skype-with-circle {
  &:before {
    content: @vc_ui-icon-skype-with-circle;
  }
}

.vc_ui-icon-spotify-with-circle {
  &:before {
    content: @vc_ui-icon-spotify-with-circle;
  }
}

.vc_ui-icon-vine-with-circle {
  &:before {
    content: @vc_ui-icon-vine-with-circle;
  }
}

.vc_ui-icon-vk-with-circle {
  &:before {
    content: @vc_ui-icon-vk-with-circle;
  }
}

.vc_ui-icon-xing-with-circle {
  &:before {
    content: @vc_ui-icon-xing-with-circle;
  }
}

.vc_ui-icon-dribbble-with-circle {
  &:before {
    content: @vc_ui-icon-dribbble-with-circle;
  }
}

.vc_ui-icon-facebook-with-circle {
  &:before {
    content: @vc_ui-icon-facebook-with-circle;
  }
}

.vc_ui-icon-flickr-with-circle {
  &:before {
    content: @vc_ui-icon-flickr-with-circle;
  }
}

.vc_ui-icon-github-with-circle {
  &:before {
    content: @vc_ui-icon-github-with-circle;
  }
}

.vc_ui-icon-google-with-circle {
  &:before {
    content: @vc_ui-icon-google-with-circle;
  }
}

.vc_ui-icon-instagram-with-circle {
  &:before {
    content: @vc_ui-icon-instagram-with-circle;
  }
}

.vc_ui-icon-lastfm-with-circle {
  &:before {
    content: @vc_ui-icon-lastfm-with-circle;
  }
}

.vc_ui-icon-linkedin-with-circle {
  &:before {
    content: @vc_ui-icon-linkedin-with-circle;
  }
}

.vc_ui-icon-pinterest-with-circle {
  &:before {
    content: @vc_ui-icon-pinterest-with-circle;
  }
}

.vc_ui-icon-stumbleupon-with-circle {
  &:before {
    content: @vc_ui-icon-stumbleupon-with-circle;
  }
}

.vc_ui-icon-tumblr-with-circle {
  &:before {
    content: @vc_ui-icon-tumblr-with-circle;
  }
}

.vc_ui-icon-twitter-with-circle {
  &:before {
    content: @vc_ui-icon-twitter-with-circle;
  }
}

.vc_ui-icon-vimeo-with-circle {
  &:before {
    content: @vc_ui-icon-vimeo-with-circle;
  }
}

.vc_ui-icon-youtube-with-circle {
  &:before {
    content: @vc_ui-icon-youtube-with-circle;
  }
}

.vc_ui-icon-bug {
  &:before {
    content: @vc_ui-icon-bug;
  }
}

.vc_ui-icon-wordpress-with-circle {
  &:before {
    content: @vc_ui-icon-wordpress-with-circle;
  }
}

