@vc_ui-icon-add: "\e145";
@vc_ui-icon-clear: "\e14c";
@vc_ui-icon-remove: "\e15b";
@vc_ui-icon-desktop: "\e30c";
@vc_ui-icon-laptop: "\e31e";
@vc_ui-icon-phone: "\e324";
@vc_ui-icon-tablet: "\e330";
@vc_ui-icon-arrow_drop_down: "\e5c5";
@vc_ui-icon-arrow_drop_up: "\e5c7";
@vc_ui-icon-more_horiz: "\e5d3";
@vc_ui-icon-more_vert: "\e5d4";
@vc_ui-icon-done: "\e876";
@vc_ui-icon-cog: "\e901";
@vc_ui-icon-move: "\e904";
@vc_ui-icon-new-window: "\e905";
@vc_ui-icon-fullscreen-exit: "\e906";
@vc_ui-icon-fullscreen: "\e907";
@vc_ui-icon-pen-alt-fill: "\e900";
@vc_ui-icon-layers: "\e902";
@vc_ui-icon-plus: "\e908";
@vc_ui-icon-minus: "\e909";
@vc_ui-icon-cross: "\e90a";
@vc_ui-icon-checkmark: "\e90b";
@vc_ui-icon-frame-landscape: "\e90c";
@vc_ui-icon-dots-three-horizontal: "\e90d";
@vc_ui-icon-dots-three-vertical: "\e90e";
@vc_ui-icon-dots-two-horizontal: "\e90f";
@vc_ui-icon-dots-two-vertical: "\e910";
@vc_ui-icon-flow-cascade: "\e911";
@vc_ui-icon-frame-alt: "\e912";
@vc_ui-icon-frame-portrait: "\e913";
@vc_ui-icon-heart: "\e915";
@vc_ui-icon-menu: "\e914";
@vc_ui-icon-500px-with-circle: "\e916";
@vc_ui-icon-rdio-with-circle: "\e917";
@vc_ui-icon-skype-with-circle: "\e918";
@vc_ui-icon-spotify-with-circle: "\e919";
@vc_ui-icon-vine-with-circle: "\e91a";
@vc_ui-icon-vk-with-circle: "\e91b";
@vc_ui-icon-xing-with-circle: "\e91c";
@vc_ui-icon-dribbble-with-circle: "\e91d";
@vc_ui-icon-facebook-with-circle: "\e91e";
@vc_ui-icon-flickr-with-circle: "\e91f";
@vc_ui-icon-github-with-circle: "\e920";
@vc_ui-icon-google-with-circle: "\e921";
@vc_ui-icon-instagram-with-circle: "\e922";
@vc_ui-icon-lastfm-with-circle: "\e923";
@vc_ui-icon-linkedin-with-circle: "\e924";
@vc_ui-icon-pinterest-with-circle: "\e925";
@vc_ui-icon-stumbleupon-with-circle: "\e926";
@vc_ui-icon-tumblr-with-circle: "\e927";
@vc_ui-icon-twitter-with-circle: "\e903";
@vc_ui-icon-vimeo-with-circle: "\e928";
@vc_ui-icon-youtube-with-circle: "\e929";
@vc_ui-icon-bug: "\f188";
@vc_ui-icon-wordpress-with-circle: "\f19a";
