/* ----------------------------------------------
 * Button
 * ---------------------------------------------- */
@import "public/linearicons.css";
.vce-button-xo {
  font-size: 16px;
  padding: 17px 32px;
}
.vce-button-xo,
a.vce-button-xo,
button.vce-button-xo {
  background-color: transparent;
  background-image: none;
  border: none;
  box-sizing: border-box;
  cursor: pointer;
  display: inline-block;
  margin-bottom: 0;
  max-width: 100%;
  position: relative;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  white-space: normal;
  -ms-touch-action: manipulation;
      touch-action: manipulation;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  transition: all 0.2s ease-in-out;
}
.vce-button-xo:hover,
a.vce-button-xo:hover,
button.vce-button-xo:hover,
.vce-button-xo:focus,
a.vce-button-xo:focus,
button.vce-button-xo:focus {
  text-decoration: none;
  outline: none;
}
button.vce-button-xo {
  -webkit-appearance: none;
}
.vce-button-xo--style {
  /*Outline with hover effect which fills the background by sliding in*/
}
.vce-button-xo--style-outline,
a.vce-button-xo--style-outline,
button.vce-button-xo--style-outline {
  z-index: 1;
  border-radius: 0;
  /*The before element simulates border*/
}
.vce-button-xo--style-outline::before,
a.vce-button-xo--style-outline::before,
button.vce-button-xo--style-outline::before,
.vce-button-xo--style-outline::after,
a.vce-button-xo--style-outline::after,
button.vce-button-xo--style-outline::after {
  border-radius: inherit;
  box-sizing: border-box;
  content: "";
  position: absolute;
  transition: all 0.2s ease-in-out;
  height: 100%;
  top: 0;
  left: 0;
}
.vce-button-xo--style-outline::before,
a.vce-button-xo--style-outline::before,
button.vce-button-xo--style-outline::before {
  box-sizing: border-box;
  z-index: -2;
  width: 100%;
  border-width: 3px;
  border-style: solid;
}
.vce-button-xo--style-outline::after,
a.vce-button-xo--style-outline::after,
button.vce-button-xo--style-outline::after {
  z-index: -1;
  width: 0;
}
.vce-button-xo--style-outline:hover::after,
a.vce-button-xo--style-outline:hover::after,
button.vce-button-xo--style-outline:hover::after,
.vce-button-xo--style-outline:active::after,
a.vce-button-xo--style-outline:active::after,
button.vce-button-xo--style-outline:active::after,
.vce-button-xo--style-outline:focus::after,
a.vce-button-xo--style-outline:focus::after,
button.vce-button-xo--style-outline:focus::after {
  width: 100%;
}

.vce-button-xo--style-double-outline,
a.vce-button-xo--style-double-outline,
button.vce-button-xo--style-double-outline {
  transition: all 0.2s ease-in-out;
  z-index: 1;
  border-radius: 0;
  border-style: solid;
  border-width: 1px;
  /*The before element simulates border*/
}
.vce-button-xo--style-double-outline::before,
a.vce-button-xo--style-double-outline::before,
button.vce-button-xo--style-double-outline::before,
.vce-button-xo--style-double-outline::after,
a.vce-button-xo--style-double-outline::after,
button.vce-button-xo--style-double-outline::after {
  border-radius: inherit;
  box-sizing: border-box;
  content: "";
  position: absolute;
  transition: all 0.2s ease-in-out;
  height: 100%;
  top: 0;
  left: 0;
}
.vce-button-xo--style-double-outline::before,
a.vce-button-xo--style-double-outline::before,
button.vce-button-xo--style-double-outline::before {
  border-width: 1px;
  border-style: solid;
  bottom: 1px;
  box-sizing: border-box;
  height: auto;
  left: 1px;
  right: 1px;
  top: 1px;
  width: auto;
  z-index: -1;
}
.vce-button-xo--style-double-outline::after,
a.vce-button-xo--style-double-outline::after,
button.vce-button-xo--style-double-outline::after {
  z-index: -2;
  width: 0;
}
.vce-button-xo--style-double-outline:hover::after,
a.vce-button-xo--style-double-outline:hover::after,
button.vce-button-xo--style-double-outline:hover::after,
.vce-button-xo--style-double-outline:active::after,
a.vce-button-xo--style-double-outline:active::after,
button.vce-button-xo--style-double-outline:active::after,
.vce-button-xo--style-double-outline:focus::after,
a.vce-button-xo--style-double-outline:focus::after,
button.vce-button-xo--style-double-outline:focus::after {
  width: 100%;
}

.vce-button-xo--style-flat,
a.vce-button-xo--style-flat,
button.vce-button-xo--style-flat {
  border-radius: 0;
  transition: all 0.2s ease-in-out;
}

.vce-button-xo--border-rounded,
.vce-button-xo--border-round,
a.vce-button-xo--border-rounded,
a.vce-button-xo--border-round,
button.vce-button-xo--border-rounded,
button.vce-button-xo--border-round {
  position: relative;
  overflow: hidden;
}
.vce-button-xo--border-rounded,
a.vce-button-xo--border-rounded,
button.vce-button-xo--border-rounded {
  border-radius: 10px;
}
.vce-button-xo--border-round,
a.vce-button-xo--border-round,
button.vce-button-xo--border-round {
  border-radius: 100px;
}
.vce-button-xo--icon-state-visible .vce-button-xo__icon {
  position: absolute;
  opacity: 0;
  transition: all 0.2s ease-in-out;
  top: 50%;
  transform: translateY(-50%);
  right: 32px;
}
.vce-button-xo--icon-state-visible:hover,
.vce-button-xo--icon-state-visible:focus {
  padding-left: 16px;
  padding-right: 48px;
}
.vce-button-xo--icon-state-visible:hover .vce-button-xo__icon,
.vce-button-xo--icon-state-visible:focus .vce-button-xo__icon {
  opacity: 1;
  transform: translateY(-50%) translateX(-100%);
  right: 0;
}
.rtl.vce-button-xo,
[dir="rlt"].vce-button-xo,
.rtl .vce-button-xo,
[dir="rlt"] .vce-button-xo {
  direction: rtl;
  unicode-bidi: embed;
}
.ltr.vce-button-xo,
[dir="ltr"].vce-button-xo,
.ltr .vce-button-xo,
[dir="ltr"] .vce-button-xo {
  direction: ltr;
  unicode-bidi: normal;
}
