.$selector > .vce-row-content {
  @media (--$(device)-only) {
    > .vce-col:nth-child($lastIndex) {
      margin-right: 0;
    }
  }
}

.rtl .$selector > .vce-row-content,
.rtl.$selector > .vce-row-content {
  @media (--$(device)-only) {
    > .vce-col:nth-child($lastIndex) {
      margin-left: 0;
    }
  }
}