.vcv-ui-blank-row-container {
  display: flex;
  align-items: center;
  height: @vcv-blank-row-container-height;
}

.vcv-layouts-html {
  .vcv-ui-blank-row-container {
    height: auto;
    min-height: 0;
  }

  .vcv-ui-blank-row {
    margin-top: @vcv-blank-row-margin-top;
  }
}

.vcv-ui-blank-row {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1 0 auto;
  border: @vcv-blank-row-border;
}

.vcv-ui-blank-row-controls-container {
  display: flex;
  flex-flow: row wrap;
  padding: @vcv-blank-row-controls-container-padding;
}

.vcv-ui-blank-row-element-control {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 0 0 auto;
  width: @vcv-blank-row-element-control-width;
  padding: @vcv-blank-row-element-control-padding;
  margin: @vcv-blank-row-element-control-margin;
  border: none;
  background: transparent;
  cursor: pointer;
  box-shadow: none;

  &:active,
  &:focus,
  &:hover {
    outline: none;
    background: transparent;
    box-shadow: none;
  }

  &:hover {
    .vcv-ui-blank-row-element-control-icon {
      opacity: @vcv-blank-row-element-control-icon-opacity-hover;
    }
  }

  .vcv-ui-blank-row-element-control-icon {
    opacity: @vcv-blank-row-element-control-icon-opacity;
    transition: opacity @transition-duration @transition-timing-function;
  }
}

.vcv-row-control-container {
  .vcv-ui-blank-row-element-control {
    margin: @vcv-blank-row-element-control-margin-inside-column;
    &:hover {
      .vcv-ui-blank-row-element-control-icon {
        opacity: @vcv-blank-row-element-control-icon-opacity;
      }
    }
  }
}

.vcv-ui-blank-row-element-control-label {
  display: none;
  font-family: inherit;
}

.vcv-is-hidden {
  visibility: hidden;
}