//=========================================
// Basic values
//=========================================

@vcv-blank-row-element-control-icon-opacity: 0.15;
@vcv-blank-row-element-control-icon-opacity-hover: 0.2;

//=========================================
// Fonts and sizes
//=========================================


//=========================================
// Color names and values
//=========================================

@vcv-blank-row-controls-container-border: 1px dashed rgba(183, 183, 183, 0.8);


//=========================================
// Indents and Spaces
//=========================================

@vcv-blank-row-element-control-margin: 20px;
@vcv-blank-row-element-control-padding: 0;

//=========================================
// Backgrounds and urls
//=========================================

