//=========================================
// Basic values
//=========================================

@vcv-blank-row-element-control-icon-opacity: 0.15;
@vcv-blank-row-element-control-icon-opacity-hover: 0.2;

//=========================================
// Fonts and sizes
//=========================================


//=========================================
// Color names and values
//=========================================

@vcv-blank-row-border: 1px dashed rgba(183, 183, 183, 0.8);
@vcv-blank-row-element-control-width: 100px;


//=========================================
// Indents and Spaces
//=========================================

@vcv-blank-row-container-height: 50vh;
@vcv-blank-row-container-min-height: 185px;

@vcv-blank-row-margin-top: 20px;

@vcv-blank-row-element-control-margin: 20px 0;
@vcv-blank-row-element-control-padding: 0;

//=========================================
// Backgrounds and urls
//=========================================

