.vcv-ui-editor-plate--stock-images {
  background: #1A1A1A;
}

.vcv-stock-images-container {
  min-height: 360px;
  padding: 20px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  color: #fff;
  background-size: cover;
  background-position: center;
  position: relative;
}

.vcv-stock-images-inner {
  max-width: 600px;
  margin: auto;
}

.vcv-stock-images-unsplash-logo {
  display: inline-block;

  svg {
    vertical-align: bottom;
  }
}

.vcv-stock-images-subtitle {
  font-size: 18px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  letter-spacing: .82px;
  line-height: 28px;
  -webkit-font-smoothing: antialiased;
}

.vcv-ui-editor-plate--stock-images .vcv-stock-images-button {
  display: inline-block;
  background: #2A4B80;
  margin-top: 6px;
  width: auto;
  padding-left: 40px;
  padding-right: 40px;

  &:hover {
    background: #1A4080;
  }
}