.vcv-ui-editor-plate--teaser {
  .vcv-ui-item-element-inactive,
  .vcv-ui-icon-more-dots {
    cursor: default;
  }

  .vcv-ui-icon-more-dots {
    font-size: 1rem;
  }

  .vcv-ui-item-element {
    cursor: default;
  }
}

.vcv-ui-hub-control-container {
  text-align: center;
  margin: 0 0 20px;

  &.vcv-is-hidden {
    height: 0;
    margin: 0;
    .vcv-ui-form-buttons-group {
      position: fixed;
      top: -9999px;
      left: -9999px;
      z-index: -9999;
    }

    ~ .vcv-ui-hub-dropdown-container {
      display: block;
    }
  }

  .vcv-ui-form-buttons-group {
    flex-wrap: nowrap;
  }
}

.vcv-ui-hub-control {
  flex: 0 1 auto;
  padding: 14px 24px;
  background: #fff;
  border: 1px solid #d0d0d0;
  color: #6f747b;
  border-radius: 0;
  cursor: pointer;
  transition: background 0.2s ease-in-out;
}

.vcv-ui-hub-control:first-of-type {
  border-radius: 3px 0 0 3px;
}

.vcv-ui-hub-control:last-of-type {
  border-radius: 0 3px 3px 0;
}

.vcv-ui-hub-control:not(:last-of-type) {
  border-right: none;
}

.vcv-ui-hub-control.vcv-ui-state--active, .vcv-ui-hub-control:hover {
  background: #ddd;
}

.vcv-layout-dock .vcv-ui-hide-resizers .vcv-ui-resizer {
  display: none;
}

.vcv-ui-hub-dropdown-container {
  margin: 0 0 20px;
  display: none;
}