.vce-feature-description .vce {
  margin-bottom: 0;
}
.vce-feature-description .vce-feature-description-content {
  margin: 30px 0;
}
.vce-feature-description .vce-feature-description-image-wrapper {
  max-width: 100%;
}
.vce-feature-description .vce-feature-description-image {
  background-size: cover;
  background-position: center;
  max-width: 100%;
}
.vce-feature-description .vce-feature-description-image.vce-features-shape--filled-circle {
  border-radius: 50%;
}
.vce-feature-description .vce-feature-description-image.vce-features-shape--filled-rounded {
  border-radius: 10px;
}
.vce-feature-description .vce-feature-description-image-align--right {
  margin: 0 0 0 auto;
}
.vce-feature-description .vce-feature-description-image-align--left {
  margin: 0;
}
.vce-feature-description .vce-feature-description-image-align--center {
  margin: 0 auto;
}
