.vce-posts-grid--gap-$selector {
  .vce-posts-grid-list {
    @if $gap != false {
      margin-left: -$(gap)px;
      margin-right: -$(gap)px;
      margin-bottom: calc(-2 * $(gap)px);
    }
  }
  .vce-posts-grid-item {
    @if $gap != false {
      padding-left: $(gap)px;
      padding-right: $(gap)px;
      margin-bottom: calc(2 * $(gap)px);
    }
  }
}
