// Mixins for Feature Icon
//-----------------------------------------

#vce-features {
  .make-shape(@border-radius: false; @font-size: false; @border-width: false;) {
    .vce-features--icon {

      & when not (@border-radius = false ) {
        border-radius: @border-radius;
      }

      & when not (@border-width = false ) {
        border-width: @border-width;
        border-style: solid;
      }

      // the size of the icon
      & when not (@font-size = false ) {
        font-size: @font-size;
      }
      span {
        & when not (@font-size = false ) {
          padding: 2em;
        }
      }
    }
  }
}