/* ===================================
 * Visual composer wp backend representers
 * =================================== */

.vcv-wpbackend-attr-representer {

  &-color--sample {
    display: inline-block;
    width: @vcv-wpbackend-element-attribute-color-sample-size;
    height: @vcv-wpbackend-element-attribute-color-sample-size;
    margin-right: @vce-wpbackend-element-attribute-color-sample-margin-right;
    border-radius: @vcv-wpbackend-element-border-radius;
    box-shadow: rgba(0, 0, 0, 0.14902) 0 0 0 1px inset;
    vertical-align: text-bottom;
  }

  &-attach-image {
    &--preview {
      width: @vcv-wpbackend-element-preview-image-size;
      height: @vcv-wpbackend-element-preview-image-size;
      margin-right: @vce-wpbackend-element-attribute-image-margin-right;
    }

    &--wrapper {
      display: flex;
      align-items: center;
      justify-content: flex-start;
    }
  }

  &-element {
    &.vcv-wpbackend-attributes-content {
      padding: 0;
    }
  }

}