//=========================================
// Fonts and sizes
//=========================================

@vcv-wpbackend-element-attribute-color-sample-size: 16px;
@vcv-wpbackend-element-border-radius: 3px;


//=========================================
// Indents and Spaces
//=========================================

@vce-wpbackend-element-attribute-color-sample-margin-right: 13px;


