<?xml version="1.0" encoding="UTF-8"?>
<phpunit
        bootstrap="../tests/phpunit/bootstrap.php"
        backupGlobals="false"
        colors="true"
        convertErrorsToExceptions="true"
        convertNoticesToExceptions="true"
        convertWarningsToExceptions="true"
>
    <testsuites>
        <testsuite name="Whole project">
            <directory prefix="test-" suffix=".php">../tests/phpunit</directory>
        </testsuite>
    </testsuites>
</phpunit>
