<?xml version="1.0" encoding="UTF-8"?>
<phpunit
        bootstrap="../tests/phpunit/bootstrap.php"
        backupGlobals="false"
        colors="true"
        convertErrorsToExceptions="true"
        convertNoticesToExceptions="true"
        convertWarningsToExceptions="true"
>
    <testsuites>
        <testsuite name="Main Core Test Suite">
            <directory prefix="test-" suffix=".php">../tests/phpunit/Framework</directory>
        </testsuite>
    </testsuites>

    <filter>
        <whitelist processUncoveredFilesFromWhitelist="true">
            <directory suffix=".php">../visualcomposer/Framework</directory>
        </whitelist>
    </filter>

    <logging>
        <log type="coverage-clover" target="test.coverage"/>
    </logging>
</phpunit>
