//== Constols mixins
#vcv-ui-outline-controls {

  //== Create outline type
  .create-outline-type(@type-name: ''; @color) {
    & when (@type-name = '') {
      // box-shadow: inset 0 0 0 @controls-outline-size/2 @color, 0 0 0 @controls-outline-size/2 @color;
      border: @controls-outline-size dashed @color;
    }
    & when not (@type-name = '') {
      .vcv-ui-outline-type-@{type-name} {
        &.vcv-ui-outline {
          #vcv-ui-outline-controls > .create-outline-type(@color: @color);
        }
      }
    }
  }

  //== Create type
  .create-type(@type-name, @text, @background) {
    .vcv-ui-outline-control-type-@{type-name} {
      &.vcv-ui-outline-control {
        color: @text;
        background-color: @background;
      }
      &.vcv-ui-outline-control-dropdown {
        .vcv-ui-outline-control {
          color: @text;
          background-color: @background;
        }
        .vcv-ui-outline-control-dropdown-content {
          .vcv-ui-outline-control {
            &:hover {
              background-color: darken(@background, 7%);
            }
          }
        }
      }
    }

  }
}