//== outline

.vcv-ui-outline {
  position: absolute;
  pointer-events: none;
  box-sizing: border-box;
  z-index: @controls-outline-z-index;
  #vcv-ui-outline-controls > .create-outline-type(@color: @controls-outline-color-element);
}

//== outline types

#vcv-ui-outline-controls > .create-outline-type(base, @controls-outline-color-base);
#vcv-ui-outline-controls > .create-outline-type(section, @controls-outline-color-section);
#vcv-ui-outline-controls > .create-outline-type(row, @controls-outline-color-row);
#vcv-ui-outline-controls > .create-outline-type(column, @controls-outline-color-column);
#vcv-ui-outline-controls > .create-outline-type(element, @controls-outline-color-element);

//== todo: refactor, color is based on react components
#vcv-ui-outline-controls > .create-outline-type(index-0, @controls-background-row);
#vcv-ui-outline-controls > .create-outline-type(index-1, @controls-background-column);
#vcv-ui-outline-controls > .create-outline-type(index-2, @controls-background-element);