.pseudo-border () {
  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: ~'calc(100% + 1px)';
    height: ~'calc(100% + 1px)';
    border: 1px dashed @vce-wpbackend-frame-border-color;
  }
}