.vce-image-masonry-gallery {
  &--gap-$selector {
    @if $gap != false {
      .vce-image-masonry-gallery-list {
        margin-left: -$(gap)px;
        margin-right: -$(gap)px;
        margin-bottom: calc(-2 * $(gap)px);
      }
    }

    @if $gap != false {
      .vce-image-masonry-gallery-item {
        padding-left: $(gap)px;
        padding-right: $(gap)px;
        margin-bottom: calc(2 * $(gap)px);
      }
    }
  }
}

