// Base
@vcui-editor-element-border-radius: 3px;

// Container
@vcui-container-max-width: 544px;

// Image
@vcui-graphics-image-margin: 0 0 35px;

// Button
@vcui-graphics-action-min-height: 50px;
@vcui-graphics-action-padding: 17px 32px;
@vcui-graphics-action: #304568;

// Button disabled
@vcui-graphics-action-disabled-border: @editor-layout-start-blank-button-border;
@vcui-graphics-action-disabled-padding: @editor-layout-start-blank-button-spacing;
@vcui-graphics-action-disabled-font-family: @editor-layout-start-blank-button-font-family;
@vcui-graphics-action-disabled-font-weight: @editor-layout-start-blank-button-font-weight;
@vcui-graphics-action-disabled-font-size: @editor-layout-start-blank-button-font-size;
@vcui-graphics-action-disabled-letter-spacing: @editor-layout-start-blank-button-letter-spacing;
@vcui-graphics-action-disabled-color: @editor-layout-start-blank-button-color;

// Helper
@vcui-graphics-helper-margin: 15px 0 12px;
@vcui-graphics-helper-font-size: 13px;
