// Base
@vcui-editor-element-border-radius: 3px;

// Container
@vcui-graphics-min-height: 292px;

// Image
@vcui-graphics-image-height: 150px;

// Button
@vcui-graphics-action-min-height: 50px;
@vcui-graphics-action-padding: 17px 32px;
@vcui-graphics-action: #304568;

// Helper
@vcui-graphics-helper-margin: 15px 0 12px;
@vcui-graphics-helper-font-size: 13px;
