.vce-twitter-tweet--align-center {
  text-align: center;
}

.vce-twitter-tweet--align-right {
  text-align: right;
}

.vce-twitter-tweet--align-left {
  text-align: left;
}

.vce-twitter-tweet-inner {
  vertical-align: top;
  display: inline-block;
  max-width: 100%;
}

.vce-twitter-tweet-inner.vce-twitter-tweet-disabled {
  position: relative;
}

.vce-twitter-tweet-inner.vce-twitter-tweet-disabled::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 999;
}