.vcv-ui-add-element-container {
  top: 0;
  height: @add-element-initial-height;
  min-height: @add-element-min-height;
  max-height: @add-element-max-height;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;

  font-size: @add-element-text-size-base;
  color: @add-element-text-color-base;
  background-color: @add-element-bg-base;
  z-index: @add-element-zindex;
}

.vcv-ui-add-element-content {
  //flex-grow: 1;
  //width: 0;
  //display: flex;
  //flex-direction: column;
  //flex-wrap: nowrap;
}

.vcv-ui-add-element-layout-hidden {
  display: none;
}

.vcv-ui-add-element-list-container {
  margin-bottom: @add-element-element-gap;
  flex: 1;
}

.vcv-ui-add-element-list {
  margin: 0 -(@add-element-element-gap/2) -@add-element-element-gap -(@add-element-element-gap/2);
  list-style: none;
  flex-wrap: wrap;
  display: flex;
  padding: 0;
}

.vcv-ui-add-element-list-item {
  margin: 0 (@add-element-element-gap/2) (@add-element-element-gap/2);
  width: @add-element-element-width;
}

.vcv-ui-add-element-element {
  color: @add-element-text-color-element;
  width: @add-element-element-width;
  position: relative;
  text-align: center;
  cursor: pointer;
  display: block;

  &:hover {
    .vcv-ui-add-element-overlay {
      opacity: 1;
    }
  }
}

.vcv-ui-add-element-element-content {
  position: relative;
  display: block;
  height: @add-element-element-height;
  #make-vcv-ui-add-element > .make-chess-background(@add-element-chess-grid-main-color, @add-element-chess-grid-secondary-color, @add-element-chess-grid-size);
}

.vcv-ui-add-element-image {
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  top: 0;
}

.vcv-ui-add-element-overlay {
  transition: opacity @transition-duration @transition-timing-function;
  background-color: @add-element-bg-overlay;
  color: @color-inverted;
  position: absolute;
  overflow: hidden;
  opacity: 0;
  bottom: 0;
  right: 0;
  left: 0;
  top: 0;
}

.vcv-ui-add-element-add {
  line-height: @add-element-element-height;
}

.vcv-ui-add-element-edit {
  height: @add-element-element-height;
  flex-direction: column;
  display: flex;
}

.vcv-ui-add-element-move {
  position: relative;
  cursor: move;
  flex: 1;

  &::before {
    transform: translate(-50%, -50%);
    position: absolute;
    left: 50%;
    top: 50%;
  }
}

.vcv-ui-add-element-remove {
  @height: 30px;

  background-color: @add-element-bg-remove;
  line-height: @height;
  height: @height;
}

.vcv-ui-add-element-element-name {
  @lineHeight: 18px;
  line-height: @lineHeight;
  max-height: @lineHeight * 2;
  position: relative;
  margin: 10px 0;
  display: block;
}

.vcv-ui-add-element-badge {
  position: relative;

  &::after {
    left: -.75em;
    right: auto;
    top: .4em;
  }
}

//== preview

.vcv-ui-add-element-preview-container {
  z-index: @add-element-preview-zindex;
  pointer-events: none;
  position: fixed;
  display: block;
  width: 520px;
  margin: 0;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s @transition-duration, opacity @transition-duration @transition-timing-function;

  &.vcv-ui-state--visible {
    transition: visibility 0s, opacity @transition-duration @transition-timing-function;
    visibility: visible;
    opacity: 1;
  }
}

.vcv-ui-add-element-preview-image {
  max-height: 240px;
  display: block;
  width: 100%;
}

.vcv-ui-add-element-preview-caption {
  background-color: @add-element-preview-bg-base;
  color: @add-element-text-color-base;
  font-style: italic;
  text-align: left;
  padding: 20px;
  line-height: 1.43;
}

.vcv-ui-add-element-preview-text {
  // max-height: @add-element-preview-line-height * @add-element-preview-max-lines;
  line-height: @add-element-preview-line-height;
  overflow: hidden;
}

.vcv-layout-bar-content-aligned {
  height: @add-element-close-button-height;
}

.vcv-ui-editor-search-container {
  display: flex;
  background: @add-element-search-field-container-bg-color;
  border-radius: @add-element-search-border-radius;
  margin: @add-element-search-field-container-margin;

  .vcv-ui-form-dropdown {
    height: 100%;
    border-radius: 0;
    opacity: 0;
  }

  .vcv-ui-form-input {
    width: auto;
    border: none;
    padding-left: 0;

    &:focus {
      animation: none;
      box-shadow: none;
    }
  }
}

.vcv-ui-editor-search-field-container {
  display: flex;
  flex: 1 0 auto;
}

.vcv-ui-editor-search-icon-container {
  width: @add-element-search-icon-width;
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 0 0 60px;

  .vcv-ui-icon-search {
    color: @add-element-search-icon-color;
    font-size: @add-element-search-icon-font-size;
  }
}

.vcv-ui-editor-search-field {
  flex: 1 0 auto;
}

.vcv-ui-editor-search-dropdown-container {
  position: relative;
  display: inline-block;
  flex: 0 0 100px;
  background-color: @add-element-search-field-mask-bgcolor;
  border-top-left-radius: @add-element-search-border-radius;
  border-bottom-left-radius: @add-element-search-border-radius;

  &::before {
    content: attr(data-content);
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    text-transform: capitalize;
    pointer-events: none;
    color: @add-element-search-field-mask-pseudo-color;
    padding: @add-element-search-field-mask-pseudo-padding;
    line-height: @add-element-search-field-mask-line-height;
    border-right: 1px solid #d1d1d1;
    background: url(@vcui-dropdown-handler-img) right 1em center no-repeat;
  }

  &-highlight {
    //animation: vcv-ui-form-shadow-blink 0.4s ease-out;
    box-shadow: inset 0 6px 6px -6px rgba(0, 0, 0, 0.1);
  }
}

.vcv-ui-add-element-search-result-container {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: @add-element-search-result-min-height;

  .vcv-ui-form-helper {
    margin: @add-element-search-result-helper-margin;
    font-size: @add-element-search-result-helper-font-size;
  }
}

.vcv-ui-add-element-search-result-content {
  position: relative;
  min-height: @add-element-search-result-min-height;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;

  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: @add-element-search-result-image-height;
    background: url('../../../../../sources/images/search-element-no-result.png') no-repeat center;
  }
}

.vcv-ui-search-result-action {
  position: relative;
  min-height: @add-element-search-result-action-min-height;
  padding: @add-element-search-result-action-padding;
  border-radius: @add-element-search-border-radius;
  border: none;
  background: @add-element-search-result-action;
  color: @color-inverted;
  cursor: pointer;
  transition: background @transition-duration @transition-timing-function;

  &:hover {
    background: @color-base-active;
  }
}