//== import bootstrap variables
@import (reference) "../../../../../sources/less/bootstrap/variables";

//== add element variables
@add-element-initial-height: 60vh;
@add-element-min-height: 250px;
@add-element-max-height: calc(~"100% - 60px - 5px");
@add-element-zindex: 1200;
@add-element-preview-zindex: 10;
@add-element-preview-line-height: 18px;
@add-element-preview-max-lines: 2;

//== text
@add-element-text-size-base: @text-size-base;
@add-element-text-color-base: @text-color-base;
@add-element-text-color-element: #484848;

//== colors
@add-element-bg-overlay: rgba(0, 0, 0, .5);
@add-element-bg-base: @color-alternative;
@add-element-bg-content: @color-inverted;
@add-element-bg-remove: #f46172;
@add-element-preview-bg-base: @color-base;
@add-element-color: #484848;

//== element
@add-element-element-gap: 30px;
@add-element-element-width: 100px;
@add-element-element-height: 100px;

//== chess grid
@add-element-chess-grid-size: 10px;
@add-element-chess-grid-main-color: #fefefe;
@add-element-chess-grid-secondary-color: #eee;

//== search field
@add-element-search-field-container-bg-color: #fff;
@add-element-search-field-container-margin: 12px 60px 12px 20px;
@add-element-search-field-padding: 12px 0;
@add-element-search-icon-width: 60px;
@add-element-search-icon-color: #aaa;
@add-element-search-icon-font-size: 19px;

@add-element-close-button-height: 63px;
@add-element-search-border-radius: 3px;

@add-element-search-result-min-height: 292px;
@add-element-search-result-action: #304568;

@add-element-search-result-helper-margin: 15px 0 12px;
@add-element-search-result-helper-font-size: 13px;

@add-element-search-result-action-min-height: 50px;
@add-element-search-result-action-padding: 17px 32px;

@add-element-search-result-image-height: 150px;

@add-element-search-field-mask-bgcolor: #eaeaea;
@add-element-search-field-mask-pseudo-color: #5c5b5b;
@add-element-search-field-mask-pseudo-padding: 8px 2em 8px 14px;
@add-element-search-field-mask-line-height: 1.6;

@vcui-dropdown-handler-img: '../../../../../sources/images/icons/triangle-up-down.svg';