.vcv-wpbakery-edit-form-modal {
  position: fixed;
  overflow: hidden;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background: @wpbakery-edit-form-modal-overlay;
  z-index: 10000;
  display: flex;
  justify-content: center;
  align-items: center;

  .vcv-loading-overlay {
    background: @wpbakery-edit-form-modal-background;
    align-items: center;
    z-index: 1;
    height: 100%;
    position: relative;
  }
}

.vcv-wpbakery-edit-form-modal-inner {
  position: fixed;
  top: @wpbakery-edit-form-modal-spacing;
  height: 80%;
  width: 70%;
  max-width: 600px;

  .vcv-loading-overlay + iframe {
    visibility: hidden;
  }
}

.vcv-wpbakery-edit-form-modal-inner iframe {
  width: 100%;
  height: 100%;
}

button.vcv-wpbakery-edit-form-modal-close-button {
  position: absolute;
  top: @wpbakery-edit-form-close-button-offset;
  right: @wpbakery-edit-form-close-button-offset;
  color: @wpbakery-edit-form-close-button-color;
  background: transparent;
  border: 0;
  box-shadow: none;
  transition: color .2s ease-in-out;
  font-size: @wpbakery-edit-form-close-button-size;
  padding: @wpbakery-edit-form-close-button-padding;
  cursor: pointer;
  z-index: 2;
  &:hover,
  &:focus {
    background: transparent;
    border: 0;
    box-shadow: none;
    color: @wpbakery-edit-form-close-button-hover-color;
  }
}

/** Disable user-select for sortable **/
[data-vcv-wbpakery-tree-view] {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none;
  /* Non-prefixed version, currently supported by Chrome and Opera */
}
