/* ----------------------------------------------
 * Feature Icon
 * ---------------------------------------------- */
.vce-features {
  display: block;
}
.vce-features a {
  outline: none;
  border: none;
  box-shadow: none;
  text-decoration: none;
}
.vce-features-icon-wrapper {
  display: inline-block;
}
.vce-features--icon {
  position: relative;
  width: 2.9em;
  height: 2.9em;
  display: inline-block;
  vertical-align: top;
}
.vce-features--icon .vce-icon-container {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
}
.vce-features--icon .vce-icon-container::before {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.vce-features--icon .vce-icon-container:hover {
  text-decoration: none;
}
.vce-features--icon svg {
  display: none;
  width: 2.9em;
  height: 2.9em;
  position: absolute;
  z-index: 1;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.vce-features__content > * {
  margin: 0 0 13px;
}
.vce-features__content > *:last-child {
  margin-bottom: 0;
}
.vce-features--style-none .vce-features--icon {
  margin-bottom: -0.85em;
}
.vce-features--style-filled-circle,
.vce-features--style-filled-rounded,
.vce-features--style-filled-square,
.vce-features--style-filled-hexagon,
.vce-features--style-filled-diamond {
  border: none;
}
.vce-features--style-filled-circle .vce-features--icon {
  border-radius: 50%;
}
.vce-features--style-filled-rounded .vce-features--icon {
  border-radius: 10px;
}
.vce-features--style-filled-hexagon .vce-features--icon svg {
  display: block;
}
.vce-features--style-filled-diamond .vce-features--icon {
  transform-origin: center center;
  transform: rotate(45deg);
  margin: calc(2.9em / 4.85);
}
.vce-features--style-filled-diamond .vce-features--icon span {
  transform: rotate(-45deg);
}
.vce-features--style-outlined-circle,
.vce-features--style-outlined-rounded,
.vce-features--style-outlined-square,
.vce-features--style-outlined-diamond {
  background-color: transparent;
}
.vce-features--style-outlined-circle .vce-features--icon,
.vce-features--style-outlined-rounded .vce-features--icon,
.vce-features--style-outlined-square .vce-features--icon,
.vce-features--style-outlined-diamond .vce-features--icon {
  border-width: 3px;
  border-style: solid;
}
.vce-features--style-outlined-circle .vce-features--icon {
  border-radius: 50%;
}
.vce-features--style-outlined-rounded .vce-features--icon {
  border-radius: 10px;
}
.vce-features--style-outlined-hexagon .vce-features--icon svg {
  display: block;
}
.vce-features--style-outlined-hexagon .vce-features--icon span::after {
  border: none;
}
.vce-features--style-outlined-underlined .vce-features--icon::after {
  content: '';
  position: absolute;
  height: 5px;
  width: 2.9em;
  left: 0;
  bottom: 0;
}
.vce-features--style-outlined-diamond .vce-features--icon {
  transform-origin: center center;
  transform: rotate(45deg);
  margin: calc(0.59793814em);
}
.vce-features--style-outlined-diamond .vce-features--icon span {
  transform: rotate(-45deg);
}
.vce-features--align-left {
  text-align: left;
}
.vce-features--align-center {
  text-align: center;
}
.vce-features--align-right {
  text-align: right;
}
.vce-features--size-tiny {
  font-size: 18px;
}
.vce-features--size-small {
  font-size: 24px;
}
.vce-features--size-medium {
  font-size: 32px;
}
.vce-features--size-large {
  font-size: 48px;
}
/*RTL support. */
/*LTR support. */
.rtl.vce-features,
[dir="rtl"].vce-features,
.rtl .vce-features,
[dir="rtl"] .vce-features {
  direction: rtl;
  unicode-bidi: embed;
  /*check if IE+10 and than hack hexagon to the center*/
}
@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
  .rtl.vce-features .vce-features--icon svg,
  [dir="rtl"].vce-features .vce-features--icon svg,
  .rtl .vce-features .vce-features--icon svg,
  [dir="rtl"] .vce-features .vce-features--icon svg {
    right: 50%;
  }
}
@supports (-ms-accelerator:true) {
  .rtl.vce-features .vce-features--icon svg,
  [dir="rtl"].vce-features .vce-features--icon svg,
  .rtl .vce-features .vce-features--icon svg,
  [dir="rtl"] .vce-features .vce-features--icon svg {
    right: 50%;
  }
}
.ltr.vce-features,
[dir="ltr"].vce-features,
.ltr .vce-features,
[dir="ltr"] .vce-features {
  direction: ltr;
  unicode-bidi: normal;
}
.vce-features--icon .fa::before {
  line-height: 0.9em;
  height: 0.9em;
}
.vce-features--icon .typcn::before {
  font-size: 1.3em;
}
.vce-features--icon .vcv-ui-icon-material::before {
  font-size: 1.2em;
  line-height: 0.95em;
}
.vce-features--icon .vcv-ui-icon-openiconic::before {
  height: 0.9em;
}
.vce-features--icon .vcv-ui-icon-monosocial::before {
  font-size: 2em;
}
