/* ===================================
 * Visual composer editor Badges styles
 * =================================== */
&[class*=vcv-ui-badge-] {
  &::after {
    content: '';
    display: block;
    height: @badge-size;
    width: @badge-size;
    border-radius: 50%;
    position: absolute;
    top: -.5em;
    right: -.5em
  }
}
&.vcv-ui-badge-warning {
  &::after {
    background-color: @badge-state-color-warning;
  }
}
&.vcv-ui-badge-success {
  &::after {
    background-color: @badge-state-color-success;
  }
}

&[class*=vcv-ui-text-badge-] {
  &::before {
    content: '';
    vertical-align: middle;
    display: inline-block;
    height: @badge-size;
    width: @badge-size;
    border-radius: 50%;
  }
}
&.vcv-ui-text-badge-warning {
  &::before {
    background-color: @badge-state-color-warning;
  }
}
&.vcv-ui-text-badge-success {
  &::before {
    background-color: @badge-state-color-success;
  }
}