// Variables for Text Separator
//-----------------------------------------
// Note: All variables in this file available in VC design options,
// so if you need to use variable from boilerplate.less
// create your own variable and put boilerplate var into it.

@import "../../../../../public/sources/less/boilerplate";

@vce-button-color: #fff;

@vce-button-font-size-small: 11px;
@vce-button-font-size-medium: 16px;
@vce-button-font-size-large: 21px;
// Sizing of the button
@vce-button-padding-vertical-small: 10px;
@vce-button-padding-vertical-medium: 15px;
@vce-button-padding-vertical-large: 20px;
@vce-button-padding-horizontal-small: 30px;
@vce-button-padding-horizontal-medium: 43px;
@vce-button-padding-horizontal-large: 56px;
@vce-button-border-radius: 0;

@vce-button-rounded: 5px;
@vce-button-round: 4em;

//Styling of the outline
@vce-button-outline-border-width: 2px;
@vce-button-outline-border-style: solid;
@vce-button-outline-border-color: @vcv-color-white;
@vce-button-outline-border-color-hover: @vcv-color-white;

// this is for buttons with simple animation
@vce-button-outline-simple-background-color: transparent;
@vce-button-outline-simple-background-color-hover: transparent;
@vce-button-outline-simple-color: @vcv-color-white;
@vce-button-outline-simple-color-hover: @vcv-color-white;
@vce-button-outline-simple-border-color: @vcv-color-white;
@vce-button-outline-simple-border-color-hover: @vcv-color-salem;

// Base of of
@vce-button-outline-background-color: transparent;
@vce-button-outline-background-color-hover: @vcv-color-salem;

@vce-button-outline-transition-duration: @vcv-transition-duration;
@vce-button-outline-transition-timing-function: @vcv-transition-timing-function;


