/* ===================================
 * Visual composer wp backend layout
 * =================================== */

.vcv-wpbackend-layout-container {
  width: 100%;
  display: flex;
  flex-flow: column nowrap;

  .vcv-layout-content {
    display: none;
  }
}