/* ===================================
 * Visual composer wp backend layout
 * =================================== */

.vcv-wpbackend-layout-container {
  width: 100%;
  display: flex;
  flex-flow: column nowrap;

  .vcv-layout-content {
    display: none;
  }

  .vcv-ui-navbar-control {
    &:hover,
    &:active,
    &:focus {
      color: inherit;
      box-shadow: none;
    }
  }


}

.vcv-wpbackend-layout {
  padding: 30px 22px 20px;
}