//=========================================
// Fonts and sizes
//=========================================

@vcv-wpbackend-element-name-font-size: 14px;

//=========================================
// Color names and values
//=========================================

@vce-wpbackend-layout-link-hover-color: @vcv-color-white;
@vce-wpbackend-layout-tab-hover-color: #6f747b;
@vce-wpbackend-layout-item-hover-color: #484848;

@vce-wpbackend-element-container-border-color: #dcdcdc;

@vce-wpbackend-element-header-background-color: #ececec;
@vce-wpbackend-element-header-color: @vcv-color-mortar;
@vce-wpbackend-element-header-after-color: #aaa;

@vce-wpbackend-element-attributes-background-color: #f5f5f5;
@vce-wpbackend-element-attributes-color: #959595;

//=========================================
// Indents and Spaces
//=========================================

@vcv-wpbackend-container-margin-bottom: 10px;
@vcv-wpbackend-layout-padding: 30px 22px 20px;
@vcv-wpbackend-element-name-margin-left: 17px;
@vcv-wpbackend-element-header-after-margin-right: 14px;
@vcv-wpbackend-element-attributes-padding: 14px 0 14px 14px;
@vcv-wpbackend-element-last-attribute-padding: 14px;
@vce-wpbackend-layout-column-padding: 10px;

//=========================================
// Backgrounds and urls
//=========================================

@vce-wpbackend-element-header-background: "../../../images/icons/triangle-up-down.svg";
