//=========================================
// Basic values
//=========================================
@vcv-wpbackend-layout-zindex: 1000;
@vcv-wpbackend-zindex: @vcv-wpbackend-layout-zindex + 100;
@vcv-wpbackend-content-zindex: @vcv-wpbackend-layout-zindex;
@vcv-wpbackend-item-preview-zindex: 2011;
@vcv-wpbackend-layout-header-zindex: 9991; // overrides Wordpress's #adminmenuwrap z-index: 9990
@vcv-wpbackend-control-dropdown-zindex: @vcv-wpbackend-layout-header-zindex + 1;

//=========================================
// Fonts and sizes
//=========================================

@vcv-wpbackend-element-name-font-size: 14px;
@vcv-wpbackend-element-header-size: 50px;
@vcv-wpbackend-element-icon-size: 24px;
@vcv-wpbackend-layout-loading-height: 100px;
@vcv-wpbackend-layout-row-control-size: 50px;
@vcv-wpbackend-bar-content-box-shadow: rgba(0, 0, 0, 0.3) 1px 0 10px 0;
@vcv-wpbackend-bar-content-height: 40vh;
@vcv-wpbackend-bar-content-width: 100%;
@vcv-wpbackend-bar-content-min-height: 200px;

//=========================================
// Color names and values
//=========================================

@vce-wpbackend-layout-link-hover-color: @vcv-color-white;
@vce-wpbackend-layout-tab-hover-color: #6f747b;
@vce-wpbackend-layout-item-hover-color: #484848;

@vce-wpbackend-element-container-border-color: #dcdcdc;

@vce-wpbackend-element-header-background-color: #ececec;
@vce-wpbackend-element-header-color: @vcv-color-mortar;
@vce-wpbackend-element-header-after-color: #aaa;

@vce-wpbackend-element-attributes-background-color: #f5f5f5;
@vce-wpbackend-element-attributes-color: #959595;

//=========================================
// Indents and Spaces
//=========================================

@vcv-wpbackend-container-margin-bottom: 10px;
@vcv-wpbackend-layout-padding: 45px 10px;
@vcv-wpbackend-element-header-after-margin-right: 9px;
@vcv-wpbackend-element-header-padding: 0 5px;
@vcv-wpbackend-element-header-icon-width: 24px;
@vcv-wpbackend-attributes-group-padding: 10px 14px;
@vcv-wpbackend-attributes-content-margin-right: 14px;
@vcv-wpbackend-attributes-content-line-height: 2;
@vcv-wpbackend-element-name-wrapper-margin: 0 0 0 5px;
@vcv-wpbackend-form-input-padding: 8px 14px;
@vcv-wpbackend-form-input-line-height: 1.5;
@vcv-wpbackend-row-side-margin: -5px;
@vcv-wpbackend-column-content-side-padding: 5px;
@vcv-wpbackend-layout-row-control-container-padding: 0;
@vcv-wpbackend-layout-row-control-container-margin: -5px;
@vcv-wpbackend-layout-top-space-margin: 10px;
@vcv-wpbackend-layout-element-name-flex: 500 1 53px;
@vcv-wpbackend-layout-element-arrow-flex: 0 0 8px;

//=========================================
// Backgrounds and urls
//=========================================

@vce-wpbackend-element-header-background: "../../../images/icons/triangle-up-down.svg";
