//== override wordpress styles

#postdivrich {
  &.vcv-hidden {
    display: none;
  }
}

#vcwb_visual_composer {
  .inside {
    margin: 0;
    padding: 0;
  }

  #vcv-dnd-smart-line {
    position: fixed;
  }
  .vcv-drag-helper {
    position: fixed;
    pointer-events: none;
  }
}

//== override frontend styles

.vcv-wpbackend-layout-container {
  width: 100%;
  display: flex;
  flex-flow: column nowrap;

  .vcv-ui-tree-layout-container {
    li {
      margin-bottom: 0;
    }
  }

  .vcv-layout {
    &-header {
      z-index: @vcv-wpbackend-layout-header-zindex;
      &:hover {
        z-index: @vcv-wpbackend-layout-header-zindex-hover;
      }
    }

    &-content {
      position: absolute;
      width: 100%;
      height: 100%;
      visibility: hidden;
    }

    &-bar-content {
      width: @vcv-wpbackend-bar-content-width;
      height: @vcv-wpbackend-bar-content-height;
      min-height: @vcv-wpbackend-bar-content-min-height;

      &.vcv-layout-bar-content-stack {
        min-height: @vcv-wpbackend-bar-content-stack-min-height;
      }

      &:not(.vcv-layout-bar-content-stack) {
        .vcv-layout-bar-content-start {
          height: auto !important;
        }
      }
    }
  }

  .vcv-ui-navbar-control,
  .vcv-layout-bar-content-hide,
  .vcv-ui-tree-layout-action,
  .vcv-ui-tree-layout-control-action,
  .vcv-ui-editor-tab,
  .vcv-ui-edit-form-action,
  .vcv-ui-settings-action,
  .vcv-ui-outline-control-more {
    &:hover,
    &:active,
    &:focus {
      color: @vce-wpbackend-layout-link-hover-color;
      box-shadow: none;
    }
  }

  .vcv-ui-editor-tab {
    &.vcv-ui-state--active {
      &:hover,
      &:active,
      &:focus {
        color: @vce-wpbackend-layout-tab-hover-color;
      }
    }
  }

  .vcv-ui-item-element {
    &:hover {
      color: @vce-wpbackend-layout-item-hover-color;
    }
  }

  select {
    &.vcv-ui-form-dropdown {
      height: auto !important;
      padding: @vcv-wpbackend-form-input-padding;
      line-height: @vcv-wpbackend-form-input-line-height;
      font-size: @vcv-wpbackend-select-font-size !important;
    }
  }

  .vcv-ui-item-preview-container {
    z-index: @vcv-wpbackend-item-preview-zindex;
  }

  .vce-row {
    margin-left: @vcv-wpbackend-row-side-margin;
    margin-right: @vcv-wpbackend-row-side-margin;

    .vce-row-container {
      &:first-child {
        .vce-row {
          margin-top: @vcv-wpbackend-row-inner-top-margin;
        }
      }
    }

    .vce-row {
      margin-top: @vcv-wpbackend-layout-top-space-margin;

      .vce-col {
        margin-top: @vcv-wpbackend-layout-top-space-margin;
      }
    }
  }

  .vce-col-content {
    padding-left: @vcv-wpbackend-column-content-side-padding;
    padding-right: @vcv-wpbackend-column-content-side-padding;
  }

  .vcv-row-control-container {
    padding-top: @vcv-wpbackend-layout-row-control-container-padding;
    padding-bottom: @vcv-wpbackend-layout-row-control-container-padding;
    margin-left: @vcv-wpbackend-layout-row-control-container-margin;
    margin-right: @vcv-wpbackend-layout-row-control-container-margin;
  }

  .vcv-row-control {
    min-width: @vcv-wpbackend-layout-row-control-size;
    min-height: @vcv-wpbackend-layout-row-control-size;
  }

  .vcv-layout-bar-content-start {
    height: auto;
    width: @vcv-wpbackend-bar-content-start-width;
    min-height: @vcv-wpbackend-bar-content-start-min-height;
    min-width: @vcv-wpbackend-bar-content-start-min-width;
  }

  .vcv-layout-bar-content-end {
    min-height: @vcv-wpbackend-bar-content-end-min-height;
  }

  .vcv-layout-bar:not(.vcv-ui-content-end--visible) .vcv-layout-bar-content-start {
    box-shadow: @vcv-wpbackend-bar-content-box-shadow;
  }

  .vcv-layout-bar.vcv-ui-content-end--visible .vcv-layout-bar-content {
    box-shadow: @vcv-wpbackend-bar-content-box-shadow;
  }

  .vcv-layout-iframe-container {
    .vcv-ui-element-frame,
    .vcv-ui-outline-controls-container,
    .vcv-ui-append-control-container {
      visibility: hidden;
    }
  }

  .vcv-ui-modal-overlay {
    z-index: @vcv-wpbackend-modal-overlay-zindex;
  }

  .vcv-ui-resizer-layout-placement-top {
    display: block;
  }

  .vcv-ui-resizer-target-content {
    display: none;
  }

  .vcv-layout-bar-content-stack {
    flex-direction: column;

    .vcv-layout-bar-content-start {
      width: 100% !important;
      height: @vcv-wpbackend-bar-content-start-stack-height;
      min-height: @vcv-wpbackend-bar-content-start-stack-min-height;

      .vcv-ui-resizer-target-content {
        display: block;
      }

      .vcv-ui-resizer-target-bar {
        display: none;
      }
    }
  }

  .vcv-ui-editor-search-container {
    min-width: @vcv-wpbackend-editor-search-container-width;
  }

  .vcv-ui-editor-search-dropdown-container,
  .vcv-ui-editor-search-field-container {
    flex-shrink: 1;
  }

  .vcv-ui-editor-search-field {
    width: @vcv-wpbackend-editor-search-field-width;
  }

  .vcv-empty-col-helper {
    min-height: 60px;
  }
}

.vcv-layout-dock--unlock {
  .vcv-layout-bar-content {
    &.vcv-layout-bar-content-stack {
      position: relative;
      min-height: @vcv-wpbackend-bar-content-stack-unlock-min-height;

      .vcv-layout-bar-content-start {
        flex-grow: 1;

        .vcv-ui-resizer-target-content {
          display: none;
        }

        .vcv-ui-resizer-target-bar {
          display: block;
        }
      }
    }

    .vcv-layout-bar-content-start {
      min-height: @vcv-wpbackend-bar-content-start-unlock-min-height;
    }
  }
}