//== override wordpress styles

#postdivrich {
  &.vcv-hidden {
    display: none;
  }
}

#vcwb_visual_composer {
  .inside {
    margin: 0;
    padding: 0;
  }

  #vcv-dnd-smart-line {
    position: fixed;
  }
  .vcv-drag-helper {
    position: fixed;
    pointer-events: none;
  }
  &.vcv-hidden {
    display: none;
  }
}

//== override frontend styles

.vcv-wpbackend-layout-container {
  width: 100%;
  display: flex;
  flex-flow: column nowrap;

  img {
    max-width: 100%;
  }

  .vcv-ui-form-attach-image-thumbnail img {
    max-width: none;
  }

  .vcv-layout {
    &-header {
      z-index: @vcv-wpbackend-layout-header-zindex;
      &:hover {
        z-index: @vcv-wpbackend-layout-header-zindex-hover;

        .vcv-layout-bar {
          z-index: @vcv-wpbackend-layout-header-content-zindex-hover;
        }
      }
    }

    &-content {
      position: absolute;
      width: 100%;
      height: 100%;
      visibility: hidden;
    }

    &-bar-content {
      width: @vcv-wpbackend-bar-content-width;
      height: @vcv-wpbackend-bar-content-height;
      min-height: @vcv-wpbackend-bar-content-min-height;

      &.vcv-layout-bar-content-stack {
        min-height: @vcv-wpbackend-bar-content-stack-min-height;
      }

      &:not(.vcv-layout-bar-content-stack) {
        .vcv-layout-bar-content-start, .vcv-layout-bar-content-all {
          height: auto !important;
        }
      }
    }
  }

  .vcv-ui-form-input {
    margin: 0;
  }

  .vcv-ui-form-dropdown {
    height: auto !important;
    margin: @vcv-wpbackend-form-dropdown-margin;
    padding: @vcv-wpbackend-form-dropdown-padding;
    line-height: @vcv-wpbackend-form-dropdown-line-height;
    font-size: @vcv-wpbackend-select-font-size !important;

    &:not(select) {
      padding-right: @vcv-wpbackend-form-dropdown-padding-not-select;
    }
  }

  .vcv-ui-form-iconpicker-content-heading {
    .vcv-ui-form-dropdown {
      margin-bottom: @vcv-wpbackend-form-dropdown-margin-bottom-iconpicker;
    }
  }

  .vcv-ui-color-picker-dropdown {
    margin-right: @vcv-wpbackend-color-picker-dropdown-margin-right;
  }

  .vcv-ui-editors-header-dropdown {
    margin-bottom: @vcv-wpbackend-editor-header-dropdown-margin-bottom;
  }

  .vcv-ui-item-preview-container {
    z-index: @vcv-wpbackend-item-preview-zindex;
  }

  .vce-row {
    margin-bottom: @vcv-wpbackend-row-bottom-margin;
    .pseudo-border();

    > .vce-row-content {
      align-items: stretch;
      > .vce-col {
        margin-right: 0;
        margin-left: 0;
        position: relative;

        .pseudo-border();
      }
    }

    .vce-row-container {
      &:first-child {
        .vce-row {
          margin-top: @vcv-wpbackend-row-inner-top-margin;
        }
      }
    }

    .vce-row {
      margin-top: @vcv-wpbackend-layout-top-space-margin;

      .vce-col {
        margin-top: @vcv-wpbackend-layout-top-space-margin;
      }
    }
  }

  .vce-col-inner {
    padding-left: @vcv-wpbackend-column-content-side-padding;
    padding-right: @vcv-wpbackend-column-content-side-padding;
  }

  .vcv-row-control-container {
    padding-top: @vcv-wpbackend-layout-row-control-container-padding;
    padding-bottom: @vcv-wpbackend-layout-row-control-container-padding;
    margin: @vcv-wpbackend-layout-row-control-container-margin;

    .vcv-ui-blank-row-element-control {
      min-height: initial;
    }
  }

  .vcv-row-control {
    min-width: @vcv-wpbackend-layout-row-control-size;
    min-height: @vcv-wpbackend-layout-row-control-size;
  }

  .vcv-layout-bar-content-start, .vcv-layout-bar-content-all {
    height: auto;
    width: @vcv-wpbackend-bar-content-start-width;
    min-height: @vcv-wpbackend-bar-content-start-min-height;
    min-width: @vcv-wpbackend-bar-content-start-min-width;
  }

  .vcv-layout-bar-content-end {
    min-height: @vcv-wpbackend-bar-content-end-min-height;
  }

  .vcv-layout-bar:not(.vcv-ui-content-end--visible) .vcv-layout-bar-content-start {
    box-shadow: @vcv-wpbackend-bar-content-box-shadow;
  }

  .vcv-layout-bar.vcv-ui-content-all--visible .vcv-layout-bar-content-all {
    box-shadow: @vcv-wpbackend-bar-content-box-shadow;
  }

  .vcv-layout-bar.vcv-ui-content-end--visible .vcv-layout-bar-content {
    box-shadow: @vcv-wpbackend-bar-content-box-shadow;
  }

  .vcv-ui-outline-controls-container {
    &.vcv-state--visible {
      .vcv-ui-outline-control-dropdown-content {
        position: absolute;
      }
      .vcv-ui-outline-control-dropdown{
        &:hover {
          .vcv-ui-outline-control-dropdown-content {
            visibility: visible;
            opacity: 1;
          }
        }
      }
    }

    // env('ELEMENT_CONTROLS_DELAY')
    &.vcv-ui-outline-controls-delay-toggle-feature {
      .vcv-ui-outline-control-dropdown-content {
        position: absolute;
      }
      .vcv-ui-outline-control-dropdown-active {
        .vcv-ui-outline-control-dropdown-content {
          visibility: visible;
          opacity: 1;
          transition: visibility 0s, opacity @transition-duration @transition-timing-function;
        }
      }
    }
  }

  .vcv-ui-modal-overlay {
    z-index: @vcv-wpbackend-modal-overlay-zindex;
  }

  .vcv-ui-resizer-layout-placement-top {
    display: block;
  }

  .vcv-ui-resizer-target-content {
    display: none;
  }

  .vcv-layout-bar-content-stack {
    flex-direction: column;

    .vcv-layout-bar-content-start, .vcv-layout-bar-content {
      width: 100% !important;
      height: @vcv-wpbackend-bar-content-start-stack-height;
      min-height: @vcv-wpbackend-bar-content-start-stack-min-height;

      .vcv-ui-resizer-target-content {
        display: block;
      }

      .vcv-ui-resizer-target-bar,
      .vcv-ui-resizer-content-start-right,
      .vcv-ui-resizer-content-start-right-bottom {
        display: none;
      }
    }
  }

  .vcv-ui-editor-search-container {
    min-width: @vcv-wpbackend-editor-search-container-width;
  }

  .vcv-ui-editor-search-dropdown-container,
  .vcv-ui-editor-search-field-container {
    flex-shrink: 1;
  }

  .vcv-ui-editor-search-field {
    width: @vcv-wpbackend-editor-search-field-width;
  }

  .vcv-ui-blank-row-element-control {
    margin: @vcv-ui-blank-row-element-control-margin;
  }

  .vcv-ui-blank-row-container {
    height: @vcv-wpbackend-blank-row-container-height;
    min-height: @vcv-wpbackend-blank-row-container-min-height;
    margin: @vcv-wpbackend-blank-row-container-margin;
  }

  .vcv-ui-blank-row-controls-container {
    padding: @vcv-wpbackend-blank-row-controls-container-padding;
  }

  .vcv-wpbackend-layout {
    .vcv-ui-blank-row-container {
      height: auto;
      min-height: 0;
      margin: @vcv-wpbackend-blank-row-container-margin-inside-layout;
    }

    .vcv-ui-blank-row {
      margin-top: @vcv-wpbackend-blank-row-margin-top;
    }
  }

  .vcv-ui-form-wp-tinymce {
    .wp-switch-editor {
      box-sizing: content-box !important;
    }
  }

  .vcv-ui-editor-tab-content {
    line-height: normal;
  }

  .vcv-layout-bar {
    &:not(.vcv-ui-content-end--visible) {
      .vcv-layout-bar-content {
        &:not(.vcv-layout-bar-content-stack) {
          position: absolute;
          top: 100%;
          bottom: auto;
          left: 0;
          right: 0;
        }
      }
    }
  }

  .vcv-start-blank-container:hover .vcv-ui-item-preview-container {
    z-index: @vcv-wpbackend-start-blank-zindex-hover;
  }

  .vcv-ui-edit-form-header {
    border-top: 1px solid @vce-wpbackend-edit-form-header-border-top-color;
  }
}
