.vcv-ui-tag-list-container {
  position: relative;
}

// Additional .vcv-layout-header selector is used to override wordpress styles
.vcv-layout-header {
  .vcv-ui-form-input {
    display: block;
    &.vcv-ui-tag-list-input {
      transition: none;
      resize: none;
      word-wrap: break-word;
      word-break: break-all;

      &.vcv-ui-tag-list-input-editing-disabled {
        position: absolute;
        opacity: 0;
        pointer-events: none;
      }
    }

    &.vcv-ui-tag-list {
      cursor: text;
      min-height: 39px;
      padding: 3px 2px;
    }
  }
}
