.vce-container-divider {
  overflow: hidden;
  position: absolute;
  left: 0;
  top: -1px;
  width: 100%;
  line-height: 0;
  direction: ltr;

  svg {
    display: block;
    width: calc(100% + 1.3px);
    position: relative;
    left: 50%;
    transform: translateX(-50%);
  }
}