// Core for all ui controls
// ------------------------
.vc_ui-controls-container {

}

.vc_ui-controls {
  font-family: "Roboto", sans-serif;
  display: block;
  list-style: none;
  margin: 0;
  padding: 0;
}

.vc_ui-control-wrap {
  margin: 0;
  padding: 0;
}

.vc_ui-control {
  display: block;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
}

.vc_ui-control-icon {
  box-sizing: border-box;
  display: inline-block;
  vertical-align: middle;
  height: 1em;
  position: relative;
}

.vc_ui-control-label {
  box-sizing: border-box;
  display: inline-block;
  vertical-align: middle;
}

// Options
// -------------------------

// controls dropdown position
.vc_ui-controls-o-position-bottom {
  > .vc_ui-control-wrap {
    position: relative;
    > .vc_ui-controls-container {
      display: none;
      position: absolute;
      right: 0;
      top: 100%;
      &:first-child {
        right: auto;
        left: 0;
      }
    }
    &:hover {
      > .vc_ui-controls-container {
        display: block;
      }
    }
  }
}

// Themes
// --------------------------

// editor controls
.vc_ui-controls-container {
  text-align: center;
}

.vc_ui-editor-controls {
  @color: #fff;
  @bg-color: #2b4b80;
  @padding: 12px 22px 12px 14px;

  display: inline-block;
  vertical-align: middle;
  text-align: left;
  .vc_ui-control-wrap {
    display: inline-block;
    vertical-align: middle;
    .vc_ui-control-wrap {
      display: block;
    }
  }

  .vc_ui-control {
    color: @color;
    background-color: @bg-color;
    padding: @padding;
    white-space: nowrap;

    &:hover {
      background-color: darken(@bg-color, 3%);
    }
  }

  .vc_ui-control-icon ~ * {
    margin-left: extract(@padding, 3);
  }
}

// color scheme
.vc_ui-editor-controls-container {
  position: absolute;
  z-index: 1010;
  list-style: none;
  transform: translate(-50%, -100%);
  text-align: center;
  > .vc_ui-controls-container {
    margin: 4px;
    > .vc_ui-controls {
      > .vc_ui-control-wrap:nth-last-child(3) {
        .vc_ui-control {
          @color: #fff;
          @bg-color: #4673bd;
          color: @color;
          background-color: @bg-color;

          &:hover {
            background-color: darken(@bg-color, 3%);
          }
        }
      }
      > .vc_ui-control-wrap:nth-last-child(2) {
        .vc_ui-control {
          @color: #fff;
          @bg-color: #fec53f;
          color: @color;
          background-color: @bg-color;

          &:hover {
            background-color: darken(@bg-color, 3%);
          }
        }
      }
      > .vc_ui-control-wrap:nth-last-child(1) {
        .vc_ui-control {
          @color: #fff;
          @bg-color: #6dab3c;
          color: @color;
          background-color: @bg-color;

          &:hover {
            background-color: darken(@bg-color, 3%);
          }
        }
      }
    }
  }
}

// Outlines
// --------------------
.vc_ui-outline {
  @color: #2b4b80;

  position: absolute;
  pointer-events: none;
  margin-top: -1px;
  margin-left: -1px;
  padding: 1px;
  box-sizing: content-box;
  z-index: 1000;
  .shadow(@color);

  &-index-0 {
    @color: #4673bd;
    .shadow(@color);
  }
  &-index-1 {
    @color: #fec53f;
    .shadow(@color);
  }
  &-index-2 {
    @color: #6dab3c;
    .shadow(@color);
  }

  .shadow (@color) {
    box-shadow: 0 0 0 2px @color;
  }
}