.vcv-settings {
  margin: 0;
}

.vcv-screen-section,
.vcv-activation-section {
  position: relative;
  padding: 20px 20px 0 0;
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
  text-align: center;

  .vcv-logo {
    margin: 17px 0 10px;
  }

  * {
    box-sizing: border-box;
  }
}
.vcv-screen-content,
.vcv-activation-content {
  opacity: 0;
  transition: opacity .5s;

  &.vcv-screen-content--active,
  &.vcv-activation-content--active {
    opacity: 1;
  }
}

.vcv-activation-plugin-version-box {
  position: absolute;
  top: 20px;
  right: 20px;
  background: #fff;
  padding: 9px 12px;
  border-radius: 30px;
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  font-style: italic;
  color: #C9C9C9;
  font-size: 12px;
  letter-spacing: 0.92px;
  line-height: 13px;
}

.vcv-screen-section .vcv-screen-heading,
.vcv-activation-section .vcv-activation-heading {
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  line-height: 40px;
  letter-spacing: 1px;
  font-weight: 600;
  font-size: 32px;
  margin: 23px 0;
}

.vcv-screen-button-container,
.vcv-activation-button-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 20px;

  a.vcv-screen-button,
  button.vcv-screen-button,
  a.vcv-activation-button,
  button.vcv-activation-button {
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    letter-spacing: .92px;
    line-height: 15px;
    font-size: 12px;
    color: #fff;
    border: 0;
    padding: 18px 38px;
    border-radius: 0;
    background: #294A82;
    text-transform: uppercase;
    min-width: 210px;
    margin: 10px 20px;
    outline: none;
    transition: background @vcv-transitionDuration @vcv-transitionTimingFunction;
    cursor: pointer;

    &:hover,
    &:focus {
      background: #1F3152;
    }

    &--dark {
      background: #363636;

      &:hover,
      &:focus {
        background: #1e1e1e;
      }
    }
  }
}

.vcv-error-screen,
.vcv-activation-loading-screen {
  min-height: calc(100vh - 170px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .vcv-loading-dots-container {
    width: 60px;
    height: 60px;
    text-align: center;
    animation: vcvDotsRotate 2s infinite linear;
  }

  .vcv-loading-dots-container .vcv-loading-dot {
    width: 60%;
    height: 60%;
    display: inline-block;
    position: absolute;
    top: 0;
    background-color: #BDBDBD;
    border-radius: 100%;
    animation: vcvDotsBounce 2s infinite ease-in-out;
    opacity: .4;
  }

  .vcv-loading-dots-container .vcv-loading-dot-2 {
    top: auto;
    bottom: 0;
    animation-delay: -1s;
  }

  .vcv-screen-button-container,
  .vcv-activation-button-container {
    margin-top: 20px;
  }
}


@keyframes vcvDotsRotate {
  100% { transform: rotate(360deg); }
}

@keyframes vcvDotsBounce {
  0%, 100% { transform: scale(0); }
  50% { transform: scale(1); }
}


.vcv-error-screen .vcv-screen-text,
.vcv-activation-loading-screen .vcv-activation-loading-text {
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  line-height: 22px;
  letter-spacing: .56px;
  font-weight: 600;
  font-size: 18px;
  margin: 31px 0 6px;
}

.vcv-error-screen .vcv-screen-text {
  margin: 31px 0 20px;
}

.vcv-error-screen {
  ul {
    list-style: none;
    padding: 0;
  }

  .vcv-error-screen-text-default {
    display: block;
  }

  a {
    color: #0073aa;
    transition: color .2s;

    &:hover {
      color: #00a0d2;
    }
  }
}


.vcv-error-screen .vcv-screen-helper-text,
.vcv-activation-loading-screen .vcv-activation-loading-helper-text {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-style: italic;
  color: #999999;
  font-size: 13px;
  letter-spacing: 0.82px;
  margin: 0;
  line-height: 24px;
  max-width: 700px;
}

.vcv-activation-parallax-block {
  min-height: 450px;
  padding: 20px 0;
  margin: 20px -20px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.vcv-activation-parallax-inner {
  background: url('https://cdn.hub.visualcomposer.com/plugin-assets/hub.png') center;
  background-size: cover;
  width: 940px;
  height: 410px;
  position: absolute;
  top: calc(50% - 205px);
  left: calc(50% - 470px);
  transition: transform .1s;
}

.vcv-activation-parallax-fixed {
  position: relative;
  z-index: 1;
  margin-bottom: 55px;
  height: 60px;
  width: 559px;
  background: url('https://cdn.hub.visualcomposer.com/plugin-assets/navbar.png') center;
}

#vcv-posts-update-wrapper {
  visibility: hidden;
  position: absolute;
  z-index: -9999;
  pointer-events: none;
}

.vcv-ui-settings-status-table-container {
  margin: 0 20px 0 0;

  h2 {
    padding-top: 15px;
  }
}

.vcv-description {
  margin: 0 0 15px;
  display: flex;
  align-items: center;
  flex-wrap: wrap;

  p {
    margin: 10px 20px 10px 0;
  }

  .vcv-system-refresh {
    margin: 0;
  }

  .update-message {
    margin-bottom: 0;
  }
}

.vcv-table-loader {
  display: none;
}

.vcv-ui-settings-status-table {
  background-color: #fff;
  border: 1px solid @vcv-status-table-border-color;
  box-shadow: 0 1px 1px rgba(0,0,0,.04);
  border-spacing: 0;
  width: 100%;
  font-size: 14px;
  margin-bottom: 20px;
  visibility: visible;

  th,
  td {
    font-size: inherit;
  }

  th {
    text-align: left;
    padding: 9px;
    border-bottom: 1px solid @vcv-status-table-border-color;
  }

  tr {
    &:nth-child(2n) {
      td {
        background: #fcfcfc;
      }
    }
  }

  td {
    line-height: 1.5em;
    padding: 8px 10px;

    &:first-child {
      width: 33%;
    }
  }

  .vcv-help {
    width: 1%;
    position: relative;
  }

  .vcv-help-tooltip {
    display: none;
    position: absolute;
    top: 100%;
    left: -70px;
    width: 150px;
    max-width: 200px;
    z-index: 0;
    color: @vcv-status-color-tooltip;
    background: @vcv-status-background-color-tooltip;
    font-size: 10px;
    padding: 5px 10px;
    border-radius: 5px;
    text-align: center;

    &::before {
      content: '';
      position: absolute;
      bottom: 100%;
      left: 50%;
      margin-left: -3px;
      width: 0;
      height: 0;
      border-left: 5px solid transparent;
      border-right: 5px solid transparent;
      border-bottom: 4px solid @vcv-status-background-color-tooltip;
    }
  }

  .vcv-help-tooltip-icon {
    color: #666;
    display: inline-block;
    font-size: 1.1em;
    font-style: normal;
    height: 16px;
    line-height: 16px;
    position: relative;
    vertical-align: middle;
    width: 16px;

    &::after {
      font-family: Dashicons;
      speak: none;
      font-weight: 400;
      text-transform: none;
      line-height: 1;
      -webkit-font-smoothing: antialiased;
      text-indent: 0;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      text-align: center;
      content: "\f223";
      cursor: help;
      font-variant: normal;
      margin: 0;
    }

    &:hover {
      + .vcv-help-tooltip {
        display: block;
        z-index: 2;
      }
    }
  }

  .good,
  .bad {
    position: relative;
    padding-left: 35px;
    &::before {
      font-family: 'VC-Icons';
      position: absolute;
      top: 50%;
      left: 13px;
      margin-top: -10px;
    }
  }

  .bad {
    &.vcv-no-icon {
      padding-left: 10px;
      &::before {
        content: '';
      }
    }

    color: @vcv-status-color-invalid;
    &::before {
      content: '\2717';
    }
  }

  .good {
    color: @vcv-status-color-valid;
    &::before {
      content: '\2714';
    }
  }
}

@media screen and (max-width: 782px) {
  .vcv-ui-settings-status-table-container {
    margin: 0 10px 0 0;
  }
}
