// variables
@vcv-transitionDuration: .2s;
@vcv-transitionTimingFunction: ease-in-out;

@vcv-status-table-border-color: #e5e5e5;

@vcv-status-color-valid: #6baa3c;
@vcv-status-color-invalid: #e97272;

@vcv-status-color-tooltip: #eee;
@vcv-status-background-color-tooltip: #333;
