@import "../../../../less/boilerplate";
@import "../../../../less/bootstrap/variables";
@import "../../../../less/ui/form/variables";
@suggest-box-border-color: @vcui-form-input-border-color;
.vcv-ui-suggest-box.vcv-ui-form-input {
  position: fixed;
  background: #fff;
  padding: 0;
  z-index: 1111;
  margin-bottom: 5px;
  max-width: 70px;
  transition: none;
  & > :first-child {
    border-top: none;
  }

  @media (max-width: @vcv-media-sm) {
    display: none;
  }
}

.vcv-ui-suggest-box-item {
  box-sizing: border-box;
  padding: 5px 10px;
  display: block;
  cursor: pointer;
  transition: background-color @vcv-transition-duration @vcv-transition-timing-function;
  border-top: 1px solid @suggest-box-border-color;
  &:hover {
    background-color: #ddd;
  }
  &.vcv-selected {
    background-color: #ddd;
  }
}