@import "../../../../less/boilerplate";
@import "../../../../less/bootstrap/variables";
@import "../../../../less/ui/form/variables";
@suggest-box-border-color: @vcui-form-input-border-color;
.vcv-ui-suggest-box {
  position: fixed;
  top: 100%;
  left: 0;
  background: #fff;
  padding: 8px 0;
  z-index: 40;
  margin-bottom: 5px;
  border: 1px solid @suggest-box-border-color;
  max-width: 60px;
}

.vcv-ui-suggest-box-item {
  padding: 5px 10px;
  display: block;
  cursor: pointer;
  transition: background-color @vcv-transition-duration @vcv-transition-timing-function;
  &:hover {
    background-color: #ddd;
  }
  &.vcv-selected {
    background-color: #ddd;
  }
}