// range input

.vc_ui-form-range {
  @range-shadow: inset 0 6px 6px -6px  fade(#000, 10%);

  // webkit
  -webkit-appearance: none;
  &::-webkit-slider-runnable-track {
    .make-input-track();
  }
  &::-webkit-slider-thumb {
    -webkit-appearance: none;
    .make-input-thumb()
  }
  &:hover,
  &:focus {
    &::-webkit-slider-runnable-track,
    &::-webkit-slider-thumb {
      #make-vc_ui-form > .property-darken-color(border-color, @vcui-form-input-border-color);
    }
  }
  &:disabled,
  &[disabled] {
    &::-webkit-slider-runnable-track {
      .make-input-track-disabled();
    }
    &::-webkit-slider-thumb {
      .make-input-thumb-disabled();
    }
  }

  // moz
  &::-moz-range-track {
    .make-input-track();
  }
  &::-moz-range-thumb {
    .make-input-thumb()
  }
  &:hover,
  &:focus {
    &::-moz-range-track,
    &::-moz-range-thumb {
      #make-vc_ui-form > .property-darken-color(border-color, @vcui-form-input-border-color);
    }
  }
  &:disabled,
  &[disabled] {
    &::-moz-range-track {
      .make-input-track-disabled();
    }
    &::-moz-range-thumb {
      .make-input-thumb-disabled();
    }
  }

  // ms
  &::-ms-track {
    box-sizing: content-box;
    border-width: ceil((@vcui-form-range-thumb-size - @vcui-form-range-track-size) / 2) 0;
    border-color: transparent;
    background: transparent;
    color: transparent;
    margin: 0;
  }
  &::-ms-fill-lower,
  &::-ms-fill-upper {
    box-sizing: border-box;
    height: @vcui-form-range-track-size;
    border: 1px solid @vcui-form-input-border-color;
    border-radius: @vcui-form-border-radius;
    box-shadow: @range-shadow;
    #make-vc_ui-form > .property-darken-color(background-color, @vcui-form-input-background);
  }
  &::-ms-thumb {
    .make-input-thumb();
    box-sizing: content-box;
    margin-top: 0;
  }
  &::-ms-tooltip {
    display: none;
  }
  &:hover,
  &:focus {
    &::-ms-fill-lower,
    &::-ms-fill-upper,
    &::-ms-thumb {
      #make-vc_ui-form > .property-darken-color(border-color, @vcui-form-input-border-color);
    }
  }
  &:disabled,
  &[disabled] {
    &::-ms-fill-lower,
    &::-ms-fill-upper {
      .make-input-track-disabled();
    }
    &::-ms-thumb {
      .make-input-thumb-disabled();
    }
  }

  //common
  padding: @vcui-form-range-padding;
  width: 100%;
  &:hover {
    cursor: pointer;
  }
  &:focus {
    outline: none;
  }
  &:disabled,
  &[disabled] {
    cursor: not-allowed;
  }

  // Mixins
  .make-input-track() {
    box-sizing: border-box;
    height: @vcui-form-range-track-size;
    border: 1px solid @vcui-form-input-border-color;
    border-radius: @vcui-form-border-radius;
    box-shadow: @range-shadow;
    margin: ceil((@vcui-form-range-thumb-size - @vcui-form-range-track-size) / 2) 0;
    #make-vc_ui-form > .property-darken-color(background-color, @vcui-form-input-background);
  }
  .make-input-track-disabled() {
    #make-vc_ui-form > .property-darken-color(background-color, @vcui-form-input-disabled-background);
    border-color: @vcui-form-input-border-color;
  }
  .make-input-thumb() {
    box-sizing: border-box;
    border: 1px solid @vcui-form-input-border-color;
    border-radius: @vcui-form-range-thumb-size;
    height: @vcui-form-range-thumb-size;
    width: @vcui-form-range-thumb-size;
    background-color: @vcui-form-input-background;
    box-shadow: @range-shadow;
    margin-top: -(ceil((@vcui-form-range-thumb-size - @vcui-form-range-track-size) / 2));
  }
  .make-input-thumb-disabled() {
    background-color: @vcui-form-input-disabled-background;
    border-color: @vcui-form-input-border-color;
  }
}