.vce-google-maps-wrapper {
  display: inline-block;
  vertical-align: top;
  max-width: 100%;
}

.vce-google-maps-inner {

}

.vce-google-maps-proportional {
  position: relative;
  height: auto;
}

.vce-google-maps-wrapper.vce-google-maps-proportional {
  height: auto;
}

.vce-google-maps-wrapper.vce-google-maps-proportional .vce-google-maps-inner {
  height: 0;
}

.vce-google-maps--width-custom .vce-google-maps-inner {
  width: 100%;
}

.vce-google-maps--height-custom .vce-google-maps-inner {
  height: 100%;
}

.vce-google-maps--width-custom iframe {
  width: 100%;
}

.vce-google-maps--height-custom iframe {
  height: 100%;
}

.vce-google-maps-inner iframe {
  max-width: 100%;
  display: block;
  vertical-align: top;
}

.vce-google-maps-proportional iframe {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.vce-google-maps--align-center {
  text-align: center;
}

.vce-google-maps--align-right {
  text-align: right;
}

.vce-google-maps--align-left {
  text-align: left;
}

[data-vcv-element-disable-interaction="true"] .vce-google-maps-inner {
  position: relative;
}

[data-vcv-element-disable-interaction="true"] .vce-google-maps-inner::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 999;
}