// Mixins for Text Separator
//-----------------------------------------
// Note: All mixins must be scoped with namespace.
// In this example namespace is #vce-text-separator
// All mixins in this file will be available in VC Design options,
// so try to make them as flexible and easy to use as possible.

#vce-text-separator {

  // Make styles
  //=======================
  .make-style( @name; @top-border-style: false; @bottom-border-style: false; @border-space: false; @prefix: vce-text-separator-style) {
    .@{prefix}-@{name} {
      &::before,
      &::after {

        // apply styles to top border
        & when not (@top-border-style = false) {
          border-top-style: @top-border-style;
        }

        // apply styles to bottom border
        & when not (@bottom-border-style = false) {
          border-bottom-style: @bottom-border-style;
        }

        // set space between borders
        & when not (@border-space = false) {
          height: @border-space;
        }
      }
    }
  }
}