.make-numerator(@i, @numbers, @screen-size, @class-name) when (@i > 0) {
  .make-numerator(@i - 1, @numbers, @screen-size, @class-name);
  @numerator: extract(@numbers, @i);
  .make-denominator(length(@numbers), @numbers, @numerator, @screen-size, @class-name);
}

.make-denominator(@i, @numbers, @numerator, @screen-size, @class-name) when (@i > 0) {
  .make-denominator(@i - 1, @numbers, @numerator, @screen-size, @class-name);
  @denominator: extract(@numbers, @i);

  & when not (@numerator > @denominator) {
    @media (min-width: @screen-size) {
      .vce-col--@{class-name}-@{numerator}-@{denominator} {
        flex-grow: 0;
        flex-shrink: 0;
        flex-basis: calc(~"100% * ( @{numerator} / @{denominator} )");
        max-width: calc(~"100% * ( @{numerator} / @{denominator} )");
      }
    }
  }
}

.make-color-media(@class, @min, @max: false) {
  & when (@max = false) {
    @media (min-width: @min) {
      .make-color-space(@class)
    }
  }
  & when not (@max = false ) {
    @media (min-width: @min) and (max-width: @max) {
      .make-color-space(@class)
    }
  }
}
.make-color-space(@class) {
  .vce-col--@{class}--has-background {
    > .vce-col-content {
      padding-top: @vcv-gold-margin;
    }
  }
}