.vce-feature__wrap-row {
  .vce {
    margin: 0 0 25px;
  }
}

.vce-feature--alignment {
  &--left {
    text-align: left;
  }

  &--right {
    text-align: right;
  }

  &--center {
    text-align: center;
  }
}