//== Tree view styles


//== content
.vcv-ui-tree-view-content {
  font-size: @tree-text-size-base;
  color: @tree-text-color-base;
  background-color: @tree-bg-base;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  flex: 1;
}


