.vce-image-gallery {
  &--gap-$selector {
    .vce-image-gallery-list {
      @if $gap != false {
        margin-left: calc(-$(gap)px / 2);
        margin-right: calc(-$(gap)px / 2);
        margin-bottom: -$(gap)px;
      }
    }
    .vce-image-gallery-item {
      @if $gap != false {
        padding-left: calc($(gap)px / 2);
        padding-right: calc($(gap)px / 2);
        margin-bottom: $(gap)px;
      }
    }
  }
}
