// single select

.select2-selection--single {
  background-color: @vcui-form-input-background;
  border: 1px solid @vcui-form-input-border-color;
  border-radius: @vcui-form-border-radius;
  box-sizing: border-box;
  color: @vcui-form-controls-color;
  display: inline-block;
  font-size: @vcui-form-font-size-base;
  font-weight: 400;
  height: auto;
  line-height: 1.5;
  outline: none;
  padding: @vcui-form-input-padding;
  padding-right: 2em;
  transition-duration: @vcui-form-transition-duration;
  transition-property: all;
  transition-timing-function: ease-in-out;
  vertical-align: middle;
  width: 100%;


  .select2-selection__rendered {
    padding: 0;
  }
  //
  //.select2-selection__clear {
  //  cursor: pointer;
  //  float: right;
  //  font-weight: bold;
  //}
  //
  .select2-selection__placeholder {
    color: @vcui-form-input-placeholder-color;
    font-style: italic;
  }
  .select2-selection__arrow {
    position: absolute;
    top: 1px;
    right: 1px;
    bottom: 1px;
    width: 2em;
    opacity: .8;
    transition-duration: @vcui-form-transition-duration;
    transition-property: all;
    transition-timing-function: ease-in-out;
    b {
      &:extend(.vc_ui-icon);
      &:extend(.vc_ui-icon-select-arrows all);
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }
}

&:hover,
&.select2-container--focus,
&.select2-container--open {
  .select2-selection--single {
    #make-vc_ui-form > .property-darken-color(border-color, @vcui-form-input-border-color);
  }
  .select2-selection__arrow {
    opacity: 1;
  }
}
&.select2-container--focus,
&.select2-container--open {
  .select2-selection--single {
    animation: vc_ui-form-shadow-blink @vcui-form-transition-duration * 2 ease-out;
    #make-vc_ui-form > .focus-blink-shadow();
  }
}

&.select2-container--disabled {
  .select2-selection--single {
    background-color: @vcui-form-input-disabled-background;
    border-color: @vcui-form-input-border-color;
    color: @vcui-form-input-disabled-color;
    cursor: not-allowed;
    animation: none;
    box-shadow: none;

    .select2-selection__clear {
      display: none;
    }
  }
}
