.vce-faq-toggle-shape-hover-color--$selector {
  .vce-faq-toggle-title:hover {
    .vce-faq-toggle-icon {
      @if $shapeHoverColor != false {
        background-color: $shapeHoverColor;
      }
    }
  }
}