.vcv-ui-navbar-control-icon.vcv-ui-settings-title-icon {
  margin-left: 5px;

  & + span {
    margin-left: 10px;
  }
}

.rtl {
  .vcv-ui-navbar-control-icon.vcv-ui-settings-title-icon {
    margin-left: 0;
    margin-right: 5px;

    & + span {
      margin-left: 0;
      margin-right: 10px;
    }
  }
}

.vcv-ui-style-control-container,
.vcv-ui-script-control-container {
  text-align: center;
  margin: @control-container-margin;
}

.vcv-ui-style-editor-container,
.vcv-ui-script-editor-container {
  margin: @editor-container-margin;
}

.vcv-ui-style-editor .CodeMirror-wrap,
.vcv-ui-script-editor .CodeMirror-wrap {
  border: 1px solid @editor-border-color;
  border-radius: @settings-border-radius;
}

.vcv-ui-style-editor,
.vcv-ui-script-editor {
  &:not(.vcv-ui-state--active) {
    display: none;
  }
}

// Actions
.vcv-ui-settings-actions {
  font-size: @settings-action-icon-size;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  flex: 0 0 auto;

  &.vcv-ui-settings-actions-background {
    background-color: #203251;
  }

  .vcv-ui-settings-action-content {
    span {
      margin-left: @settings-gold-value;
      display: none;
    }
  }
}

.vcv-ui-settings-action {
  display: inline-flex;
  vertical-align: middle;
  color: @settings-text-color-base;
  text-decoration: none;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  padding: @settings-gold-value;
  text-align: center;
  cursor: pointer;
  transition: all @transition-duration @transition-timing-function;
  flex-grow: 1;
  flex-shrink: 1;
  border-width: 0 1px 1px 0;
  border-style: solid;
  border-color: @settings-separator-color;

  &.vcv-ui-state--active,
  &:hover {
    background-color: @settings-bg-base-hover;
  }
  &[disabled] {
    background-color: transparent;
    opacity: .5;
    cursor: not-allowed;
  }
  //== states
  &.vcv-ui-state--success {
    background-color: @settings-action-success-bg;
  }
}

.vcv-ui-settings-action-icon {
  height: @settings-action-icon-size;
  width: @settings-action-icon-size;
  display: inline-block;
  vertical-align: middle;
  position: relative;
  &::before {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }
}

.vcv-ui-template-group-wrapper {
  overflow: hidden;
}

.vcv-ui-template-options-wrapper {
  margin-right: -32px;
  margin-bottom: -25px;

  .vcv-ui-template-options-item-icon {
    display: inline-block;
    background-color: #fff;
    height: 60px;
    cursor: pointer;
    margin: 0 32px 25px 0;

    svg {
      width: 60px;
      height: 60px;
    }
  }
}

.vcv-ui-custom-scripts.vcv-ui-custom-scripts-areas {
  .vcv-ui-form-helper {
    margin: 20px 0 0;
  }

  .vcv-ui-script-editor-tag {
    font-style: italic;
    font-size: 14px;
    letter-spacing: 0.5px;
    color: #797979;
    background: #E3E1E1;
    border-radius: 3px;
    padding: 4px 5px;
    line-height: 1;
    margin: 10px 0;
    display: inline-block;

    &:first-of-type {
      margin-top: 0;
    }
  }

  .vcv-ui-script-editor-container {
    margin: 20px 0 0;
  }

  .vcv-ui-script-editor-container-type {
    margin: 0 0 10px;
  }
}
