@control-color: #6f747b;
@control-background-color: #fff;
@control-background-color-active: #ddd;
@control-padding-top-bottom: 14px;
@control-padding-left-right: 24px;
@control-border: 1px solid #d0d0d0;

@editor-border-color: #d1d1d1;

@settings-border-radius: 3px;
@control-container-margin: 10px 0 0;
@editor-container-margin: 25px 0 0;

//== Action
@settings-gold-value: @gold-value;

//== delimiter
@settings-separator-color: rgba(73, 109, 163, .15);

//== text
@settings-text-size-base: .75rem; // 12px;
@settings-text-color-base: @text-color-base;

//== colors
@settings-bg-base: @color-alternative;
@settings-bg-base-hover: rgba(124, 173, 222, .16);

//== Icon
@settings-action-icon-size: 1rem;

//== States
@settings-action-success-bg: @state-color-success;
