
//== Controls
//.vc_ui-editor-controls-container 
.vc-ui-outline-controls-container {
  border: 1px solid red;
  position: absolute;
  z-index: @controls-z-index;
}

.vc-ui-outline-control-dropdown {

}