//== Common
@gold-value: 16px;
@space-size: 1px;

//== fonts
@text-font-family: 'Roboto', sans-serif;
@text-size-base: 13px;
@text-color-base: @vc-ui-text-color-inverted;
@background-color-base: @vc-ui-color-base;

//== Colors
@background-base: #2b4b80;
@background-row: #4673bd;
@background-column: #fec53f;
@background-element: #6dab3c;

//== Outline
@outline-size: 2px;
@outline-z-index: 1000;

//== Outline colors
@outline-color-base: @background-base;
@outline-color-row: @background-row;
@outline-color-column: @background-column;
@outline-color-element: @background-element;

//== Controls
@controls-z-index: @outline-z-index + 10;
@control-size: 40px;
@control-border-radius: 5px;

//== dropdowns
@dropdown-size: 140px;
@dropdown-zindex: @controls-z-index + 10;
