//== Colors
@background-base: #2b4b80;
@background-row: #4673bd;
@background-column: #fec53f;
@background-element: #6dab3c;

//== Outline
@outline-size: 2px;
@outline-z-index: 1000;


//== Outline colors
@outline-color-base: @background-base;
@outline-color-row: @background-row;
@outline-color-column: @background-column;
@outline-color-element: @background-element;

//== Controls
@controls-z-index: @outline-z-index + 10;
