.ia-container {
  padding: 10px;
}
.ia-wrapper {
  text-align: center;
  margin-top: 25px;
  color: #272D3C;
}
.ia-header {
  font-size: 20px;
  font-family: Roboto, Helvetica, Arial, sans-serif;
  font-weight: 700;
}
.ia-content {
  font-size: 15px;
  font-family: Roboto, Helvetica, Arial, sans-serif;
}
.ia-comment-button {
  color: #272D3C;
  height: 36px;
  font-size: 14px;
  max-height: 36px;
  font-family: Roboto, Helvetica, Arial, sans-serif;
  border-radius: 5px;
  background-color: #3ed696;
  box-sizing: border-box;
  padding: 6px 16px;
  width: 100%;
  font-weight: 500;
  border: none;
  cursor: pointer;
  margin: 15px 0;
}
.ia-powerby-wrapper {
  display: flex;
  align-items: baseline;
  justify-content: center;
}
.ia-text-power {
  font-size: 15px;
  font-family: Roboto, Helvetica, Arial, sans-serif;
  font-weight: 600;
  padding: 0 15px;
}
